/*
Facet Nav Fixes
************************/
.nav_column {
	top: 0;
	margin-top: 5px;
}

/* .yCmsContentSlot > .scroller {
	float: left;
} */

.yCmsContentSlot > .scroller .jcarousel-container {
	padding: 24px 19.5px;
}

/*
SHOW-1704
************************/
.siteSearch .ui-menu .ui-menu-item > a, 
.siteSearch .ui-menu .ui-menu-item > a.ui-state-hover {
	padding: 0 !important;
}

/*
SHOW-1707
************************/
.span-20 > .scroller, 
.span-18 > .scroller, 
.span-10 > .scroller {
	padding: 20px 0;
}
.scroller {
	overflow-x: visible !important;
	overflow-y: visible !important;
}
.scroller .title {
	font-size: 1.5em;
	margin: 0.83em 0;
}
.scroller ul li {
	float: none;
	min-height: 100%;
	margin-right: 23px;
	width: 140px;
}
.scrollerProduct .priceContainer {
	float: left;
	margin-left: 0;
}
.scrollerProduct .details {
	float: left;
}
.jcarousel-skin .jcarousel-prev-horizontal, 
.jcarousel-skin .jcarousel-next-horizontal {
	top: 25%;
}

/*
SHOW-1711
************************/
form .control-group label {
	width: inherit;
	margin-bottom: 10px;
}
.control-group input[type="radio"] {
	margin: 5px;
}
.advancedSearch .searchInput #js-add-product-ids {
	position: relative;
	margin: 10px 10px 10px 0;
	top: inherit;
}
.selected_product_ids {
	clear: both;
}

/* SHOW-1709 Checkout page 
*************************/
.promo_top {
	clear: both;
}

.item_container_holder.promo_top .title_holder .headline {
	font-size: 2em;
	margin-bottom: 0.75em;
	padding-top: 0.25em;
	font-weight: normal;
	color: #111;
	border-bottom: none;
	line-height: normal;
	text-transform: none;
}

#checkoutContentPanel {
	display: inline-flex;
}

#checkoutOrderDetails .deliveryCartItems .name {
	overflow: inherit;	
}

.orderBoxes {
    margin: 20px 0;
    display: inline-flex;
}

.accountContentPane .orderBoxes {
	display: block;
}

.quote_pos {
	position: inherit;
	top: -90px;
}

/* SHOW-1698 Category Landing Page 
*************************/
.cms_disp-img_slot .prod_cat .thumb img {
	width: auto;
}

/*
Product Category Component
************************/
.prod_cat {
	position: relative;
	background: #e1e1e1;
	border: 5px solid #ffffff;
 	-webkit-box-shadow: 0px 0px 4px 0px #ccc;
            box-shadow: 0px 0px 4px 0px #ccc;
	margin-bottom: 10px;
	min-height: 225px;
	padding: 10px;
}
.prod_cat .title h2 {
	font-size: 1.4em;
}
.prod_cat .title,
.prod_cat .thumb {
	text-align: center;
	margin-bottom: 10px;
}
.prod_cat .thumb {
	background: #ffffff;
	padding: 10px 0;
}
.pageStyle-canon .prod_cat .thumb a img,
.pageStyle-sony .prod_cat .thumb a img {
	width: auto;
}
.prod_cat .action {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* SHOW-1698 Sell Sheets 
*************************/
table#sell_sheets {
	width: 100%;
}
table#sell_sheets #resultsBody td {
	padding: 10px;
}
.sell_sheet_search .search1 input, 
.sub_menu .search input {
	height: 16px;
}

/* SHOW-1698 Facets 
*************************/
.facetNavigation .headline {
	height: auto;
}

/* SHOW-1698 Category Pages
*************************/
.page-PowerDrillsCategoryPage {
	background: #062d4a;
}
.page-AngleGrindersCategoryPage {
	background: #aabebf;	
}
.page-ScrewdriversCategoryPage {
	background: #d58629;	
}
.page-SandersCategoryPage {
	background: #286e90;	
}
.page-MeasuringAndLayoutToolsCategoryPage {
	background: #1b1b1b;	
}
.page-HandToolsCategoryPage {
	background: #dbdbdb;	
}

.page-PowerDrillsCategoryPage #page,
.page-AngleGrindersCategoryPage #page,
.page-ScrewdriversCategoryPage #page,
.page-SandersCategoryPage #page,
.page-MeasuringAndLayoutToolsCategoryPage #page,
.page-HandToolsCategoryPage #page {
	background: #ffffff;
}

.page-PowerDrillsCategoryPage .jcarousel-skin .jcarousel-prev[disabled], 
.page-PowerDrillsCategoryPage .jcarousel-skin .jcarousel-next[disabled],
.page-AngleGrindersCategoryPage .jcarousel-skin .jcarousel-prev[disabled], 
.page-AngleGrindersCategoryPage .jcarousel-skin .jcarousel-next[disabled],
.page-ScrewdriversCategoryPage .jcarousel-skin .jcarousel-prev[disabled], 
.page-ScrewdriversCategoryPage .jcarousel-skin .jcarousel-next[disabled],
.page-SandersCategoryPage .jcarousel-skin .jcarousel-prev[disabled], 
.page-SandersCategoryPage .jcarousel-skin .jcarousel-next[disabled],
.page-MeasuringAndLayoutToolsCategoryPage .jcarousel-skin .jcarousel-prev[disabled], 
.page-MeasuringAndLayoutToolsCategoryPage .jcarousel-skin .jcarousel-next[disabled],
.page-HandToolsCategoryPage .jcarousel-skin .jcarousel-prev[disabled], 
.page-HandToolsCategoryPage .jcarousel-skin .jcarousel-next[disabled] {
	opacity: 0 !important;
}
.page-PowerDrillsCategoryPage .jcarousel-skin .jcarousel-prev-horizontal, 
.page-PowerDrillsCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-AngleGrindersCategoryPage .jcarousel-skin .jcarousel-prev-horizontal, 
.page-AngleGrindersCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-ScrewdriversCategoryPage .jcarousel-skin .jcarousel-prev-horizontal, 
.page-ScrewdriversCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-SandersCategoryPage .jcarousel-skin .jcarousel-prev-horizontal, 
.page-SandersCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-MeasuringAndLayoutToolsCategoryPage .jcarousel-skin .jcarousel-prev-horizontal, 
.page-MeasuringAndLayoutToolsCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-HandToolsCategoryPage .jcarousel-skin .jcarousel-prev-horizontal, 
.page-HandToolsCategoryPage .jcarousel-skin .jcarousel-next-horizontal {
	top: -33% !important;
}
.page-PowerDrillsCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-AngleGrindersCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-ScrewdriversCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-SandersCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-MeasuringAndLayoutToolsCategoryPage .jcarousel-skin .jcarousel-next-horizontal,
.page-HandToolsCategoryPage .jcarousel-skin .jcarousel-next-horizontal {
	right: 0 !important;
}
.page-PowerDrillsCategoryPage .jcarousel-skin .jcarousel-prev-horizontal,
.page-AngleGrindersCategoryPage .jcarousel-skin .jcarousel-prev-horizontal,
.page-ScrewdriversCategoryPage .jcarousel-skin .jcarousel-prev-horizontal,
.page-SandersCategoryPage .jcarousel-skin .jcarousel-prev-horizontal,
.page-MeasuringAndLayoutToolsCategoryPage .jcarousel-skin .jcarousel-prev-horizontal,
.page-HandToolsCategoryPage .jcarousel-skin .jcarousel-prev-horizontal {
	left: 90% !important;
}