/*
	Scroller 
*****************/



.span-20 > .scroller, 
.span-18 > .scroller,  
.span-10 > .scroller {
	padding:40px 0;
}

.span-20 > .scroller .title, 
.span-18 > .scroller .title, 
.span-10 > .scroller .title {
	font-size:1.167em;
	font-weight:bold;
	color:#666666;
	border-bottom:1px solid #979797;
	padding:0 0 5px 0;
	text-transform:uppercase;
	margin:0 0 40px 0;
}

.span-20 > .scroller ul li, 
.span-18 > .scroller ul li,  
.span-10 > .scroller ul li {
	width:230px;
	margin:0 10px 0 0;
}

.span-24 .scroller {
    clear: both;
    width: 100%;
}
