<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="actionNameKey" required="true" type="java.lang.String" %>
<%@ attribute name="action" required="true" type="java.lang.String" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="formElement" tagdir="/WEB-INF/tags/desktop/formElement" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="theme" tagdir="/WEB-INF/tags/shared/theme" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<%@ taglib prefix="cart" tagdir="/WEB-INF/tags/desktop/cart" %>

<div class="userLogin">
	<!--  <div class="headline"><spring:theme code="login.title"/></div>
	<div class="required right"><spring:theme code="form.required"/></div>
	<div class="description"><spring:theme code="login.description"/></div>-->

	<form:form action="${action}" method="post" commandName="loginForm" class="login_form" id="login_form" autocomplete="off">
		<c:if test="${not empty message}">
			<span class="errors">
				<spring:theme code="${message}"/>
			</span>
		</c:if>
		<c:if test="${loginError}">
			<div class="form_field_error">
		</c:if>
		<div class="form_field-elements form-wrap">
			
			<div class="error_msg"></div>
			
			<formElement:formInputBox idKey="j_username" labelKey="login.email" path="j_username" inputCSS="form-control" mandatory="true" autocomplete="off"/>
			<formElement:formPasswordBox idKey="j_password" labelKey="login.password" path="j_password" inputCSS="form-control password" mandatory="true"/>
			
			<formElement:formCheckbox idKey="_spring_security_remember_me" labelKey="login.remember" path="_spring_security_remember_me" />
			<!-- <label><input type="checkbox" name="_spring_security_remember_me" class="checkbox" id="_spring_security_remember_me"  /> Remember Login</label> -->
			
			<div class="form_field_error-message" >
				<div class="form-group clearfix">
				<div class="pull-left">
					<a href="javascript:void(0)" data-url="<c:url value='/login/pw/request'/>" class="password-forgotten forgot-block"><spring:theme code="login.link.forgottenPwd"/></a>
					</div>
					<div class="pull-right">
					<a href="<c:url value="/forgotten-details"/>"><spring:theme code="login.link.forgottenDetails"/></a>
				</div>
				</div>
			</div>
		</div>
		<c:if test="${loginError}">
			</div>
			 
		</c:if>
		<c:if test="${expressCheckoutAllowed}">
				<div class="expressCheckoutLogin">
					<div class="headline"><spring:theme text="Express Checkout" code="text.expresscheckout.header"/></div>

					<div class="description"><spring:theme text="Benefit from a faster checkout by:" code="text.expresscheckout.title"/></div>

					<ul>
						<li><spring:theme text="setting a default Delivery Address in your account" code="text.expresscheckout.line1"/></li>
						<li><spring:theme text="setting a default Payment Details in your account" code="text.expresscheckout.line2"/></li>
						<li><spring:theme text="a default shipping method is used" code="text.expresscheckout.line3"/></li>
					</ul>

					<div class="expressCheckoutCheckbox clearfix">
						<label for="expressCheckoutCheckbox"><input id="expressCheckoutCheckbox" name="expressCheckoutEnabled"  type="checkbox" class="form left doExpressCheckout"/>
							<spring:theme text="I would like to Express checkout" code="cart.expresscheckout.checkbox"/></label>
					</div>
				</div>
		</c:if>

		<div class="form-actions form-group clearfix">
			<ycommerce:testId code="login_Login_button">
				<button type="submit" class="btn"><spring:theme code="text.login.signin"/></button>
			</ycommerce:testId>
		</div>
		
		</form:form>
		
		<c:url value="/register/registerCustomer" var="CreateAccountAction" />
		<div class="dark-sep separator"></div>
		<div class="form-wrap"> <h5>New to Clicks website?</h5> </div>
		<button class="btn" onclick="window.location.href='${CreateAccountAction}'">Create account</button>
		<br/>
		
	
</div>
