
html {
	
}

body {
	color: #000;
	text-align: left;
	font-size: 12px;

}




/* #page{
	width:950px;
	padding:0 5px;
	margin:0 auto;

} */



button{
	cursor:pointer;
}


.strong{
	font-weight:bold;
	
}





/*
	Rating Stars
*****************/

.stars{
	background:url("../images/stars.png") repeat-x left center  #cccccc;
	display:block;
	height:14px;
	float:left;
	color: transparent;
}



/*
	required
*****************/

.required.right{
	margin: 0 0 0 20px;
	font-size: 90%;
	color: #666;
	max-width: 60%;
}











table.store-openings {
	padding: 0;	
	margin: 20px 0;

}

table.store-openings td {
	padding: 1px 8px !important;
	border-bottom: 1px solid #EEEEEE !important;
}

table.store-openings td.weekday_openings_day {
	padding: 1px 8px 1px 8px !important;
	font-weight: bold;
}

table.store-openings td.specialday_openings_date {
	padding: 1px 8px 1px 0 !important;
	font-weight: bold;
}













/*


	Cart and Pickup button
*****************/

button.pickupInStoreButton,
button.addToCartButton{
	height:40px;
	background:#000;
	color:#fff;
	border:2px solid #000;
	padding:0;
	width:100%;
	font-size:1em;
}


button.pickupInStoreButton{
	background:#fff;
	color:#000;
	
}

button.addToCartButton{
	font-weight:bold;
	text-transform:uppercase;
}
/*


	alerts
*****************/



.alert{
	padding:12px;
	border:1px dotted;
	margin:0 0 20px 0;
}

.alert.positive{
	border-color:#339b01;
	color:#339b01;
}

.alert.negative{
	border-color:#c90400;
	color:#c90400;
}

.alert.neutral{
	border-color:#000;
	color:#000;
}
















/*
	Scroller 
*****************/



.span-24 > .scroller{
	padding:40px 0;
}

.span-24 > .scroller .title{
	font-size:1.167em;
	font-weight:bold;
	color:#666666;
	border-bottom:1px solid #979797;
	padding:0 0 5px 0;
	text-transform:uppercase;
	margin:0 0 40px 0;
}



.span-24 > .scroller ul li{
	width:220px;
	margin:0 20px 0 0;
}

.span-24 > .scroller ul li{
	width:230px;
	margin:0 10px 0 0;
	

}

.scrollerProduct{
	margin:0 5px;
	display:block;
}


.scrollerProduct .thumb{
	padding:0 0 20px 0;
		margin:0 0 5px 0;
		border-bottom:1px dotted #c1c1c1;
}

.scrollerProduct .thumb img{ 
	width:100%;
}




.scrollerProduct .details{
	color:#8f8f8f;
	padding:0 40px 0 0;

}


.scrollerProduct .priceContainer{
	float:right;
	margin: 0 0 0 5px;
}









/*
	Scroller 
*****************/

.jcarousel-clip {
	overflow: hidden;
}


.jcarousel-skin .jcarousel-prev,
.jcarousel-skin .jcarousel-next {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 0;
	padding: 0;
	background: url("../images/scroller-sprite.png") no-repeat;
	margin:0;
}

.jcarousel-skin .jcarousel-prev[disabled],
.jcarousel-skin .jcarousel-next[disabled] {
	opacity: 0.1;
	cursor: default;
}


.jcarousel-skin .jcarousel-prev-horizontal,
.jcarousel-skin .jcarousel-next-horizontal {
	top: 40%;
}

.jcarousel-skin .jcarousel-prev-horizontal {
	left: -30px;
	background-position: 0 0;
}

.jcarousel-skin .jcarousel-next-horizontal {
	right: -30px;
	background-position: right 0;
}


.jcarousel-skin .jcarousel-prev-vertical,
.jcarousel-skin .jcarousel-next-vertical {
	left: 50%;
	margin-left: -12.5px;
}

.jcarousel-skin .jcarousel-prev-vertical {
	top: -30px;
	background-position: 0 bottom;
}

.jcarousel-skin .jcarousel-next-vertical {
	bottom: -30px;
	background-position: right bottom;
}







.jcarousel-container-vertical{
	margin:30px 0;
}



.jcarousel-container{
	background:#fff;
}





ul.jcarousel-skin{
	background: url("../images/spinner.gif") no-repeat center center ;
    display: block;
    height: 100%;
    width: 100%;
	min-width:50px;
	min-height:50px;
	
}
/* hide loading */
ul.jcarousel-skin li{
	display:none;
}





/*
	Banner Sizes
*****************/

.cms_disp-img_slot .thumb img,
#content .simple_disp-img img{
	width:100%;
	height:auto;
}










.doCheckoutBut{
	margin-right:0;
}