//
// Breadcrumbs
// --------------------------------------------------
.breadcrumb {

float :left;
 	
  padding: 15px 0 17px 0;
  /*padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @line-height-computed;
  list-style: none;
  background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;*/
    > li {
    display: inline-block;
    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: #929292;
	  font: 1.2em "Conv_ITCAvantGardeStd-Md";
    }
	a {
		font: 1.2em/1em "Conv_ITCAvantGardeStd-Md";
		color: #929292;
		&:hover {
			color: @black;
		}
	}
	&:last-child a {
		cursor:default;
		&:hover {
			color: #929292;
		}
	}
  }
  > .active {
    color: @breadcrumb-active-color;
  }
}
.breadcrumb-block {
	border-bottom: 1px solid #e5e5e5;
}