<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>

<%@ attribute name="product" required="true" type="de.hybris.platform.commercefacades.product.data.ProductData" %>
<%@ taglib prefix="product" tagdir="/WEB-INF/tags/desktop/product" %>

<!-- <div class="prodReview clearfix"> -->
<!-- <div class="starWrapper"> -->
			<product:productStars rating="${product.averageRating}" />
			<c:choose>
			<c:when test="${not empty product.reviews}">
			
					<c:choose>
						<c:when test="${fn:length(product.reviews) > 1}">
							<a href="#review-pdp" id="based_on_reviews" class="count reviews" ><spring:theme code="review.based.on" arguments="${fn:length(product.reviews)}"/></a>
						</c:when>
						<c:otherwise>
							<a href="#review-pdp" id="based_on_reviews" class="count reviews" ><spring:theme code="review.based.on.one" arguments="${fn:length(product.reviews)}"/></a>
						</c:otherwise>
					</c:choose>
			
			</c:when>
			<c:otherwise>
				<c:if test="${cmsPage.uid ne 'productList' }">
					<a href="#review-pdp" class="count reviews" >0 reviews</a>
				</c:if>
			</c:otherwise>
			</c:choose>
			
				<%-- <a href="#" id="write_review_action_main" class="write" ><spring:theme code="review.write.title"  /></a> --%>
		
			
		
<!-- 		</div> -->