<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>


<!-- Lockerz Share BEGIN -->
<div class="a2a_kit a2a_default_style LoveShare span-10 last clearfix">
	<a class="a2a_dd share" href="http://www.addtoany.com/share_save" title="<spring:theme code="product.share.viewMoreServices"/>" >
		<spring:theme code="product.share.share" text="Share" />
	</a>
</div>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- Lockerz Share END -->


