<div class="clearfix bg-white page_notfound">
	<div class="container">
			<div class="contact-wrap-top text-center">
				<h1>
					Page not found (404)
				</h1>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<span>We're sorry but we can't find the content you're looking for. 
					Please try our Frequently Asked Questions 
					or use the site search to look for it, or browse our site.</span>
				</div>
			</div>
			<!-- End Heading - My clicks  -->
	</div>
</div>