<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white "><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse">
										<li><a href="">My rewards activity</a></li>
										<li><a href="">My promotions & offers</a></li>
										<li><a href="">Join BabyClub</a></li>
										<li class="active"><a href="#">Activate Vitality HealthyCare</a></li>
										<li><a href="">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse">
										<li ><a href="">Order history</a></li>
										<li><a href="">Saved addresses</a></li>
										<li><a href="">My lists:</a>
											<ul class="shop-ul">
												<li><a href="">My shopping list</a></li>
												<li><a href="">My wishlist</a></li>
											</ul>
										</li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle closed"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li class="active"><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li><a href="#">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->

					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="ac-no-cc-wrap">
							<form id="ac-no-cc" action="" method="post">
								<div class="row ">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class=" bg-white  clearfix">
											<div class="clearfix bg-light-blue">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
													<h2>Edit personal details</h2>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 clearfix">
												 	<div class="createBoxWrapper bg-white clearfix">
								<div class="pad-spacing form-wrap">
									<div class="form-group clearfix">
										<label>First Name</label>
										<input type="text" value="" placeholder="Steven" class="form-control">
									</div>
									<div class="form-group clearfix">
										<label>Preferred Name <span> - Optional</span></label>
										<input type="text" value="" placeholder="Preferred" class="form-control">
									</div>
									<div class="form-group clearfix">
										<label>Last Name</label>
										<input type="text" value="" placeholder="Tomas" class="form-control">
									</div>
									
									<div class="form-group saResident">
									<label>Are you a South African resident?</label>
									<div class="form-group clearfix">
										<div class="clearfix">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 paddingNone">
											<input type="radio"  class="radio-hide" id="saResi1" name="saResi" checked  >
											<label class="radio-box ClubcardYes1 clubcardhide" for="saResi1" data-toshow="ClubcardValueCre" data-tohide="dobSa" ><span>Yes</span></label>
											</div>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 paddingNone">
											<input type="text" placeholder="Enter South African ID number"  class="form-control ClubcardValueCre sanum" id="saValue">
											</div>
										</div>
										<div class="form-group clearfix">
											<input type="radio"  class="radio-hide" id="saResi" name="saResi">
											<label class="radio-box ClubcardNo1 clubcardhide" for="saResi" data-tohide="ClubcardValueCre" data-toshow="dobSa"><span>No</span></label>
										</div>
											<div class="clearfix">
										<label>Date of Birth</label>							
										<div class="dob">
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
												<div class="dobWrapper">
													<select id="date" class="dobSa">
														<option value="">Day</option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
													</select>
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 month">
												<div class="monthWrapper">
												<select id="month" class="dobSa">
													<option value="">Month</option>
													<option value="Jan">Jan</option>
													<option value="Feb">Feb</option>
												</select>
												</div>
											</div>	
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 year">
												<div class="yearWrapper">
													<select id="year" class="dobSa">
														<option value="">Year</option>
														<option value="2010">2010</option>
														<option value="2010">2011</option>
														<option value="2012">2012</option>
														<option value="2013">2013</option>
														<option value="2014">2014</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
									<button type="submit" class="btn btn-save-change">Save Changes</button>
								</div>
							</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- End Right side Conent -->
				</div>
				<!-- End wrapper div -->
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>