<div class="clearfix bg-white accounttop">
	<div class="container">
		<div class="row">
			<!-- Profile Image  -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
				<img class="img-circle img-responsive" src="../image/account-land/account-profile.jpg" alt="Profile image" title="Profile image">
			</div>
			<!-- End Profile Image  -->

			<!-- Heading - My clicks  -->
			<div class="col-lg-4 col-md-4 col-sm-9 col-xs-9">
				<h2>My Clicks</h2>
				<div>
					<img class="img-responsive pull-left" src="../image/account-land/clubcard.jpg">
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-8 Clubcard-details">
						<h4 class="dark-blue">Welcome back, Lerato!</h4>
						<h4 class="light-blue">Gold clubcard member</h4>
						<h4 class="grey-font">Card: 0290000298421</h4>
					</div>
				</div>
			</div>
			<!-- End Heading - My clicks  -->

			<!-- Cash back - Block1 -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="cashback-block">
					<h4>Cashback</h4>
					<img src="../image/account-land/cashback1.jpg" alt="country"/>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="price blue">
								R38 <sup>00</sup>
							</div>
							<span>available to spend in-store</span>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="price red">
								347 <sup>00</sup>
							</div>
							<span>points earned </span> <span class="red">+73 needed</span>
						</div>
					</div>
					<a href="#">See activity breakdown</a>
				</div>
			</div>
			<!-- End Cash back - Block1 -->

			<!-- Cash back - Block2 -->
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="cashback-block flag">
					<h4>Cashback</h4>
					<img src="../image/account-land/cashback2.jpg" alt="country"/>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="price blue">
								R38 <sup>00</sup>
							</div>
							<span>available to spend in-store</span>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="price red">
								347 <sup>00</sup>
							</div>
							<span>points earned </span> <span class="red">+73 needed</span>
						</div>
					</div>
					<a href="#">See activity breakdown</a>
				</div>
			</div>
			<!-- End Cash back - Block2 -->
		</div>
	</div>
</div>