<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse in">
										<li><a href="#">My rewards activity</a></li>
										<li><a href="#">My promotions & offers</a></li>
										<li><a href="#">Join BabyClub</a></li>
										<li><a href="#">Activate Vitality HealthyCare</a></li>
										<li><a href="#">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse">
										<li><a href="#">ClubCard exclusive
												savings (56)</a></li>
										<li><a href="#">3 for 2 selected
												John Frieda (18)</a></li>
										<li><a href="#">Buy 1, 2nd 1/2 price
												shaving (24)</a></li>
										<li><a href="#">2 for R150 haircare
												(36)</a></li>
										<li><a href="@">Save 20% L'Oréal
												hair colours (42)</a></li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="#">Change Password</a></li>
										<li><a href="#">Notifications</a></li>
										<li><a href="#">Import/Export</a></li>
										<li><a href="#">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="#">Edit personal details</a></li>
										<li><a href="#">Edit My Medicines details</a></li>
										<li><a href="#">Change password</a></li>
										<li><a href="#">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->
					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<!-- Promo Block  -->
						<div class="account-notify clearfix bg-light-white">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h2>
									<a href="#"> You earn <span> 2 points </span> for every <span>
											R5 <sup> 00 </sup>
									</span> you spend on normal products & services*
									</a>
								</h2>
							</div>
						</div>
						<!-- End Promo Block  -->

						<div class="account-body">
							<div class="acc-table-wrap">
								<!-- Recent Orders heading  -->
								<div class="clearfix bg-light-blue">
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
										<div class="pull-left">
											<h2>Recent Orders</h2>
										</div>
										<div class="pull-right text-right">
											<a class="arrow-right" href="javascript:void(0)">See
												order history</a>
										</div>
									</div>
								</div>
								<!-- End Recent Orders heading  -->

								<!-- Recent Orders table  -->
								<div class="acc-body clearfix bg-white">
									<div class="recent-head">
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">Order
											placed</div>
										<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Delivery
											address</div>
										<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">Status</div>
									</div>

									<div class="repeat-table-wrap">
										<div class="recent-head recent-custom">
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">31 Mar
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">Cape
												Town, 8000</div>
											<div
												class="col-lg-3 col-md-3 col-md-push-3 col-sm-3 col-xs-3">Shipped</div>
											<div
												class="col-lg-2 col-md-2 col-md-pull-3 col-sm-4 col-xs-4">
												<a href="#">View order</a>
											</div>
										</div>

										<div class="recent-head recent-custom">
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">2 Feb
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">City
												name, Post code</div>

											<div
												class="col-lg-3 col-md-3 col-md-push-3 col-sm-3 col-xs-3">Delivered</div>
											<div
												class="col-lg-2 col-md-2 col-md-pull-3 col-sm-4 col-xs-4">
												<a href="#">View order</a>
											</div>
										</div>

										<div class="recent-head recent-custom">
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">1 Jan
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">City
												name, Post code</div>

											<div class="col-lg-3 col-md-3 col-md-push-3 col-sm-3 col-xs-3">Delivered</div>
											<div
												class="col-lg-2 col-md-2 col-md-pull-3 col-sm-4 col-xs-4">
												<a href="#">View order</a>
											</div>

											<!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<a href="#">View order</a>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">Delivered</div> -->
										</div>
									</div>
								</div>
							</div>
							<!-- End Recent Orders table  -->

							<!-- My medicines table  -->
							<div class="acc-table-wrap">
								<!-- My medicine  heading  -->
								<div class="clearfix bg-light-blue">
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
										<div class="pull-left">
											<h2>My medicines</h2>
										</div>
										<div class="pull-right text-right">
											<a class="arrow-right" href="javascript:void(0)">Manage
												my medicines</a>
										</div>
									</div>
								</div>
								<!-- My medicines heading  -->

								<!-- My medicines table data -->
								<div class="acc-body clearfix bg-white">
									<div class="recent-head no-border">
										<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Medication</div>
										<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">Status</div>
									</div>
									<div class="repeat-table-wrap">
										<div class="recent-head repeat-table-head">
											<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Repeat Drugname prescription or <strong> Josefa </strong> <a
													href="#"> Edit </a>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												<a href="" class="clock-image">Repeat</a>
											</div>
										</div>

										<div class="recent-custom repeat-table-data">
											<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Spironolactone
												30 x 200mg</div>
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong>
												refills left</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30  </strong>
												May</div>
										</div>
										<div class="recent-custom repeat-table-data">
											<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Lotensin
												30 x 500mg</div>
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>2</strong>
												refills left</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30  </strong>
												May</div>
										</div>
									</div>

									<div class="repeat-table-wrap">
										<div class="recent-head repeat-table-head">
											<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Repeat Drugname prescription or <strong> Josefa </strong> <a
													href="#"> Edit </a>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												<a class="clock-image" href="">Repeat</a>
											</div>
										</div>

										<div class="recent-custom repeat-table-data">
											<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Drug
												name 30 x 200mg</div>
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong>
												refills left</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30  </strong>
												May</div>
										</div>
										<div class="recent-custom repeat-table-data">
											<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5"></div>
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>2</strong>
												refills left</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30  </strong>
												May</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End My medicine table  -->

							<!-- Latest Promotions -->
							<div class="contentWrapper clearfix bg-white bottom-marg">
								<div class="clearfix bgred">
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
										<div class="pull-left">
											<h2>Your promotions & offers</h2>
										</div>
										<div class="pull-right text-right">
											<a class="arrow-right" href="javascript:void(0)">See all
												savings</a>
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper account-promo">
										<div class="doubleBlock">
											<div class="categoryType">
												Exclusive <span> savings </span>
											</div>
											<h3>Free standard shipping on any order</h3>
											<p>
												Enter <strong>FREEDEL-12345678</strong> at checkout (use
												this once)
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd account-promo">
										<div class="doubleBlock">
											<div class="categoryType">
												Exclusive <span> savings </span>
											</div>
											<h3 class="red">Additional 10% off your entire order</h3>
											<p>
												Enter <strong> FREEDEL-12345678 </strong> at checkout (use
												this once)
											</p>
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper">
										<div class="badges blue">
											<span>New</span>
										</div>
										<div class="doubleBlock">
											<div class="categoryType">
												New in <span> from </span> <a href="javascript:void(0)">John
													Freida</a>
											</div>
											<h3>Dream curls daily styling spray</h3>
											<p class="content-height">Donec ullamcorper nulla non
												metus auctor fringilla, etiam porta sem.</p>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-1.jpg" alt="category" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd">
										<div class="doubleBlock">
											<div class="categoryType">
												Skincare <span> special offer </span>
											</div>
											<h3 class="red">20% off skincare</h3>
											<p class="content-height">Donec ullamcorper nulla non
												metus auctor fringilla, etiam porta sem.</p>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-2.jpg" alt="category" />
										</div>
									</div>
								</div>
							</div>
							<!-- Latest Promotions -->

							<!-- Suggestion by clicks  -->
							<div class="clearfix bg-light-blue">
								<div
									class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
									<div class="pull-left">
										<h2>Suggested by Clicks</h2>
									</div>
									<div class="pull-right text-right">
										<a class="arrow-right" href="javascript:void(0)">See all
											suggestions</a>
									</div>
								</div>
							</div>
							<div class="bg-white specialBlock clearfix productRange tb-res bottom-marg">
								<div class="col-md-4 col-sm-12 col-xs-12">
									<div class="productBlock">
										<div class="thumb">
											<img src="../image/frieda-range-1.jpg" alt="product1" />
										</div>
										<div class="detailContent clearfix">
											<h5>
												<a href="javascript:void(0)">John Frieda</a>
											</h5>
											<div class="content-height">
												<p>Frizz-Ease Miraculous Recovery Crème Waves Serum
													50ml</p>
											</div>
											<div class="price-wrap">
												<div class="price">
													28<sup>60</sup>
												</div>
											</div>
											<div class="starWrapper">
												<img src="../image/star.jpg" alt="ratings" /> <a href="#"
													class="btn">Buy</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-12 col-xs-12">
									<div class="productBlock">
										<div class="thumb">
											<img src="../image/frieda-range-2.jpg" alt="product1" />
										</div>
										<div class="detailContent clearfix">
											<h5>
												<a href="javascript:void(0)">John Frieda</a>
											</h5>
											<div class="content-height">
												<p>Luxurious Volume Thickening Hairspray 250ml</p>
											</div>
											<div class="price-wrap">
												<div class="price">
													28<sup>60</sup>
												</div>
												<div class="offer-blk">
													Was <span class="price">R44<sup>60</sup></span> <span
														class="red"> Save </span> <span class="price red">R44<sup>60</sup></span>
												</div>
											</div>
											<div class="starWrapper">
												<img src="../image/star.jpg" alt="ratings" /> <a href="#"
													class="btn">Buy</a>
											</div>
										</div>
									</div>
								</div>


								<div class="col-md-4 col-sm-12 col-xs-12">
									<div class="productBlock">
										<p class="badges red">
											<span>Save 20%</span>
										</p>
										<div class="thumb">
											<img src="../image/frieda-range-3.jpg" alt="product1" />
										</div>
										<div class="detailContent clearfix">
											<h5>
												<a href="javascript:void(0)">John Frieda</a>
											</h5>
											<div class="content-height">
												<p>Sheer Blonde Hydration Leave-In Conditioner 200ml</p>
											</div>
											<div class="price-wrap">
												<div class="price">
													28<sup>60</sup>
												</div>
											</div>
											<div class="starWrapper">
												<img src="../image/star.jpg" alt="ratings" /> <a href="#"
													class="btn">Buy</a>
											</div>
											<div class="offerDesc red">
												Save 20% on <span>selected John Frieda</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Suggestion by clicks  -->

							<!-- Financial Services start  -->
							<div class="clearfix bg-light-blue">
								<div
									class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
									<div class="pull-left">
										<h2>Financial Services</h2>
									</div>
									<div class="pull-right text-right">
										<span> </span>
									</div>
								</div>
							</div>
							<div class="bottom-marg clearfix bg-white fsOuter">
								<div class="row border-bottom">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="fsWrapper fsWrapperOne">
											<h2 class="darkBlue">Personal funeral insurance cover</h2>
											<h3 class="tick">
												You benefit from <span class="red">R892</span> - at no cost!
											</h3>
											<p>Total is updated weekly, last updated 00/00/0000</p>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="fsWrapper fsWrapperTwo">
											<p>Up to R7,500 Funeral cover - at no cost to you!</p>
											<p>
												Your cover is calculated at 10 times the value of your
												average monthly purchases in Clicks for the 26 weeks prior
												to death. The more you spend the higher your cover - up to
												R7,500. <a href="javascript:void(0)">Find out more</a>
											</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="fsWrapper">
											<div class="fsCover">
												<h2 class="lightGreen">Family funeral insurance cover</h2>
												<p class="tick">
													You're covered. <a href="javascript:void(0)">Find out
														more</a>
												</p>
											</div>
											<div class="fsCover">
												<h2 class="darkPink">Life cover</h2>
												<p>
													Not covered. <a href="javascript:void(0)">Find out more</a>
												</p>
											</div>
											<div class="fsCover">
												<h2 class="orange">Hospital event cover</h2>
												<p>
													Not covered. <a href="javascript:void(0)">Find out more</a>
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="fsWrapper">
											<div class="fsCover">
												<h2 class="lavander">Car and home cover</h2>
												<p>
													Not covered. <a href="javascript:void(0)">Find out more</a>
												</p>
											</div>
											<div class="fsCover">
												<h2 class="magenta">Women-only Cancer and accident
													cover</h2>
												<p>
													Not covered. <a href="javascript:void(0)">Find out more</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Financial services -->

							<!-- Two Club cards  -->
							<div class="bottom-marg clearfix bg-white">
								<div class="recent-custom padding-cutom">
									<!-- Cash back block -->
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class=" clearfix club-card-block">
												<div class="club-img">
													<img class="img-responsive"
														src="../image/account-land/club-1-acc.jpg" alt="club-card">
													<a href="">Find out more</a>
												</div>
												<div class="club-text">
													<h5>Are you a Discovery Health or Vitality member?</h5>
													<span>earn up to 25% cashback on 2,500+ HealthyCare
														products</span>
												</div>
										</div>
									</div>
									<!-- End Cash back block -->

									<!-- Cash back block -->
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="clearfix club-card-block">
												<div class="club-img">
													<img class="img-responsive"
														src="../image/account-land/club-2-acc.jpg" alt="club-card">
													<a href="">Find out more</a>
												</div>
												<div class="club-text">
													<ul>
														<li>Double points on some baby products & clinic
															costs</li>
														<li>Expert advice and vaccination SMS contact</li>
													</ul>
												</div>
										</div>
									</div>
									<!-- End Cash back block -->
								</div>
							</div>
							<!-- End two club cards -->

							<!-- partner slider  -->
							<div class="acc-table-wrap">
								<!-- Partner slider heading  -->
								<div class="clearfix bg-light-blue">
									<div
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-custom">
										<div class="pull-left">
											<h2>Earn ClubCard points and exclusive savings with our
												partners</h2>
										</div>
										<div class="pull-right text-right">
											<a class="arrow-right" href="javascript:void(0)">See all
												partners</a>
										</div>
									</div>
								</div>
								<!-- Partner slider -->
								<div class="partner-wrap clearfix bg-white">
									<div class="partner-spacing col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<ul class="partner-slider slider-component" data-classname="partner-slider" data-maxslide="5">
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-1.jpg" /></a>
												</div>
											</li>
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-2.jpg" /></a>
												</div>
											</li>
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-3.jpg" /></a>
												</div>
											</li>
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-4.jpg" /></a>
												</div>
											</li>
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-5.jpg" /></a>
												</div>
											</li>
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-6.jpg" /></a>
												</div>
											</li>
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-7.jpg" /></a>
												</div>
											</li>
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-8.jpg" /></a>
												</div>
											</li>
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-9.jpg" /></a>
												</div>
											</li>
											<li>
												<div class="col-md-12 col-sm-12 col-xs-12 ">
													<a href="#"><img
														src="../image/account-land/acc-partner-10.jpg" /></a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- partner slider  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>