<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix babyClubWrapper">
					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white closed">
								<a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse in">
										<li><a href="#">My rewards activity</a></li>
										<li><a href="#">My promotions & offers</a></li>
										<li><a href="#" class="active">Join BabyClub</a></li>
										<li><a href="#">Activate Vitality HealthyCare</a></li>
										<li><a href="#">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white "><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse ">
										<li><a href="#">Order history</a></li>
										<li><a href="#">Saved addresses</a></li>
										<li><a href="#">My lists:</a>
											<ul class="shop-ul">
												<li><a href="#">My shopping list</a></li>
												<li><a href="#">My wishlist</a></li>
											</ul>
										</li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="#">Change Password</a></li>
										<li><a href="#">Notifications</a></li>
										<li><a href="#">Import/Export</a></li>
										<li><a href="#">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="#">Edit personal details</a></li>
										<li><a href="#">Edit My Medicines details</a></li>
										<li><a href="#">Change password</a></li>
										<li><a href="#">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->
					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<!-- baby Club Section Content  -->
						<div class="babyClubSection">
							<div class="babyContentOuter bg-white clearfix">
								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
									<div class="babyContent">
										<h2>Clicks ClubCard BabyClub offers you great savings, rewards</h2>
										<p>And advice to help you with those formative baby years. If your child is under 3 years of age, if you are planning to get pregnant or you're already pregnant, 
											then BabyClub is for you.</p>
										<ul>
											<li>Exclusive rewards and savings</li>
											<li>Double points on some baby products & clinic services</li>
											<li>Expert advice from Paed-IQ doctors</li>
											<li>Vaccination SMS CONTACT </li>
										</ul>
										<button type="submit" class="btn">Find out more about Babyclub</button>
									</div>
								</div>	
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="babyContentImg">
										<img src="../image/baby-club/club-card-baby.jpg"/>
									</div>
								</div>	
							</div>	
						</div>
						<!-- baby Club Section Content Ends -->
						<div class="babyMiddleOuter bg-white clearfix">
							<div class="aboutFamily">
								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 babyArticleTitle">
									<h2>Tell us about your family</h2>
									<div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
										<form action="#" id="aboutFamily" class="clearfix">
											<div class="form-group clearfix topCats">
												<input type="radio" id="currentPregnant" class="radio-hide" name="currentPregnant">
												<label class="radio-box current" for="parent"><span>Currently pregnant</span></label>
											</div>
											<div class="topCatsContainer"> 
												<div class="form-group clearfix">
													<label>Estimated date of delivery</label>							
													<input type="text" value=" " class="text" id="datepicker">
													<label for="datepicker" class="btnDate"></label>
												</div>
												<div class="form-group clearfix">
													<label>Is it a boy or a girl?</label>							
													<div class="gender">
														<select id="basic3">
															<option value="Don’t know yet">Don’t know yet</option>
															<option value="Boy">Boy</option>
															<option value="Girl">Girl</option>
														</select>
													</div>
												</div>
											</div>
											<div class="form-group clearfix allCats">
												<input type="radio" id="alreadyParent" class="radio-hide" name="alreadyParent">
												<label class="radio-box" for="parent"><span>Already a parent</span></label>
											</div>
											<div class="allCatsContainer">
											<div class="form-group clearfix">
												<label>First name</label>							
												<input type="text" value="" class="text" id="firstName">
											</div>
											<div class="form-group clearfix">
												<label>Surname</label>							
												<input type="text" value="" class="text" id="surName">
											</div>
											<div class="form-group clearfix">
												<label>Gender</label>							
												<div class="gender">
													<select id="basic4">
														<option value="Boy">Boy</option>
														<option value="Girl">Girl</option>
													</select>
												</div>
											</div>
											<div class="form-group clearfix">
												<label>Date of Birth</label>							
												<div class="dob">
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
														<div class="dobWrapper">
															<select id="date">
																<option value="1">1</option>
																<option value="2">2</option>
																<option value="3">3</option>
															</select>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 month">
														<div class="monthWrapper">
														<select id="month">
															<option value="Jan">Jan</option>
															<option value="Feb">Feb</option>
														</select>
														</div>
													</div>	
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 year">
														<div class="yearWrapper">
															<select id="year">
																<option value="2010">2010</option>
																<option value="2010">2011</option>
																<option value="2012">2012</option>
																<option value="2013">2013</option>
																<option value="2014">2014</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											</div>
											<button class="btn">Join Babyclub</button>
										</form>
									</div>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 babyOffers">
									<h2>On offer in Baby</h2>
									<div >
									<ul class="article-slider">
									<li>
									<div class="productBlock slide">
										<img src="../image/sprite/4_batch_mix_match.png"
											class="mix-match-badge" alt="mix-match"> <a
											href="javascript:void(0)"> <img
											src="../image/article-slide1.jpg" alt="product1" />
										</a>
										<div class="detailContent clearfix">
											<h5><a href="javascript:void(0)">Origins</a></h5>
											<div class="content-height"><p>Knot Free Shampoo If Your Hair
												Acts Hard to Combination 250ml</p></div>
											<p class="priceTag">
												24<span>00</span>
											</p>
												<img src="../image/star.jpg" alt="ratings" />
												<a href="#" class="btn">Buy</a>
											<div class="offerDesc">
												<p class="red">Mix and match 3 for 2</p>
											</div>
										</div>
									</div>
									</li>
									<li>
									<div class="productBlock slide">
										<img src="../image/sprite/4_batch_mix_match.png"
											class="mix-match-badge" alt="mix-match"> <a
											href="javascript:void(0)"><img
											src="../image/article-slide1.jpg" alt="product1" /></a>
										<div class="detailContent clearfix">
											<h5><a href="javascript:void(0)">Origins</a></h5>
											<div class="content-height"><p>Knot Free Shampoo If Your Hair
												Acts Hard to Combination 250ml</p>	</div>
											<p class="priceTag">
												24<span>00</span>
											</p>
											<div>
												<img src="../image/star.jpg" alt="ratings" />
												<a href="#" class="btn">Buy</a>
											</div>
											<div class="offerDesc">
												<p class="red">Mix and match 3 for 2</p>
											</div>
										</div>
									</div>
									</li>
									<li>
									<div class="productBlock slide">
										<img src="../image/sprite/4_batch_mix_match.png"
											class="mix-match-badge" alt="mix-match"> <a
											href="javascript:void(0)"><img
											src="../image/article-slide1.jpg" alt="product1" /></a>
										<div class="detailContent clearfix">
											<h5><a href="javascript:void(0)">Origins</a></h5>
											<div class="content-height"><p>Knot Free Shampoo If Your Hair
												Acts Hard to Combination 250ml</p>	</div>
											<p class="priceTag">
												24<span>00</span>
											</p>
											<div>
												<img src="../image/star.jpg" alt="ratings" />
												<a href="#" class="btn">Buy</a>
											</div>
											<div class="offerDesc">
												<p class="red">Mix and match 3 for 2</p>
											</div>
										</div>
									</div>
									</li>
									</ul>
								</div>
								</div>
							</div>
						</div>
						<!-- Online baby articles Section  -->
						<div class="clearfix moreCategory bg-white babyArticle">
							 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 babyArticleTitle">
									<div class="pull-left">
										<h2>
											<a class="arrow-right" href=""> Online baby <span>articles</span></a>
										</h2>
									</div>
								</div>
							<div class="clubCardBot">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<a href="#"><img src="../image/baby-club/baby-article-1.jpg" alt="category 1" /></a>
									<h4><a href="#">How to bath your baby</a></h4>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<a href="#"><img src="../image/baby-club/baby-article-2.jpg" alt="category 2" /></a>
									<h4><a href="#">How to explain cancer to your child</a></h4>
								</div>
							</div>
						</div>
						<!-- Online baby articles Section Ends -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>