<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse in">
										<li><a href="">My rewards activity</a></li>
										<li><a href="">My promotions & offers</a></li>
										<li><a href="">Join BabyClub</a></li>
										<li class="active"><a href="#">Activate Vitality HealthyCare</a></li>
										<li><a href="">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white "><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse">
										<li ><a href="">Order history</a></li>
										<li><a href="">Saved addresses</a></li>
										<li><a href="">My lists:</a>
											<ul class="shop-ul">
												<li><a href="">My shopping list</a></li>
												<li><a href="">My wishlist</a></li>
											</ul>
										</li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li><a href="">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->

					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						
						<!-- Cash back offer block -->
						<div class="activate-vitality-cash bg-white clearfix">
							<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
								<h3>It pays to be healthy in more ways than one.</h3>
								<p>If you are a Clicks ClubCard
									customer and also a Discovery Vitality member, you can activate
									the Vitality HealthyCare benefit and get up to 25% cash back on
									HealthyCare products when you shop at Clicks!</p>
								<button class="btn">See all Healthycare products</button>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 cash-back-img">
								<div class="cash-back-outer">
									<img class="img-responsive"
										src="../image/activate-vitality/cash-back.jpg" alt="cash back">
								</div>
							</div>
						</div>
						<!-- End Cash back offer block -->

						<!-- Discover vitality block -->
						<div class="discover-vitality-wrap bg-white clearfix">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="pull-left vital-img-text">
									<img class="img-responsive" src="../image/activate-vitality/discover-vitality.jpg"
										alt="discover-vitality">
									<ul>
										<li><strong>Earn 10% cash back immediately </strong>on
											thousands of HealthyCare items at Clicks.</li>
										<li><strong> Increase to 15% cashback </strong>by taking
											an online questionnaire to find out your Vitality Age.</li>
										<li><strong>Earn a max of 25% cashback </strong>by
											completing a Vitality Health Check at any Clicks Clinic.</li>
									</ul>
								</div>
								<div class="clearfix vitality_txt_wrap">
									<p>Discovery Vitality members can also get up to 25% cash
										back on selected health and fitness devices, and you can also
										claim up to R750* of the cost of these devices from your
										Medical Scheme plan administered by Discovery Health if you
										have day-to-day benefits available. Fitness devices available
										at selected Clicks stores.</p>

									<p>Members of a medical scheme plan administered by
										Discovery Health who are not on Vitality, can get up to 10%
										cash back on thousands of HealthyCare items at Clicks.</p>

									<p>Activate your Discovery HealthyCare benefit, add your
										ClubCard number and choose Clicks as your preferred shopping
										partner to enjoy your HealthyCare benefit.</p>

									<div class="text-center">
										<button class="btn">Activate Vitality</button>
										<span>You will be directed to discovery.co.za</span>
									</div>
								</div>
								<div class="clearfix vitality-terms">
									<h6>Applicable to:</h6>
									<ul>
										<li>Discovery Health Medical Scheme : Executive, Comprehensive, Priority and Saver plans </li>
										<li>M-Med Option of the Naspers Medical Fund (one device, every two years)</li>
										<li>Tsogo Sun Comprehensive and Saver plan</li>
										<li>Quantum Comprehensive and Saver plan</li>
										<li>Terms & conditions apply.</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Discover vitality block -->
						
						
						<!-- Vitality Images Block -->
						<div class="vital-logo-wrap bg-white clearfix">
							<h4>Vitality HealthyCare is available to members of all schemes administered by Discovery Health</h4>
							<div class="row">
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
									<div class="border-full">
										<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-1.jpg" alt="vital logo">
									</div>
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
									<div class="border-full">
										<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-2.jpg" alt="vital logo">
									</div>
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
									<div class="border-full">
										<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-3.jpg" alt="vital logo">
									</div>	
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
									<div class="border-full">
										<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-4.jpg" alt="vital logo">
									</div>	
								</div>
							 	
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
									<div class="border-full">
										<img  class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-5.jpg" alt="vital logo">
									</div>	
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
								<div class="border-full">
									<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-6.jpg" alt="vital logo">
									</div>
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
								<div class="border-full">	
									<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-7.jpg" alt="vital logo">
									</div>
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
								<div class="border-full">
									<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-8.jpg" alt="vital logo">
									</div>
								</div>
							
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
								<div class="border-full">
									<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-9.jpg" alt="vital logo">
									</div>
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
								<div class="border-full">
									<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-10.jpg" alt="vital logo">
									</div>
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
								<div class="border-full">
									<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-11.jpg" alt="vital logo">
									</div>
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
								<div class="border-full">
									<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-12.jpg" alt="vital logo">
									</div>
								</div>
							 	
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
								<div class="border-full">
									<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-13.jpg" alt="vital logo">
									</div>
								</div>
								
								<div class="col-md-3 col-sm-4 col-xs-6 vital-logo">
								<div class="border-full">
									<img class="img-responsive" src="../image/activate-vitality/vital-logo/vital-logo-14.jpg" alt="vital logo">
									</div>
								</div>
							</div>	
							<div class="terms_bottom"><p>
								Speak to your Clicks Pharmacist for more information. Terms & conditions apply. Vitality HealthStyle (Pty) Ltd, 
								registration number 1999/007736/07, trading as Discovery Vitality. An authorised financial services provider. 
								Discovery Health (Pty) Ltd, registration number 1997/013480/07, an authorised financial services provider.
							</p>
							</div>
						</div>	
						<!-- Vitality Images Block -->
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>