<section class="main-container bg-gray clearfix articlePage">
	<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="bg-white contentContainer">
						<p>Inactive people have twice the risk of suffering a heart attack and 3 times the chance of dying immediately after such an attack than those who exercise regularly.</p>
						<p>The heart is a muscle and needs exercise to stay fit and healthy. The heart of someone who exercises regularly will beat 45 to 50 times per minute compared to someone who does not exercise regularly whose heart will beat 70 to 75 times per minute. The most profound long-term benefits, in terms of chronic diseases of lifestyle (heart disease, obesity, high blood pressure, diabetes, osteoporosis, etc) are associated with regular cardiovascular exercise.</p>
						<h3>What are the benefits of regular exercise?</h3>
						<ul>
							<li>Reduces the risk for heart disease and stroke.</li>
							<li>Improves blood cholesterol levels.</li>
							<li>Helps manage high blood pressure.</li>
							<li>Helps reduce and control body weight by decreasing body fat, increasing muscle and increasing metabolic rate. Helps to cope with stress and releases tension.</li>
							<li>Improves the efficiency of the heart and lungs. Increases stamina and muscle strength</li>
							<li>Counters anxiety and depression and increases enthusiasm and optimism.</li>
						</ul>
		<h2>“To improve cardiovascular fitness, you should<br> choose an activity that is rhythmic and repetitive.”</h2>
		
						<p> In older people, regular exercise helps delay or prevent chronic illnesses and diseases associated with aging, and maintain quality of life and independence for longer. But you cannot smoke and eat unhealthily and expect to work off the damage by exercising. Exercise should be done as part of a healthy lifestyle that includes following a healthy balanced diet, moderate alcohol intake, maintaining your ideal body weight and not smoking, to attain the full benefits for the heart.</p>
						<h3>What type of exercise?</h3>
						<p>Beneficial physical activity not only includes the more demanding vigorous types, but also includes walking, dancing, gardening, cycling, bowls, golf, swimming and other similar activities. All physical activity, including occupational, recreational and usual daily chores, contributes to an individual's well-being.</p>
						<p>To improve cardiovascular fitness, you should choose an activity that is rhythmic and repetitive, known as aerobic exercise. This type of exercise strengthens the heart. Examples are brisk walking, jogging, cycling, swimming, dancing and rope jumping.</p>
						<p>Before starting with an exercise programme, consult your doctor.</p>
						<h3>How much do I need?</h3>
						<p>To help your heart, exercise should be constant and last long enough to increase blood flow to the muscles. Start slowly and build up, as your heart gets stronger.</p>
<p>Three aspects of exercise need to be remembered:</p>
<p><strong>Intensity</strong>: Start slowly and gradually increase the pace to a level where the heart- and breathing rate is increased enough to make you sweat. Another way of monitoring exercise intensity is to use the 'talk test': when exercising, you should be able to talk throughout the workout, but you should not be able to sing.</p>
<p><strong>Time</strong>: Try to keep moving without interruption for at least 15 minutes and build it up to at least 30 minutes or try to accumulate at least 30 minutes of exercise during the day (3 shorter walks is just as beneficial as 1 long walk).</p>
<p><strong>Frequency</strong>: Regular exercise is of extreme importance - at least 3 times per week! Try to spread it out throughout the week for the best results.</p>
<p>If you're inactive, doing anything is better than nothing! Studies show that those who have a low fitness level are much more likely to die early than people who have achieved even a moderate level of fitness. If you want to exceed a moderate level of fitness, you need to exercise at least three times a week for 30 to 60 minutes. If you exercise regularly, you will soon find that you will get less tired and will be able to do more as you progress. Advice on exercise mode, intensity, frequency and duration should be modified individually, taking into consideration the person's condition, situation and other medical problems.</p>
<p>People who have been sedentary, are overweight, are middle-aged or older or have a medical condition, should consult their doctor first if they have any concerns and should seek medical advice before they start or significantly increase their physical activity. Most healthy people of any age can safely engage in moderate levels of physical activity (e.g. moderate walking, gardening and yard work) without consulting a doctor first. The potential health benefits of exercise greatly outweigh the risk, although there is a very slight increased risk of death due to heart attack during vigorous exercise.</p>
					</div>
					<a class="heart arrow-right" href="#">Read more from our Heart disease information centre</a> 
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<aside>
					 <div class="symptomsChecker">
					 <a class="stethoscope arrow-right" href="#">Check your symptoms</a>
					 </div>
					<div class="image-center">
						<img src="../image/article/article-mpu.jpg" alt="" />
						</div>
						<h2>In Healthy Living</h2>
					 <div class="bg-white">
						<div class="articleSidebar clearfix">
							<div class="articleSideWrapper clearfix">
								<div class="image-center">
									<img src="../image/article/article-hl-1.jpg" alt="" />
								</div>
								<h3><a href="#">Identify heart attack warning signs</a></h3>
								<p>Don't feel helpless in the face of a crisis. Make sure you know the steps to take in the case of a heart attack.</p>
							</div>
							<div class="separator"></div>
							<div class="articleSideWrapper clearfix">
								<div class="image-center">
									<img src="../image/article/article-hl-2.jpg" alt="" />
								</div>
								<h3><a href="#">6 essential facts about your heart health</a></h3>
								<p>An unhealthy lifestyle puts strain on the heart. Here are 6 facts about heart health you need to know.</p>
							</div>
						</div>
					 </div>
					</aside>
				</div>
		
		</div>
	</div>
</section>
<div id="div-overlay"></div>