<div class="articleTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h2>Keep your heart <br>
					pumping with exercise</h2>
					<p>Lack of physical exercise is a risk factor for both heart disease and high blood pressure. Here's why you should get off the couch and into a pair of exercise shorts. </p>
					<div class="authorWrapper">
						<div class="authorPic"><img src="../image/article/article-logo.png" alt="" /></div>
						<div class="authorInfoWrapper">
						09 January 2015 
						<div class="authorInfo">by the <a href="#">South African Heart Foundation</a></div>
						</div>
					</div>
					<div class="moreLinks">
						<a class="share" href="javascript:void(0)">Share</a>
						<a class="email" href="#">Email</a>
					</div>								
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="image-center">
						<img src="../image/article/article-top.jpg" alt="" />
						</div>
			</div>
		</div>
	</div>
</div>