<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix babyClubWrapper">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<!-- baby Club Section Content  -->
					<div class=" bg-white clearfix">
						 <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 boxOuter tb-res">
							 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 borderBlock">
								 <div class="image-center bcBox">
									<img src="../image/baby-club/double-points.png" alt="" />
									<a href="#" class="borderBlockTitle">Earn double points</a>
									<p>on selected baby products* and selected clinic services** for babies</p>
								</div>
							 </div>
							 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 borderBlock">
								 <div class="image-center bcBox">
									<img src="../image/baby-club/paed-iq.png" alt="" />
									<a href="#" class="borderBlockTitle">PaedIQ Website Access</a>
									<p>with expert advice from paediatricians at <a href="#">paediq.com </a> </p>
								</div>
							 </div>
							 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 borderBlock heightBlock">
								 <div class="image-center bcBox">
									<img src="../image/baby-club/sms-contact.png" alt="" />
									<a href="#" class="borderBlockTitle">Vaccination SMS contact</a>
									<p>Opt in at the clinic, our free service will even call you to make the appointment</p>
								</div>
							 </div>
							 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 borderBlock">
								 <div class="image-center bcBox">
									<img src="../image/baby-club/hhc.png" alt="" />
									<a href="#" class="borderBlockTitle">Free baby clinic services at Clicks Helping Hand clinics</a> 
									<p>for those in need, for moms whose babies are born in state hospitals without medical aid</p>
								</div>
							 </div>
							 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 borderBlockLast">
								 <div class="image-center bcBox">
									<img src="../image/baby-club/soft-cotton.jpg" alt="" />
									<p>* Excludes all Milk formula for babies under 3 years of age, as well as feeding bottles, feeding cups and teats. ** Double Points are earned on the cost of consultation and consumables, but not the cost of medication.</p>
								</div>
							 </div>
							 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 borderBlock o2Block">
								 <div class="image-center">
									<img src="../image/baby-club/o2.jpg" alt="" />
								</div>
							 </div>
						 </div>
						 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 fb-feed">
							<img src="../image/baby-club/fb-feed.jpg" alt="" />
						 </div>
					</div>
					<!-- baby Club Section Content Ends -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>