<div class="bg-gray specialBlock clearfix productRange tb-res sliderFinal">
	<div class="container">	
		<div class="contentWrapper clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 widthFull">
				<div class="pull-left">
					<h2>On offer <span>in Baby</span></h2>
				</div>
			</div>
		</div>
		<div class="bg-white">
		<ul class="sliderOuter1 clearfix bg-white">
			<li>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="productBlock">
						<div class="thumb">
						<img src="../image/pdp/avene.jpg" alt="product" />
						</div>
						<div class="detailContent clearfix">
							<h5><a href="javascript:void(0)">Avène</a></h5>
							<div class="content-height">
							<p>Thermal Water Face Nourishing Spray, 300ml</p>
							</div>
							<div class="price-wrap">
								<div class="price">
									28<sup>60</sup>
								</div>
							</div> 
							<div class="starWrapper">
								<img src="../image/star.jpg" alt="ratings" />
								<div class="buy-btn-wrap"> 
										<a href="#" class="btn">Buy</a>
										</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="productBlock">
						<div class="thumb">
						<img src="../image/pdp/olsson.jpg" alt="product" />
						</div>
						<div class="detailContent clearfix">
							<h5><a href="javascript:void(0)">Olsson</a></h5>
							<div class="content-height">
							<p>Scandinavia Sensitive conditioner normal/dry hair 325ml</p>
							</div>
							<div class="price-wrap">
								<div class="price">
									28<sup>60</sup>
								</div>
							</div> 
							<div class="starWrapper">
								<img src="../image/star.jpg" alt="ratings" />
								<div class="buy-btn-wrap"> 
										<a href="#" class="btn">Buy</a>
										</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="productBlock">
						<div class="thumb">
							<img src="../image/pdp/clarins.jpg" alt="product" />
						</div>
						<div class="detailContent clearfix">
							<h5><a href="javascript:void(0)">Clarins</a></h5>
							<div class="content-height">
							<p>Sun Care Oil Spray UVA/UVB 30</p>
							</div>
							<div class="price-wrap">
								<div class="price">
									28<sup>60</sup>
								</div>
							<div class="offer-blk">
								Was <span class="">R44<sup>60</sup></span>
								<span class="red"> Save </span> <span class="price red">R44<sup>60</sup></span>
							</div>
							</div>
							<div class="starWrapper">
								<img src="../image/star.jpg" alt="ratings" />
								<div class="buy-btn-wrap"> 
										<a href="#" class="btn">Buy</a>
										</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="productBlock">
					<p class="badges red"><span>Save 20%</span></p>
						<div class="thumb">
							<img src="../image/pdp/origins.jpg" alt="product" />
						</div>
						<div class="detailContent clearfix">
							<h5><a href="javascript:void(0)">Origins</a></h5>
							<div class="content-height">
							<p>Knot Free Shampoo If Your Hair Acts Hard to Combination 250ml</p>
							</div>
							<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
									</div>
									<div class="starWrapper">
										<img src="../image/star.jpg" alt="ratings" />
										<div class="buy-btn-wrap"> 
										<a href="#" class="btn">Buy</a>
										</div>
									</div> 
							<div class="offerDesc red">Save 20% on <span>selected John Frieda</span>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		</div>
	</div>
</div>