<!-- Online baby articles Section  -->
<div class="bg-gray babyArticleLand">
	<div class="container">
		<div class="clearfix moreCategory babyArticle bg-white">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 babyArticleTitle">
				<div class="pull-left">
					<h2><a class="arrow-right" href=""> Online baby <span>articles</span></a> </h2>
				</div>
				<div class="pull-right text-right">
					<a class="arrow-right" href="javascript:void(0)">See all baby articles</a>
				</div>
			</div>
			<div class="babyArticlesOuter clearfix">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<a href="#"><img src="../image/baby-club/ba-art-1.jpg" alt="baby article" /></a>
						<h4> <a href="#">5 tips to healthier eating habits for kids</a> </h4>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<a href="#"><img src="../image/baby-club/ba-art-2.jpg" alt="baby article" /></a>
						<h4> <a href="#">How to get rid of lousy head lice</a> </h4>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<a href="#"><img src="../image/baby-club/ba-art-3.jpg" alt="baby article" /></a>
						<h4> <a href="#">How to bath your baby</a> </h4>
				</div>
			</div>
		</div>

		<!-- Clicks wellness center
		<div class="click_wellness_wrap clearfix">
			<h4>Clicks Wellness Services for moms & babies</h4>
			<em>BabyClub membership not required</em>
			<div class="row">
				<div class="col-lg-4">
					<ul>
						<li>Baby consultation</li>
						<li>Baby immunisation with consultation</li>
						<li>Antenatal consultation</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<ul>
						<li>Pregnancy test with consultation</li>
						<li>Family planning consultation</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<div class="find_nearest">
						<a class="btn primary_btn">Find My nearest clinic</a> <span>or
							call <a href="tel:0860254254"> 0860-254-254 </a> to make an
							appointment
						</span>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<!-- Clicks wellness center -->


		
	</div>
</div>
<!-- Online baby articles Section Ends -->


