<section class="main-container">
	<div class="createOuterWrapper bg-gray">
		<div class="container">
			<div class="createWrapper clearfix ">
				<form action="#" id="createAccount" class="clearfix accLandOuter">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 createBoxWrapper">
								<div class="bg-white acc-col-4">
								<div class="clearfix bg-light-blue">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
										<h2>To join Clicks BabyClub online, you need a Clicks ClubCard and an online account.</h2>
									</div>
								</div>
								<div class="bg-white clearfix bc-login">
									<div class="pad-spacing form-wrap">
										<div class="form-group clearfix">
											<label>Email address</label>
											<input type="email" value="" placeholder="" class="form-control">
										</div>
										<div class="form-group clearfix">
											<label>Password</label>
											<input type="email" value="" placeholder="" class="form-control">
										</div>
										<div class="form-group clearfix">
											<input type="checkbox" name="sms" class="check-hide" id="remMe">
											<label for="remMe" class="check-box">
												<span><strong>Remember me -</strong> optional</span>
											</label>
										</div>
										<button type="submit" class="btn btn-save-change">Sign in &amp; Join Babyclub</button>
										<div class="separator"></div>
										<h4>I don't have an online account</h4>
										<button type="submit" class="btn btn-save-change">Create Account &amp; Join Babyclub</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>