<div class="bc-landingTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="image-center">
						<img src="../image/baby-club/baby-club-m-logo.png" alt="" />
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h2>The BabyClub benefit is for Clicks customers who are planning, pregnant or with toddlers up to the age of 36 months.</h2>
					<button class="btn btnBig">Opt in to babyclub now</button>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="image-center">
					<img src="../image/article/article-top.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>