<div class="bg-white breadcrumb-block">	
	<div class="container">		
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">My Clicks</a></li>
			<li><a href="#">Manage my medicines</a></li>
		</ul>
	</div>
</div>