<div class="bg-white breadcrumb-block">	
	<div class="container">		
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Toiletries</a></li>
			<li><a href="#">Haircare</a></li>
			<li><a href="#">Styling</a></li>
			<li><a href="#">Sprays</a></li>
		</ul>
	</div>
</div>