<div class="clearfix bg-white specialBlockTop category-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="product-left">
					<h2>Toiletries</h2>
					<p>Cras mattis consectetur purus sit amet fermentum, etiam
						porta sem malesuada (intro text useful for SEO)</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-4 col-xs-6 image-center">
						<img src="../image/thumb-1.jpg" alt="product1" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sp-content">
						<h4 class="blue">Featured product</h4>
						<span class="subTitle">Hand Chemistry</span>
						<p>Extreme Hydration Concentrate</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-4 col-xs-6 image-center">
						<img src="../image/thumb-2.jpg" alt="product1" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sp-content">
						<h4 class="blue">Featured product</h4>
						<span class="subTitle">Dr Miracle’s</span>
						<p>Damaged Hair Treatment - 340g</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>