<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="categoryOuter clearfix">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="mainCatSidebar">
							<div class="bg-white categorySidebar">
								<h2>In Toiletries</h2>
								<ul>
									<li><a href="javascript:void(0)">Deodorants</a></li>
									<li><a href="javascript:void(0)">Haircare</a></li>
									<li><a href="javascript:void(0)">Black haircare</a></li>
									<li><a href="javascript:void(0)">Hand &amp; body care</a></li>
									<li><a href="javascript:void(0)">Skin &amp; sun care</a></li>
									<li><a href="javascript:void(0)">Washing &amp; bathing</a></li>
									<li><a href="javascript:void(0)">Gifts</a></li>
									<li><a href="javascript:void(0)">For her</a></li>
									<li><a href="javascript:void(0)">For him</a></li>
								</ul>
							</div>
							<div class="bg-white categorySidebar">
								<h2>Featured brands</h2>
								<ul class="specialBrand">
									<li><a href="javascript:void(0)"><img
											src="../image/brand-1.jpg" class="img-responsive"
											alt="product1" /></a></li>
									<li><a href="javascript:void(0)"><img
											src="../image/brand-2.jpg" class="img-responsive"
											alt="product1" /></a></li>
									<li><a class="last" href="javascript:void(0)"><img
											src="../image/brand-3.jpg" class="img-responsive"
											alt="product1" /></a></li>
								</ul>
								<ul>
									<li><a href="javascript:void(0)">Aussie</a></li>
									<li><a href="javascript:void(0)">Dark &amp; Lovely</a></li>
									<li><a href="javascript:void(0)">John Frieda</a></li>
									<li><a href="javascript:void(0)">Lee Stafford</a></li>
									<li><a href="javascript:void(0)">L'Oréal Paris</a></li>
									<li><a href="javascript:void(0)">Nivea</a></li>
									<li><a href="javascript:void(0)">Original Source</a></li>
									<li><a href="javascript:void(0)">Schwarzkopf</a></li>
									<li><a href="javascript:void(0)">Sorbet</a></li>
									<li><a href="javascript:void(0)">The Body Shop</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 categoryPage">

						<!-- Top buttons -->
						
								<div class="clearfix bottom-marg pharmacy_block bg-green">
									<div class="col-lg-6 col-md-6 col-xs-6 border-right">
										<a class="medicine-list arrow-right" href="#"> Our pharmacy
											& clinic services </a>
									</div>
									<div class="col-lg-6 col-md-6 col-xs-6">
										<a class="book arrow-right" href="#"> <span class="ico"></span>Health
											information
										</a>
									</div>
								</div>
								

						<!--  <div class="clearfix bottom-marg moreCategory bg-green healthlinks-block top-links">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> <a class="arrow-right" href="">Our pharmacy &amp; clinic services</a> </div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> <a class="arrow-right" href="">Health information</a> </div>
						</div>
						</div>-->
						<!-- End Top buttons -->

						<div class="contentWrapper clearfix bgred" style="clear: both;">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleWrapper">
								<div class="pull-left">
									<h2>Latest promotions</h2>
								</div>
								<div class="pull-right text-right">
									<a class="arrow-right" href="javascript:void(0)">See all
										promotions</a>
								</div>
							</div>
						</div>


						<!-- Latest Promotions -->
						<div class="filterContent clearfix bottom-marg tb-res">
							<!-- Product 1-->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 plpsep ">
								<div class="healthpharm productBlock">
									<img src="../image/sprite/mix-match-new.png" class="mix-match-badge" alt="mix-match"> 
									<img src="../image/sprite/22_vitality.png" class="vitality-badge" alt="mix-match">

									<div class="thumb">
										<img src="../image/product_vitality_1.jpg" alt="product1" />
									</div>

									<div class="detailContent clearfix">
										<h5>GNC</h5>
										<div class="content-height">
											<p>Men's Saw Palmetto Formula</p>
										</div>

										<div class="price-wrap">
											<div class="price">
												158<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
												<img src="../image/star.jpg" alt="ratings">
												<div class="buy-btn-wrap"><button class="btn">Buy</button> </div>
										</div>
										<div class="offerDesc">
												<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Product 1-->

							<!-- Product 2-->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 plpsep">

								<div class="healthpharm productBlock">
									<img src="../image/sprite/mix-match-new.png"
										class="mix-match-badge" alt="mix-match"> <img
										src="../image/sprite/22_vitality.png" class="vitality-badge"
										alt="mix-match">

									<div class="thumb">
										<img src="../image/product_vitality_2.jpg" alt="product1" />
									</div>
									<div class="detailContent clearfix">
										<h5>Antistax</h5>
										<div class="content-height">
											<p>Active Leg 60 Tablets</p>
										</div>
										<div class="price-wrap">
											<div class="price red">
												221<sup>00</sup>
											</div>
										</div>
										<div class="starWrapper">
												<img src="../image/star.jpg" alt="ratings">
												<div class="buy-btn-wrap"><button class="btn">Buy</button> </div>
										</div>
										<div class="offerDesc">
												<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Product 2-->

							<!-- Product 3 -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="healthpharm productBlock">
									<div class="badges red">
										<span>Save 20%</span>
									</div>
									<img src="../image/sprite/22_vitality.png"
										class="vitality-badge second" alt="mix-match">

									<div class="thumb">
										<img src="../image/product_vitality_3.jpg" alt="product1" />
									</div>
									<div class="detailContent clearfix">
										<h5>GNC</h5>
										<div class="content-height">
											<p>Herbal Plus&reg; Standarsied Ginko Bilobal</p>
										</div>
										<div class="price-wrap">
											<div class="price blue">
												214<sup>00</sup>
											</div>
											<div class="offer-blk">
												Was <span class="price">R44<sup>60</sup></span> <span class="red"> Save </span> <span class="price red">R44<sup>60</sup></span>
											</div>
										</div>
										<div class="starWrapper">
												<img src="../image/star.jpg" alt="ratings">
												<div class="buy-btn-wrap"><button class="btn">Buy</button> </div>
										</div>
										<div class="offerDesc">
												<p class="red">Save 20% off on selected GNC</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Product 3-->
						</div>

						<div class="clearfix bg-white bottom-marg">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
								<div class="doubleBlockWrapper">
									<div class="badges blue">
										<span>New</span>
									</div>
									<div class="doubleBlock">
										<div class="categoryType">
											New in <span> from </span> <a href="javascript:void(0)">
												Clarityn</a>
										</div>
										<h3>Allergy 10mg 30 Tablets</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-1.jpg" alt="category" />
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
								<div class="doubleBlockWrapper odd">
									<div class="doubleBlock">
										<div class="categoryType red">Mix and match 3 for 2</div>
										<h3 class="red">20% off skincare</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-2.jpg" alt="category" />
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
								<div class="doubleBlockWrapper">
									<div class="badges blue">
										<span>only at Clicks</span>
									</div>
									<img src="../image/sprite/22_vitality.png"
										class="vitality-badge second" alt="mix-match">
									<div class="doubleBlock">
										<div class="categoryType">
											New in <span> from </span> <a href="javascript:void(0)">Aramis</a>
										</div>

										<h3>Shaving foams and balms</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-3.jpg" alt="category" />
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 doubleBlockWrapper border-block fullBlock">
								<img src="../image/olay-thumb.jpg" alt="category" />
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block avacado-blk">
								<div class="doubleBlockWrapper">
									<div class="doubleBlock">
										<div class="categoryType">
											New in <span> from </span> <a href="javascript:void(0)">Bodyshop</a>
										</div>
										<h3>Avocado oil body butter</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-4.jpg" alt="category" />
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
								<div class="doubleBlockWrapper odd">
									<div class="doubleBlock">
										<div class="categoryType">
											New in <span> from </span> <a href="javascript:void(0)">Bodyshop</a>
										</div>
										<h3>Shaving foams and balms</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-5.jpg" alt="category" />
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix bottom-marg moreCategory bg-green healthlinks-block">
							<div
								class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleWrapper ">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
										<a class="arrow-right diabetes-icon" href="">Managing
											diabetes</a>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
										<a class="arrow-right stress-icon" href=""> Managing
											stress </a>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
										<a class="arrow-right weight-icon" href=""> Managing
											weight </a>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<a class="arrow-right stethoscope" href=""> Symptom
											check </a>
									</div>
								</div>
							</div>
						</div>
						<div class="contentWrapper moreCategory clearfix bottom-marg bg-white">
							<div
								class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleWrapper bgblue">
								<div class="pull-left">
									<h2>
										Healthy Living <span>articles<span>
									</h2>
								</div>
								<div class="pull-right">
									<a class="arrow-right text-right" href="javascript:void(0)">See
										all healthy living articles </a>
								</div>
							</div>
							<div class="clubCardBot">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<img src="../image/clicks-pharmacy-2.jpg"
										class="img-responsive" alt="category 1" />
									<h4>Blood pressure : why it's crucial to know your numbers</h4>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<img src="../image/clicks-pharmacy-1.jpg"
										class="img-responsive" alt="category 2" />
									<h4>Is a high-protein diet bad for your kidneys?</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<div id="div-overlay"></div>