<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="categoryOuter clearfix">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="mainCatSidebar">
							<div class="bg-white categorySidebar">
								<h2>In Toiletries</h2>
								<ul>
									<li><a href="javascript:void(0)">Deodorants</a></li>
									<li><a href="javascript:void(0)">Haircare</a></li>
									<li><a href="javascript:void(0)">Black haircare</a></li>
									<li><a href="javascript:void(0)">Hand &amp; body care</a></li>
									<li><a href="javascript:void(0)">Skin &amp; sun care</a></li>
									<li><a href="javascript:void(0)">Washing &amp; bathing</a></li>
									<li><a href="javascript:void(0)">Gifts</a></li>
									<li><a href="javascript:void(0)">For her</a></li>
									<li><a href="javascript:void(0)">For him</a></li>
								</ul>
							</div>
							<div class="bg-white categorySidebar">
								<h2>Featured brands</h2>
								<ul class="specialBrand">
									<li><a href="javascript:void(0)"><img
											src="../image/brand-1.jpg" class="img-responsive"
											alt="product1" /></a></li>
									<li><a href="javascript:void(0)"><img
											src="../image/brand-2.jpg" class="img-responsive"
											alt="product1" /></a></li>
									<li><a class="last" href="javascript:void(0)"><img
											src="../image/brand-3.jpg" class="img-responsive"
											alt="product1" /></a></li>
								</ul>
								<ul>
									<li><a href="javascript:void(0)">Aussie</a></li>
									<li><a href="javascript:void(0)">Dark &amp; Lovely</a></li>
									<li><a href="javascript:void(0)">John Frieda</a></li>
									<li><a href="javascript:void(0)">Lee Stafford</a></li>
									<li><a href="javascript:void(0)">L'Oréal Paris</a></li>
									<li><a href="javascript:void(0)">Nivea</a></li>
									<li><a href="javascript:void(0)">Original Source</a></li>
									<li><a href="javascript:void(0)">Schwarzkopf</a></li>
									<li><a href="javascript:void(0)">Sorbet</a></li>
									<li><a href="javascript:void(0)">The Body Shop</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 categoryPage">

						<div class="contentWrapper clearfix bgred">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleWrapper">
								<div class="pull-left">
									<h2>Latest promotions</h2>
								</div>
								<div class="pull-right text-right">
									<a class="arrow-right" href="javascript:void(0)">See all
										promotions</a>
								</div>
							</div>
						</div>

						<!-- Latest Promotions -->
						<div class="filterContent clearfix">
							<!-- Product 1-->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 plpsep ">
								<div class="productBlock">
									<img src="../image/sprite/mix-match-new.png"
										class="mix-match-badge" alt="mix-match">

									<div class="thumb">
										<img src="../image/miracles-thumb.jpg" alt="product1" />
									</div>

									<div class="detailContent clearfix">
										<h5>Dr.Miracles</h5>
										<div class="content-height">
											<p>Stimulating Moisturising Oil or Scalp hair Conditioner
												Treatment</p>
										</div>
										<div class="price-wrap">
											<div class="price red">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
												<img src="../image/star.jpg" alt="ratings">
												<div class="buy-btn-wrap"><button class="btn">Buy</button> </div>
										</div>
										<div class="offerDesc">
												<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Product 1-->

							<!-- Product 2-->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<img src="../image/sprite/mix-match-new.png"
										class="mix-match-badge" alt="mix-match">
									<div class="thumb">
										<img src="../image/dove-1.jpg" alt="product1" />
									</div>
									<div class="detailContent clearfix">
										<h5>Dove</h5>
										<div class="content-height">
											<p>Dove Pure Ctare Oil Restorative Treatment for Mature
												Hair 100ml</p>
										</div>
										
										<div class="price-wrap">
											<div class="price red">
												21<sup>00</sup>
											</div>
										</div>
										<div class="starWrapper">
												<img src="../image/star.jpg" alt="ratings">
												<div class="buy-btn-wrap"><button class="btn">Buy</button> </div>
										</div>
										<div class="offerDesc">
												<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Product 2-->

							<!-- Product 3 -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="healthpharm productBlock">
									<div class="badges red">
										<span>Save 20%</span>
									</div>
									<div class="thumb">
										<img src="../image/dove-2.jpg" alt="product1" />
									</div>
									<div class="detailContent clearfix">
										<h5>Dove</h5>
										<div class="content-height">
											<p>Dove Style+Care Replenishment and Heat Protect Spray
												200ml</p>
										</div>
										<div class="price-wrap">
											<div class="price red">
												24<sup>00</sup>
											</div>
											<div class="offer-blk">
												Was <span class="price">R44<sup>60</sup></span> <span class="red"> Save </span> <span class="price red">R44<sup>60</sup></span>
											</div>
										</div>
										<div class="starWrapper">
												<img src="../image/star.jpg" alt="ratings">
												<div class="buy-btn-wrap"><button class="btn">Buy</button> </div>
										</div>
										<div class="offerDesc">
												<p class="red">Save 20% on selected skin care</p>
											</div>
										
									</div>
								</div>
							</div>
							<!-- End Product 3-->
						</div>
						<div class="contentWrapper clearfix bg-white bottom-marg">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
								<div class="doubleBlockWrapper">
									<div class="badges blue">
										<span>New</span>
									</div>
									<div class="doubleBlock">
										<div class="categoryType">
											New in <span> from </span> <a href="javascript:void(0)">John
												Freida</a>
										</div>
										<h3>Dream curls daily styling spray</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-1.jpg" alt="category" />
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
								<div class="doubleBlockWrapper odd">
									<div class="doubleBlock">
										<div class="categoryType">
											Skincare <span> special offer </span>
										</div>
										<h3 class="red">20% off skincare</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-2.jpg" alt="category" />
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
								<div class="doubleBlockWrapper">
									<div class="badges blue">
										<span>only at Clicks</span>
									</div>
									<div class="badges blue second">
										<span>New</span>
									</div>
									<div class="doubleBlock">
										<div class="categoryType">
											New in <span> from </span> <a href="javascript:void(0)">Aramis</a>
										</div>
										<h3>Shaving foams and balms</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-3.jpg" alt="category" />
									</div>
								</div>
							</div>

							<div
								class="col-lg-6 col-md-6 col-sm-12 col-xs-12 doubleBlockWrapper border-block fullBlock">
								<img src="../image/olay-thumb.jpg" alt="category" />
							</div>

							<div
								class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block avacado-blk">
								<div class="doubleBlockWrapper">
									<div class="doubleBlock">
										<div class="categoryType">
											New in <span> from </span><a href="javascript:void(0)">Bodyshop</a>
										</div>
										<h3>Avocado oil body butter</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-4.jpg" alt="category" />
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
								<div class="doubleBlockWrapper odd">
									<div class="doubleBlock">
										<div class="categoryType">
											New in <span> from </span><a href="javascript:void(0)">Bodyshop</a>
										</div>
										<h3>Shaving foams and balms</h3>
										<p class="content-height">Donec ullamcorper nulla non
											metus auctor fringilla, etiam porta sem.</p>
										<button class="btn">Shop now</button>
									</div>
									<div class="promoImg">
										<img src="../image/category-5.jpg" alt="category" />
									</div>
								</div>
							</div>
						</div>

						<div class="clearfix moreCategory bg-white">
							<div
								class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleWrapper bgblue">
								<div class="pull-left">
									<h2>
										<a class="arrow-right" href=""> More clubcard <span>category<span></a>
									</h2>
								</div>
							</div>
							<div class="clubCardBot">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<img src="../image/clubcard-category-1.jpg" alt="category 1" />
									<h4>Skincare terms explained</h4>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<img src="../image/clubcard-category-2.jpg" alt="category 2" />
									<h4>An interview with Jeannie D</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>