<section class="main-container">
	<div class="bg-gray clearfix">
		<div class="container checkout-stage">	
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="bg-white clearfix checkout-confirm-left">
					<div class="pad-spacing clearfix">
						<div class="del-method">
							<h2>Delivery Method</h2>
							<div class="confirm-content">Standard speed delivery - Free</div>
							<div class="confirm-content">Up to 5 working days</div>
							<!-- <a href="#" class="edit">Edit these details</a> -->
						</div>
						<div class="del-method">
							<h2>Delivery Address</h2>
							<div class="confirm-content">Firstname Lastname</div>
							<div class="confirm-content">firstname@site.co.za</div>
							<div class="confirm-content">Address line 1</div>
							<div class="confirm-content">Address line 2</div>
							<div class="confirm-content">Suburb</div>
							<div class="confirm-content">City</div>
							<div class="confirm-content">Region</div>
							<div class="confirm-content">Post code</div>
							<div class="confirm-content">12345 12345678 </div>
							<a href="#" class="edit"> Edit Delivery Address</a>
						</div>
						<div class="del-method">
							<h2>Billing Address</h2>
							<div class="confirm-content">Firstname Lastname</div>
							<div class="confirm-content">Address line 1</div>
							<div class="confirm-content">Address line 2</div>
							<div class="confirm-content">Suburb</div>
							<div class="confirm-content">City</div>
							<div class="confirm-content">Region</div>
							<div class="confirm-content">Post code</div>
							<a href="#" class="edit"> Edit Billing Address</a>
						</div>
						<p>By placing this order, I confirm that I agree with Clicks' Terms &amp; Conditions.</p>
						<p>You will now be redirected to the PayU to complete your secure order. </p>
						<button class="btn btn-save-change">Confirm &amp; Pay now</button>
					</div> 
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="bg-white clearfix orderSummOuter">
					<h2>Order Summary</h2>
					<div class="order-summary-list">
						<ul>
							<li>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
										<div class="ord-summary-img">
											<a href="#"><img src="../image/img_cart_prd1.png" /></a>
										</div>
										<div class="ord-summary-content">
											<h4>John Frieda</h4>
											<p>Full Repair Protecting Root Lift Foam 200ml</p>
											<small class="price blue">2 x 21<sup>00</sup></small>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
										<small class="price blue">R21<sup>00</sup></small>
									</div>
							</li>
							<li>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
								<div class="ord-summary-img">
									<a href="#"><img src="../image/img_cart_prd2.png" /></a>
								</div>	
								<div class="ord-summary-content">
									<h4>Benefit</h4>
									<p>Benefit benetint Root Lift Foam 200ml</p>
									<small class="price blue">2 x 11<sup>00</sup></small></div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
										<small class="price blue">R21<sup>00</sup></small>
								</div>
							</li>
							<li>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
							<div class="ord-summary-img">
								<a href="#" class="cart-prod"><img src="../image/img_cart_prd3.png" /></a>
							</div>	
								<div class="ord-summary-content">
									<h4>Botanics</h4>
									<p>Organic MakeUp Face Eye Remover 75ml </p>
									<small class="price blue">2 x 21<sup>00</sup></small></div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<small class="price blue">R21<sup>00</sup></small>
							</div>
							</li>
						</ul>
							<section class="ord-summary-total clearfix">
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content">Subtotal</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									 <div class="price blue">R28<sup>60</sup></div>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content">Giftwrap</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="price blue">R28<sup>60</sup></div> 
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content red">Savings</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="savingsValue">
									<div class="price">-R28<sup>60</sup></div> 
									</div>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content">Delivery from</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="price blue">R28<sup>60</sup></div> 
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content">
									Total <span>(Excl. delivery)</span>
									<p class="specialCheckout">Your order includes R25 VAT</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="grandTotal"><div class="price blue">R185<sup>60</sup></div> </div>
								</div>
							</section>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>