<section class="main-container">
	<div class="bg-gray clearfix">
		<div class="container checkout-stage">	
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="bg-white clearfix checkout-confirm-left">
					<div class="pad-spacing clearfix">
						<div class="del-method checkout-slider">
							<h2>Delivery Address</h2>
							<div class="checkout-content">
								<div class="confirm-content"><strong>Lerato Coetzee</strong></div>
								<div class="confirm-content">1400 Lorem ipsum, Cape Town, Western Cape, 1000</div>
								<div class="confirm-content">1234567890</div>
								<a href="#">Edit these details</a>
								<a href="#" class="edit btn">Use this address</a>
							</div>
						</div>
						<div class="del-method checkout-slider">
							<div class="checkout-content">
								<div class="confirm-content"><strong>Lerato Coetzee</strong></div>
								<div class="confirm-content">1400 Lorem ipsum, Cape Town, Western Cape, 1000</div>
								<div class="confirm-content">1234567890</div>
								<a href="#">Edit these details</a>
								<a href="#" class="edit btn">Use this address</a>
							</div>
						</div>
						<a href="javascript:void(0)" class="addNew">Add new delivery address</a>
					</div> 
				</div>
				
				<div class="bg-white clearfix ch-del-outer">
					<div class="pad-spacing form-wrap clearfix">
					<div class="deliver_areaSearch">
					<h2>Delivery Area</h2>
					<p>Tell us the destination suburb or postcode to check whether we deliver to your area.</p>
						<form id="chSearchForm" action="" method="get">
							<span class="storesearchicon"></span>
							<input type="text" class="text" placeholder="Oranjezicht">
							<button class="btn btn-save-change">Search</button>
						</form>
						</div>						
						<div class="deliver_areaForm">
							<h2>Delivery Address</h2>
						<div class="form-group clearfix">
							<label>Address line 1</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Address line 2</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Suburb</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>City <span>- optional</span></label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Province <span> - Optional</span></label>
							<select id="province">
								<option value="">Please select</option>
								<option value="">data -1</option>
								<option value="Jan">data -2</option>
								<option value="Feb">data -3</option>
							</select>
						</div>
						<div class="form-group clearfix">
							<label>Postcode</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Delivery instructions <span>- optional</span></label> 
							<textarea></textarea>
						</div>
						<div class="form-group clearfix">
							<label>First name</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Last name</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Email address<span> - so we can confirm your order</span></label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Cellphone number <span> - in case we need to contact you</span></label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Alternative number  <span>- optional</span></label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							 <label>Preferred contact method</label>
							 <div class="clearfix">
								<input type="radio" id="emailPref" class="radio-hide" name="payMedicalAid" checked> <label class="radio-box" for="emailPref">
								<span>Email</span></label>
							 </div>
							<div class="clearfix">
								<input type="radio" id="smsPref" class="radio-hide" name="payMedicalAid"> <label class="radio-box" for="smsPref">
								<span>SMS</span></label>
							</div>
						</div>
						<div class="form-group clearfix useAddressOuter">
							<input type="checkbox" name="useAddress" class="check-hide" id="useAddress">
								<label for="useAddress" class="check-box">
								<span>Use this delivery address as your billing address (the address that appears on your bank statement)</span>
							</label>
							<p>(If not, you can add a billing address in the next step.)</p>
						</div>
						<div class="form-group clearfix">
							<input type="checkbox" name="saveAddress" class="check-hide" id="saveAddress">
								<label for="saveAddress" class="check-box">
								<span>Save these delivery address details</span>
							</label>
							<p>We will create an account so you can checkout faster next time you shop with us.</p>
						</div>
						<h2>Account Details</h2>
						<div class="form-group clearfix">
							<label>Email address</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Password</label> <input type="text" value="" placeholder="Password" class="form-control mandatory">
						</div>
						<div class="form-group clearfix">
							<label>Confirm password</label>
							<input type="text" value="" placeholder="Confirm password" class="form-control mandatory">
						</div>
						<div class="form-group saResident">
					<!-- id="dobHide" -->
					<label>Are you a South African resident?</label>
					<div class="form-group clearfix">
						<div class="clearfix">
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 paddingNone">
								<div class="custom_hide radioOuter">
									<input id="saResiYes" name="isSAResident" class="radio-hide" type="radio" value="1" checked="checked">
									<label for="saResiYes">Yes</label><!-- name="ccSA" id="saResiYes" -->
								</div>
							</div>
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 paddingNone inputSAIDPlaceholder">
								<input name="IDNumber" type="text" value="" placeholder="Please enter your SA ID number" class="form-control">
							</div>
						</div>
						<div class="clearfix">
							<div class="customno radioOuter">
							<input id="saResiNo" name="isSAResident" class="radio-hide valid" type="radio" value="0" aria-invalid="false">
							<label for="saResiNo">No</label>
							</div>
						</div>
					</div>
					<div class="clearfix dobSaOuterFirst Show">
					<!--  id="cc" -->
						<label>Date of Birth</label>
						<div class="dob">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
							<div class="dobWrapper">
							<div class="control-group">
							<label class=" displayNone control-label dobSa12" for="customer.create.account.SA_DOB_day">
							Date
							</label>
							<div class="controls">
							<select id="date" name="SA_DOB_day" class="dobSa12 dateCheck valid" aria-required="true" aria-invalid="false">
							<option value="" selected="selected"></option>
							<option value="1">1</option>
							<option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select></div>
							</div>
							</div>
							</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 month">
						<div class="monthWrapper">
						<div class="control-group">
						<label class=" displayNone control-label " for="customer.create.account.SA_DOB_month">
						Month
						</label>
						<div class="controls">
						<select id="month" name="SA_DOB_month" class="monthCheck valid" aria-required="true" aria-invalid="false"><option value="" disabled="disabled" selected="selected"></option>
						<option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select></div>
						</div>
						</div>
						</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 year">
								<div class="yearWrapper">
									<div class="control-group">
									<label class=" displayNone control-label " for="customer.create.account.SA_DOB_year">Year</label>
									<div class="controls">
									<select id="year" name="SA_DOB_year" class="yearCheck valid" aria-required="true" aria-invalid="false"><option value="Year" selected="selected"></option>
									<option value="1930">1930</option><option value="1931">1931</option><option value="1932">1932</option><option value="1933">1933</option><option value="1934">1934</option><option value="1935">1935</option><option value="1936">1936</option><option value="1937">1937</option><option value="1938">1938</option><option value="1939">1939</option><option value="1940">1940</option><option value="1941">1941</option><option value="1942">1942</option><option value="1943">1943</option><option value="1944">1944</option><option value="1945">1945</option><option value="1946">1946</option><option value="1947">1947</option><option value="1948">1948</option><option value="1949">1949</option><option value="1950">1950</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option></select></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="delMethodRate">
				<h2>Delivery Method <strong class="pull-right">Cost</strong></h2>
				<div class="radioOuter clearfix">
				<input id="delMethodstand" name="delMethod" class="radio-hide" type="radio" value="0" checked="checked">
				<label for="delMethodstand">Standard courier <span>(up to 5 working days)</span>  </label>
				<div class="price pull-right">R50</div>
				</div>
				<!--  <div class="radioOuter clearfix">
				<input id="delMethodExp" name="delMethod" class="radio-hide" type="radio" value="1">
				<label for="delMethodExp">Expedited</label> 
				</div>
				-->		
				</div>
						<button class="btn btn-save-change">Continue</button>
					</div> 
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="bg-white clearfix orderSummOuter">
					<h2>Order Summary</h2>
					<div class="order-summary-list">
						<ul>
							<li>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
										<div class="ord-summary-img">
											<a href="#"><img src="../image/img_cart_prd1.png" /></a>
										</div>
										<div class="ord-summary-content">
											<h4>John Frieda</h4>
											<p>Full Repair Protecting Root Lift Foam 200ml</p>
											<small class="price blue">2 x 21<sup>00</sup></small>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
										<small class="price blue">R21<sup>00</sup></small>
									</div>
							</li>
							<li>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
								<div class="ord-summary-img">
									<a href="#"><img src="../image/img_cart_prd2.png" /></a>
								</div>	
								<div class="ord-summary-content">
									<h4>Benefit</h4>
									<p>Benefit benetint Root Lift Foam 200ml</p>
									<small class="price blue">2 x 11<sup>00</sup></small></div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
										<small class="price blue">R21<sup>00</sup></small>
								</div>
							</li>
							<li>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
							<div class="ord-summary-img">
								<a href="#" class="cart-prod"><img src="../image/img_cart_prd3.png" /></a>
							</div>	
								<div class="ord-summary-content">
									<h4>Botanics</h4>
									<p>Organic MakeUp Face Eye Remover 75ml </p>
									<small class="price blue">2 x 21<sup>00</sup></small></div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<small class="price blue">R21<sup>00</sup></small>
							</div>
							</li>
						</ul>
							<section class="ord-summary-total clearfix">
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content">Subtotal</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									 <div class="price blue">R28<sup>60</sup></div>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content">Giftwrap</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="price blue">R28<sup>60</sup></div> 
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content red">Savings</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="savingsValue">
									<div class="price">-R28<sup>60</sup></div> 
									</div>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content">Delivery from</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="price blue">R28<sup>60</sup></div> 
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
									<div class="summary-content">
									Total <span>(Excl. delivery)</span>
									<p class="specialCheckout">Your order includes R25 VAT</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="grandTotal"><div class="price blue">R185<sup>60</sup></div> </div>
								</div>
							</section>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>