<footer role="footer" class="checkoutFooter">
	<div class="copyright">
		<div class="container">
			<p class="copyrightText hidden-xs">© Clicks 2015</p>
			<p class="pull-right foot-otherlinks">
				<a href="#">FAQ</a>
				<a href="#">Delivery</a>
				<a href="#">Returns</a>
				<a href="#">Contact us</a>
				<a href="#">Legal</a>
				<span class="visible-xs">© Clicks 2015</span>
			</p>
		</div>
	</div>
</footer>	