<header> 
	<div class="header">
	<div class="topColor"></div>
		<div class="logo-block logo-checkout">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<a href="#">
							<img src="../image/logo.png" alt="logo"/>
						</a>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="pull-right backToLink">
							<a href="#">Back to shopping</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>