<section class="main-container">
	<div class="bg-gray clearfix">
		<div class="container checkout-stage">	
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-push-6 col-md-push-6">
				<div class="bg-white clearfix orderSummOuter">
					<h2>Order Summary</h2>
					<div class="order-summary-list">
						<ul>
							<li>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
										<div class="ord-summary-img">
											<a href="#"><img src="../image/img_cart_prd1.png" /></a>
										</div>
										<div class="ord-summary-content">
											<h4>John Frieda</h4>
											<p>Full Repair Protecting Root Lift Foam 200ml</p>
											<small class="price blue">2 x 21<sup>00</sup></small>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
										<small class="price blue">R21<sup>00</sup></small>
									</div>
							</li>
							<li>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
								<div class="ord-summary-img">
									<a href="#"><img src="../image/img_cart_prd2.png" /></a>
								</div>	
								<div class="ord-summary-content">
									<h4>Benefit</h4>
									<p>Benefit benetint Root Lift Foam 200ml</p>
									<small class="price blue">2 x 11<sup>00</sup></small></div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
										<small class="price blue">R21<sup>00</sup></small>
								</div>
							</li>
							<li>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
							<div class="ord-summary-img">
								<a href="#" class="cart-prod"><img src="../image/img_cart_prd3.png" /></a>
							</div>	
								<div class="ord-summary-content">
									<h4>Botanics</h4>
									<p>Organic MakeUp Face Eye Remover 75ml </p>
									<small class="price blue">2 x 21<sup>00</sup></small></div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<small class="price blue">R21<sup>00</sup></small>
							</div>
							</li>
						</ul>
							<section class="ord-summary-total clearfix">
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
									<div class="summary-content">Subtotal</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									 <div class="price blue">R28<sup>60</sup></div>
								</div>
								<!-- <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
									<div class="summary-content">Giftwrap</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="price blue">R28<sup>60</sup></div> 
								</div> -->
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
									<div class="summary-content red">Savings</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="savingsValue">
									<div class="price">-R28<sup>60</sup></div> 
									</div>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
									<div class="summary-content">Delivery from</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="price blue">R28<sup>60</sup></div> 
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
									<div class="summary-content">
									Total <span>(Excl. delivery)</span>
									<p class="specialCheckout">Your order includes R25 VAT</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<div class="grandTotal"><div class="price blue">R185<sup>60</sup></div> </div>
								</div>
							</section>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-pull-6 col-md-pull-6">
				<div class="bg-white clearfix checkout-left">
					<div class="pad-spacing form-wrap clearfix">
						<h2>Billing Address</h2>
						<div class="form-group clearfix">
							<input type="checkbox" name="billingAddress" class="check-hide" id="billingAddress"> 
							<label for="billingAddress" class="check-box">
								<span> Use the delivery address as my billing address </span>
							</label>
						</div>
						<div class="billinAvailable">
							<div class="del-method">
								<div class="confirm-content">Firstname Lastname</div>
								<div class="confirm-content">Address line 1</div>
								<div class="confirm-content">Address line 2</div>
								<div class="confirm-content">Suburb</div>
								<div class="confirm-content">City</div>
								<div class="confirm-content">Region</div>
								<div class="confirm-content">Post code</div>
							
							</div>
						</div>
						<div class="nobillinAvailable">
						<div class="form-group clearfix">
							<label>First name</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Last name</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Email address</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Address line 1</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Address line 2</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Suburb</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>City <span>- optional</span></label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Province<span>- optional</span></label> 
							<select class="basic">
							<option>szsadasd</option>
							<option>szsadasd</option>
							<option>szsadasd</option>
							<option>szsadasd</option>
							</select>
						</div>
						<div class="form-group clearfix">
							<label>Postcode</label> <input type="text" value="" class="form-control">
						</div>
						<div class="form-group clearfix">
							<label>Delivery instructions <span>- optional</span></label> 
							<textarea></textarea>
						</div>
						</div>
						<!-- <p>We will create an account so you can checkout faster next time you shop with us.</p>
						<button class="btn btn-save-change">Continue</button> -->
					</div> 
				</div>
				
				<div class="bg-white clearfix checkout-left">
					<div class="orderSummOuter payMethod">
						<h2>Payment</h2>
						<h3>You will be transferred to PayU to complete the order.</h3>
						<span>(You will not need to sign up for a PayU account.) </span>
						
						<h4>Accepted Medthods of Payment</h4>
						<div class="paymentBtns">
							<div class="border-full"><img src="../image/checkout/ucount.jpg"></div>
							<div class="border-full"><img src="../image/checkout/visa.jpg"></div>
							<div class="border-full"><img src="../image/checkout/master.jpg"></div>
							<div class="border-full"><img src="../image/checkout/paypal.jpg"></div>
							<div class="border-full"><img src="../image/checkout/eft.jpg"></div>
						 </div>
						 <button class="btn btn-save-change">Continue</button>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>