<!-- <div class="clearfix bg-white editprofiletop order-top-space">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1>Edit your account details</h1>
			</div>
		</div>
	</div>
</div>  -->
<section class="checkoutTop">
	<div class="container">
			<div class="row">
					<div class="col-md-6 col-sm-7">
						<div class="acc-heading1">
							<div class="secureCheck">Secure checkout</div>
							<h1>Payment</h1>
						</div>
					</div>
					<div class="col-md-6 col-sm-5">
						<div class="pull-right">
							<ul class="checkoutSteps">
							<li><a href="#">1</a><div class="checkoutStepsC">Delivery</div></li>
							<li><a class="active" href="#">2</a><div class="checkoutStepsC">Payment</div></li>
							<li><a  href="#">3</a><div class="checkoutStepsC">Confirmation</div></li>
							</ul>
						</div>
					</div>
				</div>
	</div>
</section>	