<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white "><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse">
										<li><a href="">My rewards activity</a></li>
										<li><a href="">My promotions & offers</a></li>
										<li><a href="">Join BabyClub</a></li>
										<li class="active"><a href="#">Activate Vitality HealthyCare</a></li>
										<li><a href="">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse">
										<li ><a href="">Order history</a></li>
										<li><a href="">Saved addresses</a></li>
										<li><a href="">My lists:</a>
											<ul class="shop-ul">
												<li><a href="">My shopping list</a></li>
												<li><a href="">My wishlist</a></li>
											</ul>
										</li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle closed"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li class="active"><a href="#">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->

					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="changePassword-wrap">
							<form id="changePassword" action="" method="post">
								<div class="row ">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class=" bg-white  clearfix">
											<div class="clearfix bg-light-blue">
												<div
													class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
													<h2>Change Password</h2>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 clearfix">
												<div class="row">
													<div class="pad-spacing form-wrap">
														<div class="form-group clearfix">
															<label> Current Password</label> <input type="text"
																value="" placeholder="Current Password"
																class="form-control">
														</div>
														<div class="form-group clearfix">
															<label>New Password</label> <input type="text" value=""
																placeholder="New Password" class="form-control">
														</div>
														<div class="form-group clearfix">
															<label>Confirm New Password</label> <input type="text"
																value="" placeholder="Confirm New Password"
																class="form-control">
														</div>
														<button class="btn btn-save-change">Save New Password</button>
														<!--  <div class="message">Your Password changed successfully</div> -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- End Right side Conent -->
				</div>
				<!-- End wrapper div -->
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>