<section class="main-container">
	<div class="createOuterWrapper bg-gray">
		<div class="container">
			<div class="createWrapper clearfix ">
				<form action="#" id="checkoutLogin" class="clearfix accLandOuter">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="bg-white checkoutLoginWrapper">
								<div class="clearfix bg-light-blue">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
										<h2>Sign in</h2>
									</div>
								</div>
								<div class="bg-white clearfix bc-login">
									<div class="pad-spacing form-wrap">
										<div class="form-group clearfix">
											<label>Email address</label>
											<input type="email" value="" placeholder="" class="form-control">
										</div>
										<div class="form-group clearfix">
											<label>Password</label>
											<input type="email" value="" placeholder="" class="form-control">
										</div>
										<div class="cl-quick-links clearfix">
										<div class="pull-left">
										<a href="#">Forgotten your password?</a>
										</div>
										<div class="pull-right">
										<a href="#">Forgotten all details?</a>
										</div>
										</div>
										<div class="form-group clearfix">
											<input type="checkbox" name="sms" class="check-hide" id="remMe">
											<label for="remMe" class="check-box">
												<span><strong>Remember me -</strong> optional</span>
											</label>
										</div>
										<button type="submit" class="btn btn-save-change">Sign in &amp; Checkout</button>
										<div class="separator"></div>
										<h4>New to Clicks website?</h4>
										<p><strong>Create an account to shop online, earn ClubCard points and spend rewards</strong></p>
										<button type="submit" class="btn btn-save-change">Register &amp; Checkout</button>
										<h4>Shop online as a guest</h4>
										<button type="submit" class="btn btn-save-change">Checkout as Guest</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>