<section class="main-container">
	<div class="home-page-wrapper bg-gray">
		<div class="container">

			<!-- Notification start-->
			<div class="home-notification">
				<a class="plus-logo" href=""> Website announcement space : new store opening, double
						points in-store, etc </a>
			</div>
			<!-- Notification end-->

			<!-- Three green buttons start-->
			<div class="clinic-links clearfix">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<a href="#" class="medicine-list arrow-right"> Order medicines
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<a href="#" class="manage-script arrow-right"> Manage Scripts </a>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<a href="#" class="stethoscope arrow-right"> Check your symptoms
					</a>
				</div>
			</div>
			<!-- Three green buttons end-->

			<!-- Promotions Block start-->
			<div class="home-promotions">
				<div class="clearfix bgred">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
						<div class="pull-left">
							<h2>Latest promotions</h2>
						</div>
						<div class="pull-right text-right hidden-xs">
							<a class="arrow-right" href="javascript:void(0)">See all
								promotions</a>
						</div>
					</div>
				</div>
				<div class="promo-wrap clearfix">
					<ul class="home-promo-slider product-slider clearfix" data-classname="home-promo-slider" data-minslide="3">
						<li>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-zero">
								<img src="../image/clicks-home/latest-promo-1.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										 <div class="caption-wrap">
											<img src="../image/clicks-home/promo-logo-1.png"
												alt="only at clicks" />
											<h4>Garnier</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing
												elit.</p>
											<button class="btn">Shop now</button>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-zero">
								<img src="../image/clicks-home/latest-promo-2.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										<div class="caption-wrap">
											<img src="../image/clicks-home/promo-logo-2.png"
												alt="only at clicks" />
											<h4>Almay</h4>
											<p>Lorem ipsum dolor sit
												amet, consectetur adipiscing elit.</p>
											<button class="btn">Shop now</button>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-zero">
								<img src="../image/clicks-home/latest-promo-3.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										<div class="caption-wrap">
									<img src="../image/clicks-home/promo-logo-2.png"
										alt="only at clicks" />
									<h4>Accessories</h4>
									<p>Lorem ipsum dolor sit amet,
										consectetur adipiscing elit.</p>
									<button class="btn">Shop now</button>
								</div>
								</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Promotions Block end-->

			<!-- Promotions links start -->
			<div class="promo-links clearfix">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h4>Don't miss exclusive savings with Clicks ClubCard</h4>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 promo-home-text">
					<a href="#">Sign in</a> to see all savings or <a href="#">Join</a> ClubCard
				</div>
			</div>
			<!-- Promotions links end -->


			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 body-shop">
					<div class="body-shop-promo">
						<div class="clearfix bgskyblue">
							<div
								class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
								<div class="pull-left">
									<h2>New</h2>
								</div>
								<div class="pull-right text-right hidden-xs">
									<a class="arrow-right" href="javascript:void(0)">See all
										new </a>
								</div>
							</div>
						</div>
					</div>
					<div class="body-shop-wrap">
					<ul class="new-arrivals clearfix">
						<li>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 body-content">
									<img src="../image/clicks-home/body-shop1.jpg">
									<div class="banner_caption new_promos">
										<div class="caption-inner">
											<div class="caption-wrap">
												<img src="../image/clicks-home/new_arrival_badge.png"
													alt="only at clicks" />
												<h4>Nip + Fab</h4>
												<p>Lorem ipsum dolor sit amet, consectetur</p>
												<button class="btn">Shop now</button>
											</div>
										</div>
									</div>
								</div>
							</li>
						<li>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 body-content">
									<img src="../image/clicks-home/body-shop1.jpg">
									<div class="banner_caption new_promos">
										<div class="caption-inner">
											<div class="caption-wrap">
												<img src="../image/clicks-home/new_arrival_badge.png"
													alt="only at clicks" />
												<h4>Nip + Fab</h4>
												<p>Lorem ipsum dolor sit
													amet, consectetur </p>
												<button class="btn">Shop now</button>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 body-shop">
					<div class="external-ads">
						<img src="../image/clicks-home/external-ad.jpg" alt="external Ads">
					</div>
				</div>
			</div>

			<!-- Only at clicks slider -->
			<div class="only-at-clicks">
				<!-- Partner slider heading  -->
				<div class="clearfix bg-light-blue">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
							<h2>Only at Clicks</h2>
					</div>
				</div>
				<!-- Partner slider -->
				
				<div class="partner-wrap clearfix bg-white">
				<div class="partner-spacing col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<ul class="only-partner-slider slider-component" data-classname="only-partner-slider" data-maxslide="7">
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-1.png" /></a>
							</div>
						</li>
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-2.png" /></a>
							</div>
						</li>
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-3.png" /></a>
							</div>
						</li>
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-4.png" /></a>
							</div>
						</li>
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-5.png" /></a>
							</div>
						</li>
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-6.png" /></a>
							</div>
						</li>
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-7.png" /></a>
							</div>
						</li>
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-3.png" /></a>
							</div>
						</li>
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-2.png" /></a>
							</div>
						</li>
						<li>
							<div class="col-md-12 col-sm-12 col-xs-12 ">
								<a href="#"><img
									src="../image/clicks-home/carousel-images/ico-1.png" /></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Only at clicks slider end -->

		<!-- From Clicks clubcard start -->
		<div class="moreCategory home-clubcard clearfix">
			<div class="clearfix bg-light-blue">
				<div
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
					<div class="pull-left">
						<h2>
							From Clicks <span>ClubCard</span>
						</h2>
					</div>
					<div class="pull-right hidden-xs">
						<a class="arrow-right text-right" href="">Find out more
							Clubcard </a>
					</div>
				</div>
			</div>
			<div class="home-club-wrap clearfix">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img src="../image/clicks-home/home-clubcard1.jpg"
						alt="category 1">
					<h4>Join clubcard</h4>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img src="../image/clicks-home/home-clubcard2.jpg"
						alt="category 1">
					<h4>Magazine issue 4. Spring 2014 out now!</h4>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img src="../image/clicks-home/home-clubcard3.jpg"
						alt="category 2">
					<h4>Are you using all your clubcard benefits?</h4>
				</div>
			</div>
		</div>
		<!-- From Clicks clubcard end -->

			<!-- From Clicks clubcard start 
			<div class="home-clubcard clearfix">
				<div class="clearfix bg-light-blue">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
						<div class="pull-left">
							<h2>
								From Clicks <span>ClubCard</span> 
							</h2>
						</div>
						<div class="pull-right hidden-xs">
							<a class="arrow-right text-right" href="">Find out more Clubcard </a>
						</div>
					</div>
				</div>
				<div class="babyArticlesOuter">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="col-lg-12 col-md-12 col-sm-5 col-xs-12">
						<a href="#"><img src="../image/clicks-home/home-clubcard1.jpg" alt="category 1"></a>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clubborder">
						<h4><a href="#">Join clubcard</a></h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="col-lg-12 col-md-12 col-sm-5 col-xs-12">
						<a href="#"><img src="../image/clicks-home/home-clubcard2.jpg" alt="category 1"></a>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clubborder">
						<h4><a href="#">Magazine issue 4. Spring 2014 out now!</a></h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="col-lg-12 col-md-12 col-sm-5 col-xs-12">
						<a href="#"><img src="../image/clicks-home/home-clubcard3.jpg" alt="category 2"></a>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h4><a href="#">Are you using all your clubcard benefits?</a></h4>
					</div>
				</div>
				</div>
				
			</div>
			 From Clicks clubcard end -->
			 
			 
		</div>
	</div>
</section>
<div id="div-overlay"></div>