<section class="main-container bg-gray clearfix articlePage">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				
				<!-- Club card video section-->
				<div class="clearfix bg-light-blue">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
								<h2>Feel good rewards start here</h2>
						</div>
				</div>
				<div class="CC_rewards_wrap clearfix">
					<div class="col-lg-7 col-md-7">
							<ul>
								<li>Join ClubCard in-store or online for free</li>
								<li>Swipe your ClubCard when you shop in-store and Sign in to earn points when you shop online (South Africa only)</li>
								<li>Earn at least 100 points in a qualification period to receive cashback to spend in-store and online</li>
							</ul>
							<button class="btn primary_btn">Join Clubcard today</button>
						</div>
						 
						
						<div class="col-lg-5 col-md-5">
							<div class="videoOuterWrapper">
								<div class="videoOuter">
									<a data-toggle="modal" data-target="#myModal" class="popup" ></a>
									<a data-toggle="modal" data-target="#myModal" ><img src="../image/clubcard_index/video_bg.jpg" /></a>
								</div>
							</div>
						</div>
				</div>
				<!-- Club card video section-->
				
				
				
				<!-- Club card cashback section-->
				<div class="clearfix darknavy">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
								<h2>How does it work?</h2>
						</div>
				</div>
				<div class="clubcard_icons_wrap clearfix">
					<div class="club_points">
						Spend R500 = Earn 2 points ClubCard Poins*  |  100 ClubCard points = R1000 cashback,
						<span>Issued 6 times a year, when you earn <mark> 100 points </mark></span>
					</div>
					
					<div class="clubcard_icons">
						<div class="col-lg-4">
							<div class="icon_wrapper">
								<img src="../image/clubcard_index/club-card-1.jpg" alt="clubcard">
								<h4>Blue ClubCard</h4>
								<p>Earn points and get exclusive savings, in-store and online.</p>
							</div>
							<span>* Excluding Pharmacy purchases</span>
						</div>
						<div class="col-lg-4">
							<div class="icon_wrapper">
								<img src="../image/clubcard_index/club-card-2.jpg" alt="clubcard">
								<h4>Qualify for a Gold ClubCard</h4>
								<p>Enjoy extra feel good rewards when you've earned 300 points in a twelve month period.</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="icon_wrapper">
								<img src="../image/clubcard_index/club-card-3.jpg" alt="clubcard">
								<h4>Activate Vitality HealthyCare</h4>
								<p>If you're a Discovery Health or Vitality member: Earn up to 25% cashback on 2,500+ HealthyCare products </p>
								
								<a href="#">Find out more</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="icon_wrapper">
								<img src="../image/clubcard_index/club-card-6.jpg" alt="clubcard">
								<h4>Earn & spend UCount rewards</h4>
								<p>Standard Bank UCount rewards members can pay with points at Clicks, and earn rewards points too. </p>
								
								<a href="#">Find out more</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="icon_wrapper">
								<img src="../image/clubcard_index/club-card-5.jpg" alt="clubcard">
								<h4>Join BabyClub </h4>
								<p>Join BabyClub for exclusive rewards, savings and expert advice.</p>
								<a href="#">Find out more</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="icon_wrapper">
								<img src="../image/clubcard_index/club-card-4.jpg" alt="clubcard">
								<h4>SeniorClub</h4>
								<p>Be automatically enroled for SeniorClub when you turn 60 for double points on the second Wednesday of every month</p>
							</div>
						</div>
					</div>
					
					<div class="cashback_dates clearfix">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h4>
								Each cashback qualification period runs for 2 months, and there are 6 periods per year:
							</h4>
							<div class="cashback-days">
								<dl>
									<dt>16 November - 15 January</dt>
									<dd>16 January - 15 March</dd>
								</dl>	
								<dl>
									<dt>16 March - 15 May </dt>
									<dd>16 May - 15 July </dd>
								</dl>	
								
								<dl>
									<dt>16 July - 15 September </dt>
									<dd>16 September - 15 November</dd>
								</dl>	
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h4>
								You'll receive cashback on:
							</h4>
							
							<div class="dates_display">
								<div class="date_val">15</div>
								<div class="month_val">Jan</div>
							</div>
							
							<div class="dates_display">
								<div class="date_val">15</div>
								<div class="month_val">Mar</div>
							</div>
							
							<div class="dates_display">
								<div class="date_val">15</div>
								<div class="month_val">May</div>
							</div>
							
							<div class="dates_display">
								<div class="date_val">15</div>
								<div class="month_val">Sep</div>
							</div>
							
							<div class="dates_display">
								<div class="date_val">15</div>
								<div class="month_val">Jul</div>
							</div>
							
							<div class="dates_display">
								<div class="date_val">15</div>
								<div class="month_val">Dec</div>
							</div>
							
						</div>
					</div>
					
				</div>
				<!-- Club card cashback section-->
				
				<!-- partner slider  -->
						<div class="accLandOuter ">
							<!-- Partner slider heading  -->
							<div class="clearfix bg-light-blue">
								<div
									class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-custom">
									<div class="pull-left">
										<h2>Earn ClubCard points and exclusive savings with our
											partners</h2>
									</div>
									<div class="pull-right text-right">
										<a class="arrow-right" href="javascript:void(0)">See all
											partners</a>
									</div>
								</div>
							</div>
							<!-- Partner slider -->
							<div class="partner-wrap clearfix bg-white">
								<div
									class="partner-spacing col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<ul class="only-partner-slider slider-component" data-classname="only-partner-slider" data-maxslide="7">
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-1.jpg" /></a>
											</div>
										</li>
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-2.jpg" /></a>
											</div>
										</li>
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-3.jpg" /></a>
											</div>
										</li>
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-4.jpg" /></a>
											</div>
										</li>
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-5.jpg" /></a>
											</div>
										</li>
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-6.jpg" /></a>
											</div>
										</li>
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-7.jpg" /></a>
											</div>
										</li>
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-8.jpg" /></a>
											</div>
										</li>
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-9.jpg" /></a>
											</div>
										</li>
										<li>
											<div class="col-md-12 col-sm-12 col-xs-12 ">
												<a href="#"><img
													src="../image/account-land/acc-partner-10.jpg" /></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- partner slider  -->
							
						<!-- Latest Promotions -->
							<div class="clearfix ">
								<div class="clearfix bgdarkblue">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
										<div class="pull-left">
											<h2>Financial services <cite>- Earn 5% cashback annually on insurance premiums </cite></h2>
										</div>
										<div class="pull-right text-right">
											<a class="arrow-right" href="javascript:void(0)">See all
												services</a>
										</div>
									</div>
								</div>
								
								<div class="financial_data">
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper promo_blocks">
										<div class="doubleBlock">
											<h4>Personal funeral insurance cover</h4>
											<p>
												Up to R7,500 Funeral cover - at no cost to you!
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd promo_blocks">
										<div class="doubleBlock">
											<h4 class="red">Family funeral insurance cover</h4>
											<p>
												Cover from R10,000 - R20,000
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper promo_blocks">
										<div class="doubleBlock">
											<h4>Life cover</h4>
											<p>Death, disability and core dread disease benefits
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd promo_blocks">
										<div class="doubleBlock">
											<h4>Car and home cover</h4>
											<p>Three different cover levels, all including HomeDrive
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd promo_blocks">
										<div class="doubleBlock">
											<h4>Hospital event cover</h4>
											<p>Cash pay-outs based on the selected plan and severity
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd promo_blocks">
										<div class="doubleBlock">
											<h4>Women-only Cancer and accident cover</h4>
											<p>Up to R100,000 on diagnosis of certain cancers or death
											</p>
										</div>
									</div>
								</div>
								</div>
							</div>
							<!-- Latest Promotions -->
							
			<!-- Promotions Block start-->
			<div class="home-promotions clubpromo">
				<div class="clearfix bgred">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
						<div class="pull-left">
							<h2>Don't miss ClubCard exclusive savings</h2>
						</div>
						<div class="pull-right text-right hidden-xs">
							<a class="arrow-right" href="javascript:void(0)">See all clubcard savings</a>
						</div>
					</div>
				</div>
				<div class="promo-wrap clearfix">
					<ul class="home-promo-slider product-slider clearfix" data-classname="home-promo-slider" data-minslide="3">
						<li>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-zero">
								<img src="../image/promo-vitamins.jpg" alt="only at clicks">
								<div class="banner_caption">
									<div class="caption-inner">
										 <div class="caption-wrap">
											<img src="../image/clicks-home/promo-logo-1.png" alt="only at clicks" />
											<img src="../image/clicks-home/promo-logo-2.png" alt="only at clicks" />
											<h4>Healthbasics Multi-vitamins</h4>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<button class="btn">Shop now</button>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-zero">
								<img src="../image/promo-rest.jpg" alt="only at clicks">
								<div class="banner_caption">
									<div class="caption-inner">
										<div class="caption-wrap">
											<img src="../image/clicks-home/promo-logo-2.png"
												alt="only at clicks" />
											<img src="../image/badges/vitality.png" alt="only at clicks" />	
											<h4>Restful sleep remedies</h4>
											<p>Lorem ipsum dolor sit
												amet, consectetur.</p>
											<button class="btn">Shop now</button>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-zero">
								<img src="../image/clubcard_index/club_promo_3.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										<div class="caption-wrap">
									<img src="../image/clicks-home/promo-logo-2.png" alt="only at clicks" />
									<img src="../image/badges/vitality.png" alt="only at clicks" />	
									<h4>Cold & flu remedies</h4>
									<p>Lorem ipsum dolor sit amet,
										consectetur.</p>
									<button class="btn">Shop now</button>
								</div>
								</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Promotions Block end-->
			<!-- From Clicks clubcard start -->
			<div class="moreCategory moreclubindex clearfix">
				<div class="clearfix bgdarkblue">
					<div
						class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
						<div class="pull-left">
							<h2>
								ClubCard magazine
							</h2>
						</div>
						<div class="pull-right hidden-xs">
							<a class="arrow-right text-right" href="">See all magazine articles</a>
						</div>
					</div>
				</div>
				<div class="home-club-wrap clearfix">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img src="../image/clubcard_index/club_more_1.jpg" alt="category 1">
						<h4>Breakfast hash recipe</h4>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<img src="../image/clubcard_index/club_more_2.jpg" alt="category 1">
						<h4>Why home cooking is good for you</h4>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="magazineImg">
								<img src="../image/rewards/clicks-magazine-2.jpg">
							</div>
							<div class="magazineContent">
								<h3>ClubCard Magazine Issue Q1/2014</h3>
								<p>Take up the #NewYearNewYou challenge, and read Maps Maponyane's fitness tips</p>
								<a href="javascript:void(0)">Read online now</a>
							</div>
					</div>
				</div>
		</div>
		<!-- From Clicks clubcard end -->
				
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>