<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ccRegisterOuter">

				 
					<!-- Right Side Content  -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<form id="clubCardRegister" action="" method="post" novalidate>
							<div class="row acc-row-5">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha5" id="cR-1">
									<div class=" bg-white  clearfix">
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
													<h2>1. Personal details</h2>
											</div>
										</div>
										<div class="clearfix acc-col-5">
											<div class="pad-spacing form-wrap">
												<div class="form-group clearfix">
													<label>	First Name</label>
													<input type="text" value="" placeholder="Steven" class="form-control mandatory" id="fname">
												</div>
												<div class="form-group clearfix">
													<label>Last Name</label>
													<input type="text" value="" placeholder="Tomas" class="form-control mandatory"  id="lname">
												</div>

												<div class="form-group saResident">
													<label>Are you a South African resident?</label>
													<div class="form-group clearfix">
														
														<div class="form-group clearfix">
															<div class="clearfix">
																<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 paddingNone">
																	<input type="radio" class="radio-hide yes" id="saResi1" name="saResi" value="1" checked> 
																	<label class="radio-box clubcardhide" data-toshow="ClubcardValue1" data-tohide="dobSa" for="saResi1"><span>Yes</span></label>
																</div>
																<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 paddingNone">
																	<input type="text" placeholder="Enter South African ID number" class="form-control ClubcardValue1 mandatory" id="saValueCR" value="">
																</div>
															</div>
															<div class="clearfix">
																<input type="radio" class="radio-hide no" id="saResi" name="saResi" value="2"> 
																<label class="radio-box clubcardhide" for="saResi" data-tohide="ClubcardValue1"  data-toshow="dobSa" ><span>No</span></label>
															</div>
														</div>
														
														<div class=" clearfix" >
															<label>Date of Birth</label>
															<div class="dob">
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
																	<div class="dobWrapper">
																		<select id="date" class="dobSa ClubcardValue2">
																			<option value="0">Day</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 month">
																	<div class="monthWrapper">
																		<select id="month" class="dobSa ClubcardValue2">
																			<option value="0">Month</option>
																			<option value="Jan">Jan</option>
																			<option value="Feb">Feb</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 year">
																	<div class="yearWrapper">
																		<select id="year" class="dobSa ClubcardValue2">
																			<option value="0">Year</option>
																			<option value="2010">2010</option>
																			<option value="2010">2011</option>
																			<option value="2012">2012</option>
																			<option value="2013">2013</option>
																			<option value="2014">2014</option>
																		</select>
																	</div>
																</div>
																 <input type="hidden" class="dobvalue mandatory" value="" />
															</div>
														</div>
													</div>
												</div>
												<div class="form-inline" >
														<div class="gender" ><label>Gender</label> </div> 
														<div class="form-group margin-spacing clearfix">
															<input type="radio" id="Male" class="radio-hide" name="gender" checked> <label class="radio-box" for="Male"><span>Male</span></label>
														</div>
														<div class="form-group clearfix">
															<input type="radio" id="female" class="radio-hide" name="gender"> <label class="radio-box" for="female"><span>female</span></label>
														</div>
													</div>
													<div id="error" style="display:none">add some text</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Contact details Form Start -->
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha5 form-disabled" id="cR-2">
									<div class="bg-white  clearfix">
										<!-- Conact Details heading  -->
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
													<h2>2. Account details</h2>
											</div>
										</div>
										<!-- End Conact Details heading -->
										<div class="bg-white clearfix acc-col-5">
											<div class="form-wrap pad-spacing">
												<div class="form-group clearfix">
													<label>Email Address <span> - Optional </span> </label>
													<input id="emailadess" name="emailadess" class="form-control" placeholder="clubcard-registered@email.com" type="text" value="">
												</div>
												<div class="form-group clearfix">
														<label>Password</label> <input type="text" value="" placeholder="Password" class="form-control mandatory">
												</div>
												<div class="form-group clearfix">
													<label>Confirm password</label>
													<input type="text" value="" placeholder="Confirm password" class="form-control mandatory">
												</div>
												<div class="form-group clearfix">
													<label>Cell number</label>
													<input id="cellnumber" name="cellnumber" class="form-control mandatory" placeholder="301 123 4567" type="text" value="">
												</div>
												<div class="form-group clearfix">
													<label>Alternative number</label>
													<input id="alternate-number" name="alternate-number" class="form-control mandatory" type="text" value="">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Contact details Form End -->
							</div>
							 <div class="row acc-row-55">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha55 form-disabled" id="cR-3">
									<div class="bg-white ">
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
													<h2>3. Address</h2>
											</div>
										</div>
										<div class="bg-white clearfix acc-col-55">
											<div class="pad-spacing form-wrap">
													<div class="form-group clearfix">
														<label>Address line 1</label> <input id="address-line1"
															name="address-line1" class="form-control mandatory"
															placeholder="Auto-filled from ClubCard data" type="text"
															value="">
													</div>
													<div class="form-group clearfix">
														<label>Address line 2</label> <input id="address-line2"
															name="address-line2" class="form-control mandatory"
															placeholder="Auto-filled from ClubCard data" type="text"
															value="">
													</div>

													<div class="form-group clearfix">
														<label>Suburb</label> <input id="suburb" name="suburb"
															class="form-control mandatory"
															placeholder="Auto-filled from ClubCard data" type="text"
															value="">
													</div>

													<div class="form-group clearfix">
														<label>City <span> - Optional</span>
														</label> <input id="city" name="city" class="form-control"
															placeholder="Auto-filled from ClubCard data" type="text"
															value="">
													</div>

													<div class="form-group clearfix">
														<label>Province <span> - Optional</span>
														</label> <select id="province">
															<option value="">Please select</option>
															<option value="">data -1</option>
															<option value="Jan">data -2</option>
															<option value="Feb">data -3</option>
														</select>
													</div>
													<div class="form-group clearfix">
														<label>Post code</label> <input id="post-code"
															name="post-code" class="form-control mandatory"
															placeholder="Auto-filled from ClubCard data" type="text"
															value="">
													</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha55 edit-form-wrap form-disabled" id="cR-4">
									<div class="bg-white">
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
												<h2>4. Communication from Clicks  <span>- optional</span> </h2>
											</div>
										</div>
										<div class="bg-white clearfix acc-col-55">
										<div class="pad-spacing form-wrap ">
													 <p>To receive information about my cashback, exclusive
														offers and benefit updates, communicate to me via:</p>
													
													<div class="form-group clearfix">
														<input type="checkbox" name="sms" class="check-hide"
															id="sms"> <label for="sms" class="check-box">
															<span>SMS</span>
														</label>
													</div>

													<div class="form-group clearfix">
														<input type="checkbox" name="email-notify"
															class="check-hide" id="email-notify"> <label
															for="email-notify" class="check-box"> <span>EMAIL</span>
														</label>
													</div>
													
													<button class="btn btn-save-change">Create account &amp; Join clubcard</button>
												</div>
											</div>	
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>