<section class="main-container bg-gray clearfix v-n-s-Page cI">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="promo-wrap clearfix health-slider-outer">
					<ul class="health-promo-slider product-slider clearfix" data-classname="home-promo-slider" data-pager="false">
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-1.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Healthy for life Healthy</h4>
									<div class="prod-description">Take these important steps throughout your life</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Why core strength is so important</h4>
									<div class="prod-description">What is it, why is it so important, and how do you do it?</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>How aromatherapy oils boost your health</h4>
									<div class="prod-description">A remedy for a host of physical and psychological ills</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Restful sleep remedies</h4>
									<div class="prod-description">Lorem ipsum dolor sit amet, consectetur</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
				<div class="symptomsChecker">
					<a class="book" href="#">Browse medicines by A - Z</a>
				</div>
			<div class="row">
			<div class="vitSupBlockWrapper clearfix">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="vitSupBlock bg-white clearfix">
					<h3>Common conditions</h3>
						<ul>
						<li><a href ="#">Dietary / nutritional</a></li>
						<li><a href ="#">Energy</a></li>
						<li><a href ="#">Fitness / sports</a></li>
						<li><a href ="#">Immune resistance</a></li>
						<li><a href ="#">Sed posuere</a></li>
						<li><a href ="#">Consectetur est</a></li>
						<li><a href ="#">At lobortis</a></li>
						<li><a href ="#">Blandit tempus</a></li>
						<li><a href ="#">Sed posuere</a></li>
						<li><a href ="#">Consectetur est</a></li>
						<li><a href ="#">At lobortis</a></li>
						<li><a href ="#">Blandit tempus</a></li>
						<li><a href ="#">Indigestion</a></li>
						<li><a href ="#">Consectetur est</a></li>
						<li><a href ="#">View all</a></li>
						</ul>
					</div>
				</div>	
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="vitSupBlock bg-white clearfix vitSupBlockTop">
						<h3>Conditions by stage of life</h3>
						<ul>
							<li><a href ="#">Allergies</a></li>
							<li><a href ="#">Colds and flu</a></li>
							<li><a href ="#">Indigestion</a></li>
							<li><a href ="#">Consectetur est</a></li>
							<li><a href ="#">At lobortis</a></li>
							<li><a href ="#">View all</a></li>
						</ul>
					</div>
					<div class="vitSupBlock bg-white clearfix">
						<h3>Conditions by area of body</h3>
						<ul>
							<li><a href ="#">Sed posuere</a></li>
							<li><a href ="#">Consectetur est</a></li>
							<li><a href ="#">At lobortis</a></li>
							<li><a href ="#">Blandit tempus</a></li>
							<li><a href ="#">Sed posuere</a></li>
							<li><a href ="#">Consectetur est</a></li>
						</ul>
					</div>
				</div>
				</div>
				</div>
				<!--  article Block start-->
				
				<!--  article Block end-->
				
				<!-- Promotions Block start-->
<!-- Partner slider -->
 
								<!-- Partner slider heading  -->
								<div class="clearfix bg-light-green">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-custom">
										<div class="pull-left">
											<h2>Special health centres</h2>
										</div>
									</div>
								</div> 
								<!-- Partner slider  -->
								<div class="partner-wrap clearfix bg-white hCWrapper">
									<div class="partner-spacing col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<ul class="health-center-slider">
											<li><a href="#"> <img src="../image/sprite-new/heart-green-big.png" alt=""> Heart disease</a></li>
											<li><a href="#"> <img src="../image/sprite-new/diabetes-green-big.png" alt=""> Diabetes</a></li>
											<li><a href="#"> <img src="../image/sprite-new/cancer-green-big.png" alt=""> Cancer</a></li>
											<li><a href="#"> <img src="../image/sprite-new/hiv-green.png" alt=""> HIV</a></li>
											<li><a href="#"> <img src="../image/sprite-new/weight-green.png" alt=""> Weight</a></li> 
										</ul>
									</div>
								</div>
 							<!-- partner slider  -->
			<!-- Promotions Block end-->
			</div>	
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				 
					<div class="image-center">
						<img src="../image/o2-adv.jpg" alt="">
					</div>
				 
				<div class="symptomsChecker">
					 <a class="stethoscope arrow-right" href="#"> Health concern troubling you?</a>
				</div>
				<div class="symptomsChecker">
					 <a class="book-appointment arrow-right" href="#">Book an appointment</a>
				</div>
				<div class="symptomsChecker">
					 <a class="medicine-list arrow-right" href="#">Order medicines</a>
				</div>
				<div class="symptomsChecker">
					 <a class="manage-script arrow-right" href="#">Manage scripts</a>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>

