<!--  <section class="createAccountOuter">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="contact-wrap-top">
				<h1>Contact us</h1>
				<span>Whether you're already part of the Clicks ClubCard family or still thinking about it, we want to talk to you. Share your questions, 
				queries or compliments by using the information below. We'd love to hear from you. 
				You can also browse our Help section to find answers to common questions.</span>
			</div>
		</div>
	</div> 
-->	
<div class="clearfix bg-white createAccountOuter">
	<div class="container">
			<div class="contact-wrap-top">
				<h1>
					Contact us
				</h1>
				<span>Whether you're already part of the Clicks ClubCard family or still thinking about it, we want to talk to you. Share your questions, 
				queries or compliments by using the information below. We'd love to hear from you. 
				You can also browse our Help section to find answers to common questions.</span>
			</div>
			<!-- End Heading - My clicks  -->
	</div>
</div>