<section class="main-container">
	<div class="createOuterWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="contactOuter clearfix ">

					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						
						<!-- Customer service block -->
						<div class="contact-det bg-white clearfix first-block">
							<h3>Clicks Customer Service Centre</h3>
							
							<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact-width">
								<div class="contact-info">
									Sharecall <span>0860 254 257</span>
								</div>
								<div class="contact-info">
									International queries <span>+27 (0)21 460 1009</span>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact-width">
								<div class="off-hours clearfix">
									<div class="contact-info">Opening hours</div>
									<div class="pull-left off-days">
											<dl>
												<dt>Monday - Friday</dt>
												<dd>07.30 - 17.30</dd>
											</dl>	
											<dl>
												<dt>Saturdays</dt>
												<dd>08.00 - 15.00</dd>
											</dl>	
											
											<dl>
												<dt>Sundays</dt>
												<dd>Closed</dd>
											</dl>	
											
											<dl>
												<dt>Public Holidays</dt>
												<dd>08.00 - 15.00</dd>
											</dl>	
									</div>
								</div>	
							</div>
							</div>
						</div>
						<!-- Customer service block -->

						<!-- Send message block -->
						<div class="contact-det bg-white clearfix second-block">
							<h3>Send us a message</h3>
							<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-wrap">
									<div class="form-group clearfix">
										<label> First Name</label> <input type="text" value=""
											placeholder="Steven" class="form-control">
									</div>
									<div class="form-group clearfix">
										<label>Last Name</label> <input type="text" value=""
											placeholder="Tomas" class="form-control">
									</div>
									<div class="form-group clearfix">
										<label>Email Address</label> 
										<input id="emailadess" name="emailadess" class="form-control" placeholder="clubcard-registered@email.com" type="text" value="">
									</div>
									<div class="form-group clearfix">
										<label>Contact number</label> <input id="cellnumber"
											name="contact-num" class="form-control"
											placeholder="301 123 4567" type="text" value="">
									</div>
									<div class="form-group clearfix">
										<label>Clubcard number <span> - Optional</span></label> 
										<input id="alternate-number" name="alternate-number" class="form-control" type="text" value="">
									</div>

								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="form-wrap">
									<div class="form-group clearfix">
										<label> Topic</label> <input type="text" value="" placeholder="Steven" class="form-control">
									</div>
									<div class="form-group clearfix">
										<label>Message</label> 
										<textarea></textarea>
									</div>
									<div class="form-group clearfix">
										<button class="btn btn-save-change">Send message</button>
									</div>
								</div>
							</div>
							</div>
							
						</div>
						<!-- Send message block -->
					</div>
					
					
					<!-- Right Side Content start -->
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						
						<!-- Browse help section starts -->
						<div class="contact-det bg-white clearfix first-block">
							<h3>Browse our help section</h3>
							<p>Find answers to your questions quickly online in our comprehensive Help Section.</p>
							<button class="btn btn-save-change">Browse help</button>
						</div>
						
						<div class="contact-det bg-white clearfix second-block">
							<h3>Useful contact details</h3>
							<div class="help-info ">			
								<div class="contact-comm">
									<div class="contact-info">Online order queries</div>
									<a href ="mailto:online-orders@clicks.co.za">online-orders@clicks.co.za</a>
								</div>
								
								<div class="contact-comm">
									<div class="contact-info">ClubCard queries</div>
									<a href ="mailto:clubcard@clicks.co.za">clubcard@clicks.co.za</a>
								</div>
								
								<div class="contact-comm">
									<div class="contact-info">Service queries</div>
									<a href ="mailto:clubcard@service@clicks.co.za">service@clicks.co.za</a>
								</div>
								<div class="contact-comm">
									<div class="contact-info">Clicks Customer Service Centre</div>
									<address>PO Box 5142<br/>
									Cape Town, 8000<br/>
									South Africa</address>
								</div>
								<div class="contact-comm">
									<div class="contact-info">Fax</div>
									<a href ="tel:0867254257">0867 254 257</a>
									<a href ="fax:+27214659922">+27 (0)21 465 9922</a>
								</div>
								
							</div>
						</div>
					</div>
					<!-- Right Side Content end -->
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>