<!--  <section class="createAccountOuter">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="acc-heading">
				<h1>Create an account</h1>
			</div>
		</div>
	</div>--> 
<section class="rewards account">
	<div class="container">
			<div class="acc-heading">
				<h1>Create an account</h1>
			</div>
	</div>
</section>	