<section class="main-container">
	<div class="createOuterWrapper bg-gray">
		<div class="container">
			<div class="createWrapper clearfix ">
				<form action="#" id="createAccount" class="clearfix">
					<div class="row acc-row-4">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha4 createBoxWrapper">
							<div class="bg-white">
								<div class="clearfix bg-light-blue">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
											<h2>1. Clubcard</h2>
									</div>
								</div>
								<!-- <h2>1. Clubcard</h2>-->						
								<div class="bg-white clearfix ">
									<div class="pad-spacing form-wrap">
										<label>Do you have a Clicks ClubCard?</label>
										<div class="form-group clearfix haveClubcard">
											<div class="  clearfix">
												<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 paddingNone">
												<input type="radio" id="yes" class="radio-hide" name="yes">
												<label class="radio-box ClubcardYes current" for="ClubcardHave" id="haveYes"><span>Yes</span></label>
												</div>
												<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 paddingNone">
												<input type="text" placeholder="ABC123456789"  class="form-control ClubcardValue" id="haveValue">
												</div>
											</div>
											<div class=" clearfix">
												<input type="radio" id="no" class="radio-hide" name="no">
												<label class="radio-box ClubcardNo" for="ClubcardHave" id="haveNo"><span>No</span></label>
											</div>
										</div>
										<div class="form-group createTerms">
											<input type="checkbox" name="" class="check-hide" id="check">
											<label for="check" class="check-box">
												<span>Join Clubcard for exclusive savings <span>- Optional</span></span>
											</label>
										</div>
										
										<div class="form-group saResident" id="dobHide">
													<label>Are you a South African resident?</label>
													<div class="form-group clearfix">
														<div class="clearfix">
															<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 paddingNone">
																<input type="radio" class="radio-hide custom_hide" id="saResiFirst1" name="saResiFirst" checked>
																<label class="radio-box  custom_hide" for="saResiFirst1" >
																<span>Yes</span></label>
															</div>
															<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 paddingNone">
																<input type="text" placeholder="Enter South African ID number" class="form-control ClubcardValueFirst " id="bb">
															</div>
														</div>
														<div class="clearfix">
															<input type="radio" class="radio-hide customno" id="saResiFirst" name="saResiFirst">  
															<label class="radio-box  customno" for="saResiFirst" >
															<span>No</span></label>
														</div>
														</div>
														
														 
														<div class="clearfix dobSaOuterFirst" id="cc">
															<label>Date of Birth</label>
															<div class="dob">
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
																	<div class="dobWrapper">
																		<select id="date" class="dobSa1">
																			<option value="date">Date</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 month">
																	<div class="monthWrapper">
																		<select id="month" class="dobSa1">
																			<option value="month">Month</option>
																			<option value="Jan">Jan</option>
																			<option value="Feb">Feb</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 year">
																	<div class="yearWrapper">
																		<select id="year" class="dobSa1">
																			<option value="2010">Year</option>
																			<option value="2010">2010</option>
																			<option value="2010">2011</option>
																			<option value="2012">2012</option>
																			<option value="2013">2013</option>
																			<option value="2014">2014</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													
											</div>
										
										
										<button type="submit" class="btn" id="hideBtn">Retrieve My Details</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha4 createBoxWrapper formCADis" id="">
							<div class="bg-white">
								<div class="clearfix bg-light-blue">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
											<h2>2. Account details</h2>
									</div>
								</div>
								<div class=" bg-white clearfix ">
								<!-- <h2>2. Account details</h2> -->						
									<div class="pad-spacing form-wrap clearfix">
										<div class="form-group clearfix">
											<label>Email address</label>
											<input type="email" value="" placeholder="Please enter a valid email address" class="form-control">
										</div>
										<div class="form-group clearfix">
											<label>Password</label>
											<input type="password" value="" class="form-control">
										</div>
										<div class="form-group clearfix">
											<label>Confirm password</label>
											<input type="password" value="" class="form-control">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 formCADis" id="">
						
						<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
												<h2>3. Personal details</h2>
											</div>
										</div>
							<div class="createBoxWrapper bg-white clearfix">
								<!--<h2>3. Personal details</h2>--> 
								<div class="pad-spacing form-wrap">
									<div class="form-group clearfix">
										<label>First Name</label>
										<input type="text" value="" placeholder="Steven" class="form-control">
									</div>
									<div class="form-group clearfix">
										<label>Preferred name<span>- optional</span></label>
										<input type="text" value="" placeholder="Steven" class="form-control">
									</div>
									<div class="form-group clearfix">
										<label>Last Name</label>
										<input type="text" value="" placeholder="Tomas" class="form-control">
									</div>
									
									<div class="form-group saResident">
													<label>Are you a South African resident?</label>
													<div class="form-group clearfix">
														<div class="clearfix">
															<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 paddingNone">
																<input type="radio" class="radio-hide" id="saResi1" name="saResi" checked> <label
																	class="radio-box clubcardhide" for="saResi1" data-toshow="ClubcardValue1"  data-tohide="dobSaOuter">
																	<span>Yes</span></label>
															</div>
															<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 paddingNone">
																<input type="text" placeholder="Enter South African ID number" class="form-control ClubcardValue1 " id="saValue">
															</div>
														</div>
														<div class="clearfix">
															<input type="radio" class="radio-hide" id="saResi" name="saResi"> 
															<label class="radio-box clubcardhide" for="saResi"  data-tohide="ClubcardValue1"  data-toshow="dobSaOuter" ><span>No</span></label>
														</div>
														</div>
														 
														<div class="clearfix dobSaOuter" id="dobSaOuter">
															<label>Date of Birth</label>
															<div class="dob">
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
																	<div class="dobWrapper">
																		<select id="date" class="dobSa1">
																			<option value="date">Date</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 month">
																	<div class="monthWrapper">
																		<select id="month" class="dobSa1">
																			<option value="month">Month</option>
																			<option value="Jan">Jan</option>
																			<option value="Feb">Feb</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 year">
																	<div class="yearWrapper">
																		<select id="year" class="dobSa1">
																			<option value="2010">Year</option>
																			<option value="2010">2010</option>
																			<option value="2010">2011</option>
																			<option value="2012">2012</option>
																			<option value="2013">2013</option>
																			<option value="2014">2014</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													
											</div>
									<button type="submit" class="btn">Create account</button>
								<!--	<div class="message">
										Message sent successfully
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>