<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse in">
										<li><a href="javascript:void(0)">Haircare</a></li>
										<li><a href="javascript:void(0)">Shampoo &amp;
												conditioner (37)</a></li>
										<li><a href="javascript:void(0)">Styling (198)</a></li>
										<li><a href="javascript:void(0)">Colourants (232)</a></li>
										<li><a href="javascript:void(0)">Black haircare (137)</a></li>
										<li><a href="javascript:void(0)">Salon / Professional
												(47)</a></li>
										<li><a href="javascript:void(0)">Accessories (57)</a></li>
										<li><a href="javascript:void(0)">Hair loss (37)</a></li>
										<li><a href="javascript:void(0)">Healthy scalp (47)</a></li>
										<li><a href="javascript:void(0)">Exclusive to Clicks
												(27)</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse">
										<li><a href="javascript:void(0)">ClubCard exclusive
												savings (56)</a></li>
										<li><a href="javascript:void(0)">3 for 2 selected
												John Frieda (18)</a></li>
										<li><a href="javascript:void(0)">Buy 1, 2nd 1/2 price
												shaving (24)</a></li>
										<li><a href="javascript:void(0)">2 for R150 haircare
												(36)</a></li>
										<li><a href="javascript:void(0)">Save 20% L'Oréal
												hair colours (42)</a></li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="javascript:void(0)">Change Password</a></li>
										<li><a href="javascript:void(0)">Notifications</a></li>
										<li><a href="javascript:void(0)">Import/Export</a></li>
										<li><a href="javascript:void(0)">Delete Account</a></li>
									</ul></li>

								<!-- Last Drop down - No accordion -->
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">My account summary</a>
									<ul class="collapse in">
										<li><a href="javascript:void(0)">Sales</a></li>
										<li><a href="javascript:void(0)">Customers</a></li>
										<li><a href="javascript:void(0)">Products</a></li>
										<li><a href="javascript:void(0)">Shopping Cart</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->
					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<form id="editMedicine" action="" method="post" novalidate="novalidate">
							<div class="row acc-row-6">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha6">
									<div class=" bg-white acc-col-6 clearfix">
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
												<h2>Collection pharmacy</h2>
											</div>
										</div>
											<div class="pad-spacing form-wrap">
												<h3>Collect from Clicks <span>Vangate Mall.</span></h3>
												<a href="javascript:void(0)">Show pharmacy information</a>
												<a href="javascript:void(0)">Change pharmacy</a>
											</div>
									</div>
								</div>
								<!-- Medical aid Form Start -->
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha6" >
									<div class="bg-white  clearfix acc-col-6">
										<!-- Medical aid heading  -->
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
												<h2>Medical aid</h2>
											</div>
										</div>
										<!-- Medical aid heading -->
										<div class="bg-white clearfix">
											<div class="form-wrap pad-spacing">
											<div class="form-group clearfix">
											 <label>Will you pay using medical aid?</label>
											 <div class="clearfix">
												<input type="radio" id="MedicalAidYes" class="radio-hide" name="payMedicalAid" checked> <label class="radio-box" for="MedicalAidYes">
												<span>Yes, part or full payment</span></label>
											 </div>
											<div class="clearfix">
												<input type="radio" id="MedicalAidNo" class="radio-hide" name="payMedicalAid"> <label class="radio-box" for="MedicalAidNo">
												<span>No, I will pay all of the total myself</span></label>
											</div>
											</div>
											<div class="form-group clearfix">
											 <label>Are you the main member <br>
											 on your medical aid?</label>
											 <div class="clearfix">
												<input type="radio" id="MainAidYes" class="radio-hide" name="payMainAid" checked> <label class="radio-box" for="MainAidYes">
												<span>Yes</span></label>
											 </div>
											<div class="clearfix">
												<input type="radio" id="MainAidNo" class="radio-hide" name="payMainAid"> <label class="radio-box" for="MainAidNo">
												<span>No</span></label>
											</div>
											</div>
											<div class="separator"></div> 
											<h4>Medical insurance details</h4>
												<div class="form-group clearfix">
													<label>Medical scheme company</span>
													</label> 
													<input id="medicalScheme" name="medicalScheme" class="form-control" placeholder="Medical Scheme" type="text" value="">
												</div>
												<div class="form-group clearfix">
													<label>Plan option</label> 
													<input id="PlanOption" name="PlanOption" class="form-control" placeholder="Platinum Plus" type="text" value="">
												</div>
												<div class="form-group clearfix">
													<label>Medical scheme No</label> 
													<input id="alternate-number" name="alternate-number" class="form-control" type="text" value="" placeholder="12345678"  >
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Medical aid Form End -->
							</div>
							 <div class="row acc-row-7">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha7">
									<div class="bg-white acc-col-7 clearfix">
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
												<h2>Children &amp; dependants</h2>
											</div>
										</div>
											<div class="clearfix bg-white">
											<div class="pad-spacing form-wrap clearfix">
											<p>You can only order prescriptions for dependants under 16 years of age. If older, please contact Customer Services.</p>
											<div class="separator"></div> 
														<h4>Your child's details</h4>
														<div class="form-group clearfix">
													<label>	First Name</label> <input type="text" value="" placeholder="Steven" class="form-control">
												</div>
											<div class="form-group clearfix">
												<label>Last Name</label> <input type="text" value="" placeholder="Tomas" class="form-control">
											</div>
													<div class="form-group clearfix">
													<label>	Dependant No <span>- if claiming from medical scheme</span></label> <input type="text" value="" placeholder="12345678" class="form-control">
												</div>
											<div class="form-group saResident">
													<label>Are you a South African resident?</label>
													<div class="form-group clearfix">
														<div class="clearfix">
															<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 paddingNone">
																<input type="radio" class="radio-hide" id="saResi1" name="saResi" checked> <label
																	class="radio-box clubcardhide" data-toshow="ClubcardValue2"  data-tohide="dobSa1"  for="saResi1">
																	<span>Yes</span></label>
															</div>
															<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 paddingNone">
																<input type="text" placeholder="Enter South African ID number" class="form-control ClubcardValue2 " id="saValue">
															</div>
														</div>
														<div class="clearfix">
															<input type="radio" class="radio-hide" id="saResi" name="saResi"> 
															<label class="radio-box clubcardhide" for="saResi" data-tohide="ClubcardValue2" data-toshow="dobSa1"><span>No</span></label>
														</div>
														</div>
														 
														<div class=" clearfix">
															<label>Date of Birth</label>
															<div class="dob">
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
																	<div class="dobWrapper">
																		<select id="date" class="dobSa1">
																			<option value="date">Date</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 month">
																	<div class="monthWrapper">
																		<select id="month" class="dobSa1">
																			<option value="month">Month</option>
																			<option value="Jan">Jan</option>
																			<option value="Feb">Feb</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 year">
																	<div class="yearWrapper">
																		<select id="year" class="dobSa1">
																			<option value="2010">Year</option>
																			<option value="2010">2010</option>
																			<option value="2010">2011</option>
																			<option value="2012">2012</option>
																			<option value="2013">2013</option>
																			<option value="2014">2014</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													
											</div>
											<div class="form-inline" >
													<div class="gender" ><label>Gender</label> </div> 
													<div class="form-group margin-spacing clearfix">
														<input type="radio" id="Male" class="radio-hide" name="gender" checked> <label class="radio-box" for="Male"><span>Male</span></label>
													</div>
													<div class="form-group clearfix">
														<input type="radio" id="female" class="radio-hide" name="gender"> <label class="radio-box" for="female"><span>female</span></label>
													</div>
											</div>
											<div class="clearfix">
												<a href="javascript:void(0)"><strong>Add another child</strong></a>
											</div>
											</div>
											</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha7">
									<div class="bg-white acc-col-7 clearfix">
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
													<h2>Children &amp; dependants</h2>
												</div>
											</div>
										<div class="clearfix bg-white">
										<div class="pad-spacing form-wrap clearfix">
										<h4>Your dependant's details</h4>
											<div class="form-group clearfix">
												<label>	First Name</label> <input type="text" value="" placeholder="Steven" class="form-control">
											</div>
											<div class="form-group clearfix">
												<label>Last Name</label> <input type="text" value="" placeholder="Tomas" class="form-control">
											</div>
											<div class="form-group clearfix">
												<label>	Dependant No <span>- if claiming from medical scheme</span></label>
												<input type="text" value="" placeholder="12345678" class="form-control">
											</div>
											<div class="form-group saResident">
													<label>Are you a South African resident?</label>
													<div class="form-group clearfix">
														<div class="clearfix">
															<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 paddingNone">
																<input type="radio" class="radio-hide" id="saResiY" name="saResi3" checked> 
																<label class="radio-box clubcardhide" data-toshow="ClubcardValue3"  data-tohide="dobSa2"  for="saResiY">
																	<span>Yes</span></label>
															</div>
															<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 paddingNone">
																<input type="text" placeholder="Enter South African ID number" class="form-control ClubcardValue3" id="saValue">
															</div>
														</div>
														<div class="clearfix">
															<input type="radio" class="radio-hide" id="saResiNo" name="saResi3"> 
															<label class="radio-box clubcardhide" for="saResiNo" data-tohide="ClubcardValue3" data-toshow="dobSa2"><span>No</span></label>
														</div>
														</div>
														
														<div class=" clearfix">
															<label>Date of Birth</label>
															<div class="dob">
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
																	<div class="dobWrapper">
																		<select id="date" class="dobSa2">
																			<option value="date">Date</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 month">
																	<div class="monthWrapper">
																		<select id="month" class="dobSa2">
																			<option value="month">Month</option>
																			<option value="Jan">Jan</option>
																			<option value="Feb">Feb</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 year">
																	<div class="yearWrapper">
																		<select id="year" class="dobSa2">
																			<option value="2010">Year</option>
																			<option value="2010">2010</option>
																			<option value="2011">2011</option>
																			<option value="2012">2012</option>
																			<option value="2013">2013</option>
																			<option value="2014">2014</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													 
											</div>
											<div class="form-inline" >
													<div class="gender" ><label>Gender</label> </div> 
													<div class="form-group margin-spacing clearfix">
														<input type="radio" id="maleDep" class="radio-hide" name="gender1" checked> <label class="radio-box" for="maleDep"><span>Male</span></label>
													</div>
													<div class="form-group clearfix">
														<input type="radio" id="femaleDep" class="radio-hide" name="gender1"> <label class="radio-box" for="femaleDep"><span>female</span></label>
													</div>
											</div>		 

												 
													
													<button class="btn btn-save-change">Save changes</button>
												</div>
												</div>
										</div>	 	
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>