<div class="clearfix bg-white editprofiletop">
	<div class="container">
		<div class="row">
			<!-- Profile Image  -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
				<img class="img-circle img-responsive"
					src="../image/edit-form/default-profile-pic.jpg" alt="Profile image"
					title="Profile image">
			</div>
			<!-- End Profile Image  -->

			<!-- Heading - My clicks  -->
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-7">
				<h1>
					Edit your <span>personal details</span>
				</h1>
				<a href="">Change photo</a> <a href="">Delete photo</a>
			</div>
			<!-- End Heading - My clicks  -->
		</div>
	</div>
</div>