<section class="main-container bg-gray clearfix articlePage">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="policy_container">
				<!-- First Block -->
				<div class="policy_outer">
					<div class="services_wrap clearfix">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="policy_offer">
								<div class="offer_details">
									Up to R7,500
									<span> cover at no cost to you </span>
								</div>
								<a href="">Activate now</a>
							</div>
						</div>	
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<h4>Funeral cover <span> at no cost to you</span></h4>
							<button class="btn-small">Exclusive ClubCard benefit</button>
							<p>
								If you are a ClubCard member aged 18-65, you are eligible for funeral cover at no cost to you. 
								In the event of your death, your family will have cash towards your funeral. Your cover is 10 times the value of 
								your average monthly purchases at Clicks - up to a maximum of R7500.
							</p>
							<a class="moreInfo" target="financePolicy">Show details</a>
							
							<div class="financeinfo" id="financePolicy">
							<div class="policy_enquiry">Policy claims & enquiries call : <span>0861 646 444 </span></div>
							
							<!-- Table -->
							<div class="funeral_wrap">															
								<span> For example:</span>
								<div class="funeral-table clearfix bg-white">
											<div class="funeral-head">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Average monthly spend at Clicks</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Your funeral cover at no cost to you</div>
												</div>
											</div>
											<div class="repeat-table-wrap">
												<div class="funeral-head funeral-data">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="funeral_point">
															R50<sup>*</sup>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">R500 funeral cover</div>
												</div>
												<div class="funeral-head funeral-data">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="funeral_point">
															R250<sup>*</sup>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">R500 funeral cover</div>
												</div>
												<div class="funeral-head funeral-data">
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
														<div class="funeral_point">
															R50<sup>*</sup>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">R500 funeral cover</div>
												</div>
											</div>
									</div>
									<span>*This is calculated on an average 26 weeks' spend </span>
								</div>
							<!-- End table -->
							
							<div class="cover_details rules">
								<h5>4 ways to activate your cover</h5>
								<ol>
									<li><a href=""> Activate your cover online</a></li>
									<li>Arrange for us to <a href=""> call you back </a></li>
									<li>Call <strong>0861 646 444</strong> </li>
									<li>SMS <strong>"FREE" + your name to 43881 </strong>(standard SMS rates apply.)</li>
								</ol>
							</div>
							<div class="cover_details">
								<h5>Important rules apply</h5>
								<ul>
									<li>If you are a registered Primary ClubCard member and a South African resident 18 - 65 years of age, 
										you are eligible for this great benefit - at no cost to you.</li>
										
									<li>Clicks will pay the premium to provide you with cover of 10 times the value of your average monthly purchases           
 										from Clicks for the 26 weeks prior to death, up to a maximum of R7500.</li>
 										
									<li>Benefit activation is subject to your beneficiary's details being provided.</li>
									
									<li>The benefit is paid out on the death of the registered Primary ClubCard member.</li>
									<li>Enjoy an easy claims process.</li>
									<li>Waiting period for natural death is 3 months from the date you activate the cover.</li>
									<li>Claims payment is conditional on submission of all required documentation.</li>
									<li>ClubCard members are required to activate this cover to be eligible for funeral cover.</li>
								</ul>
							</div>
							
							<div class="downloads">
								<h5>Downloads</h5>
								<a href="" class="pdf-ico">Funeral at no cost - FAQ</a>
								<a href="" class="pdf-ico">Funeral at no cost - Info</a>
							</div>
							</div>
							
						</div>
					</div>	
				</div>
				<!-- End First Block -->
				
				<!-- Second Block -->
				<div class="policy_outer">
					<div class="services_wrap clearfix">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="policy_offer">
								<div class="offer_details">
									<mark> 5 points </mark> for every 
									<span> R10<sup>00</sup> spent </span>
								</div>
								<a href="">Get a free quote</a>
							</div>
						</div>	
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<h4>Pay less for your <span>Family Funeral insurance cover</span></h4>
							<p>
								No one likes to plan for their funeral, but you owe it to your family to put plans in place. 
								With the exclusive funeral ClubCard benefit, you have funeral cover for yourself at no cost to you. 
								In addition to this cover, you can choose to add this family funeral cover at an affordable premium.
							</p>
							<a href="">Show details</a>
						</div>
					</div>	
				</div>
				<!-- End second Block -->
				
				<!-- Third Block -->
				<div class="policy_outer">
					<div class="services_wrap clearfix">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="policy_offer">
								<div class="offer_details">
									<mark>  5 points </mark> for every 
									<span> R10<sup>00</sup> spent </span>
								</div>
								<a href="">Get a free quote</a>
							</div>
						</div>	
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<h4>Pay less for your <span>Life insurance cover</span></h4>
							<p>
								It is a sad, but inevitable fact that everyone passes away at some stage. 
								If you have a family, this fact makes life insurance cover a necessity rather than a luxury. 
								Once this cover is in place, you know that your family will be taken care of in the event of your death.
							</p>
							<a href="">Show details</a>
						</div>
					</div>	
				</div>
				<!-- End Third Block -->
				
				<!-- Regent Block -->
				<div class="regent_block">
					<div class="services_wrap clearfix">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 tab-content">
							<img src="../image/content_pages/regent.jpg" alt="regent logo">
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<p>
								Funeral, Family Funeral, Life, Hospital Event Cover, Women Only Cancer and Accident Insurance Cover brought 
								to you and underwritten by Regent Life Assurance Company Ltd, a licensed long-term insurer, company reg. 
								no.1994/001332/06, and an authorised Financial Services Provider, FSP licence 18146.</p>
							<p>
								Car and home insurance cover brought to you and underwritten by Regent Insurance Company Ltd, a licensed short-term insurer, 
								company reg. no. 1966/007612/06, and an authorised Financial Services Provider, FSP licence 25511
							</p>
						</div>
					</div>
				</div>
				<!-- Regent Block -->
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>