<section class="main-container bg-gray clearfix articlePage">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- First Block -->
				<div class="policy_outer">
					<div class="services_wrap clearfix">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="policy_offer">
								<div class="offer_details">
									Up to R7,500
									<span> cover at no cost to you </span>
								</div>
								<a href="">Activate now</a>
							</div>
						</div>	
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<h4>Funeral cover <span>at no cost to you</span></h4>
							<button class="btn-small">Exclusive ClubCard benefit</button>
							<p>
								If you are a ClubCard member aged 18-65, you are eligible for funeral cover at no cost to you. 
								In the event of your death, your family will have cash towards your funeral. Your cover is 10 times the value of 
								your average monthly purchases at Clicks - up to a maximum of R7500.
							</p>
							<a href="">Hide details</a>
						</div>
					</div>	
				</div>
				<!-- End First Block -->
				
				<!-- Second Block -->
				<div class="policy_outer">
					<div class="services_wrap clearfix">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="policy_offer">
								<div class="offer_details">
									<mark> 5 points </mark> for every 
									<span> R1000 spent </span>
								</div>
								<a href="">Get a free quote</a>
							</div>
						</div>	
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<h4>Pay less for your <span>Family Funeral insurance cover</span></h4>
							<p>
								No one likes to plan for their funeral, but you owe it to your family to put plans in place. 
								With the exclusive funeral ClubCard benefit, you have funeral cover for yourself at no cost to you. 
								In addition to this cover, you can choose to add this family funeral cover at an affordable premium.
							</p>
							<a href="">Show details</a>
						</div>
					</div>	
				</div>
				<!-- End second Block -->
				
				<!-- Third Block -->
				<div class="policy_outer">
					<div class="services_wrap clearfix">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="policy_offer">
								<div class="offer_details">
									<mark>  5 points </mark> for every 
									<span> R1000 spent </span>
								</div>
								<a href="">Get a free quote</a>
							</div>
						</div>	
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<h4>Pay less for your <span> Life insurance cover</span></h4>
							<p>
								It is a sad, but inevitable fact that everyone passes away at some stage. 
								If you have a family, this fact makes life insurance cover a necessity rather than a luxury. 
								Once this cover is in place, you know that your family will be taken care of in the event of your death.
							</p>
							<a href="">Show details</a>
						</div>
					</div>	
				</div>
				<!-- End Third Block -->
				
				<!-- Regent Block -->
				<div class="regent_block">
					<div class="services_wrap clearfix">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 tab-content">
							<img src="../image/content_pages/regent.jpg" alt="regent logo">
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<p>
								Funeral, Family Funeral, Life, Hospital Event Cover, Women Only Cancer and Accident Insurance Cover brought 
								to you and underwritten by Regent Life Assurance Company Ltd, a licensed long-term insurer, company reg. 
								no.1994/001332/06, and an authorised Financial Services Provider, FSP licence 18146.</p>
							<p>
								Car and home insurance cover brought to you and underwritten by Regent Insurance Company Ltd, a licensed short-term insurer, 
								company reg. no. 1966/007612/06, and an authorised Financial Services Provider, FSP licence 25511
							</p>
						</div>
					</div>
				</div>
				<!-- Regent Block -->
				
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>