<div class="financial_top">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h2>
					Clicks <span> Financial Services</span>
				</h2>
				<p>Our life insurance products have been exclusively designed to
					offer ClubCard members products that are excellent value for money,
					have simple and easy-to-understand benefit structures and give you
					Cash-back Rewards.</p>
					
				<button class="btn primary_btn">Join Clubcard today</button>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="image-center">
					<img src="../image/article/article-top.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>