<footer role="footer">
	<div class="container">
		<div class="subscribe-block">
			<form>
				<fieldset>
					<label for="email">Don't miss out on savings:</label>
					<input type="text" id="email" placeholder="Enter email address" />
					<input type="button" name="subscribe" class="btnSubscribe btn" value="Subscribe"/>
				</fieldset>
			</form>
			<figure class="shareBlock">
				<a href="#" class="icon-twitter">Twitter</a>
				<a href="#" class="icon-fb">Facebook</a>
				<a href="#" class="icon-gplus">Google plus</a>
				<a href="#" class="icon-gplus">Google plus</a>
				<a href="#" class="icon-gplus">Google plus</a>
			</figure>
		</div>
	</div>
	<section class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<h5>Call our Customer Service Centre</h5> 
					<span>0860 254 257</span>
					<span>+27 21 460 1009 (outside South Africa)</span>
					<img src="../image/img_footer_logo.png" />
				</div>
				<ul class="col-md-8 col-sm-8 col-xs-12">
					<li class="col-md-3 col-sm-3">
						<h5>ClubCard</h5>
						<div class="collapse">
							<a href="#">Join ClubCard</a>
							<a href="#">Benefits</a>
							<a href="#">Partners</a>
							<a href="#">Competitions</a>
							<a href="#">BabyClub</a>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<h5>My Account</h5>
						<div class="collapse">
							<a href="#">My Orders</a>
							<a href="#">My Prescriptions</a>
							<a href="#">My ClubCard</a>
							<a href="#">My Promotions</a>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<h5>Customer Service</h5>
						<div class="collapse">
							<a href="#">Help</a>
							<a href="#">Delivery</a>
							<a href="#">How to return</a>
							<a href="#">Contact us</a>
						</div>
					</li>
					<li class="col-md-3 col-sm-3">
						<h5>Health Hub</h5>
						<div class="collapse">
							<a href="#">Check your symptoms</a>
							<a href="#">Conditions</a>
							<a href="#">Medicines</a>
							<a href="#">Vitamins & supplements</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<div class="copyright">
		<div class="container">
			<p>&copy; Clicks 2014</p>
			<p class="pull-right">
				<a href="#">Careers</a>
				<a href="#">Clicks Group</a>
				<a href="#">Shop T&C </a>
				<a href="#">ClubCard T&C </a>
				<a href="#">Sitemap</a>
			</p>
		</div>
	</div>
</footer>