<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter forgotten-wrap clearfix">
					<!-- Right Side Content  -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<form id="clubCardRegister" action="" method="post" novalidate="novalidate">
							<div class="row acc-row-4">
								<!-- Have Club card -->
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha4">
									<div class=" bg-white  clearfix ">
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
													<h2>If you have a Clicks ClubCard</h2>
											</div>
										</div>
										<div class="clearfix acc-col-4">
											<div class="pad-spacing form-wrap">
												<p>Enter your ClubCard details and we'll send sign in details to the email address with your ClubCard.</p>
												
												<div class="form-group clearfix">
													<label>	ClubCard number </label>
													<input type="text" value="" placeholder="ABC123456789" class="form-control" id="club-num">
												</div>
												<div class="form-group saResident">
													<label>Are you a South African resident?</label>
													<div class="form-group clearfix">
														
														<div class="form-group clearfix">
															<div class="clearfix">
																<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 paddingNone">
																	<input type="radio" class="radio-hide" id="saResi1" name="saResi" value="1" checked> 
																	<label class="radio-box clubcardhide" data-toshow="ClubcardValue1" data-tohide="dobSa" for="saResi1"><span>Yes</span></label>
																</div>
																<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 paddingNone">
																	<input type="text" placeholder="Enter South African ID number" class="form-control ClubcardValue1" id="saValueCR">
																</div>
															</div>
															<div class="clearfix">
																<input type="radio" class="radio-hide" id="saResi" name="saResi" value="2"> 
																<label class="radio-box clubcardhide" for="saResi" data-tohide="ClubcardValue1"  data-toshow="dobSa" ><span>No</span></label>
															</div>
														</div>
														<div class="form-group  clearfix">
															<label>Date of Birth</label>
															<div class="dob">
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
																	<div class="dobWrapper">
																		<select id="date" class="dobSa">
																			<option value="">Day</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 month">
																	<div class="monthWrapper">
																		<select id="month" class="dobSa">
																			<option value="">Month</option>
																			<option value="Jan">Jan</option>
																			<option value="Feb">Feb</option>
																		</select>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 year">
																	<div class="yearWrapper">
																		<select id="year" class="dobSa">
																			<option value="">Year</option>
																			<option value="2010">2010</option>
																			<option value="2010">2011</option>
																			<option value="2012">2012</option>
																			<option value="2013">2013</option>
																			<option value="2014">2014</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<button class="btn btn-save-change">Send details to clubcard email</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Have Club card End-->

								<!-- Dont have Club card -->
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alpha4">
									<div class="bg-white  clearfix ">
										<div class="clearfix bg-light-blue">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
													<h2>If you don't have a Clicks ClubCard</h2>
											</div>
										</div>
										<div class="bg-white clearfix acc-col-4">
											<div class="pad-spacing">
												<div class="form-wrap">
													<div class="form-group clearfix">
														<p>Try entering other email addresses you have used on the Forgotten password screen.</p>
														<div class="alternate-info">
															Alternatively, please call our <br/>Customer Service Center on <span> 0860 254 257 </span>
															<h6>(+27 21 460 1009 outside South Africa) .</h6>
														</div>
													</div>
												</div>
												<!--  <a href="#" class="btn btn-save-change">Forgotten password</a> -->
												<a href="javascript:void(0)" data-url="/store/clicks/en/login/pw/request" class="btn btn-save-change password-forgotten">Forgotten your password?</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Dont have Club card End -->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>