<div class="clearfix bg-white editprofiletop forgotten-top">
	<div class="container">
		<div class="row">
		<!-- Heading - My clicks  -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h1>Forgotten details</h1>
		</div>
		<!-- End Heading - My clicks  -->
		</div>
	</div>
</div>