<header> 
	<div class="header hidden-xs">
		<div class="top-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-5">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#shop">Clicks shop</a></li>
							<li><a data-toggle="tab" href="#healthhub">Clicks Health</a></li>
						</ul>
					</div>
					<div class="col-md-7 col-sm-7">
						<ul class="quick-links pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle sign-in">Sign in</a>
								<div class="dropdown-list login">
									<!-- Login Drop down -->
									 <div class="login-block">
										 <form action="#">
											<div class="form-wrap">
												<div class="form-group clearfix">
													<label> Email</label> <input type="text" value=""
														placeholder="" class="form-control">
												</div>
												<div class="form-group clearfix">
													<label>Password</label> <input type="text" value=""
														placeholder="" class="form-control">
												</div>
												<div class="form-group clearfix">
														<div class="pull-left">
															<a href="javascript:void(0)" class="forgot-block">Forgotten password?</a>
														</div>
														<div class="pull-right">
															<a href="">Forgotten all details?</a>
														</div>
												</div>
												<div class="form-group clearfix">
													<input type="checkbox" name="remember-me" class="check-hide" id="remember-me"> 
													<label for="remember-me" class="check-box">
														<div class="remember">
															Remember me - <span>optional</span>
														</div>
													</label>
												</div>
												<div class="form-group clearfix"> 
													<button class="btn">Sign in</button>
												</div>
												<div class="dark-sep separator"></div>	
												<h5>New to Clicks website?</h5>
												<button class="btn">Create account</button>
											</div>
										</form>
										
										<!-- Account Links -->
										<!--  <div class="acc-links-block">
											<ul class="acc-drop-down">
												<li> <a href="">Account dashboard</a></li>
												<li> <a href="">Order history</a></li>
												<li> <a href="">My Medicines</a></li>
												<li> <a href="">ClubCard rewards activity</a></li>
												<li> <a href="">Your promotions & offers</a></li>
											</ul>
											<div class="dark-sep separator"></div>	
										</div>-->
										<!-- Account Links -->
										
									</div>
									<!-- Login Drop down -->
									
									<!-- Forgot Password Drop down -->
									<div class="fpassword-block">
										<form action="#">
											<div class="form-wrap">
												<div class="clearfix">
													<div class="pull-left">
														<h4>Forgotten password?</h4>
													</div>
													<div class="pull-right">
														<a href="javascript:void(0)" class="go-back">Go Back</a>
													</div>
												</div>
												<div class="form-group clearfix">
													<label> Email</label> <input type="text" value=""
														placeholder="" class="form-control">
												</div>
												<div class="form-group clearfix"> 
													<button class="btn">Reset Password via email</button>
													<div class="text-center">
														<a href="">I've forgotten all details</a>
													</div>
												</div>
											</div>
										</form>
									</div>
									<!-- Forgot Password Drop down -->
								</div>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle store">Find a store</a>
								<div class="dropdown-list find-store">
									<h3>Find a local store, pharmacy or clinic</h3>
									<a href="#" class="btn icon_target">Find my nearest Clicks</a>
									<form action="#">							
										<input type="text" class="text" value="Search the Clicks site" name="search" onfocus="javascript:if(this.value=='Search the Clicks site')this.value='';" onblur="if (this.value == '') this.value = 'Search the Clicks site';">
										<input type="submit" class="btnSearch" value="Search">
									</form>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle order-presc">Order prescription</a>
							</li>
							<li class="dropdown">
								<a href="#" id="item2" class="dropdown-toggle basket">Basket</a>
								<div class="dropdown-list mini-basket">
                                       <section class="bg-white clearfix basket-list">
                                          <div class="mini_basket_head">
                                             <h3>In your basket</h3>
                                             <a href="#" class="pull-right">See all 6 products</a>
                                          </div>
                                          <div class="basket-list-inner">
                                             <ul class="mini-basket-product-list">
                                                <li>
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 paddingNone">
														<div class="offer_sticker">
															<img src="../image/badges/only-at-clicks.png" alt="..." />
														</div>
													</div>
                                                   <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
                                                      <div class="basket-list-img">
                                                         <a href="#"><img src="../image/img_cart_prd1.png" /></a>
                                                      </div>
                                                      <div class="basket-list-content">
                                                         <h4>John Frieda</h4>
                                                         <p>Full Repair Protecting Root Lift Foam 200ml</p>
                                                         <small class="price blue">2 x 21<sup>00</sup></small>
														 <a href="#" class="delete_prod">Delete</a>
                                                      </div>
                                                   </div>                                                   
                                                </li>
                                                <li>
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 paddingNone">
														<div class="offer_sticker">
															<img src="../image/badges/mix-match.png" alt="..." />
														</div>
													</div>
                                                   <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
                                                      <div class="basket-list-img">
                                                         <a href="#"><img src="../image/img_cart_prd2.png" /></a>
                                                      </div>
                                                      <div class="basket-list-content">
                                                         <h4>Benefit</h4>
                                                         <p>Benefit benetint Root Lift Foam 200ml</p>
                                                         <small class="price blue">2 x 11<sup>00</sup></small>
														 <a href="#" class="delete_prod">Delete</a>
														 <div class="offer red">3 for 2 on selected John Frieda salon products</div>
                                                      </div>
                                                   </div>                                                   
                                                </li>
                                                <li>
												<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 paddingNone">
														<div class="offer_sticker">
															
														</div>
													</div>
                                                   <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNone">
                                                      <div class="basket-list-img">
                                                         <a href="#" class="cart-prod"><img src="../image/img_cart_prd3.png" /></a>
                                                      </div>
                                                      <div class="basket-list-content">
                                                         <h4>Botanics</h4>
                                                         <p>Organic MakeUp Face Eye Remover 75ml </p>
                                                         <small class="price blue">2 x 21<sup>00</sup></small>
														 <a href="#" class="delete_prod">Delete</a>
                                                      </div>
                                                   </div>                                                   
                                                </li>
                                             </ul>
                                             <section class="basket-list-total clearfix">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNone">
                                                   <div class="basket-list-total-content">Subtotal
												   <span class="price blue">R185<sup>60</sup></span>
												   </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNone">
                                                   <button type="submit" class="btn">Check out</button>
                                                </div>
                                             </section>
                                          </div>
                                       </section>
                                    </div>
							</li>
						</ul>
					</div> 
				</div>
			</div>
		</div>
		<div class="logo-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6 site-logo col-sm-6">
						<a href="#">
							<img src="../image/logo.png" alt="logo" data-elem="pinchzoomer"/>
						</a>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="global-search pull-right">
							<form action="#">							
								<input type="text" name="search" value="Search the Clicks site" class="text" onfocus="javascript:if(this.value=='Search the Clicks site')this.value='';" onblur="if (this.value == '') this.value = 'Search the Clicks site';"/>
								<input type="submit" value="Search" class="btnSearch"/>
							</form>
							<div class="auto-suggest" style="display : none">
								<ul>
								<li>Garnier Sun protect Kids SPF50-500ml</li>
								<li>Nivea Sun Moisturising Sun Lotion...</li>
								<li>Clicks Sun Protect Kids SPF50 500ml</li>
								<li>Good sun protection for your family...</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="tab-content main-nav">
			<div class="container">
			<div id="shop" class="tab-pane fade active in">
				<nav>
					<ul class="nav-list">
						<li>
							<a href="#" class="nav-link">Health & pharmacy </a>
								<section>
								<div class="inner-menu">
									<div class="row">
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Browse by category</h3></li>
											<li><a href="#">Allergy & hayfever</a></li>
											<li><a href="#">Baby & child</a></li>
											<li><a href="#">Condoms & sexual health</a></li>
											<li><a href="#">Cough, cold and flu</a></li>
											<li><a href="#">Diet & weight loss</a></li>
											<li><a href="#">First aid</a></li>
											<li><a href="#">Health food</a></li>
											<li><a href="#">Mens health</a></li>
											<li><a href="#">Pain relief</a></li>
											<li><a href="#">Pregnancy & new mom</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Shop and save in Health</h3></li>
											<li><a href="#">New in</a></li>
											<li><a href="#">Excusive to Clicks</a></li>
											<li><a href="#">Premium</a></li>
											<li><a href="#">3 for 2 selected vitamins</a></li>
											<li><a href="#">Save 20% cold & flu remedies</a></li>
											<li><a href="#">All health promotions...</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Clicks services</h3></li>
											<li><a href="#">Pharmacies</a></li>
											<li><a href="#">Prescriptions</a></li>
											<li><a href="#">Clinics</a></li>
											<li><a href="#">Helping Hands Trust Clinics</a></li>
											<li><a href="#">Medical Aid Partners</a></li>
											<li><a href="#">Discovery Health</a></li>
											<li><a href="#">Symptom Checker</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Clicks services</h3></li>
											<li><a href="#">Pharmacies</a></li>
											<li><a href="#">Prescriptions</a></li>
											<li><a href="#">Clinics</a></li>
											<li><a href="#">Helping Hands Trust Clinics</a></li>
											<li><a href="#">Medical Aid Partners</a></li>
											<li><a href="#">Discovery Health</a></li>
											<li><a href="#">Symptom Checker</a></li>
										</ul>
									</div>
								</div>
							</section>
						</li>
						<li>
							<a href="#" class="nav-link">Beauty</a>
							<section>
								<div class="inner-menu">
									<div class="row">
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Browse by category</h3></li>
											<li><a href="#">Accessories & tools</a></li>
											<li><a href="#">Fragrance</a></li>
											<li><a href="#">Eye Make-up</a></li>
											<li><a href="#">Face Make-up</a></li>
											<li><a href="#">Lips Make-up</a></li>
											<li><a href="#">Nails</a></li>
											<li><a href="#">Hair</a></li>
											<li><a href="#">Skincare</a></li>
											<li><a href="#">Sun care</a></li>
											<li><a href="#">Gifts</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Shop and save in Health</h3></li>
											<li><a href="#">New in</a></li>
											<li><a href="#">Excusive to Clicks</a></li>
											<li><a href="#">Premium</a></li>
											<li><a href="#">3 for 2 selected L'Oréal</a></li>
											<li><a href="#">Free gift with Bulgari scents</a></li>
											<li><a href="#">All beauty promotions...</a></li>
											<ul>
												<li><h3>Ethnicity</h3></li>
												<li><a href="#">Black haircare</a></li>
												<li><a href="#">Black skincare</a></li>
											</ul>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Featured brands</h3></li>
											<li><a href="#">BaByliss</a></li>
											<li><a href="#">Bourjois</a></li>
											<li><a href="#">Dr Miracles</a></li>
											<li><a href="#">John Frieda</a></li>
											<li><a href="#">Revlon</a></li>
											<li><a href="#">Sorbet</a></li>
											<li><a href="#">The Body Shop</a></li>
											<li><a href="#">Twisted Sista</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Tips & trends</h3></li>
											<li><a href="#">Tips & trends</a></li>
											<li><a href="#">Sexy and stress-free summer hair</a></li>
											<li><a href="#">The secret to beautiful skin</a></li>
											<li><a href="#">5 nail trends to try this summer</a></li>
											<li><a href="#">Read more...</a></li>
										</ul>
									</div>
								</div>
							</section>
						</li>
						<li>
							<a href="#" class="nav-link">Toiletries </a>
							<section>
								<div class="inner-menu">
									<div class="row">
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Browse by category</h3></li>
											<li><a href="#">Dental</a></li>
											<li><a href="#">Deodorants</a></li>
											<li><a href="#">Haircare</a></li>
											<li><a href="#">Black haircare</a></li>
											<li><a href="#">Hand & body care</a></li>
											<li><a href="#">Skin & sun care</a></li>
											<li><a href="#">Washing & bathing</a></li>
											<li><a href="#">Gifts</a></li>
											<li><a href="#">For her</a></li>
											<li><a href="#">For him</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Shop and save in Toiletries</h3></li>
											<li><li><a href="#">New in</a></li>
											<li><a href="#">Excusive to Clicks</a></li>
											<li><a href="#">Premium</a></li>
											<li><a href="#">Buy 1, 2nd 1/2 price shaving</a></li>
											<li><a href="#">2 for R150 haircare</a></li>
											<li><a href="#" class="link">All toiletries promotions...</a></li>
											<ul>
												<li><h3>Ethnicity</h3></li>
												<li><a href="#">Black haircare</a></li>
												<li><a href="#">Black skincare</a></li>
											</ul>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Featured brands</h3></li>
											<li><a href="#">Axe</a></li>
											<li><a href="#">Brut</a></li>
											<li><a href="#">Dove</a></li>
											<li><a href="#">Gillette</a></li>
											<li><a href="#">Palmolive</a></li>
											<li><a href="#">Sanex</a></li>
											<li><a href="#">Shield</a></li>
											<li><a href="#">The Body Shop</a></li>
										</ul>
									</div>
								</div>
							</section>
						</li>
						<li>
							<a href="#" class="nav-link">Baby</a>							
							<section>
								<div class="inner-menu">
									<div class="row">
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Browse by category</h3></li>
											<li><a href="#">Planning for baby</a></li>
											<li><a href="#">Pregnancy</a></li>
											<li><a href="#">New mom</a></li>
											<li><a href="#">Baby feeding</a></li>
											<li><a href="#">Nappies & wipes</a></li>
											<li><a href="#">Baby & child health</a></li>
											<li><a href="#">Toiletries</a></li>
											<li><a href="#">Baby & toddler food</a></li>
											<li><a href="#">Clothing & toys</a></li>
											<li><a href="#">Gifts</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Shop and save in Baby</h3></li>
											<li><a href="#">New in</a></li>
											<li><a href="#">Excusive to Clicks</a></li>
											<li><a href="#">Premium</a></li>
											<li><a href="#">Free wipes with Pampers Nappies</a></li>
											<li><a href="#">2 for R150 cotton pads</a></li>
											<li><a href="#" class="link">All baby promotions...</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Featured brands</h3></li>
											<li><a href="#">Avent</a></li>
											<li><a href="#">Britax</a></li>
											<li><a href="#">Clicks Baby</a></li>
											<li><a href="#">Cow & Gate</a></li>
											<li><a href="#">Johnson's Baby</a></li>
											<li><a href="#">Pampers</a></li>
											<li><a href="#">Tutti Bambini</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Articles & advice</h3></li>
											<li><a href="#">How to manage kids' allergies</a></li>
											<li><a href="#">Preparing for pregnancy</a></li>
											<li><a href="#">How to get rid of lousy head lice</a></li>
											<li><a href="#">Top 10 newborn baby essentials</a></li>
											<li><a href="#" class="link">Read more...</a></li>
											<div>
												<h4>Join BabyClub for exclusive savings & advice</h4>
												<a href="#">Helping Hand Trust clinics</a>
											</div>
										</ul>
									</div>
								</div>
							</section>
						</li>
						<li>
							<a href="#" class="nav-link">For men</a>
							<section>
								<div class="inner-menu">
									<div class="row">
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Browse by category</h3></li>
											<li><a href="#">Aftershave & fragrance</a></li>
											<li><a href="#">Bath, shower & bodycare</a></li>
											<li><a href="#">Condoms & sexual health</a></li>
											<li><a href="#">Deodorant</a></li>
											<li><a href="#">Haircare</a></li>
											<li><a href="#">Health</a></li>
											<li><a href="#">Shaving</a></li>
											<li><a href="#">Skincare</a></li>
											<li><a href="#">Supplements</a></li>
											<li><a href="#">Gifts</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Shaving</h3></li>
											<li><a href="#">Razors</a></li>
											<li><a href="#">Razor blades</a></li>
											<li><a href="#">Shaving foam & gels</a></li>
											<li><a href="#">Electric shavers</a></li>
											<ul>
												<li><h3>Ethnicity</h3></li>
												<li><a href="#">Black haircare</a></li>
												<li><a href="#">Black skincare</a></li>
											</ul>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Shop and save in Men</h3></li>
											<li><a href="#">New in</a></li>
											<li><a href="#">Excusive to Clicks</a></li>
											<li><a href="#">Premium</a></li>
											<li><a href="#">Free blades with Gillette razors</a></li>
											<li><a href="#">Buy 1, 2nd 1/2 price L'Oréal Men</a></li>
											<li><a href="#" class="link">All promotions for men...</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Featured brands</h3></li>
											<li><a href="#">Axe</a></li>
											<li><a href="#">Braun</a></li>
											<li><a href="#">Clicks Men's Grooming</a></li>
											<li><a href="#">Gillette</a></li>
											<li><a href="#">GNC</a></li>
											<li><a href="#">L'Oréal Men Expert</a></li>
											<li><a href="#">Nivea Men</a></li>
											<li><a href="#">Wilkinson Sword</a></li>
										</ul>
									</div>
								</div>
							</section>
						</li>
						<li>
							<a href="#" class="nav-link">Electrical</a>
							<section>
								<div class="inner-menu">
									<div class="row">
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Browse by category</h3></li>
											<li><a href="#">Allergy & hayfever</a></li>
											<li><a href="#">Baby & child</a></li>
											<li><a href="#">Condoms & sexual health</a></li>
											<li><a href="#">Cough, cold and flu</a></li>
											<li><a href="#">Diet & weight loss</a></li>
											<li><a href="#">First aid</a></li>
											<li><a href="#">Health food</a></li>
											<li><a href="#">Mens health</a></li>
											<li><a href="#">Pain relief</a></li>
											<li><a href="#">Pregnancy & new mom</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Shop and save in Health</h3></li>
											<li><a href="#">New in</a></li>
											<li><a href="#">Excusive to Clicks</a></li>
											<li><a href="#">Premium</a></li>
											<li><a href="#">3 for 2 selected vitamins</a></li>
											<li><a href="#">Save 20% cold & flu remedies</a></li>
											<li><a href="#" class="link">All health promotions...</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Clicks services</h3></li>
											<li><a href="#">Pharmacies</a></li>
											<li><a href="#">Prescriptions</a></li>
											<li><a href="#">Clinics</a></li>
											<li><a href="#">Helping Hands Trust Clinics</a></li>
											<li><a href="#">Medical Aid Partners</a></li>
											<li><a href="#">Discovery Health</a></li>
											<li><a href="#">Symptom Checker</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Clicks services</h3></li>
											<li><a href="#">Pharmacies</a></li>
											<li><a href="#">Prescriptions</a></li>
											<li><a href="#">Clinics</a></li>
											<li><a href="#">Helping Hands Trust Clinics</a></li>
											<li><a href="#">Medical Aid Partners</a></li>
											<li><a href="#">Discovery Health</a></li>
											<li><a href="#">Symptom Checker</a></li>
										</ul>
									</div>
								</div>
							</section>
						</li>
						<li>
							<a href="#" class="nav-link">Household</a>
							<section>
								<div class="inner-menu">
									<div class="row">
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Browse by category</h3></li>
											<li><a href="#">Allergy & hayfever</a></li>
											<li><a href="#">Baby & child</a></li>
											<li><a href="#">Condoms & sexual health</a></li>
											<li><a href="#">Cough, cold and flu</a></li>
											<li><a href="#">Diet & weight loss</a></li>
											<li><a href="#">First aid</a></li>
											<li><a href="#">Health food</a></li>
											<li><a href="#">Mens health</a></li>
											<li><a href="#">Pain relief</a></li>
											<li><a href="#">Pregnancy & new mom</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Shop and save in Health</h3></li>
											<li><a href="#">New in</a></li>
											<li><a href="#">Excusive to Clicks</a></li>
											<li><a href="#">Premium</a></li>
											<li><a href="#">3 for 2 selected vitamins</a></li>
											<li><a href="#">Save 20% cold & flu remedies</a></li>
											<li><a href="#" class="link">All health promotions...</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Clicks services</h3></li>
											<li><a href="#">Pharmacies</a></li>
											<li><a href="#">Prescriptions</a></li>
											<li><a href="#">Clinics</a></li>
											<li><a href="#">Helping Hands Trust Clinics</a></li>
											<li><a href="#">Medical Aid Partners</a></li>
											<li><a href="#">Discovery Health</a></li>
											<li><a href="#">Symptom Checker</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Clicks services</h3></li>
											<li><a href="#">Pharmacies</a></li>
											<li><a href="#">Prescriptions</a></li>
											<li><a href="#">Clinics</a></li>
											<li><a href="#">Helping Hands Trust Clinics</a></li>
											<li><a href="#">Medical Aid Partners</a></li>
											<li><a href="#">Discovery Health</a></li>
											<li><a href="#">Symptom Checker</a></li>
										</ul>
									</div>
								</div>
							</section>
						</li>
						<li>
							<a href="#" class="nav-link">Gifts</a>
							<section>
								<div class="inner-menu">
									<div class="row">
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Browse by category</h3></li>
											<li><a href="#">Allergy & hayfever</a></li>
											<li><a href="#">Baby & child</a></li>
											<li><a href="#">Condoms & sexual health</a></li>
											<li><a href="#">Cough, cold and flu</a></li>
											<li><a href="#">Diet & weight loss</a></li>
											<li><a href="#">First aid</a></li>
											<li><a href="#">Health food</a></li>
											<li><a href="#">Mens health</a></li>
											<li><a href="#">Pain relief</a></li>
											<li><a href="#">Pregnancy & new mom</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Shop and save in Health</h3></li>
											<li><a href="#">New in</a></li>
											<li><a href="#">Excusive to Clicks</a></li>
											<li><a href="#">Premium</a></li>
											<li><a href="#">3 for 2 selected vitamins</a></li>
											<li><a href="#">Save 20% cold & flu remedies</a></li>
											<li><a href="#" class="link">All health promotions...</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Clicks services</h3></li>
											<li><a href="#">Pharmacies</a></li>
											<li><a href="#">Prescriptions</a></li>
											<li><a href="#">Clinics</a></li>
											<li><a href="#">Helping Hands Trust Clinics</a></li>
											<li><a href="#">Medical Aid Partners</a></li>
											<li><a href="#">Discovery Health</a></li>
											<li><a href="#">Symptom Checker</a></li>
										</ul>
										<ul class="menu-list-links col-md-3 col-sm-3">
											<li><h3>Clicks services</h3></li>
											<li><a href="#">Pharmacies</a></li>
											<li><a href="#">Prescriptions</a></li>
											<li><a href="#">Clinics</a></li>
											<li><a href="#">Helping Hands Trust Clinics</a></li>
											<li><a href="#">Medical Aid Partners</a></li>
											<li><a href="#">Discovery Health</a></li>
											<li><a href="#">Symptom Checker</a></li>
										</ul>
									</div>
								</div>
							</section>
						</li>
					</ul>
					<ul class="nav-list offers">
						<li>
							<a href="#" class="nav-link">New</a>
							<section>
							<div class="inner-menu">
								<div class="row">
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li><h3>Browse by category</h3></li>
										<li><a href="#">Beauty</a></li>
										<li><a href="#">Toiletries</a></li>
										<li><a href="#">Baby</a></li>
										<li><a href="#">For men</a></li>
										<li><a href="#">Electrical</a></li>
										<li><a href="#">Household</a></li>
										<li><a href="#">Gifts</a></li>
									</ul>
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li><h3>Shop New in Beauty</h3></li>
										<li><a href="#">Exclusive to Clicks</a></li>
										<li><a href="#">Top-rated</a></li>
										<li><a href="#">Fragrance</a></li>
										<li><a href="#">Make-up</a></li>
										<li><a href="#">Nails</a></li>
										<li><a href="#">Hair</a></li>
										<li><a href="#">Skincare</a></li>
									</ul>
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li><h3>Shop new</h3>
										<li><a href="#">Exclusive to Clicks in Health</a></li>
										<li><a href="#">Exclusive to Clicks in Toiletries</a></li>
										<li><a href="#">Exclusive to Clicks For men</a></li>
										<li><a href="#">Exclusive to Clicks in Electrical</a></li>
									</ul>
								</div>
							</div>
							</section>
						</li>
						<li>
							<a href="#" class="nav-link">Promotions</a>
							<section>
							<div class="inner-menu">
								<div class="row">
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li><h3>Browse by category</h3>
										<li><a href="#">Health</a>
										<li><a href="#">Beauty</a>
										<li><a href="#">Toiletries</a>
										<a href="#">Baby</a>
										<a href="#">For men</a>
										<a href="#">Electrical</a>
										<a href="#">Household</a>
										<a href="#">Gifts</a>
									</ul>
									<ul class="menu-list-links col-md-3 col-sm-3">
										<h3>On promotion</h3>
										<a href="#">Save 20% cold & flu remedies</a>
										<a href="#">Free blades with Gillette razors</a>
										<a href="#">Save 20% selected MasterChef</a>
										<a href="#" class="link">All household promotions...</a>				
										<ul>
											<li><h3>ClubCard exclusive savings</h3></li>
											<li><a href="#">Save R15 on Bion Multivitamins</a></li>
											<li><a href="#">Save R15 on Centrum Omega 3</a></li>
											<li><a href="#">Save R5 on Colgate Sensitive</a></li>
											<li><a href="#" class="link">All ClubCard exclusive promotions...</a></li>
										</ul>
									</ul>
									<div class="block red">
										Don't miss exclusive savings with Clicks ClubCard<br /> <a href="#">Sign in</a> to see all savings or <a href="#">join</a> ClubCard 
									</div>
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li>
											<p>
												<img src="../image/img_promo_1.jpg" alt="" /> 
												<strong>Mix & match 3 for 2</strong> <br />
												<span>selected shampoos</span>
											</p>
											<p>
												<img src="../image/img_promo_2.jpg" alt="" /> 
												<strong>Save 20% </strong>
												<span>selected bodycream<span>
											</p>
										</li>
									</ul>
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li>
											<p>
												<img src="../image/img_promo_3.jpg" alt="" /> 
												<strong>Mix & match 3 for 2</strong><br />
												<span>selected shampoos</span>
											</p>
											<p>
												<img src="../image/img_promo_4.jpg" alt="" /> 
												<strong>Save 50% </strong>
												<span>selected GNC</span>
											</p>
										</li>
									</ul>										
								</div>
							</div>
							</section>
						</li>
						<li>
							<a href="#" class="nav-link">ClubCard</a>
							<section>
							<div class="inner-menu">
								<div class="row">
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li><h3>Clicks ClubCard</h3></li>
										<li><a href="#">How does ClubCard work?</a></li>
										<li><a href="#">Earn points with our partners</a></li>
										<li><a href="#">Partnership with Discovery Vitality</a></li>
										<li><a href="#">Join our BabyClub</a></li>
										<li><a href="#">Exclusive travel deals</a></li>
										<li><a href="#">Financial services</a></li>
									</ul>
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li><h3>Competitions</h3></li>
										<li><a href="#">Freebies Competition</a></li>
										<li><a href="#">USN PureFit Bicycle Giveaway</a></li>
										<li><a href="#">BabyClub and Bio-Oil Competition</a></li>
										<li><a href="#" class="link">All competitions...</a></li>
										<ul>
											<li><h3>Lifestyle articles</h3></li>
											<li><a href="#">Reach your goals in 2015</a></li>
											<li><a href="#">How to give the perfect fragrance</a></li>
											<li><a href="#">Spring clean your home</a></li>
											<li><a href="#" class="link">All lifestyle articles...</a></li>
										</ul>
									</ul>
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li><h3>Beauty articles</h3></li>
										<li><a href="#">Top beauty tip for 2015</a></li>
										<li><a href="#">3 new party looks to try this season</a></li>
										<li><a href="#">Guide to the wonder of beauty oils</a></li>
										<li><a href="#" class="link">All Beauty articles...</a></li>
										<ul>
											<li><h3>Baby articles</h3></li>
											<li><a href="#">T5 tips to healthier eating habits</a></li>
											<li><a href="#">How to get rid of lousy head lice</a></li>
											<li><a href="#">Preparing for pregnancy</a></li>
											<li><a href="#" class="link">All Baby articles...</a></li>
										</ul>
									</ul>
									<ul class="menu-list-links col-md-3 col-sm-3">
										<li>
											<img src="../image/img_club_card.jpg" alt="" />
											<strong>Clubcard magazine</strong>
											<span>Issue Q1/2015</span>
											<a href="#" class="link read-online">Read online preview</a>
										</li>
									</ul>
								</div>
							</div>
							</section>
						</li>
					</ul>
				</nav>
			</div>
			<div id="healthhub" class="tab-pane fade">
				Section B
			</div>
		</div>
		</div>
	</div>
	include "mb-header.html"
	<!--<div class="mobile-header visible-xs">
		<div class="mb-logo">
			<a href="#"><img src="../image/mb_logo.png" alt="logo" data-elem="pinchzoomer"/></a>
		</div>
		<div class="mobile-nav-bar">
			<nav>
				<ul>
					<li>
						<a href="#" class="icon-menu">Menu icon</a>
					</li>
					<li>
						<a href="#" class="icon-search">Search</a>
					</li>
					<li>
						<a href="#" class="icon-sign-in">Sign in</a>
					</li>
					<li>
						<a href="#" class="icon-store">Store locator</a>
					</li>
					<li>
						<a href="#" class="icon-presc">Order prescription</a>
					</li>
					<li>
						<a href="#" class="icon-basket">Basket</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>-->
</header>
<div id="menu-overlay"></div>