<section class="main-container bg-gray clearfix v-n-s-Page">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="promo-wrap clearfix health-slider-outer">
					<ul class="health-promo-slider product-slider clearfix" data-classname="home-promo-slider" data-pager="false">
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-1.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Healthy for life Healthy</h4>
									<div class="prod-description">Take these important steps throughout your life</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Why core strength is so important</h4>
									<div class="prod-description">What is it, why is it so important, and how do you do it?</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>How aromatherapy oils boost your health</h4>
									<div class="prod-description">A remedy for a host of physical and psychological ills</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Restful sleep remedies</h4>
									<div class="prod-description">Lorem ipsum dolor sit amet, consectetur</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>	
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="healthSyptoms">
					<img src="../image/steth-landing.jpg" alt=""> 
					<div class="healthSyptomsContent">
					<h2>Find out what your symptoms could mean</h2>
					<button class="btn btnBig">Check your symptoms</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="clearfix healthSlilder">
					<!-- Partner slider heading  -->
					<div class="clearfix bg-light-green">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-custom">
							<div class="pull-left">
								<h2>Special health centres</h2>
							</div>
						</div>
					</div> 
					<!-- Partner slider  -->
					<div class="partner-wrap clearfix bg-white hCWrapper">
						<div class="partner-spacing col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<ul class="health-top-slider">
								<li><a href="#"> <img src="../image/sprite-new/heart-green-big.png" alt=""> Heart disease</a></li>
								<li><a href="#"> <img src="../image/sprite-new/diabetes-green-big.png" alt=""> Diabetes</a></li>
								<li><a href="#"> <img src="../image/sprite-new/cancer-green-big.png" alt=""> Cancer</a></li>
								<li><a href="#"> <img src="../image/sprite-new/hiv-green.png" alt=""> HIV</a></li>
								<li><a href="#"> <img src="../image/sprite-new/weight-green.png" alt=""> Weight</a></li> 
							</ul>
						</div>
					</div>
				<!-- partner slider  -->
				</div>
			</div>		
		</div>
			
				<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">			

							<!--  article Block start-->
				<div class="articleBlock bg-white clearfix tb-res">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-2.jpg" alt=""></a>
						</div>
							<h4><a href ="#">My child has chickenpox. Will my unborn baby be affected</a></h4>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-1.jpg" alt=""></a>
						</div>
							<h4><a href ="#">Blood pressure: why it's crucial to know your numbers</a></h4>
					</div>
				</div>
				<!--  article Block end-->
				</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				
				
			</div>
	</div>
</section>
<div id="div-overlay"></div>

