<section class="main-container bg-gray clearfix hLandingPage">
	<div class="container">
		<div class="row">
			<div class="commonTab healthTab">
				<ul class="tabs">
					<li class="firstLi">Latest Articles</li>
					<li class="active "><a href="#tab1" data-toggle="tab" class="jumper">All</a></li>
					<li class=""><a href="#tab2" data-toggle="tab" class="jumper">Competitions</a></li> 
					<li class=""><a href="#tab3" data-toggle="tab" class="jumper">Expert Reviews</a></li>
					<li class=""><a href="#tab4" data-toggle="tab" class="jumper">Health</a></li>
					<li class=""><a href="#tab5" data-toggle="tab" class="jumper">Lifestyle</a></li>
					<li class=""><a href="#tab6" data-toggle="tab" class="jumper">Beauty</a></li>
					<li><a href="#tab7" data-toggle="tab" class="jumper">Baby</a></li>
				</ul>
				<div class="border-line"></div>
				<div class="tabContentWrapper healthTabWrapper tb-res">
					<div class="active" id="tab1">
						<div class="row healthTabOuter">						
							<div class="col-lg-12">
								<div class="active-tab-outer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-1.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">Fuel up for your big race</a></h4>
											<p>Are you gearing up for an endurance event? Dietician and Adrian Penzhorn offers his tips.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-2.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Baby</span>
												 </div>
											</div>
											<h4><a href="#">7 baby bath basics you need to know</a></h4>
											<p>Rolls and folds are undeniably adorable but they can be tricky to wash</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-3.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span> <span class="TagOuter">Expert Reviews</span>
												 </div>
											</div>
											<h4><a href="#">Best butternut-soup recipe</a></h4>
											<p>Butternut soup is a winter favourite. This recipe gives the winter classic a spicy twist.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-4.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-5.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Beauty</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-6.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-7.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-8.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Beauty</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-9.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-10.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-11.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Beauty</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-12.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button class="btn btnBig">Load more articles</button>
						</div>
					</div>
					<div class="" id="tab2">
						<div class="row healthTabOuter">						
							<div class="col-lg-12 healthTabOuter">
								<div class="active-tab-outer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-1.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Competitions</span>
												 </div>
											</div>
											<h4><a href="#">Fuel up for your big race</a></h4>
											<p>Are you gearing up for an endurance event? Dietician and Adrian Penzhorn offers his tips.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-2.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Competitions</span>
												 </div>
											</div>
											<h4><a href="#">7 baby bath basics you need to know</a></h4>
											<p>Rolls and folds are undeniably adorable but they can be tricky to wash</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-3.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Competitions</span> 
												 </div>
											</div>
											<h4><a href="#">Best butternut-soup recipe</a></h4>
											<p>Butternut soup is a winter favourite. This recipe gives the winter classic a spicy twist.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-4.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-5.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Competitions</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-6.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Competitions</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button class="btn btnBig">Load more articles</button>
						</div>
					</div>
					<div class="" id="tab3">
						<div class="row healthTabOuter">						
							<div class="col-lg-12 healthTabOuter">
								<div class="active-tab-outer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-1.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">Fuel up for your big race</a></h4>
											<p>Are you gearing up for an endurance event? Dietician and Adrian Penzhorn offers his tips.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-2.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Expert Reviews</span>
												 </div>
											</div>
											<h4><a href="#">7 baby bath basics you need to know</a></h4>
											<p>Rolls and folds are undeniably adorable but they can be tricky to wash</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-3.jpg" alt="" />
												<div class="TagWrapper">
													<span class="TagOuter">Expert Reviews</span>
												 </div>
											</div>
											<h4><a href="#">Best butternut-soup recipe</a></h4>
											<p>Butternut soup is a winter favourite. This recipe gives the winter classic a spicy twist.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button class="btn btnBig">Load more articles</button>
						</div>
					</div>
					<div class="" id="tab4">
						<div class="row healthTabOuter">						
							<div class="col-lg-12 healthTabOuter">
								<div class="active-tab-outer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-1.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">Fuel up for your big race</a></h4>
											<p>Are you gearing up for an endurance event? Dietician and Adrian Penzhorn offers his tips.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-10.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button class="btn btnBig">Load more articles</button>
						</div>
					</div>
					<div class="" id="tab5">
						<div class="row healthTabOuter">						
							<div class="col-lg-12 healthTabOuter">
								<div class="active-tab-outer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-1.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Fuel up for your big race</a></h4>
											<p>Are you gearing up for an endurance event? Dietician and Adrian Penzhorn offers his tips.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-2.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">7 baby bath basics you need to know</a></h4>
											<p>Rolls and folds are undeniably adorable but they can be tricky to wash</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button class="btn btnBig">Load more articles</button>
						</div>
					</div>
					<div class="" id="tab6">
						<div class="row healthTabOuter">						
							<div class="col-lg-12 healthTabOuter">
								<div class="active-tab-outer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-2.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Baby</span>
												 </div>
											</div>
											<h4><a href="#">7 baby bath basics you need to know</a></h4>
											<p>Rolls and folds are undeniably adorable but they can be tricky to wash</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-3.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span> <span class="TagOuter">Expert Reviews</span>
												 </div>
											</div>
											<h4><a href="#">Best butternut-soup recipe</a></h4>
											<p>Butternut soup is a winter favourite. This recipe gives the winter classic a spicy twist.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-4.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-5.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Beauty</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-6.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-7.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-8.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Beauty</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-9.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-10.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-11.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Beauty</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-12.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button class="btn btnBig">Load more articles</button>
						</div>
					</div>
					<div class="" id="tab7">
						<div class="row healthTabOuter">						
							<div class="col-lg-12 healthTabOuter">
								<div class="active-tab-outer">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-4.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-5.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Beauty</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-6.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-7.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-8.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Beauty</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-9.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-10.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Health</span>
												 </div>
											</div>
											<h4><a href="#">What is ‘healthy’ cholesterol?</a></h4>
											<p>We often hear medical experts talk about good and bad cholesterol, but what does that mean?</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-11.jpg" alt="" />
												<div class="TagWrapper">
												  <span class="TagOuter">Beauty</span>
												 </div>
											</div>
											<h4><a href="#">How to brighten up</a></h4>
											<p>Even the peachiest of complexions tend to take on a lacklustre appearance in winter. </p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
										<div class="tabThumbWrapper">
											<div class="tabThumbImage">
												<img src="../image/thumb/thumb-12.jpg" alt="" />
												<div class="TagWrapper">
												 <span class="TagOuter">Lifestyle</span>
												 </div>
											</div>
											<h4><a href="#">Easy-peasy recipe for roast lamb</a></h4>
											<p>Making a roast need not be daunting. ClubCard art director’s recipe for luscious roast lamb.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button class="btn btnBig">Load more articles</button>
						</div>
					</div>
				</div>
			</div>	
			
		</div>
	</div>
	
</section>
<div id="div-overlay"></div>