<div class="healthTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h2>Healthy living</h2>
				<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
 			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			</div>
		</div>
	</div>
</div>