<div class="clearfix bg-white helpTop order-top-space">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1>Help <span>Section</span></h1>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<p>We hope our Help section comprehensive enough to get you the information you need.</p>
			</div>
		</div>
	</div>
</div>