<section class="main-container helpOuterWrapper">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="clearfix helpInnerWrapper">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="bg-white">
							<div class="helpSection">
								<a class="arrow-right" href="#">Online store Q&amp;A </a>
								<p>How our ordering and delivery processes work, how to return or exchange products, and how to access all our promotions.</p>
							</div>
							<div class="helpSection">
								<a class="arrow-right" href="#">ClubCard Q&amp;A </a>
								<p>All you need to know about the Clicks ClubCard Programme, its rules, frequently asked questions and more.</p>
							</div>
							<div class="helpSection">
								<a class="arrow-right" href="#">Competitions Q&amp;A </a>
								<p>Find out about our online and in-store competition rules, how winners get chosen and how to find out if you've won.</p>
							</div>
							<div class="helpSection">
								<a class="arrow-right" href="#">Stores Q&amp;A </a>
								<p>Browse through store related information like how to find a store, how to resolve issues and more.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="bg-white">
							<div class="helpSection">
								<a class="arrow-right" href="#">Prescriptions Q&amp;A </a>
								<p>How our ordering and delivery processes work, how to return or exchange products, and how to access all our promotions.</p>
							</div>
							<div class="helpSection">
								<a class="arrow-right" href="#">Products &amp; promotions Q&amp;A </a>
								<p>A list of frequently asked questions, return policies and advice relating to the products Clicks stocks.</p>
							</div>
							<div class="helpSection">
								<a class="arrow-right" href="#">Social channels Q&amp;A </a>
								<p>Clicks makes use of Facebook, Twitter and a few other online channels. Find out what they are and how to connect with us</p>
							</div>
							<div class="helpSection">
								<a class="arrow-right" href="#">Legal</a>
								<p>Browse through our terms and conditions, privacy policies, copyright and other legal information.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End wrapper div -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="contactCommonSection clearfix bg-white">
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<h4>Not find an answer?</h4>
						<div class="contactCommonDesc">Use our contact page, or call our Customer Service Centre on</div> 
						<div class="contactCommonNo">0860 254 257</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<button class="btn btn-save-change">Contact us</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>