<section class="main-container helpTopicWrapper">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="clearfix helpInnerWrapper">
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="bg-white helpAccordion">
						
				 <div class="accordion">
			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-1">How do I get my Cashback rewards?</a>
				<div id="accordion-1" class="accordion-section-content">
					<p>-NB Current FAQ answers will need to be updated. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc.</p>
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->

			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-2">How do I check my ClubCard points and cashback online?</a>
				<div id="accordion-2" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->

			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-3">I am missing points - where are they?</a>
				<div id="accordion-3" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-4">How do I apply for family ClubCards so we can earn points faster?</a>
				<div id="accordion-4" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-5">How do I update my ClubCard details online?</a>
				<div id="accordion-5" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-6">How do I replace a lost or damaged ClubCard?</a>
				<div id="accordion-6" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			<div class="accordion-section">
				<a class="accordion-section-title" href="#accordion-7">What are the ClubCard terms & conditions of use?</a>
				<div id="accordion-7" class="accordion-section-content">
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
				</div><!--end .accordion-section-content-->
			</div><!--end .accordion-section-->
			
		</div>
							 
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="helpQuicklinks clearfix bg-white">
						<h4>Help topics</h4>
						<ul>
							<li><a href="#">Online store</a></li>
							<li><a href="#">Prescriptions</a></li>
							<li class="currentLink"><a href="#">ClubCard</a></li>
							<li><a href="#">Products &amp; promotions</a></li>
							<li><a href="#">Competitions</a></li>
							<li><a href="#">Social channel</a></li>
							<li><a href="#">Stores</a></li>

						</ul>
						</div>
						<div class="contactCommonSection clearfix bg-white">
							<h4>Not find an answer?</h4>
							<div class="contactCommonDesc">Use our contact page, or call our Customer Service Centre on <strong>0860 254 257</strong></div> 
							<button class="btn btn-save-change">Contact us</button>
						</div>
					</div>
				</div>
				<!-- End wrapper div -->
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>