<div class="container">		
	<a href="#" class="promo-link pull-right">20% off Revion perfume this weekend only<span class="arrow-blue-sm"></span></a>
</div>
<section class="main-container"> 
	<div class="main-banner">	
		<ul class="bxslider">
			<li class="pink">  
				<div class="banner">
					<img src="../image/home/img_banner1.jpg" class="hidden-xs" />
					<img src="../image/home/mb_img_banner1.jpg" class="visible-xs" />
					<div class="banner-content">
						<span class="badges no-badge"></span>
						<h2 class="banner-title">Maybelline <small>Colour show</small></h2>
						<a href="#" class="btn btn-bg">See all cosmetics</a>
					</div>
				</div>
			</li>
			<li>
				<div class="banner">
					<img src="../image/home/img_banner2.jpg" class="hidden-xs" />
					<img src="../image/home/mb_img_banner1.jpg" class="visible-xs" />
					<div class="banner-content">
						<span class="badges banner-badge-only"></span>
						<h2 class="banner-title">Only at Clicks <small>Electrical</small></h2>
						<a href="#" class="btn btn-bg">See all electrical items</a>
					</div>
				</div>
			</li>
			<li>
				<div class="banner">
					<img src="../image/home/img_banner3.jpg" class="hidden-xs" />
					<img src="../image/home/mb_img_banner1.jpg" class="visible-xs" />
					<div class="banner-content">
						<span class="badges banner-badge-mix"></span>
						<h2 class="banner-title">Mix & match 3 for 2 <small>Eau Thermale Avène</small></h2>
						<a href="#" class="btn btn-bg">See all mix & match Avene</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="home-find-store container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<a href="#" class="new-store">Website announcement space :<br/> new store opening, double points in-store, etc<span class="arrow-white"></span></a>
			</div>
			<div class="col-md-6 col-sm-6">
				<a href="#" class="nearest-store">Find my nearest store, pharmacy or clinic<span class="arrow-white"></span></a>				
			</div>
		</div>
	</div>
	<div class="health-push container">
		<div class="row">
			<div class="col-md-4">
				<div class="order-presc">
					<img src="../image/home/img_health_1.jpg" />
					<p>Order your prescription online and pick it up at the pharmacy</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="manage-presc">
					<img src="../image/home/img_health_2.jpg" />
					<p>Manage your repeat prescriptions</p>
				</div>	
			</div>
			<div class="col-md-4">
				<div class="health-concern">
					<img src="../image/home/img_health_3.jpg" />
					<p>Health concern troubling you?</p>
				</div>		
			</div>
		</div>
	</div>
	<hr />
	<div class="container latest-promo">
		<h2 class="main-title">Latest promotions <small>in summer skincare</small><span class="arrow-blue"></span></h2>
		<div class="row">
			<ul class="promo-slider" data-call="bxslider" data-options="{slideMargin:0, autoReload:true, pager:false, controls:true}" data-breaks="[{screen:0, slides:1, pager:false, controls:true},{screen:460, slides:2, controls:true},{screen:768, slides:4, controls:true}]">
				<li class="col-md-3">
					<div class="promo-prod">
						<p class="badges red"><span>Save 20%</span></p>
						<a href="#" class="product"><img src="../image/prd_1.png" /></a>
						<h4>Avène</h4>
						<p class="prod-desc">Thermal Water Face Nourishing Spray, 300ml</p>
						<p class="prod-price">28<sup>60</sup></p>
						<p class="star-rating"></p>
						<a href="#" class="btn btnAdd">Add</a>
						<a href="#" class="btnSave">Save 20% on selected Avene</a>
					</div>
				</li>
				<li class="col-md-3">
					<div class="promo-prod">
						<p class="badges mix-match"><span>Mix & Match</span></p>
						<a href="#" class="product"><img src="../image/prd_2.png" /></a>
						<h4>Botanics</h4>
						<p class="prod-desc">Organic Face Nourishing Eye Make Up Remover 75ml</p>
						<p class="prod-price">28<sup>60</sup></p>
						<p class="star-rating"></p>
						<a href="#" class="btn btnAdd">Add</a>
					</div>
				</li>
				<li class="col-md-3">
					<div class="promo-prod">
						<p class="badges blue"><span>Only at clicks</span></p>
						<a href="#" class="product"><img src="../image/prd_3.png" /></a>
						<h4>John Frieda</h4>
						<p class="prod-desc">Full Repair Protecting Root Lift Foam 200ml</p>
						<p class="prod-price">21<sup>00</sup></p>
						<p class="star-rating"></p>
						<a href="#" class="btn btnAdd">Add</a>
					</div>
				</li>
				<li class="col-md-3">
					<div class="promo-prod">
						<p class="badges red"><span>Save 20%</span></p>
						<a href="#" class="product"><img src="../image/prd_4.png" /></a>
						<h4>philosophy</h4>
						<p class="prod-desc">Thank you raspberry sorbet gift set</p>
						<p class="prod-price">24<sup>00</sup></p>
						<p class="star-rating"></p>
						<a href="#" class="btn btnAdd">Add</a>
						<a href="#" class="btnSave">Save 20% on selected Avene</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="signin-enrole">
			<p class="pull-left">Don't miss exclusive savings with Clicks ClubCard</p>
			<p class="pull-right"><a href="#">Sign in</a> to see all savings or <a href="#">enrole</a> for ClubCard </p>
		</div>
	</div>
	<div class="container new-at-clicks">
		<h2 class="main-title">New at <small>Clicks in Beauty</small><span class="arrow-blue"></span></h2>
		<div class="row">
			<div class="col-md-4">
				<div class="new-prod">
					<span class="badges new"></span>
					<a class="product" href="#"><img src="../image/home/img_new_prod_1.jpg"></a>
					<h4>Bourjois</h4>
					<p class="prod-desc">Rouge Edition Lipstick</p>
					<p class="prod-price">21<sup>00</sup></p>
					<p class="star-rating"></p>
					<a class="btn btnAdd" href="#">Add</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="new-prod">
					<a class="product" href="#"><img src="../image/home/img_new_prod_2.jpg"></a>
					<h4>Benefit</h4>
					<p class="prod-desc">Benefit Benetint</p>
					<p class="prod-price">23<sup>00</sup></p>
					<p class="star-rating"></p>
					<a class="btn btnAdd" href="#">Add</a>
					<a class="btnSave" href="#">Save 20% on selected Avene</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="clicks-health-info">
					<img src="../image/home/clicks_health_info.jpg" />
					<h4>Lorem ipsum dolor sit amet,</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut euismod nisl, in congue lacus. Maecenas quis posuere dui, id</p>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="container only-at-clicks">
		<h2 class="main-title">Only <small>at Clicks</small><span class="arrow-blue"></span></h2>
		<ul class="bxslider">
			<li class="logo">
				<a href="#"><img src="../image/home/logo_1.png" /></a>
			</li>
			<li class="logo">
				<a href="#"><img src="../image/home/logo_2.png" /></a>
			</li>
			<li class="logo">
				<a href="#"><img src="../image/home/logo_3.png" /></a>
			</li>
			<li class="logo">
				<a href="#"><img src="../image/home/logo_4.png" /></a>
			</li>
			<li class="logo">
				<a href="#"><img src="../image/home/logo_5.png" /></a> 
			</li>
		</ul>
	</div>
	<hr />
	<div class="container club-card">
		<h2 class="main-title">From Clicks <small>ClubCard</small><span class="arrow-blue"></span></h2>
		<div class="row">
			<div class="col-md-4">
				<img src="../image/home/img_card_1.jpg" alt="" />
				<p>Magazine issue 4. </br>Spring 2014 out now!</p>
			</div>
			<div class="col-md-4">
				<img src="../image/home/img_card_2.jpg" alt="" />
				<p>Are you using all your </br>clubcard benefits?</p>
			</div>
			<div class="col-md-4">
				<img src="../image/home/img_card_3.jpg" alt="" />
				<p>Double points with ClubCard travel</p>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>