<section class="main-container bg-gray clearfix v-n-s-Page health-depth-Outer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="promo-wrap clearfix health-slider-outer">
					<ul class="health-promo-slider product-slider clearfix" data-classname="home-promo-slider" data-pager="false">
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-1.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Healthy for life Healthy</h4>
									<div class="prod-description">Take these important steps throughout your life</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Why core strength is so important</h4>
									<div class="prod-description">What is it, why is it so important, and how do you do it?</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>How aromatherapy oils boost your health</h4>
									<div class="prod-description">A remedy for a host of physical and psychological ills</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Restful sleep remedies</h4>
									<div class="prod-description">Lorem ipsum dolor sit amet, consectetur</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>	
			<!-- Right side-->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="vitSupBlock bg-white clearfix">
					<h3>Heart disease information</h3>
					<ul>
						<li><a href ="#">What is heart disease?</a></li>
						<li><a href ="#">Whare are the symptoms?</a></li>
						<li><a href ="#">How is heart disease treated?</a></li>
						<li><a href ="#">How can you manage your heart disease?</a></li>
						<li><a href ="#">Latest news &amp; developments</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="symptomsChecker">
					<a href="#" class="stethoscope arrow-right"> Check your symptoms</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="symptomsChecker">
					 <a class="book arrow-right" href="#">Manage scripts</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="symptomsChecker">
					 <a class="book-appointment arrow-right" href="#">Book an appointment</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="clearfix bgred">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
						<h2>Latest heart disease news &amp; developments</h2>
					</div>
				</div>		
				<div class="articleBlock bg-white clearfix tb-res">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-2.jpg" alt=""></a>
						</div>
							<h4><a href ="#">Is a high-protein diet bad for your kidneys?</a></h4>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-1.jpg" alt=""></a>
						</div>
							<h4><a href ="#">Top tips for a balanced diet while getting fit</a></h4>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-3.jpg" alt=""></a>
						</div>
							<h4><a href ="#">Is a high-protein diet bad for your kidneys?</a></h4>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-4.jpg" alt=""></a>
						</div>
							<h4><a href ="#">Top tips for a balanced diet while getting fit</a></h4>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-5.jpg" alt=""></a>
						</div>
							<h4><a href ="#">Is a high-protein diet bad for your kidneys?</a></h4>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-6.jpg" alt=""></a>
						</div>
							<h4><a href ="#">Top tips for a balanced diet while getting fit</a></h4>
					</div>
				</div>
				<!--  article Block end-->	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="vns-ad-block">
					<div class="image-center">
						<img src="../image/article/article-mpu.jpg" alt="">
					</div>
				</div>
				<div class="promotion-slider bg-white clearfix">
				<h3 class="text-center"><a href="#">See Clicks' recommended</a></h3>
					<div class="promotionOuter">
						<div class="productBlock slide">
							<!--  <p class="badges mix-match"></p> -->
							<a href="javascript:void(0)"> 
								<img src="../image/article-slide1.jpg" alt="product1" />
							</a>
							<div class="detailContent clearfix">
								<h5>
									<a href="javascript:void(0)">Origins</a>
								</h5>
								<div class="content-height">
								<p>Knot Free Shampoo If Your Hair Acts Hard to
									Combination 250ml</p>
								</div>	
								<p class="priceTag">
									24<span>00</span>
								</p>
								<div class="starWrapper">
									<img src="../image/star.jpg" alt="ratings" />
									<div class="buy-btn-wrap"><button class="btn">Buy</button> </div>
								</div>
								<div class="offerDesc">
									<p class="red">Mix and match 3 for 2</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>

