<div class="healthTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2>Heart disease information centre</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
				<p>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
			</div>
		</div>
	</div>
</div>