<div class="articleTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h2>Enquire about 3* Casuarina Resort &amp; Spa</h2>
					<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away from Grand Bay and 18 kilometers from the capital city of Port Louis.</p>
					<div class="authorWrapper">
						<div class="authorInfoWrapper">
						<div class="authorInfo">by the Reference No: 40880</div>
						</div>
					</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="image-center">
					<img src="../image/travels-top-thumb.jpg"/>
						</div>
			</div>
		</div>
	</div>
</div>