<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix shopBasket">
					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">
							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse">
										<li><a href="">My rewards activity</a></li>
										<li><a href="">My promotions & offers</a></li>
										<li><a href="">Join BabyClub</a></li>
										<li><a href="">Activate Vitality HealthyCare</a></li>
										<li><a href="">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse in">
										<li class="active"><a href="#">Order history</a></li>
										<li><a href="">Saved addresses</a></li>
										<li><a href="">My lists:</a>
											<ul class="shop-ul">
												<li><a href="">My shopping list</a></li>
												<li><a href="">My wishlist</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li><a href="">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->
					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="bg-white clearfix">
						<div class="clearfix bg-light-blue">
							<div
								class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
								<div class="pull-left">
									<h2>Order Summary</h2>
								</div>
								<div class="pull-right text-right">
									<a href="javascript:void(0)">
										#456345678</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 paddingNone">
						<div class=" checkout-confirm-left">
							<div class="pad-spacing clearfix">
								<div class="del-method">
									<h2>Delivery Method</h2>
									<div class="confirm-content">Standard speed delivery -
										Free</div>
									<div class="confirm-content">Up to 5 working days</div>
								</div>
								<div class="del-method">
									<h2>Delivery Address</h2>
									<div class="confirm-content">Firstname Lastname</div>
									<div class="confirm-content">firstname@site.co.za</div>
									<div class="confirm-content">Suburb</div>
									<div class="confirm-content">Address line 1</div>
									<div class="confirm-content">Address line 2</div>
									<div class="confirm-content">City</div>
									<div class="confirm-content">Region</div>
									<div class="confirm-content">Post code</div>
									<div class="confirm-content">12345 12345678</div>
								</div>
								<div class="del-method">
									<h2>Payment options</h2>
									<div class="confirm-content"><div class="price">R12<sup>30</sup></div> ClubCard rewards used</div>
									<div class="confirm-content">Paid successfully using PayU</div>
								</div>
								<div class="del-method">
									<h2>Billing Address</h2>
									<div class="confirm-content">Firstname Lastname</div>
									<div class="confirm-content">Address line 1</div>
									<div class="confirm-content">Address line 2</div>
									<div class="confirm-content">Suburb</div>
									<div class="confirm-content">City</div>
									<div class="confirm-content">Region</div>
									<div class="confirm-content">Post code</div>
								</div>
								<div class="del-method">
									<h2>ClubCard points</h2>
									<div class="confirm-content">309 points earned</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 paddingNone borLeft">
						<div class="inidiviual-order-wrap shopping-list">
							<div class="form-wrap">
								<div class="message">We've split your parcel due to size,
									weight or stock availability. This may impact delivery time. We
									apologise for the inconvenience.</div>
							</div>

							<div class="medicine-coll-head clearfix bg-white">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<h4>
										<span>Parcel 1 - Shipped</span> <span>#456345679</span>
									</h4>
								</div>
							</div>
							<!-- Title-->
							<div class="order-product-head clearfix">
								<div
									class="col-lg-4 col-lg-offset-6 col-sm-offset-7 col-md-3 col-sm-3 hidden-xs text-center">
									<h4>Re-order</h4>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
									<h4>Price</h4>
								</div>
							</div>
							<!-- Title-->
							<!-- Shopping list row -->
							<div class="border  shop-wrap clearfix">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10 shop-list">
									<div class="prod-info">
										<h4>John Frieda</h4>
										<span>Full Repair Protecting Root Lift Foam 200ml</span>
										<div class="price blue">
											R21<sup>00</sup>
										</div>
										<div class="prod_notify tick">3 for 2 on selected John
											Frieda salon products</div>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center hidden-xs">
									<button class="btn btn-small" data-toggle="modal" data-target="#addTobasket">Add to basket</button>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 shop-list">
									<div class="price blue">
										R21<sup>00</sup>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center hidden-lg hidden-md hidden-sm">
									<button class="btn btn-small" data-toggle="modal" data-target="#addTobasket">Add to basket</button>
								</div>
							</div>
							<!-- Shopping list row  end -->
							<!-- Shopping list row -->
							<div class="border  shop-wrap clearfix">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10 shop-list">
									<div class="prod-info">
										<h4>John Frieda</h4>
										<span>Full Repair Protecting Root Lift Foam 200ml</span> <span
											class="offer-data"> Missed savings! 3 for 2 on
											selected John Frieda salon products </span>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center hidden-xs">
									<button class="btn btn-small" data-toggle="modal"
										data-target="#addTobasket">Add to basket</button>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 shop-list">
									<div class="price blue">
										R21<sup>00</sup>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center hidden-lg hidden-md hidden-sm">
									<button class="btn btn-small" data-toggle="modal" data-target="#addTobasket">Add to basket</button>
								</div>
							</div>
							<!-- Shopping list row  end -->
							<!-- Shopping list row -->
							<div class="border  shop-wrap clearfix">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10 shop-list">
									<div class="prod-info">
										<h4>John Frieda</h4>
										<span>Full Repair Protecting Root Lift Foam 200ml</span>
										<div class="price blue">
											R21<sup>00</sup>
										</div>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center hidden-xs">
									<button class="btn btn-small" data-toggle="modal"
										data-target="#addTobasket">Add to basket</button>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 shop-list">
									<div class="price blue">
										R21<sup>00</sup>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center hidden-lg hidden-md hidden-sm">
									<button class="btn btn-small" data-toggle="modal" data-target="#addTobasket">Add to basket</button>
								</div>
							</div>
							<!-- Shopping list row  end -->
							<!-- Shopping list row -->
							<div
								class="col-lg-5 col-md-5 col-sm-6 col-xs-8 col-lg-offset-7 col-md-offset-7 col-sm-offset-6 col-xs-offset-4">
								<div class="shop-wrap subTotal indiviSubTotal">
									<dl>
										<dt>
											<h4>Sub Total</h4>
										</dt>
										<dd>
											<div class="price blue">
												R21<sup>00</sup>
											</div>
										</dd>
									</dl>
									<dl class="totalsaving">
										<dt>(Total savings</dt>
										<dd>
											<strong>R89</strong><sup>00</sup>)
										</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="inidiviual-order-wrap shopping-list shop-prod-list">
							<div class="medicine-coll-head clearfix bg-white">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<h4>
										<span>Parcel 2 - Delivered</span> <span>#456345679</span>
									</h4>
								</div>
							</div>
							<!-- Title-->
							<div class="order-product-head clearfix">
								<div
									class="col-lg-4 col-lg-offset-6 col-sm-offset-7 col-md-3 col-sm-3 hidden-xs text-center">
									<h4>Re-order</h4>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
									<h4>Price</h4>
								</div>
							</div>
							<!-- Title-->
							<!-- Shopping list row -->
							<div class="border  shop-wrap clearfix">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10 shop-list">
									<div class="prod-info">
										<h4>John Frieda</h4>
										<span>Full Repair Protecting Root Lift Foam 200ml</span>
										<div class="price blue">
											R21<sup>00</sup>
										</div>
										<div class="prod_notify tick">3 for 2 on selected John
											Frieda salon products</div>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center hidden-xs">
									<button class="btn btn-small" data-toggle="modal"
										data-target="#addTobasket">Add to basket</button>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 shop-list">
									<div class="price blue">
										R21<sup>00</sup>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center hidden-lg hidden-md hidden-sm">
									<button class="btn btn-small" data-toggle="modal" data-target="#addTobasket">Add to basket</button>
								</div>
							</div>
							<!-- Shopping list row  end -->
							<!-- Shopping list row -->
							<div class="border  shop-wrap clearfix">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10 shop-list">
									<div class="prod-info">
										<h4>John Frieda</h4>
										<span>Full Repair Protecting Root Lift Foam 200ml</span> <span
											class="offer-data"> Missed savings! 3 for 2 on
											selected John Frieda salon products </span>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center hidden-xs">
									<button class="btn btn-small" data-toggle="modal" data-target="#addTobasket" disabled>Add to basket</button>
									<span class="out_of_stock">Out of stock</span>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 shop-list">
									<div class="price blue">
										R21<sup>00</sup>
									</div>
								</div>
								<div
									class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center hidden-lg hidden-md hidden-sm">
									<button class="btn btn-small" data-toggle="modal" data-target="#addTobasket">Add to basket</button>
								</div>
							</div>
							<!-- Shopping list row  end -->
							<!-- Shopping list row -->
							<div class="border  shop-wrap clearfix">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10 shop-list">
									<div class="prod-info">
										<h4>John Frieda</h4>
										<span>Full Repair Protecting Root Lift Foam 200ml</span>
										<div class="price blue">
											R21<sup>00</sup>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center hidden-xs">
									<button class="btn btn-small" data-toggle="modal"
										data-target="#addTobasket">Add to basket</button>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-1 col-xs-2 shop-list">
									<div class="price blue">
										R21<sup>00</sup>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center hidden-lg hidden-md hidden-sm">
									<button class="btn btn-small" data-toggle="modal" data-target="#addTobasket">Add to basket</button>
								</div>
							</div>
							<!-- Shopping list row  end -->
							<!-- Shopping list row -->
							<div class="col-lg-5 col-md-5 col-sm-6 col-xs-8 col-lg-offset-7 col-md-offset-7 col-sm-offset-6 col-xs-offset-4">
								<div class="shop-wrap subTotal indiviSubTotal">
									<dl>
										<dt>
											<h4>Sub Total</h4>
										</dt>
										<dd>
											<div class="price blue">
												R21<sup>00</sup>
											</div>
										</dd>
									</dl>
									<dl class="totalsaving">
										<dt>(Total savings</dt>
										<dd>
											<strong>R89</strong><sup>00</sup>)
										</dd>
									</dl>
								</div>
							</div>
							<div class="deliverPoints clearfix">
								<div class="clearfix">
									<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-lg-offset-7 col-sm-offset-7 col-md-offset-7 col-xs-offset-0">
										<div class="grant-total indivigrandTot indiviOrder">
											<dl>
												<dt>
													<h4>Sub Total</h4>
												</dt>
												<dd>
													<div class="price blue">
														R180<sup>00</sup>
													</div>
												</dd>
											</dl>

											<dl>
												<dt>
													<h4>Savings</h4>
												</dt>
												<dd>
													<div class="price">
														R18<sup>00</sup>
													</div>
												</dd>
											</dl>
											<dl>
												<dt>
													<h4>Delivery fee</h4>
												</dt>
												<dd>
													<div class="price blue">FREE</div>
												</dd>
											</dl>
											<dl class="totalsaving">
												<dt>
													<h4>Total</h4>
													<span>(Excl. delivery)</span>
												</dt>
												<dd>
													<div class="price blue">
														R359<sup>80</sup>
													</div>
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
							<div class="re-order-wrap bg-white">
								<div class="text-right">
									<img src="../image/shopping/deliver34.png"><a href="" class="">Do you need to return an item or request a refund?</a>
								</div>
							</div>

							<!-- Modal ends-->
							<div class="modal fade" id="addTobasket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="myModalLabel">Added to
												basket</h4>
										</div>
										<div class="modal-body">
											<div class="shopping-list row">
												<div class="border shop-wrap clearfix" id="otheritems"
													style="">
													<div class="thumb" style="margin-bottom: 20px;">
														<img src="../image/shopping/shooping-list-1.jpg">
													</div>
													<div class="col-lg-7 col-md-6 col-sm-6 col-xs-6 text-left"
														style="text-align: left;">
														<div class="prod-info text-left">
															<h4>John Frieda</h4>
															<span>Full Repair Protecting Root Lift Foam 200ml</span>
															<div class="price blue">
																R21<sup>00</sup>
															</div>
															<div class="prod_notify tick">3 for 2 on selected
																John Frieda salon products</div>
														</div>
													</div>
													<div
														class="col-lg-3 col-md-3 col-sm-3 col-xs-4 shop-list text-center no_items">
														<button class="minus btn-default">-</button>
														<input type="text" class="form-control quantity" value="1">
														<button class="plus btn-default">+</button>
														<a class="qtyRemove" href="javascript:void(0)">Remove</a>
													</div>
													<div class="col-lg-2 col-md-3 col-sm-3 col-xs-2 shop-list">
														<div class="price blue">
															R21<sup>00</sup>
														</div>
													</div>
												</div>
												<div class="col-lg-9 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-5 col-sm-offset-6 col-xs-offset-0">
													<div class="subTotal indiviSubTotal"
														style="margin: 15px 0;">
														<dl>
															<dt>
																<h4>Sub Total</h4>
															</dt>
															<dd>
																<div class="price blue">
																	R21<sup>00</sup>
																</div>
															</dd>
														</dl>
														<dl class="totalsaving">
															<dt>(Total savings</dt>
															<dd>
																<strong>R89</strong><sup>00</sup>)
															</dd>
														</dl>
													</div>
												</div>
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="alert positive clearfix">You've qualified
														for Free delivery within 5 working days (purchase over
														R200)</div>

													<button class="btn primary_btn contShop"
														style="margin-bottom: 10px;">Continue shopping</button>
													<button class="btn primary_btn">Proceed to
														purchase</button>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Modal 2ends-->
						</div>
						</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>
