<section class="main-container bg-gray clearfix articlePage individualCondition">
	<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="bg-white contentContainer clearfix">
						<p>Sinusitis is an inflammation, or swelling, of the tissue lining the sinuses. Normally, sinuses are filled with air, but when sinuses become blocked and filled with fluid, germs (bacteria, viruses, and fungi) can grow and cause an infection.</p>
						<p>Conditions that can cause sinus blockage include the common cold, allergic rhinitis (swelling of the lining of the nose), nasal polyps (small growths in the lining of the nose), or a deviated septum (a shift in the nasal cavity).</p>
						<a href ="#">What are its symptoms?</a>
						<a href ="#">How is it diagnosed?</a>
						<a href ="#">What are your treatment options?</a>
						<a href ="#">Can it be prevented?</a>
						<h3>What are its symptoms?</h3>
						<ul>
							<li>Facial pain/pressure</li>
							<li>Nasal stuffiness</li>
							<li>Nasal discharge</li>
							<li>Loss of smell</li>
							<li>Cough/congestion</li>
						</ul>
						<p>Additional symptoms may include fever, bad breath, fatigue, dental pain. Acute sinusitis may be diagnosed when a person has two or more symptoms and/or the presence of thick, green, or yellow nasal discharge.</p>
						<h3>How is it diagnosed?</h3>
						<p>To diagnose sinusitis, your doctor will review your symptoms and give you a physical The exam may include the doctor feeling and pressing your sinuses for tenderness. He or she may also tap your teeth to see if you have an inflamed paranasal sinus.</p>
						<p>Other diagnostic tests to assess the potential causes for sinusitis may include a mucus culture, nasal endoscopy (see below), X-rays, allergy testing, CT scan of the sinuses, or blood work.</p>
						<h3>What are your treatment options?</h3>
						<p>Treatment for sinusitis depends on its severity.</p>
						<p><strong>Acute sinusitis</strong>: If you have a simple sinus infection, your health care provider may recommend treatment with decongestants like Sudafed and steam inhalations alone. Use of nonprescription decongestant nasal drops or sprays may also be effective in controlling symptoms. However, these medicines should not be used beyond their recommended use, usually four to five days, or they may actually increase congestion. If antibiotics are given, they are usually given for 10 to 14 days. With treatment, the symptoms usually disappear and antibiotics are no longer required.</p>
						<p><strong>Chronic sinusitis</strong>: Warm moist air may alleviate sinus congestion. A vaporizer or inhaling steam from a pan of boiling water (removed from heat) may also help. Warm compresses are useful to relieve pain in the nose and sinuses. Saline nose drops are also safe for home use. Use of nonprescription decongestant nasal drops or sprays might be effective in controlling symptoms, however, they should not be used beyond their recommended use. Antibiotics or oral steroids may also be prescribed.</p>
						<p>Addressing potential triggers or contributing factors is a key first step in the management of sinusitis. To reduce congestion due to sinusitis, your doctor may prescribe nasal sprays (some may contain steroid sprays), nose drops, or oral decongestant medicine. If you suffer from severe chronic sinusitis, oral steroids might be prescribed to reduce inflammation -- usually only when other medications have not worked. Antibiotics will be prescribed for any bacterial infection found in the sinuses (antibiotics are not effective against a viral infection).</p>
						<h3>Can it be prevented?</h3>
						<p>Smoking is never recommended, but if you do smoke, you should refrain during treatment for sinus problems. No special diet is required, but drinking extra fluids helps to thin secretions.</p>
						<p>Irritation and swelling from an allergy can narrow the opening of the sinus and block mucus movement. If antibiotics and other medicines are not effective in opening the sinus, surgery may be necessary. Also, if there is a structural abnormality of the sinus such as nasal polyps, which can obstruct sinus drainage, surgery may be needed.</p>
						<p>Surgery may be performed under local or general anesthesia using an endoscope. Most people can return to normal activities within five to seven days following surgery. Full recovery usually takes about four to six weeks.</p>
						
						<div class="authorWrapper">
							<div class="authorPic">
								<img src="../image/elaine-thumb.png" alt="" />
							</div>
							<div class="authorInfoWrapper">
							This article has been verified by
							<div class="authorInfo"><a href="#">Dr Elaine Morrison</a>, specialist at Cape Town Hospital.</div>
							</div>
						</div>
					</div>
					<a class="heart arrow-right" href="#">Read more from our Heart disease information centre</a> 
					<div class="bg-white clearfix disclaimerWrapper">
						<p>Default disclaimer text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Maecenas faucibus mollis interdum.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<aside>
					<div class="vitSupBlock bg-white clearfix glossaryWrapper">
						<h3>Glossary of related terms</h3>
						<ul>
							<li><strong>Analgesia</strong> - immediate pain relief.</li>
							<li><strong>Antibiotic</strong> - a soluble substance derived from a mould or bacterium that inhibits the growth of other bacterial micro-organisms.</li>
							<li><strong>Conjunctivitis</strong> -  inflammation of the thin layer of tissue that lines the inside of the eyelids, also called "pinkeye."</li>
							 
						</ul>
					</div>
					<div class="vitSupBlock bg-white clearfix">
						<h3>Related conditions</h3>
						<ul>
							<li><a href ="#">Allergies</a></li>
							<li><a href ="#">Asthma</a></li>
							<li><a href ="#">Colds and flu</a></li>
							<li><a href ="#">Sinus headache</a></li>
							<li><a href ="#">Snoring</a></li>
						</ul>
					</div>
					<div class="vitSupBlock bg-white clearfix">
						<h3>Related medicines &amp; supplements</h3>
						<ul>
							<li><a href ="#">Anti-histamines</a></li>
							<li><a href ="#">Decongestants</a></li>
							<li><a href ="#">Steroid Nasal Sprays</a></li>
						</ul>
					</div>
					 <div class="symptomsChecker">
						<a class="stethoscope arrow-right" href="#">Check your symptoms</a>
					 </div>
					<div class="image-center">
						<img src="../image/olay-thumb.jpg" alt="" />
					</div>
					<h2>In Healthy Living</h2>
					 <div class="bg-white">
						<div class="articleSidebar clearfix">
							<div class="articleSideWrapper clearfix">
								<div class="image-center">
									<img src="../image/living-thumb.jpg" alt="" />
								</div>
								<h3><a href="#">Will antibiotics really help my sinusitis?</a></h3>
								<p>We look at the effectiveness of antibiotics in the treatment of sinusitis.</p>
							</div>
						</div>
					 </div>
					 <div class="image-center">
						<img src="../image/article/article-mpu.jpg" alt="" />
					</div>
					</aside>
				</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>