<div class="clearfix bg-white editprofiletop">
	<div class="container">
		<div class="row">
			<!-- Heading - My clicks  -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1>
					Order placed on <span>1st January</span>
				</h1>
				<h4>Status: Order placed</h4>
			</div>
			<!-- End Heading - My clicks  -->
		</div>
	</div>
</div>