<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse">
										<li><a href="">My rewards activity</a></li>
										<li><a href="">My promotions & offers</a></li>
										<li><a href="">Join BabyClub</a></li>
										<li><a href="">Activate Vitality HealthyCare</a></li>
										<li><a href="">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse in">
										<li class="active"><a href="#">Order history</a></li>
										<li><a href="">Saved addresses</a></li>
										<li><a href="">My lists:</a>
											<ul class="shop-ul">
												<li><a href="">My shopping list</a></li>
												<li><a href="">My wishlist</a></li>
											</ul>
										</li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li><a href="">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->
					
					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<!-- Promo Block  -->
						<div class="inidiviual-order-wrap">
							<div class="medicine-coll-head clearfix bg-white">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<h4 class="plus-logo-small"><span>Medicine collection from Clicks Vangate Mall</span> <span>#RFM-563456</span></h4>
								</div>								
							</div>
							<div class="order-outer-wrap clearfix">
								<div class="bg-light-white order-block-space clearfix">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 marg-bottom">
										<h4>Ready for collection</h4>
										<span>From 8am, Sat 2nd May 2015</span>
										<a href="">At Clicks Pharmacy Vangate Mall</a>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 marg-bottom">
										<h4>Payment method in-store</h4>
										<span>Medical aid (some co-payment may be required.)</span>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
										<h4>SMS Notification</h4>
										<span>+27 1234 123456</span>
									</div>
								</div>
							</div>
							<div class="bg-white">
								<div class="order-product-head clearfix">
									<div class="col-lg-5 col-md-5 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-3 col-xs-offset-9">
										<h4>Price</h4>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 hidden-xs">
										<h4>Re-order</h4>
									</div>
								</div>

								<div class="order-product-body clearfix">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-9 brand-details">
										<h4>Schedule 1 Product</h4>
										<h5>Product name - 500ml</h5> 
										<div class="price blue">R39<sup>95</sup></div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 brand-details">
										<div class="price blue">R39<sup>95</sup></div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center brand-details">
										<button class="btn btn-save-change">Add to basket</button>
									</div>
								</div>
								
								<div class="order-product-body clearfix">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-9 brand-details">
										<h4>Schedule 1 Product</h4>
										<h5>Product name - 500ml</h5> 
										<div class="price blue">R39<sup>95</sup></div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 brand-details">
										<div class="price blue">R39<sup>95</sup></div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center brand-details">
										<button class="btn btn-save-change">Add to basket</button>
									</div>
								</div>
								
								<div class="price-total tot-price clearfix">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9">
										<h4>Total to pay in-store</h4>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
										<div class="price blue">R39<sup>95</sup></div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 text-center">
										<a href="">Cancel this medicine order</a>
									</div>
								</div>


							</div>
						</div>
						<!-- Individual Order Wrap ends -->
						
						<!-- Products delivered block -->
						<div class="inidiviual-order-wrap">
							<div class="medicine-coll-head clearfix bg-white">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<h4><span>Products being delivered</span> <span>#456345678</span></h4>
								</div>								
							</div>
							<div class="order-outer-wrap clearfix">
								<div class="bg-light-white mob-padding order-block-space clearfix">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mob-address">
										<h4>Delivery method</h4>
										<span>Standard speed delivery</span>
										<span> - Free Up to 5 working days</span>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mob-address">
										<h4>Payment options</h4>
										<span>R1230 ClubCard rewards used</span>
										<span>Paid successfully using PayU</span>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mob-address">
										<h4>ClubCard points</h4>
										<span>309 points earned</span>
									</div>
								</div>
								
								<div class="bg-light-white order-block-space deliver-address clearfix">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<h4>Delivery address</h4>
										<address>
											Firstname Lastname<br/>
											firstname@site.co.za<br/>
											Address line 1 <br/>
											Address line 2 <br/>
											Suburb <br/>
											City <br/>
											Region <br/>
											Postcode <br/>
											12345 12345678 <br/>
										</address>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<h4>Billing address</h4>
										<address>
											Firstname Lastname<br/>
											Address line 1 <br/>
											Address line 2 <br/>
											Suburb <br/>
											City <br/>
											Region <br/>
											Postcode <br/>
										</address>
									</div>
								</div>
							</div>
							
							<div class="bg-white">
								<div class="order-product-head clearfix">
									<div class="col-lg-5 col-md-5 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-3 col-xs-offset-9">
										<h4>Price</h4>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 hidden-xs">
										<h4>Re-order</h4>
									</div>
								</div>

								<div class="order-product-body clearfix">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-9 brand-details">
										<h4>Brand</h4>
										<h5>Product name - 500ml</h5> 
										<div class="price blue">R39<sup>95</sup></div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 brand-details">
										<div class="price blue">R39<sup>95</sup></div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center brand-details">
										<button class="btn btn-save-change">Add to basket</button>
									</div>
								</div>
								
								<div class="order-product-body clearfix">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-9 brand-details">
										<h4>Brand</h4>
										<h5>Product name - 500ml</h5> 
										<div class="price blue">R39<sup>95</sup></div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 brand-details">
										<div class="price blue">R39<sup>95</sup></div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center brand-details">
										<button class="btn btn-save-change">Add to basket</button>
									</div>
								</div>
								
								<div class="price-vat price-total clearfix">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-9 total-price text-left">
											<h4>Total <span>(Excl. delivery) </span></h4>
											<h4>Delivery</h4>
											<h4>Total paid online</h4>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 total-price">
											<div class="price blue">R39<sup>95</sup></div>
											<div class="price blue">Free</div>
											<div class="price blue">R<span>168<sup>00</sup></span></div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center total-price">
											<a href="">Cancel this order</a>
										</div>
								</div>
								<div class="vat-detail"><span>Your order includes R25 VAT</span> </div>
								
								
							</div>
							
							<!--  -->
							<div class="re-order-wrap bg-white">
								<div class="text-right">
									<button class="btn return-btn">How to return an item</button>
								</div>
							</div>
							<!--  -->
						</div>
						<!-- Products delivered blocks ends -->
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>