<section class="main-container bg-gray clearfix articlePage indTravel">
	<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="bg-white contentContainer">
						<ul>
							<li>Return direct flights ex JNB to Mauritius on Air Mauritius</li>
							<li>Return SIC airport to resort transfers</li>
							<li>7 Nights at the 3* Casuarina Resort &amp; Spa - Deluxe Room</li>
							<li>Breakfast and dinner daily</li>
						</ul>
						<h3>Bonus</h3>
						<p>1 child under 12 fly’s and stays free + free transfers when travelling with 2 adults (pay for taxes)</p>
						<h3>Added value:</h3>
						<p>Business class lounge access when travelling in Economy class from OR Tambo, King Shaka and Cape Town International Airports; Baggage allowance of 26kg per person.</p>
						<p>Free Water Sports like windsurfing, Pedalo, Waterskiing, Kayak, Hobby Cat & Laser / Free Glass Bottom Rides / Free Tennis Court / Kids Club free for children 3-11 years old / Free use of library books.</p>
					</div>
								<!-- My medicines table data -->
								<div class="account-body">
								<div class="acc-body clearfix bg-white">
								
									<div class="repeat-table-wrap">
										<div class="recent-head repeat-table-head">
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">From
<strong>JHB</strong></div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">Price
<strong>R11,031 + R3,355 tax*</strong> </div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
											Total
<strong>R14,386*</strong>
</div>
										</div>
										<div class="recent-custom repeat-table-data">
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">From
<strong>JHB</strong></div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">Price
<strong>R11,031 + R3,355 tax*</strong> </div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
											Total
<strong>R14,386*</strong>
</div>
										</div>
										<div class="recent-head repeat-table-head">
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">From
<strong>JHB</strong></div>
											<div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">Price
<strong>R11,031 + R3,355 tax*</strong> </div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
											Total
<strong>R14,386*</strong>
</div>
										</div>
									<div>* Prices are per person sharing, unless otherwise specified.</div>	 
									</div>
									
									</div>
									
								</div>
						<div class="bg-white clearfix disclaimerWrapper">
						<p>Peak season surcharges, weekend stay block outs and alternative block out dates may apply. Prices are per person sharing, unless otherwise specified. All prices are indicative and correct at time of loading onto the Thompsons website and are subject to change due to currency fluctuations, rate increases, airfare increases and availability. For standard terms and conditions refer to www.thompsons.co.za E&OE. Exclusions: All Items of a personal nature. Meals not mentioned. Medical and Travel insurance.</p>
						</div>
				
							</div>
							
							<!-- End My medicine table  -->
							
				<div class="col-md-4 col-sm-12 col-xs-12">
					<aside>
					<h2>Enquire about this offer</h2>
					 <div class="bg-white">
						 <div class="pad-spacing form-wrap">
							<form action="#" id="createAccount" class="clearfix">
								<div class="form-group clearfix">
									<label>	First Name</label>
									<input type="text" value="" placeholder="Steven" class="form-control" id="fname">
								</div>
								<div class="form-group clearfix">
									<label>Last Name</label>
									<input type="text" value="" placeholder="Tomas" class="form-control"  id="lname">
								</div>
								<div class="form-group clearfix">
									<label>Cell number</label>
									<input type="text" value="" placeholder="" class="form-control" id="fname">
								</div>
								<div class="form-group clearfix">
									<label>Email address</label>
									<input type="email" value="" placeholder="" class="form-control">
								</div>
								<div class="form-group clearfix">
									<label>ClubCard number</label>
									<input type="text" value="" placeholder="" class="form-control">
								</div>
								<button class="btn btnBig">Send Enquiry</button>
							</form>
						 </div>
					 </div>
					</aside>
				</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>