<div class="leaderboardWrapper clearfix">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="image-center">
					<img src="../image/centrum.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="articleTop conditionTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h2>Sinusitis</h2>
					<div class="moreLinks">
						<a class="share" href="javascript:void(0)">Share</a>
						<a class="email" href="#">Email</a>
					</div>								
			</div>

		</div>
	</div>
</div>