<section class="main-container">
	<div class="createOuterWrapper bg-gray">
		<div class="container">
			<div class="createWrapper clearfix ">
				<form action="#" id="createAccount" class="clearfix accLandOuter">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 createBoxWrapper">
								<div class="bg-white acc-col-4">
								<div class="clearfix bg-light-blue">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
										<h2>ClubCard Details</h2>
									</div>
								</div>
								<div class="bg-white clearfix">
									<div class="pad-spacing form-wrap">
										<div class="form-group clearfix">
											<label>ClubCard number</label>
											<input type="text" value="" placeholder="" class="form-control">
										</div>
										<div class="form-group clearfix">
											<label>Email address <span> - registered to this ClubCard</span></label>
											<input type="email" value="" placeholder="" class="form-control">
										</div>
										<button type="submit" class="btn btn-save-change">Retrieve my details</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>