<section class="main-container bg-gray clearfix  conditionList">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	
	<div class="bg-white">
	<div class="tabOuterWrapper ">
					<ul class="tabs">
							<li class="active"><a href="#information" data-toggle="tab">A - M</a></li>
							<li><a href="#use" data-toggle="tab">N - Z</a></li>
						</ul>
						<div class="tabContentWrapper">
							<div class="active tabContent" id="information">
								<div class="help-info">		
									<div class="contact-comm">
										<div class="contact-info">A</div>
										<ul>
										<li><a href="#">Acne</a></li>
										<li><a href="#">Allergies</a></li>
										<li><a href="#">Alzheimer's</a></li>
										<li><a href="#">Aneurysm</a></li>
										<li><a href="#">Anxiety</a></li>
										<li><a href="#">Asthma</a></li>
										<li><a href="#">Autism</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">B</div>
										<ul>
										<li><a href="#">Bipolar disorder</a></li>
										<li><a href="#">Bronchitis</a></li>
										<li><a href="#">Burn</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">C</div>
										<ul>
										<li><a href="#">Cold</a></li>
										<li><a href="#">Conjunctivitis</a></li>
										<li><a href="#">Cough</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">D</div>
										<ul>
										<li><a href="#">Dementia</a></li>
										<li><a href="#">Depression</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">E</div>
										<ul>
										<li><a href="#">Eczema</a></li>
										<li><a href="#">Encephalitis</a></li>
										<li><a href="#">Epilepsy</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">F</div>
										<ul>
										<li><a href="#">Fever</a></li>
										<li><a href="#">Flu</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">G</div>
										<ul>
										<li><a href="#">Glaucoma</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">H</div>
										<ul>
										<li><a href="#">Halitosis</a></li>
										<li><a href="#">Hay fever</a></li>
										<li><a href="#">Headache</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">I</div>
										<ul>
										<li> <a href="#">Insomnia</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">L</div>
										<ul>
										<li> <a href="#">Lice</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">M</div>
										<ul>
										<li><a href="#">Migraine</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="tabContent" id="use">  
								<div class="help-info">		
									<div class="contact-comm">
										<div class="contact-info">N</div>
										<ul>
										<li><a href="#">Acne</a></li>
										<li><a href="#">Allergies</a></li>
										<li><a href="#">Alzheimer's</a></li>
										<li><a href="#">Aneurysm</a></li>
										<li><a href="#">Anxiety</a></li>
										<li><a href="#">Asthma</a></li>
										<li><a href="#">Autism</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">O</div>
										<ul>
										<li><a href="#">Bipolar disorder</a></li>
										<li><a href="#">Bronchitis</a></li>
										<li><a href="#">Burn</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">P</div>
										<ul>
										<li><a href="#">Cold</a></li>
										<li><a href="#">Conjunctivitis</a></li>
										<li><a href="#">Cough</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">Q</div>
										<ul>
										<li><a href="#">Dementia</a></li>
										<li><a href="#">Depression</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">R</div>
										<ul>
										<li><a href="#">Eczema</a></li>
										<li><a href="#">Encephalitis</a></li>
										<li><a href="#">Epilepsy</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">S</div>
										<ul>
										<li><a href="#">Fever</a></li>
										<li><a href="#">Flu</a></li>
										</ul>
									</div>
									<div class="separator"></div>
									<div class="contact-comm">
										<div class="contact-info">G</div>
										<ul>
										<li><a href="#">Glaucoma</a></li>
										</ul>
									</div>
								</div> 
							</div>
						</div>
		</div>
</div>
			</div>	
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<aside>
				<div class="vitSupBlock bg-white clearfix glossaryWrapper">
						<h3>Glossary of related terms</h3>
						<ul>
							<li><strong>Analgesia</strong> - immediate pain relief.</li>
							<li><strong>Antibiotic</strong> - a soluble substance derived from a mould or bacterium that inhibits the growth of other bacterial micro-organisms.</li>
							<li><strong>Conjunctivitis</strong> -  inflammation of the thin layer of tissue that lines the inside of the eyelids, also called "pinkeye."</li>
						</ul>
						<a href ="#">Show all</a>
					</div>
					<div class="image-center">
						<img src="../image/o2-adv.jpg" alt="">
					</div>
			 
				<div class="symptomsChecker">
					 <a class="stethoscope arrow-right" href="#"> Health concern troubling you?</a>
				</div>
				<div class="symptomsChecker">
					 <a class="book-appointment arrow-right" href="#">Book an appointment</a>
				</div>
				<div class="symptomsChecker">
					 <a class="medicine-list arrow-right" href="#">Order medicines</a>
				</div>
				<div class="symptomsChecker">
					 <a class="manage-script arrow-right" href="#">Manage scripts</a>
				</div>
			 
			
				<!-- Promotions Block start-->
			<div class="home-promotions">
				<div class="clearfix bgred">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
						<div class="pull-left">
							<h2>Latest promotions</h2>
						</div>
					</div>
				</div>
				<div class="promo-wrap clearfix  conditionsSliderOuter">
					<ul class="home-promo-slider product-slider clearfix conditionsSlider">
						<li>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-zero">
								<img src="../image/clicks-home/latest-promo-1.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										 <div class="caption-wrap">
											<img src="../image/clicks-home/promo-logo-1.png"
												alt="only at clicks" />
											<h4>Garnier</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing
												elit.</p>
											<button class="btn">Shop now</button>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-zero">
								<img src="../image/clicks-home/latest-promo-2.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										<div class="caption-wrap">
											<img src="../image/clicks-home/promo-logo-2.png"
												alt="only at clicks" />
											<h4>Almay</h4>
											<p>Lorem ipsum dolor sit
												amet, consectetur adipiscing elit.</p>
											<button class="btn">Shop now</button>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-zero">
								<img src="../image/clicks-home/latest-promo-3.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										<div class="caption-wrap">
									<img src="../image/clicks-home/promo-logo-2.png"
										alt="only at clicks" />
									<h4>Accessories</h4>
									<p>Lorem ipsum dolor sit amet,
										consectetur adipiscing elit.</p>
									<button class="btn">Shop now</button>
								</div>
								</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Promotions Block end-->
 
				</aside>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>