<div class="healthTop magzineTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 paddingLeftNone">
				<h2>ClubCard Magazine</h2>
				<p>Read lifestyle, beauty and baby articles, in the Clicks quarterly magazine which is posted to Gold ClubCard members and with fresh online articles published frequently online.</p>
				<div class="social-wrap clearfix">
					<h3>Don't miss an article</h3>
					<ul>
					<li><a class="fb-grey" href="#">Like us on Facebook</a></li>
					<li><a class="twitter-grey" href="#">Follow us on Twitter</a></li>
					<li><a class="youtube-grey" href="#">Subscribe to our YouTube channel</a></li>
					</ul>
				</div>
				<div class="authorWrapper">
					<div class="authorPic"><img src="../image/magazine-cover-thumb.jpg" alt=""></div>
					<div class="authorInfoWrapper">
					<div class="authorTitle">ClubCard Magazine Issue Q1/2015 has landed!</div>
					<div class="authorInfo">Take up the #NewYearNewYou challenge,and read Maps Maponyane's fitness tips.</div>
					<a href="#">Read online preview now</a>
					</div>
				</div>
 			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<div class="fb-like-page">
					<img src="../image/fb-like-page.jpg"/>
				</div>
			</div>
		</div>
	</div>
</div>