<div class="articleTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h2>Make this your #1 beauty resolution for 2015</h2>
					<p>Prioritise sunscreen for a healthier and more beautiful 2015.</p>
					<div class="authorWrapper">
					 <div class="authorPic"><img src="../image/article/article-logo.png" alt="" /></div> 
						<div class="authorInfoWrapper">
						09 January 2015 
						<div class="authorInfo">by the <a href="#">Leigh van den Berg</a></div>
						</div>
					</div>
					<div class="moreLinks">
						<a class="share" href="javascript:void(0)">Share</a>
						<a class="email" href="#">Email</a>
					</div>								
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="image-center">
						<img src="../image/article/article-top.jpg" alt="" />
						</div>
			</div>
		</div>
	</div>
</div>