<!--  <div class="clearfix bg-white editprofiletop forgotten-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1>
					Manage My Medicine
				</h1>
			</div>
		</div>
	</div>
</div>-->

<section class="rewards account">
	<div class="container">
		<div class="acc-heading">
			<h1>Manage My Medicine</h1>
		</div>
	</div>
</section>		