<div class="mobile-header visible-xs visible-sm">
	<div class="mb-logo">
		<a href="#"><img src="../image/mb_logo.png" alt="logo" data-elem="pinchzoomer"/></a>
	</div>
	<div class="mobile-nav-bar paddingNone">
		<nav>
			<ul>
				<li>
					<a href="#" class="icon-menu" data-target=".nav-collapse" data-toggle="collapse"><span>Menu icon</span></a>
				</li>
				<li class="dropdown">
					<a href="#" class="icon-search dropdown-toggle" data-toggle="dropdown"><span>Search</span></a>
					<ul class="dropdown-menu">
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="icon-sign-in dropdown-toggle" data-toggle="dropdown"><span>Sign in</span></a>
					<ul class="dropdown-menu">
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="icon-locator dropdown-toggle" data-toggle="dropdown"><span>Store locator</span></a>
					<ul class="dropdown-menu">
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="icon-desc dropdown-toggle" data-toggle="dropdown"><span>Order prescription</span></a>
					<ul class="dropdown-menu">
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="icon-cart dropdown-toggle" data-toggle="dropdown"><span>Basket</span></a>
					<ul class="dropdown-menu">
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="nav-collapse collapse">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#shop" data-toggle="tab" class="dropdown">Clicks shop</a>
				<div id="shop" class="clicks-tab">
					<ul class="nav-list nav-collapse collapse">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Health & Pharmacy</a>
							<ul class="dropdown-menu">
								<li><a href="#">Browse all health & pharmacy</a></li>
								<li><h5>Browse by category</h5></li>
								<li><a href="#">Allergy & hayfever</a></li>
								<li><a href="#">Baby & child</a></li>
								<li><a href="#">Condoms & sexual health</a></li>
								<li><a href="#">Cough, cold and flu</a></li>
								<li><a href="#">Diet & weight loss</a></li>
								<li><a href="#">First aid</a></li>
								<li><a href="#">Health food</a></li>
								<li><a href="#">Mens health</a></li>
								<li><a href="#">Pain relief</a></li>
								<li><a href="#">Pregnancy & new mom</a></li>
								<li><a href="#">Skincare</a></li>
								<li><a href="#">Sports nutrition & supplements</a></li>
								<li><a href="#">Stop smoking</a></li>
								<li><a href="#">Womens health</a></li>
								<li><a href="#">Vitamins & supplements</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Beauty</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Toiletries</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Baby</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">For Men</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Electrical</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Household</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Gifts</a></li>
					</ul>
					<ul class="nav-list offers">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">New</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Promotions</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">clubcard</a></li>
					</ul>
				</div>
			</li>
			<li class="dropdown">
				<a href="#health" data-toggle="tab" class="dropdown">Clicks Health</a>
				<div id="health" class="clicks-tab">
					<a href="#" class="">health</a>
				</div>
			</li>
		</ul>
	</div>
</div>