<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse in">
										<li><a href="javascript:void(0)">Haircare</a></li>
										<li><a href="javascript:void(0)">Shampoo &amp;
												conditioner (37)</a></li>
										<li><a href="javascript:void(0)">Styling (198)</a></li>
										<li><a href="javascript:void(0)">Colourants (232)</a></li>
										<li><a href="javascript:void(0)">Black haircare (137)</a></li>
										<li><a href="javascript:void(0)">Salon / Professional
												(47)</a></li>
										<li><a href="javascript:void(0)">Accessories (57)</a></li>
										<li><a href="javascript:void(0)">Hair loss (37)</a></li>
										<li><a href="javascript:void(0)">Healthy scalp (47)</a></li>
										<li><a href="javascript:void(0)">Exclusive to Clicks
												(27)</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse">
										<li><a href="javascript:void(0)">ClubCard exclusive
												savings (56)</a></li>
										<li><a href="javascript:void(0)">3 for 2 selected
												John Frieda (18)</a></li>
										<li><a href="javascript:void(0)">Buy 1, 2nd 1/2 price
												shaving (24)</a></li>
										<li><a href="javascript:void(0)">2 for R150 haircare
												(36)</a></li>
										<li><a href="javascript:void(0)">Save 20% L'Oréal
												hair colours (42)</a></li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="javascript:void(0)">Change Password</a></li>
										<li><a href="javascript:void(0)">Notifications</a></li>
										<li><a href="javascript:void(0)">Import/Export</a></li>
										<li><a href="javascript:void(0)">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">My account summary</a>
									<ul class="collapse in">
										<li><a href="javascript:void(0)">Sales</a></li>
										<li><a href="javascript:void(0)">Customers</a></li>
										<li><a href="javascript:void(0)">Products</a></li>
										<li><a href="javascript:void(0)">Shopping Cart</a></li>
									</ul></li>
							</ul>
							
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->
					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				 
					
					<div class="commonTab">
					<ul class="tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">All</a></li>
						<li><a href="#tab2" data-toggle="tab">Myself</a></li> 
						<li><a href="#tab3" data-toggle="tab">Nosipho</a></li>
						<li><a href="#tab4" data-toggle="tab">Josefa</a></li>
					</ul>
					<div class="border-line"></div>
						<div class="titleWrapper">
							<label class="floatLeft" for="load">Load</label>
							<div class="loadCount floatLeft">
								<select id="basic">
									<option value="12">12</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select>
							</div>
							<span class="floatLeft">prescriptions at a time</span>
						</div>
						
						<div class="medicineMessage">
							<h4 class="blue">Combine medication from different repeat prescriptions</h4>
							<a href="#">Request a refill across multiple scripts</a>
						</div>
						<div class="tabContentWrapper">
						<!-- My medicines table  -->					
							<div class="account-body active" id="tab1">
								<div class="acc-table-wrap">
									<!-- My medicines table data -->
									<div class="acc-body clearfix bg-white">
										<div class="recent-head no-border">
											<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Medication</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">Status</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
													Repeat Spironolactone prescription or <strong> Josefa </strong>
													<a href="#"> Edit </a>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													 <a href="" class="clock-image">Repeat</a>
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Spironolactone 30 x 200mg</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong> refills left</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Lotensin 30 x 500mg</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>2</strong> refills left</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
													Repeat Drugname prescription or <strong> Josefa </strong>
													<a href="#"> Edit </a>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													<a href="" class="clock-image">Repeat</a>
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Drug name 30 x 200mg</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong> refills left</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Uploaded prescription - 24 March 2015, 15.35 for <strong>myself.</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from <strong>Clicks Rondebosch Pharmacy</strong>
													<div class="clearfix">
														<a href="#">Change collection date</a>
														<a href="#">Change SMS notification cell</a>
														<a href="#">Cancel</a>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Submitted</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Amoxicillin 50mg - 12 March 2015 for <strong>Nosipho</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from Clicks <strong>Central Square Pinelands Pharmacy</strong>
													<div class="clearfix">
														<a href="#">Cancel</a>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Ready for collection</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Uploaded prescription - 24 March 2015, 15.35 for <strong>myself.</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from <strong>Clicks Rondebosch Pharmacy</strong>
													<div class="clearfix">
														<a href="#">Change collection date</a>
														<a href="#">Change SMS notification cell</a>
														<a href="#">Cancel</a>
													</div>
												</div>
												 
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Submitted</strong></div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5"></div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"> </div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Amoxicillin 50mg - 12 March 2015 for <strong>Nosipho</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from Clicks <strong>Central Square Pinelands Pharmacy</strong>
													<div class="clearfix">
												<a href="#">Cancel</a>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Ready for collection</strong>
												</div>
											</div>
										</div>
										<div class="text-center load-order">
											<button class="btn btn-load-articles" href="#">Load more prescriptions</button>
										</div>
									</div>
								</div>
							</div>
						<!-- End My medicine table  -->
						<!-- My medicines table  -->					
							<div class="account-body" id="tab2">
									<div class="acc-table-wrap">
										<!-- My medicines table data -->
										<div class="acc-body clearfix bg-white">
											<div class="recent-head no-border">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Medication</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">Status</div>
											</div>
											<div class="repeat-table-wrap">
												<div class="recent-head repeat-table-head">
													<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
														Repeat Spironolactone prescription or <strong> myself </strong>
														<a href="#"> Edit </a>
													</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
														<span class="clock-image"></span> <a href="">Repeat</a>
													</div>
												</div>
												<div class="recent-custom repeat-table-data">
													<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Spironolactone 30 x 200mg</div>
													<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong> refills left</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
												</div>
												<div class="recent-custom repeat-table-data">
													<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Lotensin 30 x 500mg</div>
													<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>2</strong> refills left</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
												</div>
											</div>
											<div class="repeat-table-wrap">
												<div class="recent-head repeat-table-head">
													<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
														Repeat Drugname prescription or <strong> myself </strong>
														<a href="#"> Edit </a>
													</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
														<span class="clock-image"></span> <a href="">Repeat</a>
													</div>
												</div>
												<div class="recent-custom repeat-table-data">
													<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Drug name 30 x 200mg</div>
													<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong> refills left</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
												</div>
											</div>
											<div class="repeat-table-wrap">
												<div class="recent-head repeat-table-head">
													<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
													Uploaded prescription - 24 March 2015, 15.35 for <strong>myself.</strong>
													</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													</div>
												</div>
												<div class="recent-custom repeat-table-data">
													<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from <strong>Clicks Rondebosch Pharmacy</strong>
														<div class="clearfix">
															<a href="#">Change collection date</a>
															<a href="#">Change SMS notification cell</a>
															<a href="#">Cancel</a>
														</div>
													</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Submitted</strong></div>
												</div>
											</div>
											<div class="repeat-table-wrap">
												<div class="recent-head repeat-table-head">
													<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
													Amoxicillin 50mg - 12 March 2015 for <strong>myself</strong>
													</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													</div>
												</div>
												<div class="recent-custom repeat-table-data">
													<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from Clicks <strong>Central Square Pinelands Pharmacy</strong>
														<div class="clearfix">
															<a href="#">Cancel</a>
														</div>
													</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Ready for collection</strong></div>
												</div>
											</div>
											<div class="repeat-table-wrap">
												<div class="recent-head repeat-table-head">
													<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
													Uploaded prescription - 24 March 2015, 15.35 for <strong>myself.</strong>
													</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													</div>
												</div>
												<div class="recent-custom repeat-table-data">
													<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from <strong>Clicks Rondebosch Pharmacy</strong>
														<div class="clearfix">
															<a href="#">Change collection date</a>
															<a href="#">Change SMS notification cell</a>
															<a href="#">Cancel</a>
														</div>
													</div>
													 
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Submitted</strong></div>
												</div>
												<div class="recent-custom repeat-table-data">
													<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5"></div>
													<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"> </div>
												</div>
											</div>
											<div class="repeat-table-wrap">
												<div class="recent-head repeat-table-head">
													<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
													Amoxicillin 50mg - 12 March 2015 for <strong>myself </strong>
													</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													</div>
												</div>
												<div class="recent-custom repeat-table-data">
													<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from Clicks <strong>Central Square Pinelands Pharmacy</strong>
														<div class="clearfix">
													<a href="#">Cancel</a>
														</div>
													</div>
													<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Ready for collection</strong>
													</div>
												</div>
											</div>
											<div class="text-center load-order">
												<button class="btn btn-load-articles" href="#">Load more prescriptions</button>
											</div>
										</div>
									</div>
							</div>
									<!-- My medicines table  -->					
							<div class="account-body" id="tab3">
								<div class="acc-table-wrap">
									<!-- My medicines table data -->
									<div class="acc-body clearfix bg-white">
										<div class="recent-head no-border">
											<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Medication</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">Status</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
													Repeat Spironolactone prescription or <strong> Nosipho</strong>
													<a href="#"> Edit </a>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													<span class="clock-image"></span> <a href="">Repeat</a>
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Spironolactone 30 x 200mg</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong> refills left</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Lotensin 30 x 500mg</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>2</strong> refills left</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
													Repeat Drugname prescription or <strong> Nosipho </strong>
													<a href="#"> Edit </a>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													<span class="clock-image"></span> <a href="">Repeat</a>
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Drug name 30 x 200mg</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong> refills left</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Uploaded prescription - 24 March 2015, 15.35 for <strong>Nosipho.</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from <strong>Clicks Rondebosch Pharmacy</strong>
													<div class="clearfix">
														<a href="#">Change collection date</a>
														<a href="#">Change SMS notification cell</a>
														<a href="#">Cancel</a>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Submitted</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Amoxicillin 50mg - 12 March 2015 for <strong>Nosipho</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from Clicks <strong>Central Square Pinelands Pharmacy</strong>
													<div class="clearfix">
														<a href="#">Cancel</a>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Ready for collection</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Uploaded prescription - 24 March 2015, 15.35 for <strong>Nosipho.</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from <strong>Clicks Rondebosch Pharmacy</strong>
													<div class="clearfix">
														<a href="#">Change collection date</a>
														<a href="#">Change SMS notification cell</a>
														<a href="#">Cancel</a>
													</div>
												</div>
												 
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Submitted</strong></div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5"></div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"> </div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Amoxicillin 50mg - 12 March 2015 for <strong>Nosipho</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from Clicks <strong>Central Square Pinelands Pharmacy</strong>
													<div class="clearfix">
												<a href="#">Cancel</a>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Ready for collection</strong>
												</div>
											</div>
										</div>
										<div class="text-center load-order">
											<button class="btn btn-load-articles" href="#">Load more prescriptions</button>
										</div>
									</div>
								</div>
							</div>
										<!-- My medicines table  -->					
							<div class="account-body" id="tab4">
								<div class="acc-table-wrap">
									<!-- My medicines table data -->
									<div class="acc-body clearfix bg-white">
										<div class="recent-head no-border">
											<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Medication  </div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">Status</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
													Repeat Spironolactone prescription or <strong> Josefa  </strong>
													<a href="#"> Edit </a>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													<span class="clock-image"></span> <a href="">Repeat</a>
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Spironolactone 30 x 200mg</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong> refills left</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Lotensin 30 x 500mg</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>2</strong> refills left</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
													Repeat Drugname prescription or <strong> Josefa </strong>
													<a href="#"> Edit </a>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
													<span class="clock-image"></span> <a href="">Repeat</a>
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5">Drug name 30 x 200mg</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"><strong>4</strong> refills left</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">due <strong>30 May</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Uploaded prescription - 24 March 2015, 15.35 for <strong>Josefa.</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from <strong>Clicks Rondebosch Pharmacy</strong>
													<div class="clearfix">
														<a href="#">Change collection date</a>
														<a href="#">Change SMS notification cell</a>
														<a href="#">Cancel</a>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Submitted</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Amoxicillin 50mg - 12 March 2015 for <strong>Josefa</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from Clicks <strong>Central Square Pinelands Pharmacy</strong>
													<div class="clearfix">
														<a href="#">Cancel</a>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Ready for collection</strong></div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Uploaded prescription - 24 March 2015, 15.35 for <strong>Josefa.</strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from <strong>Clicks Rondebosch Pharmacy</strong>
													<div class="clearfix">
														<a href="#">Change collection date</a>
														<a href="#">Change SMS notification cell</a>
														<a href="#">Cancel</a>
													</div>
												</div>
												 
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Submitted</strong></div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-7 col-md-7 col-sm-5 col-xs-5"></div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4"> </div>
											</div>
										</div>
										<div class="repeat-table-wrap">
											<div class="recent-head repeat-table-head">
												<div class="col-lg-10 col-md-10  col-sm-9 col-xs-9">
												Amoxicillin 50mg - 12 March 2015 for <strong>Josefa </strong>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												</div>
											</div>
											<div class="recent-custom repeat-table-data">
												<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">Pick up from Clicks <strong>Central Square Pinelands Pharmacy</strong>
													<div class="clearfix">
												<a href="#">Cancel</a>
													</div>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><strong>Ready for collection</strong>
												</div>
											</div>
										</div>
										<div class="text-center load-order">
											<button class="btn btn-load-articles" href="#">Load more prescriptions</button>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					 
						</div>
						<!-- End My medicine table  -->
						<!-- My medicines table  -->					
						 
							
						</div>
						<!-- End My medicine table  -->
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>