<section class="main-container bg-gray clearfix v-n-s-Page medicinesLanding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="symptomsChecker">
					<a class="book" href="#">Browse medicines by A - Z</a>
				</div>
			<div class="row">
				<div class="vitSupBlockWrapper clearfix">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="vitSupBlock bg-white clearfix">
						<h3>Types of medicine</h3>
							<ul>
								<li><a href ="#">Antacids</a></li>
								<li><a href ="#">Antibiotics</a></li>
								<li><a href ="#">Antihistamines</a></li>
								<li><a href ="#">Antimalarials</a></li>
								<li><a href ="#">Fusce dapibus</a></li>
								<li><a href ="#">Tellus ac</a></li>
								<li><a href ="#">Cursus commodo</a></li>
								<li><a href ="#">Tortor mauris</a></li>
								<li><a href ="#">Fermentum</a></li>
								<li><a href ="#">Vaccine</a></li>
								<li><a href ="#">View all</a></li>
							</ul>
						</div>
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="vitSupBlock bg-white clearfix">
							<h3>Medicines needed for conditions</h3>
							<ul>
								<li><a href ="#">Allergies</a></li>
								<li><a href ="#">Colds and flu</a></li>
								<li><a href ="#">Donec ullamcorper</a></li>
								<li><a href ="#">Nulla non metus</a></li>
								<li><a href ="#">Auctor fringilla</a></li>
								<li><a href ="#">Commodo luctus</a></li>
								<li><a href ="#">Porttitor ligula</a></li>
								<li><a href ="#">Maecenas faucibus</a></li>
								<li><a href ="#">Skin problems</a></li>
								<li><a href ="#">Sleep disorders</a></li>
								<li><a href ="#">View all</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
				<!-- Promotions Block start-->
			<div class="home-promotions clearfix">
				<div class="clearfix bgred">
					<div
						class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
						<div class="pull-left">
							<h2>Latest promotions</h2>
						</div>
						<div class="pull-right text-right hidden-xs">
							<a class="arrow-right" href="javascript:void(0)">See all
								promotions</a>
						</div>
					</div>
				</div>
				<div class="promo-wrap clearfix">
					<ul class="home-promo-slider product-slider clearfix" data-classname="home-promo-slider" data-minslide="2">
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/promo-vitamins.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										 <div class="caption-wrap">
									<h4>Cold &amp; flu remedies</h4>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<button class="btn">Shop now</button>
								</div>
								</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/promo-rest.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										 <div class="caption-wrap">
									<h4>Allergy medication</h4>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<button class="btn">Shop now</button>
								</div>
								</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
			<!-- Promotions Block end-->
			</div>	
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="symptomsChecker">
					 <a class="medicine-list arrow-right" href="#">Order medicines</a>
				</div>
				<div class="symptomsChecker">
					 <a class="manage-script arrow-right" href="#">Manage scripts</a>
				</div>
				<div class="vns-ad-block">
					<div class="image-center">
						<img src="../image/article/article-mpu.jpg" alt="">
					</div>
					<div class="image-center">
						<img src="../image/o2-adv.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>

