 <div class="healthTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h2>Medicines</h2>
 			</div>
		</div>
	</div>
</div> 

<!-- after check in the less we have to revert this -->

<!-- <section class="rewards account">
	<div class="container">
		<div class="acc-heading">
			<h2>Medicines</h2>
		</div>
	</div>
</section>	 -->

