<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">
					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse">
										<li><a href="">ClubCard exclusive
												savings (56)</a></li>
										<li><a href="">3 for 2 selected
												John Frieda (18)</a></li>
										<li><a href="">Buy 1, 2nd 1/2 price
												shaving (24)</a></li>
										<li><a href="">2 for R150 haircare
												(36)</a></li>
										<li><a href="">Save 20% L'Oréal
												hair colours (42)</a></li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li><a href="">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->

					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="myyacc-noclub">
							<div class="promo-links clearfix">
								<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 promo-options">
									<h2>You have no recent online orders</h2>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 promo-options">
									<div class="promolink-wrap">
										 See <a href="#"> what's new</a> or <a href=""> on promotion</a> 
									</div>
								</div>
							</div>
							
							<div class="promo-links clearfix">
								<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 promo-options">
									<h2>You have no online prescription or medicine orders</h2>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 promo-options">
									<div class="promolink-wrap">
										How to <a href="#"> request medicine online </a> or <a href="">schedule regular chronic prescriptions</a> 
									</div>
								</div>
							</div>
							
							<div class="promo-links clearfix">
								<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 promo-options">
									<h2>Don't miss exclusive savings with Clicks ClubCard </h2>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 promo-options">
									<div class="promolink-wrap">
										 <a href="#"> Sign in </a> to see all savings or <a href=""> join</a> ClubCard
									</div>
								</div>
							</div>
							
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>



</section>
<div id="div-overlay"></div>