<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse">
										<li><a href="">My rewards activity</a></li>
										<li><a href="">My promotions & offers</a></li>
										<li><a href="">Join BabyClub</a></li>
										<li><a href="">Activate Vitality HealthyCare</a></li>
										<li><a href="">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse in">
										<li class="active"><a href="#">Order history</a></li>
										<li><a href="">Saved addresses</a></li>
										<li><a href="">My lists:</a>
											<ul class="shop-ul">
												<li><a href="">My shopping list</a></li>
												<li><a href="">My wishlist</a></li>
											</ul>
										</li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li><a href="">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->

					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="account-body">
							<div class="acc-table-wrap">
								<!-- Order summary table  -->
								<div class="acc-body clearfix order-history ">
									<div class="recent-head bg-white">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">Order
											placed</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">Delivery
											address</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Status</div>
									</div>

									<div class="repeat-table-wrap bg-white">
										<!-- First row data  -->
										<div class="recent-head recent-custom">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">31 Mar
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">Cape Town, 8000  </div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Order placed</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
												<a href="#">View order details</a>
											</div>
										</div>
										<!-- End First Row data -->
										
										<!-- First row data  -->
										<div class="recent-head recent-custom">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">31 Mar
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">Cape Town, 8000 </div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Shipped</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
												<a href="#">View order details</a>
											</div>
											
										</div>
										<!-- End First Row data -->
										
										
										<!-- First row data  -->
										<div class="recent-head recent-custom">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">03 Mar 2015</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">City name / Postcode Rondebosch</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Shipped / Awaiting collection</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
												<a href="#">View order details</a>
											</div>
										</div>
										<!-- End First Row data -->
										
										<!-- First row data  -->
										<div class="recent-head recent-custom">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">01 Feb 2015</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">City name / Postcode Rondebosch</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Shipped</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
												<a href="#">View order details</a>
											</div>
										</div>
										<!-- End First Row data -->
										
										<!-- First row data  -->
										<div class="recent-head recent-custom">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">01 Feb
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">City name / Postcode Rondebosch</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Awaiting collection</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
												<a href="#">View order details</a>
											</div>
										</div>
										<!-- End First Row data -->
										
										<!-- First row data  -->
										<div class="recent-head recent-custom">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">01 Feb
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">City name / Postcode Rondebosch</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Awaiting collection</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
												<a href="#">View order details</a>
											</div>
										</div>
										<!-- End First Row data -->
										
										<!-- First row data  -->
										<div class="recent-head recent-custom">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">01 Jan
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">City name / Postcode Rondebosch</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Awaiting collection</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
												<a href="#">View order details</a>
											</div>
										</div>
										<!-- End First Row data -->
										
										<!-- First row data  -->
										<div class="recent-head recent-custom">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">08 Jan
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">City name / Postcode Rondebosch</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Awaiting collection</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
												<a href="#">View order details</a>
											</div>
										</div>
										<!-- End First Row data -->
										
										<!-- First row data  -->
										<div class="recent-head recent-custom">
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">05 Jan
												2015</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">City name / Postcode Rondebosch </div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Awaiting collection</div>
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
												<a href="#">View order details</a>
											</div>
										</div>
										<!-- End First Row data -->
										
										
										<div class="text-center load-order">
											<button class="btn btn-load-articles" href="#">Load more</button>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<!-- End Order summary table  -->
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
<div id="div-overlay"></div>