<div class="articleTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h2>Thank you for your order</h2>
					<p>Your order is now being processed, and an order confirmation email has been sent to <a href="#">firstname@site.co.za.</a> </p>
			<div class="form-wrap">
				<form>
				 
					<div class="form-group clearfix">
						<label>Never miss a sale or offer at Clicks</label>
						<div class="confirmation-subscribe">
							<input type="text" value="" class="form-control" placeholder="Enter email address">
							<input type="button" name="subscribe" class="btnSubscribe btn" value="Subscribe"/>
						</div>
					</div>
					<a href="#">
					Go to your account</a>
					 
			</form>
			</div>
				
				
				</div>	
			
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="image-center">
						<img src="../image/o2-adv.jpg" alt="" />
						</div>
			</div>
		</div>
	</div>
</div>