<section class="main-container bg-gray clearfix articlePage">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				
				<div class="partners_wrap">
					<!-- First Block -->
					<div class="policy_outer">
						<div class="services_wrap clearfix">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
									<div class="partner_logo">
										<img src="../image/partner/partner_1.jpg" alt="partner">
									</div>
									<div class="partner_offer">
										1% back in UCount rewards
										<a href="#">Visit Standardbank</a>
									</div>
							</div>	
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
								<button class="btn-small">Financial</button>
								<h4>Earn & spend Standard BankUCount rewards at Clicks</h4>
								<ul>
									<li>Collect 1%* back in UCount Rewards points on qualifying purchases.</li>
									<li>Also collect up to 1.25%* back in UCount Rewards points on their Clicks purchases from Standard Bank.</li>
									<li>UCount Rewards members can also redeem their UCount Rewards points on purchases at Clicks.</li>
								</ul>
								<a href="">Show details</a>
							</div>
						</div>	
					</div>
					<!-- End First Block -->
					
					<!-- Second Block -->
					<div class="policy_outer">
						<div class="services_wrap clearfix">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="partner_logo">
									<img src="../image/partner/partner_2.jpg" alt="partner">
								</div>
									<div class="partner_offer">
										<mark> 1 point</mark> for every R10<sup>00</sup> spent
										<a href="#">Visit Standardbank</a>
									</div>
							</div>	
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
								<button class="btn-small">Entertainment</button>
								<h4>Earn ClubCard Points at Musica</h4>
								<p>Swipe your ClubCard at Musica and earn 1 ClubCard Point for every R10 spent.</p>
								<p>(excluding gift vouchers or gift cards)</p>
							</div>
						</div>	
					</div>
					<!-- End second Block -->
					
					<!-- Third Block -->
					<div class="policy_outer">
						<div class="services_wrap clearfix">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="partner_logo">
									<img src="../image/partner/partner_3.jpg" alt="partner">
								</div>
									<div class="partner_offer">
										Earn double points
										<a href="#">Visit NetFlorist</a>
									</div>
							</div>	
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
								<button class="btn-small">Entertainment</button>
								<h4>Earn Double Points at NetFlorist, NetGifts and NetJewel</h4>
								<ul>
									<li>ClubCard members can now earn Double Points on items purchased from NetFlorist, NetGifts and NetJewel.</li>
									<li>This excludes fragrances.</li>
									<li>Visit www.netflorist.co.za/clicks or call NetFlorist on 0861 300 600.</li>
								</ul>
							</div>
						</div>	
					</div>
					<!-- End Third Block -->
					
					<!-- Fourth Block -->
					<div class="policy_outer">
						<div class="services_wrap clearfix">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="partner_logo">
									<img src="../image/partner/partner_4.jpg" alt="partner">
								</div>	
									<div class="partner_offer">
										Earn double points
										<a href="#">Visit Sorbet</a>
									</div>
							</div>	
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
								<button class="btn-small">Beauty & lifestyle</button>
								<h4>Earn ClubCard Points on beauty services at Sorbet</h4>
								<ul>
									<li>ClubCard members earn 1 ClubCard Point earned for every R5 spent on products or services at Sorbet outlets.</li>
									<li>Only applicable to RSA outlets.</li>
									<li>Points earn you Cash-back Rewards, which is as good as cash for you to spend as you please at Clicks.</li>
								</ul>
							</div>
						</div>	
					</div>
					<!-- End Fourth Block -->
					
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>