<div class="financial_top clearfix">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h2>
					Save with  <span> ClubCard Partners</span>
				</h2>
				<p>The Clicks ClubCard loyalty benefits and rewards are already considered 
				to be among the most valuable retail rewards in the market place. 
				See how you can save, earn points and Cash-back Rewards.</p>
				<button class="btn primary_btn">Join Clubcard today</button>	
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="image-center">
					<img src="../image/article/article-top.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>