<section class="main-container bg-gray pdp">
	<div class="container">
		<div class="bg-white clearfix headLogo">
			<img src="../image/pdp/loreal-logo.jpg" />
		</div>	 
			<div class="bg-white clearfix pdp-main-content">
			    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
						<div class="imageOuterWrapper">
						<div class="imageZoom">
								<img src="../image/zoom-btn.png" />
							</div>
							<div class="imageOuter">
								<img src="../image/pdp/pdp-loreal.jpg" />
							</div>
						</div>
						<div class="slider-pdp visible-lg">
							<ul class="imageOuterThumb bxslider"  data-call="bxslider" >
								<li class="slide"><a href="../image/pdp/pdp-loreal.jpg"><img src="../image/pdp/thumb-1.jpg" /></a></li> 
								<li class="slide"><a href="../image/pdp/pdp-loreal-2.jpg"><img src="../image/pdp/thumb-2.jpg" /></a></li> 
								<li class="slide"><a href="../image/pdp/pdp-loreal-3.jpg"><img src="../image/pdp/thumb-3.jpg" /></a></li> 
								<li class="slide"><a href="../image/pdp/pdp-loreal.jpg"><img src="../image/pdp/thumb-4.jpg" /></a></li> 
								<li class="slide"><a href="../image/pdp/pdp-loreal-2.jpg"><img src="../image/pdp/thumb-5.jpg" /></a></li> 
								<li class="slide"><a href="../image/pdp/pdp-loreal-3.jpg"><img src="../image/pdp/thumb-6.jpg" /></a></li> 
							</ul>
						</div>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<div class="pdp-content clearfix">
						<div class="pdp-topBar clearfix">
							<div class="floatLeft">
								<img src="../image/star.jpg" alt="ratings" />
								<a href="#" class="reviews">38 reviews</a>
							</div>
							<div class="floatRight product-code">
							 	32084323
							</div>
						</div>
						<h1 class="product-category">
						L'Oreal
						</h1>
						<h2 class="product-name">
						L'Oreal Paris Color Riche Mono Eyeshadow
						</h2>
						<div class="product-desc">
						<p>Restores definition, elasticity and bounce to natural curls. Leaves hair touchably soft and shiny. Donec id elit non mi at id elit non mi eget metus.</p>
						</div>
						<div class="price-details-wrapper clearfix">
							<div class="price-left floatLeft">
								<div class="price red">
									89<sup>90</sup>
								</div>
								<div class="price-offer">
									Was R44<sup>95</sup>
									<span class="red">Save R6</span>
								</div>
							</div>
							<div class="price-right floatLeft price-content red">
								3 for 2 on selected John Frieda salon products cheapest free
							</div>
						</div>
						<div class="club-offer">Earn <span class="red">38 points</span> if you buy with Clicks ClubCard</div>
						<div class="clearfix">
							<div class="quantityWrapper">
							<span>Quantity</span>
								<div class=" floatLeft quantity">
									<select id="basic2">
										<option value="1">1</option>
										<option value="2">2</option>
									</select>
								</div>
							</div>
							<div class="SizeWrapper">
								<span>Size</span>
								<div class="floatLeft size-pdp">
									<select id="basic">
										<option value="200ml">200ml</option>
										<option value="2">300ml</option>
										<option value="3">400ml</option>
										<option value="4">500ml</option>
										<option value="5">600ml</option>
										<option value="6">700ml</option>
									</select> 
								</div>
							</div>
						</div>
						<div class="colorWrapper clearfix">
						<span class="colorCount">Colour</span>
						<span class="colorControls floatRight">New york apple (104)<!-- < 1 / 3 > --> </span>
						<!-- 	<ul class="color">
								<li class="selected" style="background-color: #00ff00;"> <span> </span></li>
								<li style="background-color: #ff0000;"><span> </span></li>
								<li style="background-color: #555555;"><span> </span></li>
								<li style="background-color: #666666;"><span> </span></li>
								<li style="background-color: #d0d0d0;"><span> </span></li>
								<li style="background-color: #aaaaaa;"><span> </span></li>
								<li style="background-color: #afafaf;"><span> </span></li>
								<li style="background-color: #00fffc;"><span> </span></li>
								<li style="background-color: yellowgreen;"><span> </span></li> 
							<ul> -->
							<!-- <ul class="color">
								<li class="appleOne"></li>
								<li class="appleTwo"></li>
								<li class="appleThree"></li>
								<li class="appleFour"></li>
								<li class="appleFive"></li>
								<li class="appleSix"></li>
								<li class="appleSeven"></li>
								<li class="appleEight"></li>
							<ul>
							<img src="../image/pdp/colors-image.jpg" /> -->
								<ul class="color">
								
								<li class="selected"><span> <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=28%C3%9725&w=28&h=28" alt="star" />  </span> </li>
								<li><span> <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=28%C3%9725&w=28&h=28" alt="star" /> </span></li>
								<li ><span> <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=28%C3%9725&w=28&h=28" alt="star" />  </span></li>
								<li ><span><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=28%C3%9725&w=28&h=28" alt="star" />  </span></li>
								<li><span> <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=28%C3%9725&w=28&h=28" alt="star" />  </span></li>
								<li><span> <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=28%C3%9725&w=28&h=28" alt="star" /> </span></li>
								<li><span><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=28%C3%9725&w=28&h=28" alt="star" />  </span></li>
								<li><span><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=28%C3%9725&w=28&h=28" alt="star" /> </span></li> 
							<ul> 
						</div>
						<div class="pdp-btn">
							<button type="submit" class="btn">Add to basket</button>
							<button type="submit" class="btn grey">Check store availability</button>
						</div>
						<div class="moreLinks">
							<a class="wish-list" href="#">Add to Wishlist</a>
							<a class="fav" href="#">Add to Favourties</a>
							<a class="email" href="#">Email</a>
							<a class="share" href="javascript:void(0)">Share</a>
							
							<!-- Share via social networking sites -->
							<div class="shareProduct">
								<span class="popup-left-arrow"></span>
								<ul>
									<li><a target="_blank" title="Facebook" href="#" class="facebook_icon"></a></li>
									<li><a target="_blank" title="Twitter" href="#" class="twitter_icon"></a></li>
									<li><a target="_blank" title="Google+" href="#" class="google_icon"></a></li>
									<li><a title="Email" href="#" class="email_icon"></a></li>
								</ul>
							</div>
							<!-- Share via social networking sites -->
							
							<!--  <div class="social-share">
                                <h5>Share with friends</h5>
                                <span class="st_facebook_large" displaytext="Facebook" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(https://ws.sharethis.com/images/facebook_32.png);"></span></span></span>
                                <span class="st_twitter_large" displaytext="Tweet" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(https://ws.sharethis.com/images/twitter_32.png);"></span></span></span>
                                <span class="st_pinterest_large" displaytext="Pinterest" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(https://ws.sharethis.com/images/pinterest_32.png);"></span></span></span>
                                <span class="st_googleplus_large" displaytext="Google +" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(https://ws.sharethis.com/images/googleplus_32.png);"></span></span></span>
                                <span class="st_email_large" displaytext="Email" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(https://ws.sharethis.com/images/email_32.png);"></span></span></span>
                            </div>-->
					</div>
					</div>	
				</div>
			</div>
			<div class="bg-white clearfix pdp-second-content"> 
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"> 
					<div class="tabOuterWrapper">
					<ul class="tabs">
							<li class="active"><a href="#information" data-toggle="tab">Detailed information</a></li>
							<li><a href="#use" data-toggle="tab">How to use</a></li>
							<li><a href="#ingredients" data-toggle="tab">Ingredients</a></li>
						</ul>
						<div class="tabContentWrapper">
							<div class="active tabContent" id="information">
							<p class="show-read-more">220°C heat protection. Revitalises curls for frizz-free. Salon-touchable hold. Alcohol-free. With thermal protectant. Transform undefined & unruly into controlled & curly. Restores definition, elasticity and bounce to natural curls. Leaves hair touchably soft and shiny.</p>
							<a class="read-more" href="javascript:void(0);">See more</a></div>
							<div class="tabContent" id="use"><p>220°C heat protection. Revitalises curls for frizz-free.</p></div>
							<div  class="tabContent" id="ingredients"><p>220°C heat protection. Revitalises curls for frizz-free. Salon-touchable hold. Alcohol-free. With thermal protectant. Transform undefined & unruly into controlled. </p></div>
						</div>
					</div>
					<div class="reviewsOuter">
						<h3>Reviews</h3>
						<div class="reviewCountWrapper">
						<span class="floatLeft">
						<img src="../image/pdp/big-star.jpg" alt="star" /> 
						<span class="reviewCount">from 38 reviews</span> 
						</span>
						<a class="reviewWrite floatRight" href="#">Write a review</a>
						</div> 
					 <!--	<div class="reviewContentOuter">						
							<div class="row">						
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
								<span class="reviewTitle">Nice waves, but dry sticky-feeling hair...</span>
								<img src="../image/star.jpg" alt="ratings" />
								<div class="reviewerOuter"> CherryAnn87, 13 January 2015</div>
								<a class="reviewspecial" href="#">Clicks expert reviewer</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
								<img src="../image/pdp/reviewer-cherry.jpg" alt="reviewer" />
								</div>
							</div>
							<p>A fantastic time-saving product. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
							bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar 
							tempor!tur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et 
							viverra justo commodo. Proin sodales pulvinar gravida dolor sit amet lacus accumsan et viverra justo commodo
							odales pulvinar. tempo</p>
						</div> 
						<div class="reviewContentOuter">						
							<div class="row">						
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
								<span class="reviewTitle">Nice waves, but dry sticky-feeling hair...</span>
								<img src="../image/star.jpg" alt="ratings" />
								<div class="reviewerOuter">CherryAnn87, 13 January 2015</div>
								<a class="reviewspecial" href="#">Clicks expert reviewer</a>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
								<img src="../image/pdp/reviewer-cherry.jpg" alt="reviewer" />
								</div>
							</div>
							<p>A fantastic time-saving product. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
							bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar 
							tempor!tur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et 
							viverra justo commodo. Proin sodales pulvinar gravida dolor sit amet lacus accumsan et viverra justo commodo
							odales pulvinar. tempo</p>
						</div>
						
						<button type="submit" class="btn btn-load-more">Load more reviews</button> -->
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<aside>
						<h3 class="text-center"><a href="#">See all products on this promotion</a></h3>
							<div class="article-slider">
								<div class="productBlock slide">
									<img src="../image/sprite/4_batch_mix_match.png" class="mix-match-badge" alt="mix-match">
									<!--  <p class="badges mix-match"></p> -->
									<a href="javascript:void(0)"> 
										<img src="../image/article-slide1.jpg" alt="product1" />
									</a>
									<div class="detailContent clearfix">
										<h5>
											<a href="javascript:void(0)">Origins</a>
										</h5>
										<div class="content-height">
										<p>Knot Free Shampoo If Your Hair Acts Hard to
											Combination 250ml</p>
										</div>	
										<p class="priceTag">
											24<span>00</span>
										</p>
										<div>
											<img src="../image/star.jpg" alt="ratings" />
											<p class="btn">
												<a href="#">Buy</a>
											</p>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
								<div class="productBlock slide">
									<a href="javascript:void(0)"><img
										src="../image/article-slide1.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5>
											<a href="javascript:void(0)">Origins</a>
										</h5>
										<p>Knot Free Shampoo If Your Hair Acts Hard to
											Combination 250ml</p>
										<p class="priceTag">
											24<span>00</span>
										</p>
										<div>
											<img src="../image/star.jpg" alt="ratings" />
											<p class="btn">
												<a href="#">Buy</a>
											</p>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
								<div class="productBlock slide">
									<a href="javascript:void(0)"><img
										src="../image/article-slide1.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5>
											<a href="javascript:void(0)">Origins 2</a>
										</h5>
										<p>Knot Free Shampoo If Your Hair Acts Hard to
											Combination 250ml</p>
										<p class="priceTag">
											24<span>00</span>
										</p>
										<div>
											<img src="../image/star.jpg" alt="ratings" />
											<p class="btn">
												<a href="#">Buy</a>
											</p>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
					</aside>
				</div>
			 </div>
			
		
	</div>
</section>
<div id="div-overlay"></div>