<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="filter clearfix">
					<div class="col-md-3 col-sm-12 col-xs-12">
						<h2 class="bg-white clearfix">Filter 1,037 results</h2>
						<div class="panel-group" id="accordion">
							<div class="panel panel-default bg-white closed">
								<a href="javascript:void(0)" class="tittle">Type</a>
								<div class="panel-collapse collapse in">
									<h4>All Toiletries</h4>
									<ul id="collapseOne">
										<li><a href="javascript:void(0)">Haircare</a></li>
										<li><a href="javascript:void(0)">Shampoo &amp; conditioner (37)</a></li>
										<li><a href="javascript:void(0)">Styling (198)</a></li>
										<li><a href="javascript:void(0)">Colourants (232)</a></li>
										<li><a href="javascript:void(0)">Black haircare (137)</a></li>
										<li><a href="javascript:void(0)">Salon / Professional (47)</a></li>
										<li><a href="javascript:void(0)">Accessories (57)</a></li>
										<li><a href="javascript:void(0)">Hair loss (37)</a></li>
										<li><a href="javascript:void(0)">Healthy scalp (47)</a></li>
										<li><a href="javascript:void(0)">Exclusive to Clicks (27)</a></li>
									</ul>
								</div>
							</div>
							<div class="panel panel-default bg-white">
								<a href="javascript:void(0)" class="tittle">On promotion</a>
								<div class="panel-collapse collapse">
									<ul id="collapseTwo">
										<li><a href="javascript:void(0)">ClubCard exclusive savings (56)</a></li>
										<li><a href="javascript:void(0)">3 for 2 selected John Frieda (18)</a></li>
										<li><a href="javascript:void(0)">Buy 1, 2nd 1/2 price shaving (24)</a></li>
										<li><a href="javascript:void(0)">2 for R150 haircare (36)</a></li>
										<li><a href="javascript:void(0)">Save 20% L'Oréal hair colours (42)</a></li>
									</ul>
								</div>
							</div>
							<div class="panel panel-default bg-white">
								<a href="javascript:void(0)" class="tittle">Brands</a>
								<div class="panel-collapse collapse">
									<ul id="collapseThree">
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
									</ul>
								</div>
							</div>
							<div class="panel panel-default bg-white">
								<a href="javascript:void(0)" class="tittle">Price</a>
								<div class="panel-collapse collapse">
									<ul id="collapseFour">
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
									</ul>
								</div>
							</div>
							<div class="panel panel-default bg-white">
								<a href="javascript:void(0)" class="tittle">Rating</a>
								<div class="panel-collapse collapse">
									<ul id="collapseFour">
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
									</ul>
								</div>
							</div>
							<div class="panel panel-default bg-white">
								<a href="javascript:void(0)" class="tittle">Collections</a>
								<div class="panel-collapse collapse">
									<ul id="collapseFour">
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
										<li><a href="javascript:void(0)">Lorem Ipsum</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-8 col-sm-6 col-xs-12 titleWrapper">
								<label class="floatLeft" for="load">Load</label>
								<div class="loadCount floatLeft">
								<select class="basic2">
									<option value="12">12</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select> </div>
								<span class="floatLeft">products at a time</span>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 titleWrapper">
								<div class="floatRight">
									<label class="floatLeft" for="Sort by">Sort by</label>
									<div class="sortList floatLeft">
									<select class="basic2">
										<option value="Price : low to high">Price : low to high</option>
										<option value="Price : hight to low">Price : hight to low</option>
									</select>
									</div>
								</div>
							</div>
						</div>
						<div class="filterContent tb-res">
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<!-- <p class="badges mix-match"><span>Mix &amp; Match</span></p> -->
									<div class="badges"><img src="../image/badges/mix-match.png" alt="mixmatch" /></div>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner Treatment</p>
										</div>
									<div class="price-wrap">
										<div class="price">
											28<sup>60</sup>
										</div>
									</div>
									<div class="starWrapper">
										<img src="../image/star.jpg" alt="ratings" />
												<a href="#" class="btn">Buy</a>
									</div>			
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<!-- <p class="badges blue"><span>Only at clicks</span></p> -->
									<div class="badges"><img src="../image/badges/only-at-clicks.png" alt="only-at-clicks" /></div>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner Treatment</p>
										</div>
										<div class="price-wrap">																			
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="skyblue">Only at Clicks</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<!-- <p class="badges red"><span>Save 20%</span></p>-->
									<div class="badges"><img src="../image/badges/save-20.png" alt="save 20%" /></div>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
											</div>
										<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<!-- <p class="badges blue"><span>new</span></p> -->
									<div class="badges"><img src="../image/badges/new.png" alt="new" /></div>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
										</div>
										<div class="price-wrap">											
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
								<div class="badges"><img src="../image/badges/new-only-at-clicks.png" alt="new" /></div>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
										</div>	
										<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<!-- <p class="badges red"><span>value size </span></p> -->
									<div class="badges"><img src="../image/badges/value-size.png" alt="value-size" /></div>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
										</div>
										<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<!-- <p class="badges red"><span>value size </span></p> -->
									<div class="badges"><img src="../image/badges/free-with-purchase.png" alt="free-with-purchase" />
									
									<img src="../image/badges/free-with-purchase.png" alt="free-with-purchase" />
									
									</div>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
										</div>
										<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<!-- <p class="badges red"><span>value size </span></p> -->
									<div class="badges"><img src="../image/badges/buy-1-get-1.png" alt="buy-1-get-1" /></div>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
										</div>
										<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<!-- <p class="badges red"><span>value size </span></p> -->
									<div class="badges"><img src="../image/badges/pay-less.png" alt="pay-less" /></div>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
										</div>
										<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--<p class="text-center">
						<a class="btn">Load more products</a>
						</p> -->
						<button type="submit" class="btn btn-load-more">Load more products</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>