<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white "><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse ">
										<li><a href="javascript:void(0)">Haircare</a></li>
										<li><a href="javascript:void(0)">Shampoo &amp;
												conditioner (37)</a></li>
										<li><a href="javascript:void(0)">Styling (198)</a></li>
										<li><a href="javascript:void(0)">Colourants (232)</a></li>
										<li><a href="javascript:void(0)">Black haircare (137)</a></li>
										<li><a href="javascript:void(0)">Salon / Professional
												(47)</a></li>
										<li><a href="javascript:void(0)">Accessories (57)</a></li>
										<li><a href="javascript:void(0)">Hair loss (37)</a></li>
										<li><a href="javascript:void(0)">Healthy scalp (47)</a></li>
										<li><a href="javascript:void(0)">Exclusive to Clicks
												(27)</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse">
										<li><a href="javascript:void(0)">ClubCard exclusive
												savings (56)</a></li>
										<li><a href="javascript:void(0)">3 for 2 selected
												John Frieda (18)</a></li>
										<li><a href="javascript:void(0)">Buy 1, 2nd 1/2 price
												shaving (24)</a></li>
										<li><a href="javascript:void(0)">2 for R150 haircare
												(36)</a></li>
										<li><a href="javascript:void(0)">Save 20% L'Oréal
												hair colours (42)</a></li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse in">
										<li><a href="javascript:void(0)" class="active">Manage My Medicines</a></li>
										<li><a href="javascript:void(0)">Request refill from prescriptions</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">My account summary</a>
									<ul class="collapse in">
										<li><a href="javascript:void(0)">Sales</a></li>
										<li><a href="javascript:void(0)">Customers</a></li>
										<li><a href="javascript:void(0)">Products</a></li>
										<li><a href="javascript:void(0)">Shopping Cart</a></li>
									</ul></li>
							</ul>
							
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->
					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="prescLeft">
							<div class="clearfix bg-white prescHeading">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<h4>Spironolactone and Lotensin for Josefa </h4>
									<div class="presDetailWrap clearfix">	
										<div class="presDetail">Next collection ready on <strong>30 May 2015</strong> </div><a href="javascript:void(0)">Change date</a>
									</div>
									<div class="presDetailWrap clearfix">	
										<div class="presDetail">From <strong>Clicks Rondebosch Pharmacy</strong> </div>  <a href="javascript:void(0)">Change pharmacy</a>
									</div>
								</div>
							</div>
							<div class="clearfix bg-white prescContWrap">
								<div class="prescHeader clearfix">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 tableMiddle">
									<h5>Needed next refill?</h5>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 tableMiddle">
									<h5>Medication</h5>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tableMiddle"> 
									<h5>Refills</h5>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 tableMiddle">
									<h5>Next due</h5>
									</div>
								</div>
								<div class="prescTableContent clearfix">
									<div class="prescTableRow clearfix">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 tableContent">
											<div class="form-group clearfix">
												<input type="checkbox" name="tab1" class="check-hide" id="tab1">
												<label for="tab1" class="check-box"></label>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 tableContent">
											<label for="tab1">Spironolactone 30 x 200mg </label>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tableContent"> 
											<strong>4</strong> refills left
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 tableContent">
										<strong>30 December</strong>
										</div>
									</div>
									<div class="prescTableRow clearfix">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 tableContent">
											<div class="form-group clearfix">
												<input type="checkbox" name="tab2" class="check-hide" id="tab2">
												<label for="tab2" class="check-box"></label>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 tableContent">
											<label for="tab2">Lotensin 30 x 500mg </label>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tableContent">
											<strong>2</strong> refills left
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 tableContent">
										<strong>30 May</strong>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<button class="btn btnBig">Request refill now</button> 
									<button class="btn btnBig">Save changes for next refill</button>
									<a href="javascript:void(0)" class="cancelPresc">Cancel this repeat prescription</a>
								</div>	
							</div>
						</div>
					</div>
					<!-- End right side content  -->
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>