<div class="clearfix bg-white editprofiletop order-top-space">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1>Manage this <span> repeat prescription</span></h1>
			</div>
			<!-- End Heading - My clicks  -->
		</div>
	</div>
</div>