<div class="contentWrapper bg-gray">
	<div class="container">
		<div class="row">
			<div class="clearfix product-display pull-right">
				<!--  <div class="col-md-3 col-sm-3 col-xs-12">
					<img src="../image/product-leftside.jpg" alt="display product" />
				</div>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<img src="../image/product-rightside.jpg" alt="display product" /> 
				</div>-->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<img src="../image/leader_board.jpg" alt="display product" />
				</div>
			</div>
		</div>
	</div>
</div>