<div class="promotion_offer_top clearfix bg-white">
	<div class="container">
		<div class="row featured-wrap">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 feature-prod">
				<div class="product-left">
					<h1>Promotions</h1>
					<p>Never miss a saving, nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. </p>
				</div>
			</div>
			
			<div class="feature-prod">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 promotion_product_wrap">
					<div class="row promo_feauture_wrap">
						<div class="col-lg-5 col-md-5 col-sm-4 col-xs-3 promo_prod_image">
							<img src="../image/thumb-1.jpg" alt="product1" />
						</div>
						<div class="col-lg-7 col-md-7 col-sm-8 col-xs-9 promo_prod_desc">
							<h4>Featured product</h4>
							<span>Hand Chemistry</span>
							<p>Extreme Hydration Concentrate</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  promotion_product_wrap">
					<div class="row promo_feauture_wrap">
						<div class="col-lg-5 col-md-5 col-sm-4 col-xs-3 promo_prod_image">
							<img src="../image/thumb-2.jpg" alt="product1" />
						</div>
						<div class="col-lg-7 col-md-7 col-sm-8 col-xs-9 promo_prod_desc">
							<h4>Featured product</h4>
							<span>Dr Miracle’s</span>
							<p>Damaged Hair Treatment - 340g</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>