<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">
					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse in">
										<li><a href="">My rewards activity</a></li>
										<li class="active"><a href="#">My promotions & offers</a></li>
										<li><a href="">Join BabyClub</a></li>
										<li><a href="">Activate Vitality HealthyCare</a></li>
										<li><a href="">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white "><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse">
										<li ><a href="">Order history</a></li>
										<li><a href="">Saved addresses</a></li>
										<li><a href="">My lists:</a>
											<ul class="shop-ul">
												<li><a href="">My shopping list</a></li>
												<li><a href="">My wishlist</a></li>
											</ul>
										</li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>
									
								<!-- Last Drop down - No accordion -->	
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li><a href="">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->
					
					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="promotion-body">
							<!-- Latest Promotions -->
							<div class="contentWrapper clearfix bg-white bottom-marg">
								<div class="clearfix bgred">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
											<h2>Vouchers & coupons</h2>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper account-promo">
										<div class="doubleBlock">
											<div class="categoryType">
												Exclusive <span> savings </span>
											</div>
											<h3>Free standard shipping on any order</h3>
											<p>
												Enter <strong>FREEDEL-12345678</strong> at checkout (use
												this once)
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper account-promo">
										<div class="doubleBlock">
											<div class="categoryType">
												Exclusive <span> savings </span>
											</div>
											<h3>Additional 10% off your entire order</h3>
											<p>
												Enter <strong> FREEDEL-12345678 </strong> at checkout (use
												this once)
											</p>
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper account-promo">
										<div class="doubleBlock">
											<div class="categoryType">
												Exclusive <span> savings </span>
											</div>
											<h3>50% off a greeting card with chocs</h3>
											<p>
												Enter <strong>FREEDEL-12345678</strong> at checkout (use
												this once)
											</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper account-promo">
										<div class="doubleBlock">
											<div class="categoryType">
												Exclusive <span> savings </span>
											</div>
											<h3>Additional 10% off your entire order</h3>
											<p>
												Enter <strong> FREEDEL-12345678 </strong> at checkout (use
												this once)
											</p>
										</div>
									</div>
								</div>
								
								
								
							</div>

							<div class="selected-offer clearfix bg-white bottom-marg">
								<div class="clearfix bgred">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
											<h2>Selected for you</h2>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper">
										<div class="badges blue">
											<span>New</span>
										</div>
										<div class="doubleBlock">
											<div class="categoryType">
												New in <span> from </span> <a href="javascript:void(0)">John
													Freida</a>
											</div>
											<h3>Dream curls daily styling spray</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla        
												<strong>Valid until 24 Mar </strong></p>
											</div>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-1.jpg"  alt="category" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd">
										<div class="badges red">
											<span>Save 20%</span>
										</div>
										<div class="doubleBlock">
											<div class="categoryType">
												Skincare <span> special offer </span>
											</div>
											<h3 class="red">20% off skincare</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla        
												<strong>Valid until 24 Mar </strong></p>
											</div>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-2.jpg" alt="category" />
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper">
										<div class="badges blue">
											<span>New</span>
										</div>
										<div class="doubleBlock">
											<div class="categoryType">
												New in <span> from </span> <a href="javascript:void(0)">John
													Freida</a>
											</div>
											<h3>Dream curls daily styling spray</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla        
												<strong>Valid until 24 Mar </strong></p>
											</div>
											<button class="btn">Shop now</button>
										</div>  
										<div class="promoImg">
											<img src="../image/category-1.jpg" alt="category" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd">
										<div class="badges blue">
											<span>new</span>
										</div>
										<img src="../image/sprite/22_vitality.png" class="vitality-badge" alt="mix-match">
										
										<div class="doubleBlock">
											<div class="categoryType">
												New in <span> from </span> <a href="javascript:void(0)"> Solal </a>
											</div>
											<h3 class="blue">Exhaustion  relief</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla        
												<strong>Valid until 24 Mar </strong></p>
											</div>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/phar-cat1.jpg" alt="category" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper">
										<div class="doubleBlock">
											<div class="categoryType">
												New in <span> from </span><a href="javascript:void(0)">Bodyshop</a>
											</div>
											<h3>Avocado oil body butter</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla        
												<strong>Valid until 24 Mar </strong></p>
											</div>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-4.jpg" alt="category" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd">
										<img src="../image/sprite/mix-match-new.png" class="mix-match-badge" alt="mix-match">
										<div class="doubleBlock">
											<div class="categoryType">
												New in <span> from </span><a href="javascript:void(0)">Bodyshop</a>
											</div>
											<h3>Shaving foams and balms</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla        
												<strong>Valid until 24 Mar </strong></p>
											</div>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-5.jpg" alt="category" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Latest Promotions -->
						
					<div class="promo-links clearfix">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h4>Don't miss ClubCard exclusive savings</h4>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
							<a href="#">See all ClubCard exclusive promotions</a> 
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>