<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="promo-links clearfix">
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
								<h4>Don't miss personal promotions when you shop in-store & online with ClubCard</h4>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-right">
								<a href="#">Sign in </a> or <a href="">join ClubCard</a> 
							</div>
						</div>
					</div>
					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block promo-navwrap">
								<h2>
									<a href="javascript:void(0)">Show promotions & savings</a>
								</h2>
							</div>
							<!-- End Left side first link -->
							
							<!-- Left side Second link -->
							<div class="my-account-block show_promotions">
									<a href="">Show all promotions</a>
							</div>
							<!-- End Left side Second link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white no-toggle">
								<a href="javascript:void(0)" class="tittle">By category</a>
									<ul class="collapse in">
										<li><a href="javascript:void(0)">Health & pharmacy</a></li>
										<li class="active"><a href="javascript:void(0)">Beauty</a></li>
										<li><a href="javascript:void(0)">Toiletries</a></li>
										<li><a href="javascript:void(0)">Baby</a></li>
										<li><a href="javascript:void(0)">For men</a></li>
										<li><a href="javascript:void(0)">Electrical</a></li>
										<li><a href="javascript:void(0)">Household</a></li>
										<li><a href="javascript:void(0)">Gifts</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white no-toggle">
								<a href="javascript:void(0)" class="tittle">By type</a>
									<ul class="collapse in">
										<li ><a href="javascript:void(0)">ClubCard exclusives</a></li>
										<li><a href="javascript:void(0)">HealthyCare cashback</a></li>
										<li><a href="javascript:void(0)">Mix & match multi-buys</a>
										<li><a href="javascript:void(0)">Save 20%</a></li>
										<li><a href="javascript:void(0)">Free gift with purchases</a></li>	
									</ul></li>
								<!-- End Left Drop down 2 -->
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->
					
					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					
					<div class="row">
							<div class="col-md-8 col-sm-6 col-xs-12 titleWrapper">
								<label class="floatLeft" for="load">Load</label>
								<div class="loadCount floatLeft">
								<select id="basic">
									<option value="12">12</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select> </div>
								<span class="floatLeft">products at a time</span>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 titleWrapper">
								<div class="floatRight">
									<label class="floatLeft" for="Sort by">Sort by</label>
									<div class="sortList floatLeft">
									<select class="basic2">
										<option value="Price : low to high">Price : low to high</option>
										<option value="Price : hight to low">Price : hight to low</option>
									</select>
									</div>
								</div>
							</div>
						</div>
						
						<div class="promotion-body">
							<!-- Latest Promotions -->
							<div class="selected-offer clearfix bg-white bottom-marg">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper">
									
										<div class="promotions_badges">
											<img src="../image/badges/save-20.png"  alt="mix-match">
										</div>
										
										<div class="doubleBlock">
											<div class="categoryType offer-text">
												Save 20% <span> on selected </span>
											</div>
											<h3>Dream curls daily styling spray</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla 
												metus auctor fringilla
												</p>
												
												
											</div>
											<strong>Valid until 24 Mar </strong>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-1.jpg"  alt="category" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd">
										<div class="promotions_badges">
											<img src="../image/badges/save-20.png" alt="mix-match">
										</div>
										<div class="doubleBlock">
											<div class="categoryType offer-text">
												Save 20% <span> on selected </span>
											</div>
											<h3 class="red">20% off skincare</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla 
												metus auctor fringilla   
												</p>     
											</div>
											<strong>Valid until 24 Mar </strong>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-2.jpg" alt="category" />
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper">
										<div class="promotions_badges">
											<img src="../image/sprite/mix-match-new.png" alt="mix-match">
										</div>
										<div class="doubleBlock">
											<div class="categoryType">
												New in <span> from </span> <a href="javascript:void(0)">Clicks</a>
											</div>
											<h3>First aid essentials</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla  metus auctor fringilla metus </p>    
											</div>
											<strong>Valid until 24 Mar </strong>
											<button class="btn">Shop now</button>
										</div>  
										<div class="promoImg">
											<img src="../image/phar-cat4.jpg" alt="category" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd">
										
										<div class="promotions_badges">
											<img src="../image/sprite/mix-match-new.png" alt="mix-match">
											<img src="../image/sprite/22_vitality.png" alt="mix-match">
										</div>
										<div class="doubleBlock">
											<div class="categoryType">
												New in <span> from </span> <a href="javascript:void(0)"> Solal </a>
											</div>
											<h3 class="blue">Exhaustion  relief</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla 
												metus auctor fringilla </p>       
											</div>
											<strong>Valid until 24 Mar </strong>	
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/phar-cat1.jpg" alt="category" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper">
										<div class="promotions_badges">
											<img src="../image/sprite/mix-match-new.png" alt="mix-match">
										</div>
										<div class="doubleBlock offer-text">
											<div class="categoryType">
												Save 20% <span> on selected </span>
											</div>
											<h3>Avocado oil body butter</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla 
												metus auctor fringilla       
												</p>
											</div>
											<strong>Valid until 24 Mar </strong>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-4.jpg" alt="category" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-block">
									<div class="doubleBlockWrapper odd">
										<div class="promotions_badges">
											<img src="../image/sprite/mix-match-new.png" alt="mix-match">
										</div>	
										<div class="doubleBlock">
											<div class="categoryType">
												3 for 2 <span> on selected </span>
											</div>
											<h3>Shaving foams and balms</h3>
											<div class="content-height">
												<p> Donec ullamcorper nulla non metus auctor fringilla 
												metus auctor fringilla       
												</p>
											</div>
											<strong>Valid until 24 Mar </strong>
											<button class="btn">Shop now</button>
										</div>
										<div class="promoImg">
											<img src="../image/category-5.jpg" alt="category" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Latest Promotions -->
						<button class="btn btn-load-promotion">Load more promotions</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>