<div class="bg-gray specialBlock clearfix productRange tb-res rel-product pdp-rp">
<div class="container">
<h2>Related popular <span>products</span></h2>
<div class="col-md-3 col-sm-6 col-xs-12 productBlock" style="width: 25% !important;">
							<img src="../image/pdp/avene.jpg" alt="product1" />
							<div class="detailContent clearfix">
								<h5>Avène</h5>
								<div class="content-height">
								<p>Thermal Water Face Nourishing Spray, 300ml</p>
								</div>
								<p class="priceTag blue">
									28<sup>60 </sup>
								</p>
								<a href="#" class="btn">Buy</a>
							</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 productBlock" style="width: 25% !important;">
							<img src="../image/pdp/olsson.jpg" alt="product1" />
							<div class="detailContent clearfix">
								<h5>Olsson</h5>
								<div class="content-height">
								<p>Scandinavia Sensitive conditioner normal/dry hair 325ml</p>
								</div>
								<p class="priceTag blue">
									28<sup>60</sup>
								</p>
								<img src="../image/star.jpg" alt="ratings" />
									<a href="#" class="btn">Buy</a>
							</div>
</div>
	<div class="col-md-3 col-sm-6 col-xs-12 productBlock" style="width: 25% !important;">
<p class="badges red"><span>Save 20%</span></p>
							<img src="../image/pdp/clarins.jpg" alt="product1" />
							<div class="detailContent clearfix">
								<h5>Clarins</h5>
								<div class="content-height">
								<p>Sun Care Oil Spray UVA/UVB 30</p>
								</div>
								<p class="priceTag">
									21<sup>00</sup>
								</p>
								<img src="../image/star.jpg" alt="ratings" />
								<a href="#" class="btn">Buy</a>
								<div class="offerDesc red">
					Save 20% on <span>selected John Frieda</span>
				</div>
							</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 productBlock" style="width: 25% !important;">
<p class="badges mix-match"><span>Mix &amp; Match</span></p>
							<img src="../image/pdp/origins.jpg" alt="product1" />
							<div class="detailContent clearfix">
								<h5>Origins</h5>
								<div class="content-height">
								<p>Knot Free Shampoo If Your Hair Acts Hard to Combination 250ml</p>
								</div>
								<p class="priceTag">
									24<sup>00</sup>
								</p>
								<img src="../image/star.jpg" alt="ratings" />
								<a href="#" class="btn">Buy</a>
								<div class="offerDesc red">
					Save 20% on <span>selected John Frieda</span>
				</div>
							</div>
</div>
</div>
</div>