<div class="bg-gray specialBlock clearfix productRange tb-res">
<div class="container">
<h2>The John Frieda <span>range</span></h2>
<div class="col-md-3 col-sm-6 col-xs-12 productBlock">
							<img src="../image/frieda-range-1.jpg" alt="product1" />
							<div class="detailContent clearfix">
								<h5>John Frieda</h5>
								<div class="content-height">
								<p>Frizz-Ease Miraculous Recovery Crème Waves  Serum 50ml</p>
								</div>
								<p class="priceTag blue">
									28<sup>60 </sup>
								</p>
								<a href="#" class="btn">Buy</a>
							</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 productBlock">
							<img src="../image/frieda-range-2.jpg" alt="product1" />
							<div class="detailContent clearfix">
								<h5>John Frieda</h5>
								<div class="content-height">
								<p>Luxurious Volume Thickening Hairspray 250ml</p>
								</div>
								<p class="priceTag blue">
									28<sup>60</sup>
								</p>
								<img src="../image/star.jpg" alt="ratings" />
									<a href="#" class="btn">Buy</a>
							</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 productBlock">
<p class="badges red"><span>Save 20%</span></p>
							<img src="../image/frieda-range-3.jpg" alt="product1" />
							<div class="detailContent clearfix">
								<h5>John Frieda</h5>
								<div class="content-height">
								<p>Sheer Blonde Hydration Leave-In Conditioner 200ml</p>
								</div>
								<p class="priceTag">
									21<sup>00</sup>
								</p>
								<img src="../image/star.jpg" alt="ratings" />
								<a href="#" class="btn">Buy</a>
								<div class="offerDesc red">
					Save 20% on <span>selected John Frieda</span>
				</div>
							</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 productBlock">
<p class="badges mix-match"><span>Mix &amp; Match</span></p>
							<img src="../image/frieda-range-4.jpg" alt="product1" />
							<div class="detailContent clearfix">
								<h5>John Frieda</h5>
								<div class="content-height">
								<p>Sheer Blonde Hydration Leave-In Conditioner 200ml</p>
								</div>
								<p class="priceTag">
									24<sup>00</sup>
								</p>
								<img src="../image/star.jpg" alt="ratings" />
								<a href="#" class="btn">Buy</a>
								<div class="offerDesc red">
					Save 20% on <span>selected John Frieda</span>
				</div>
							</div>
</div>
</div>
</div>