<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">
					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse">
										<li><a href="">My rewards activity</a></li>
										<li><a href="">My promotions & offers</a></li>
										<li><a href="">Join BabyClub</a></li>
										<li><a href="">Activate Vitality HealthyCare</a></li>
										<li><a href="">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse in">
										<li><a href="#">Order history</a></li>
										<li class="active"><a href="">Saved addresses</a></li>
										<li><a href="">My lists:</a>
											<ul class="shop-ul">
												<li><a href="">My shopping list</a></li>
												<li><a href="">My wishlist</a></li>
											</ul></li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>

								<!-- Last Drop down - No accordion -->
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li><a href="">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->

					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<div class="saved-addr-wrap">
							<div class="bg-white clearfix top-margin">
								<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
									<h2>Add, edit or remove your saved addresses.</h2>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
									<div class="pull-right">
										<a href="#"> Add new address </a>
									</div>
								</div>
							</div>

							<div class="bg-white clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 address-wrap">
									<div class="address-details">
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
												<h4>Lerato Coetzee</h4>
											</div>
											<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
												<span> 1400 Lorem ipsum, Cape Town, Western Cape,
													1000</span> <a>Edit these details</a> <a>Delete</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 address-wrap">
									<div class="address-details">
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
												<h4>Lerato Coetzee</h4>
											</div>

											<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
												<span> 1400 Lorem ipsum, Cape Town, Western Cape,
													1000</span> <a>Edit these details</a> <a>Delete</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>