<script type="text/javascript">
	/*<![CDATA[*/		
	var ACC = { config: {} };
		ACC.config.contextPath = "/store";
		ACC.config.encodedContextPath = "/store/clicks/en";
		ACC.config.commonResourcePath = "/store/_ui/desktop/common";
		ACC.config.themeResourcePath = "/store/_ui/desktop/theme-blue";
		ACC.config.siteResourcePath = "/store/_ui/desktop/site-clicks";
		ACC.config.rootPath = "/store/_ui/desktop";	
		ACC.config.CSRFToken = "dafa6ffc-2945-440c-9718-47510afdb22e";
		ACC.pwdStrengthVeryWeak = 'Very weak';
		ACC.pwdStrengthWeak = 'Weak';
		ACC.pwdStrengthMedium = 'Medium';
		ACC.pwdStrengthStrong = 'Strong';
		ACC.pwdStrengthVeryStrong = 'Very strong';
		ACC.pwdStrengthUnsafePwd = 'password.strength.unsafepwd';
		ACC.pwdStrengthTooShortPwd = 'Too short';
		ACC.pwdStrengthMinCharText = 'Minimum length is %d characters';
		ACC.accessibilityLoading = 'Loading... Please wait...';
		ACC.accessibilityStoresLoaded = 'Stores loaded';
		ACC.autocompleteUrl = '/store/clicks/en/search/autocompleteSecure';
	/*]]>*/
</script>
<script type="text/javascript">
	/*<![CDATA[*/
		ACC.addons = {};	//JS holder for addons properties
		ACC.addons.b2ccheckoutaddon = [];
		ACC.addons.b2ccheckoutaddon['key.1'] = 'value 1';
		ACC.addons.b2ccheckoutaddon['key.2'] = 'value 2';
	/*]]>*/
</script>
<script src="../js/jquery-1.11.2.js"></script>
<script src="../js/modernizr.js"></script>
<script type="text/javascript" src="../js/jquery.validate.js"></script>
<!--<script src="../bootstrap/js/bootstrap.js"></script> -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/jquery.selectric.js"></script>
<script src="../js/jquery.bxslider.min.js"></script>
<script src="../js/jquery.bxslider.rahisified.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/validation.js"></script>
<script src="../js/picturefill.min.js"></script>
<script src="../js/initialize.js"></script>
<!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
<![endif]-->