<section class="main-container">
	<div class="search-results">
		<div class="container">
			<div class="row title-bar">
				<h2 class="main-title col-md-12 col-xs-12">Search results</h2>
			</div>
			<div class="row">
				<div class="col-md-12 search-tabs col-xs-12">
					<ul class="nav nav-tabs">
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-4 active"><a
							href="#products" data-toggle="tab">Products(1,178)</a></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-4"><a
							href="#inspiration" data-toggle="tab">Inspiration (32)</a></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-4"><a
							href="#hub" data-toggle="tab">Health Hub (18)</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="border-line"></div>
		<div class="search-results-wrap">
			<div class="container">
				<div class="row">
					<div id="products" class="search-out active">
						<div class="filter clearfix">
					<div class="col-md-3 col-sm-12 col-xs-12">
						<h2 class="bg-white clearfix">Filter 1,037 results</h2>
						<div class="panel-group" id="accordion">
							<div class="panel panel-default bg-white closed">
								<a href="javascript:void(0)" class="tittle">Type</a>
								<div class="panel-collapse collapse in">
									<h4>All Toiletries</h4>
									<ul id="collapseOne">
										<li><a href="javascript:void(0)">Haircare</a></li>
										<li><a href="javascript:void(0)">Shampoo &amp; conditioner (37)</a></li>
										<li><a href="javascript:void(0)">Styling (198)</a></li>
										<li><a href="javascript:void(0)">Colourants (232)</a></li>
										<li><a href="javascript:void(0)">Black haircare (137)</a></li>
										<li><a href="javascript:void(0)">Salon / Professional (47)</a></li>
										<li><a href="javascript:void(0)">Accessories (57)</a></li>
										<li><a href="javascript:void(0)">Hair loss (37)</a></li>
										<li><a href="javascript:void(0)">Healthy scalp (47)</a></li>
										<li><a href="javascript:void(0)">Exclusive to Clicks (27)</a></li>
									</ul>
								</div>
							</div>
							<div class="panel panel-default bg-white">
								<a href="javascript:void(0)" class="tittle">On promotion</a>
								<div class="panel-collapse collapse">
									<ul id="collapseTwo">
										<li><a href="javascript:void(0)">ClubCard exclusive savings (56)</a></li>
										<li><a href="javascript:void(0)">3 for 2 selected John Frieda (18)</a></li>
										<li><a href="javascript:void(0)">Buy 1, 2nd 1/2 price shaving (24)</a></li>
										<li><a href="javascript:void(0)">2 for R150 haircare (36)</a></li>
										<li><a href="javascript:void(0)">Save 20% L'Oréal hair colours (42)</a></li>
									</ul>
								</div>
							</div>
							<div class="panel panel-default bg-white">
								<a href="javascript:void(0)" class="tittle">Account</a>
								<div class="panel-collapse collapse">
									<ul id="collapseThree">
										<li><a href="javascript:void(0)">Change Password</a></li>
										<li><a href="javascript:void(0)">Notifications</a></li>
										<li><a href="javascript:void(0)">Import/Export</a></li>
										<li><a href="javascript:void(0)">Delete Account</a></li>
									</ul>
								</div>
							</div>
							<div class="panel panel-default bg-white">
								<a href="javascript:void(0)" class="tittle">Reports</a>
								<div class="panel-collapse collapse">
									<ul id="collapseFour">
										<li><a href="javascript:void(0)">Sales</a></li>
										<li><a href="javascript:void(0)">Customers</a></li>
										<li><a href="javascript:void(0)">Products</a></li>
										<li><a href="javascript:void(0)">Shopping Cart</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-8 col-sm-6 col-xs-12 titleWrapper">
								<label class="floatLeft" for="load">Load</label>
								<div class="loadCount floatLeft">
								<select id="basic">
									<option value="12">12</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select> </div>
								<span class="floatLeft">products at a time</span>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 titleWrapper">
								<div class="floatRight">
									<label class="floatLeft" for="Sort by">Sort by</label>
									<div class="sortList floatLeft">
									<select class="basic2">
										<option value="Price : low to high">Price : low to high</option>
										<option value="Price : hight to low">Price : hight to low</option>
									</select>
									</div>
								</div>
							</div>
						</div>
						<div class="filterContent tb-res">
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<p class="badges mix-match"><span>Mix &amp; Match</span></p>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner Treatment</p>
										</div>
									<div class="price-wrap">
										<div class="price">
											28<sup>60</sup>
										</div>
									</div>
									<div class="starWrapper">
										<img src="../image/star.jpg" alt="ratings" />
												<a href="#" class="btn">Buy</a>
									</div>			
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<p class="badges blue"><span>Only at clicks</span></p>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner Treatment</p>
										</div>
										<div class="price-wrap">																			
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="skyblue">Only at Clicks</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<p class="badges red"><span>Save 20%</span></p>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
											</div>
										<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<p class="badges blue"><span>new</span></p>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
										</div>
										<div class="price-wrap">											
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
										</div>	
										<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 plpsep">
								<div class="productBlock">
									<p class="badges red"><span>value size </span></p>
									<a href="javascript:void(0)"><img src="../image/miracles-thumb.jpg" alt="product1" /></a>
									<div class="detailContent clearfix">
										<h5><a href="javascript:void(0)">Dr. Miracles</a></h5>
										<div class="content-height">
										<p>Stimulating Moisturising Oil or Scalp hair Conditioner
											Treatment</p>
										</div>
										<div class="price-wrap">
											<div class="price">
												28<sup>60</sup>
											</div>
										</div>
										<div class="starWrapper">
											<img src="../image/star.jpg" alt="ratings" />
											<a href="#" class="btn">Buy</a>
										</div>
										<div class="offerDesc">
											<p class="red">Mix and match 3 for 2</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Vitality Block -->
									<!-- Vitality -->
									<div class="col-md-4 col-sm-4 col-xs-12 plpsep">
										<div class="productBlock">
											<p class="badges red">
												<span>free with purchase</span>
											</p>
											<p class="vitality-badge vitality"></p>
											<a href="javascript:void(0)"><img
												src="../image/product_vitality_1.jpg" alt="product1" /></a>
											<div class="detailContent clearfix">
												<h5>
													<a href="javascript:void(0)">GNC</a>
												</h5>
												<div class="content-height"><p>Men's Saw Palmetto Formula</p></div>
												<p class="priceTag">
													28<span>60</span>
												</p>
												<div>
													<img src="../image/star.jpg" alt="ratings" />
													<button class="btn">Buy</button>
												</div>
												<div class="offerDesc">
													<p class="red">Mix and match 3 for 2</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12 plpsep">
										<div class="productBlock">
											<p class="badges red">
												<span> buy 1 get 1 free </span>
											</p>
											<p class="vitality-badge vitality"></p>
											<a href="javascript:void(0)"><img
												src="../image/product_vitality_2.jpg" alt="product1" /></a>
											<div class="detailContent clearfix">
												<h5>
													<a href="javascript:void(0)">Antistax</a>
												</h5>
												<div class="content-height"><p>Active Leg 60 Tablets</p></div>
												<p class="priceTag">
													28<span>60</span>
												</p>
												<div>
													<img src="../image/star.jpg" alt="ratings" />
													<button class="btn">Buy</button>
												</div>
												<div class="offerDesc">
													<p class="red">Mix and match 3 for 2</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12 pay-less plpsep">
										<div class="productBlock">
											<p class="badges red">
												<span>pay less </span>
											</p>
											<p class="vitality-badge vitality"></p>
											<a href="javascript:void(0)"><img
												src="../image/product_vitality_3.jpg" alt="product1" /></a>
											<div class="detailContent clearfix">
												<h5>
													<a href="javascript:void(0)">GNC</a>
												</h5>
												<div class="content-height"><p>Herbal Plus&reg; Standarsied
													Ginko Bilobal</p></div>
												<p class="priceTag">
													28<span>60</span>
												</p>
												<div>
													<img src="../image/star.jpg" alt="ratings" />
													<button class="btn">Buy</button>
												</div>
												<div class="offerDesc">
													<p class="red">Mix and match 3 for 2</p>
												</div>
											</div>
										</div>
									</div>
									<!-- End Vitality Block -->
						</div>
						<!--<p class="text-center">
						<a class="btn">Load more products</a>
						</p> -->
						<button type="submit" class="btn btn-load-more">Load more products</button>
					</div>
				</div>
					</div>
					<div id="inspiration" class="col-md-12 search-out">
						<div class="search-container clearfix">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 bord-right">
								<div class="article-container row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<img class="img-responsive"
											src="../image/search-article-1.jpg" alt="article">
									</div>
									<div class="col-lg-8 col-md-7 col-sm-8 col-xs-8">
										<h4>
											<a href="#">Good sun protection for your family at the
												beach</a>
										</h4>
										<h5>Beauty</h5>
										<div class="content-height"><p>Lorem ipsum dolor sit amet,
											consectetur adipiscing elit. Vestibulum a mi placerat,
											bibendum ex id, hendrerit ligula. Duis vel nisl ac mi
											interdum sagittis. Suspendisse vestibulum nibh pellentesque
											odio placerat dignissim.sit.</p></div>
									</div>
								</div>
								<div class="article-container row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<img class="img-responsive"
											src="../image/search-article-2.jpg" alt="article">
									</div>
									<div class="col-lg-8 col-md-7 col-sm-8 col-xs-8">
										<h4>
											<a href="#">Anti-aging and anti-sun moisturisers</a>
										</h4>
										<h5>Beauty</h5>
										<div class="content-height">
										<p>Lorem ipsum dolor sit amet,
											consectetur adipiscing elit. Vestibulum a mi placerat,
											bibendum ex id, hendrerit ligula. Duis vel nisl ac mi
											interdum sagittis. Suspendisse vestibulum nibh pellentesque
											odio placerat dignissim.sit...</p></div>
									</div>
								</div>
								<div class="article-container row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<img class="img-responsive" src="../image/search-article-3.jpg" alt="article">
									</div>
									<div class="col-lg-8 col-md-7 col-sm-8 col-xs-8">
										<h4>
											<a href="#">Top 5 sun protection for newborns</a>
										</h4>
										<h5>Beauty</h5>
										<p class="content-height">Lorem ipsum dolor sit amet,
											consectetur adipiscing elit. Vestibulum a mi placerat,
											bibendum ex id, hendrerit ligula. Duis vel nisl ac mi
											interdum sagittis. Suspendisse vestibulum nibh pellentesque
											odio placerat dignissim.sit...</p>
									</div>
								</div>
								<div class="article-container row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<img class="img-responsive"
											src="../image/search-article-4.png" alt="article">
									</div>
									<div class="col-lg-8 col-md-7 col-sm-8 col-xs-8">
										<h4>
											<a href="#">Vulputate Ridiculus sun Aenean Pellentesque</a>
										</h4>
										<h5>Beauty</h5>
										<p class="content-height">Lorem ipsum dolor sit amet,
											consectetur adipiscing elit. Vestibulum a mi placerat,
											bibendum ex id, hendrerit ligula. Duis vel nisl ac mi
											interdum sagittis. Suspendisse vestibulum nibh pellentesque
											odio placerat dignissim.sit...</p>
									</div>
								</div>
								<div class="text-center">
									<a class="btn btn-load-articles">Load more articles</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<h3 class="text-center">
									<a href="#">Save on summer skin care</a>
								</h3>
								<div class="article-slider">
									<div class="productBlock slide">
										<img src="../image/sprite/mix-match-new.png"
											class="mix-match-badge" alt="mix-match"> <a
											href="javascript:void(0)"> <img
											src="../image/article-slide1.jpg" alt="product1" />
										</a>
										<div class="detailContent clearfix">
											<h5>
												<a href="javascript:void(0)">Origins</a>
											</h5>
											<div class="content-height"><p>Knot Free Shampoo If Your Hair
												Acts Hard to Combination 250ml</p></div>
											<p class="priceTag">
												24<span>00</span>
											</p>
											<div>
												<img src="../image/star.jpg" alt="ratings" />
												<div class="pull-right">
													<a href="#" class="btn">Buy</a>
												</div>
											</div>
											<div class="offerDesc">
												<p class="red">Mix and match 3 for 2</p>
											</div>
										</div>
									</div>
									<div class="productBlock slide">
										<img src="../image/sprite/mix-match-new.png"
											class="mix-match-badge" alt="mix-match"> <a
											href="javascript:void(0)"><img
											src="../image/article-slide1.jpg" alt="product1" /></a>
										<div class="detailContent clearfix">
											<h5>
												<a href="javascript:void(0)">Origins</a>
											</h5>
											<div class="content-height"><p>Knot Free Shampoo If Your Hair
												Acts Hard to Combination 250ml</p>	</div>
											<p class="priceTag">
												24<span>00</span>
											</p>
											<div>
												<img src="../image/star.jpg" alt="ratings" />
												<p class="btn">
													<a href="#">Buy</a>
												</p>
											</div>
											<div class="offerDesc">
												<p class="red">Mix and match 3 for 2</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="hub" class="search-out">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<div class="search-container">
								<div class="hub-container">
									<h4>
										<a href="#">Good sun protection for your family at the
											beach</a>
									</h4>
									<h5>Beauty</h5>
									<p class="content-height">Lorem ipsum dolor sit amet,
										consectetur adipiscing elit. Vestibulum a mi placerat,
										bibendum ex id, hendrerit ligula. Duis vel nisl ac mi interdum
										sagittis. Suspendisse vestibulum nibh pellentesque odio
										placerat dignissim.sit. amet eu libero. Donec varius tortor
										tortor, eu fringilla odio placerat dignissim.sit. amet eu
										libero. Donec varius tortor tortor, eu fringilla...</p>
								</div>
								<div class="hub-container">
									<h4>
										<a href="#">Anti-aging and anti-sun moisturisers</a>
									</h4>
									<h5>Beauty</h5>
									<p class="content-height">Lorem ipsum dolor sit amet,
										consectetur adipiscing elit. Vestibulum a mi placerat,
										bibendum ex id, hendrerit ligula. Duis vel nisl ac mi interdum
										sagittis. Suspendisse vestibulum nibh pellentesque odio
										placerat dignissim.sit. amet eu libero. Donec varius tortor
										tortor, eu fringilla odio placerat dignissim.sit. amet eu
										libero. Donec varius tortor tortor, eu fringilla...</p>
								</div>
								<div class="hub-container">
									<h4>
										<a href="#">Top 5 sun protection for newborns</a>
									</h4>
									<h5>Beauty</h5>
									<p class="content-height">Lorem ipsum dolor sit amet,
										consectetur adipiscing elit. Vestibulum a mi placerat,
										bibendum ex id, hendrerit ligula. Duis vel nisl ac mi interdum
										sagittis. Suspendisse vestibulum nibh pellentesque odio
										placerat dignissim.sit. amet eu libero. Donec varius tortor
										tortor, eu fringilla odio placerat dignissim.sit. amet eu
										libero. Donec varius tortor tortor, eu fringilla...</p>
								</div>
								<div class="hub-container">
									<h4>
										<a href="#">Vulputate Ridiculus sun Aenean Pellentesque</a>
									</h4>
									<h5>Beauty</h5>
									<p class="content-height">Lorem ipsum dolor sit amet,
										consectetur adipiscing elit. Vestibulum a mi placerat,
										bibendum ex id, hendrerit ligula. Duis vel nisl ac mi interdum
										sagittis. Suspendisse vestibulum nibh pellentesque odio
										placerat dignissim.sit. amet eu libero. Donec varius tortor
										tortor, eu fringilla odio placerat dignissim.sit. amet eu
										libero. Donec varius tortor tortor, eu fringilla...</p>
								</div>
								<div class="text-center">
									<a class="btn btn-load-articles" href="#">Load more health
										articles</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 health-btn">
							<a class="stethoscope" href="#"> Health concern troubling
								you? </a> <a class="book" href="#"> Research common conditions</a> <a
								class="heart" href="#"> Learn about heart disease </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>