<section class="rewards account shopHead">
	<div class="container">
		<div class="row shopTab">
		<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
			<div class="acc-heading">
				<h1>Shopping <span> basket</span></h1>
				<p>You have qualified for free standard shipping</p>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
			<a href="">Back to shopping</a>
		</div>
	</div>
	</div>
</section>	