<section class="main-container">
	<div class="contentWrapper bg-gray">
		<div class="container">
			<div class="row">
				<div class="accLandOuter clearfix ">

					<!-- Left side -->
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="filter">

							<!-- Left side first link -->
							<div class="my-account-block bg-white">
								<h2>
									<a href="javascript:void(0)" class="active">My account
										summary</a>
								</h2>
							</div>
							<!-- End Left side first link -->

							<ul class="panel-group" id="accordion">
								<!-- Left Drop down 1 - Accordion -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My clubcard</a>
									<ul class="panel-collapse collapse">
										<li><a href="">My rewards activity</a></li>
										<li><a href="">My promotions & offers</a></li>
										<li><a href="">Join BabyClub</a></li>
										<li><a href="">Activate Vitality HealthyCare</a></li>
										<li><a href="">Report a lost or stolen card</a></li>
									</ul></li>
								<!-- End Left Drop down 1 - Accordion-->

								<!-- Left Drop down 2 -->
								<li class="panel panel-default bg-white closed"><a
									href="javascript:void(0)" class="tittle">Online Shopping</a>
									<ul class="panel-collapse collapse in">
										<li><a href="#">Order history</a></li>
										<li><a href="">Saved addresses</a></li>
										<li><a href="">My lists:</a>
											<ul class="shop-ul">
												<li class="active"><a href="">My shopping list</a></li>
												<li><a href="">My wishlist</a></li>
											</ul></li>
									</ul></li>
								<!-- End Left Drop down 2 -->

								<!-- End Left Drop down 3 -->
								<li class="panel panel-default bg-white"><a
									href="javascript:void(0)" class="tittle">My medicines</a>
									<ul id="collapseThree" class="panel-collapse collapse">
										<li><a href="">Change Password</a></li>
										<li><a href="">Notifications</a></li>
										<li><a href="">Import/Export</a></li>
										<li><a href="">Delete Account</a></li>
									</ul></li>

								<!-- Last Drop down - No accordion -->
								<!-- End Left Drop down 3-->
								<li class="panel panel-default bg-white no-toggle"><a
									href="javascript:void(0)" class="tittle">Account actions</a>
									<ul class="collapse in">
										<li><a href="">Edit personal details</a></li>
										<li><a href="">Edit My Medicines details</a></li>
										<li><a href="">Change password</a></li>
										<li><a href="">Sign out</a></li>
									</ul></li>
							</ul>
							<!-- End Last Drop down  -->
						</div>
					</div>
					<!-- End Left side -->

					<!-- Right Side Content  -->
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
						<!-- Select box for price sorting -->
						<div class="titleWrapper clearfix">
							<div class="floatRight">
								<label class="floatLeft" for="Sort by">Sort by</label>
								<div class="sortList floatLeft">
									<select class="basic2">
										<option value="Price : low to high">Price : low to
											high</option>
										<option value="Price : hight to low">Price : hight to
											low</option>
									</select>
								</div>
							</div>
						</div>
						<!-- Select box for price sorting -->

						<div class="inidiviual-order-wrap shopping-list shop-prod-list ">
								<!-- Title-->
								<div class="order-product-head clearfix">
									<div class="col-lg-5 col-md-5 col-sm-3 col-xs-3">
										<h4>Product</h4>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 hidden-xs hidden-sm">
										<h4>Quantity</h4>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs hidden-sm">
										<h4>Price</h4>
									</div>
								</div>
								<!-- Title-->

								<!-- Shopping list row -->
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="border  shop-wrap clearfix">
										
											<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 shop-list">
												<div class="shop-img">
													<img src="../image/shopping/shooping-list-1.jpg">
												</div>
												<div class="prod-info">
													<h4>John Frieda</h4>
													<span>Full Repair Protecting Root Lift Foam 200ml</span>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 shop-list text-center">
												<input type="text" class="form-control quantity" value="1">
											</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 shop-list">
												<div class="price blue">
													x R21<sup>00</sup>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 shop-list">
												<button class="btn">Buy</button>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 shop-list">
												<a href="#">Delete</a>
											</div>
									
									</div>
								</div>
								<!-- Shopping list row  end -->

								<!-- Shopping list row -->
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="border  shop-wrap clearfix">
											<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 shop-list">
												<div class="shop-img">
													<img src="../image/shopping/shooping-list-2.jpg">
												</div>
												<div class="prod-info">
													<h4>John Frieda</h4>
													<span>Full Repair Protecting Root Lift Foam 200ml</span>
													<span class="offer-data">3 for 2 on selected John Frieda salon products </span>
												</div>
											</div>
											<div
												class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 shop-list text-center">
												<input type="text" class="form-control quantity" value="1">
											</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 shop-list">
												<div class="price blue">
													x R21<sup>00</sup>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 shop-list">
												<button class="btn">Buy</button>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 shop-list">
												<a href="#">Delete</a>
											</div>
									</div>
								</div>
								<!-- Shopping list row  end -->

								<!-- Shopping list row -->
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="border  shop-wrap clearfix">
											<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 shop-list">
												<div class="shop-img">
													<img src="../image/shopping/shooping-list-3.jpg">
												</div>
												<div class="prod-info">
													<h4>John Frieda</h4>
													<span>Full Repair Protecting Root Lift Foam 200ml</span>
												</div>
											</div>
											<div
												class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 shop-list text-center">
												<input type="text" class="form-control quantity" value="1">
											</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 shop-list">
												<div class="price blue">
													x R21<sup>00</sup>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 shop-list">
												<button class="btn">Buy</button>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 shop-list">
												<a href="#">Delete</a>
											</div>
									</div>
								</div>
								<!-- Shopping list row  end -->
								<!-- Button -->
								<div class="text-center load-order">
									<button class="btn btn-load-articles">Add all products
										to basket</button>
								</div>
								<!-- Button end-->
						</div>

						<div class="inidiviual-order-wrap shopping-list clearfix bg-white">
							<div class="clearfix bg-light-blue">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
									<h2>Suggested by Clicks based on your shopping history</h2>
								</div>
							</div>

							<!-- Title-->
							<div class="order-product-head clearfix">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h4>Product</h4>
								</div>
								<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 hidden-xs hidden-sm">
									<h4>Quantity</h4>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  price-space hidden-xs hidden-sm">
									<h4>Price</h4>
								</div>
							</div>
							<!-- Title-->
							
							<!-- Shopping list row -->
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="border  shop-wrap clearfix">
											<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 shop-list">
												<div class="shop-img">
													<img src="../image/shopping/shooping-list-1.jpg">
												</div>
												<div class="prod-info">
													<h4>John Frieda</h4>
													<span>Full Repair Protecting Root Lift Foam 200ml</span>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 shop-list text-center">
												<input type="text" class="form-control quantity" value="1">
											</div>
											<div class="col-lg-2 col-md-2 col-sm-8 col-xs-8 shop-list shop-sugg">
												<div class="price blue">
													x R21<sup>00</sup>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2 shop-list add-list">
												<a href="#">Add to my list</a>
											</div>
											<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 shop-list">
												<button class="btn">Buy</button>
											</div>
											<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 shop-list">
												<a href="#">Delete</a>
											</div>
									</div>
								</div>
								<!-- Shopping list row  end -->
								
								<!-- Shopping list row -->
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="border  shop-wrap clearfix">
											<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 shop-list">
												<div class="shop-img">
													<img src="../image/shopping/shooping-list-2.jpg">
												</div>
												<div class="prod-info">
													<h4>John Frieda</h4>
													<span>Full Repair Protecting Root Lift Foam 200ml</span>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 shop-list text-center">
												<input type="text" class="form-control quantity" value="1">
											</div>
											<div class="col-lg-2 col-md-2 col-sm-8 col-xs-8 shop-list shop-sugg">
												<div class="price blue">
													x R21<sup>00</sup>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2 shop-list add-list">
												<a href="#">Add to my list</a>
											</div>
											<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 shop-list">
												<button class="btn">Buy</button>
											</div>
											<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 shop-list">
												<a href="#">Delete</a>
											</div>
									</div>
								</div>
								<!-- Shopping list row  end -->
								
								<!-- Shopping list row -->
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="border  shop-wrap clearfix">
											<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 shop-list">
												<div class="shop-img">
													<img src="../image/shopping/shooping-list-3.jpg">
												</div>
												<div class="prod-info">
													<h4>John Frieda</h4>
													<span>Full Repair Protecting Root Lift Foam 200ml</span>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2 shop-list text-center">
												<input type="text" class="form-control quantity" value="1">
											</div>
											<div class="col-lg-2 col-md-2 col-sm-8 col-xs-8 shop-list shop-sugg">
												<div class="price blue">
													x R21<sup>00</sup>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-5 col-sm-offset-2 col-xs-5 col-xs-offset-2 shop-list add-list">
												<a href="#">Add to my list</a>
											</div>
											<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 shop-list">
												<button class="btn">Buy</button>
											</div>
											<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 shop-list">
												<a href="#">Delete</a>
											</div>
									</div>
								</div>
								<!-- Shopping list row  end -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>