<section class="main-container">
   <div class="contentWrapper bg-gray">
      <div class="container">
         <div class="row">
            <div class="accLandOuter clearfix shopBasket">
               <!-- Right Side Content  -->
               <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="inidiviual-order-wrap shopping-list shop-prod-list ">
                     <!-- Title-->
                     <div class="order-product-head clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 shop-list">
                           <h4>Product</h4>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 shop-list text-center">
                           <h4>Quantity</h4>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 shop-list">
                           <h4>Price</h4>
                        </div>
                     </div>
                     <!-- Title-->
                     <!-- Shopping list row -->
                     
                        <div class="border  shop-wrap clearfix" id="otheritems">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 shop-list">
                              <div class="prod-info">
                                 <h4>John Frieda</h4>
                                 <span>Full Repair Protecting Root Lift Foam 200ml</span>
                                 <div class="price blue">
                                    R21<sup>00</sup>
                                 </div>
                                 <div class="prod_notify tick">
                                    3 for 2 on selected John Frieda salon products  
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 shop-list text-center no_items">
                              <button class="minus btn-default">-</button>
                              <input type="text" class="form-control quantity" value="1">
                              <button class="plus btn-default">+</button>
                              <a class="qtyRemove" href="javascript:void(0)">Remove</a>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 shop-list">
                              <div class="price blue">
                                 R21<sup>00</sup>
                              </div>
                           </div>
                        </div>
                     <!-- Shopping list row  end -->
                     <!-- Shopping list row -->
                     
                        <div class="border  shop-wrap clearfix" id="otheritems">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 shop-list">
                              <div class="prod-info">
                                 <h4>John Frieda</h4>
                                 <span>Full Repair Protecting Root Lift Foam 200ml</span>
                                 <div class="price blue">
                                    R21<sup>00</sup>
                                 </div>
                                 <span class="offer-data"> Missed savings! 3 for 2 on selected John Frieda salon products </span>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 shop-list text-center no_items">
                              <button class="minus btn-default">-</button>
                              <input type="text" class="form-control quantity" value="1">
                              <button class="plus btn-default">+</button>
                              <a class="qtyRemove" href="javascript:void(0)">Remove</a>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 shop-list">
                              <div class="price blue">
                                 R21<sup>00</sup>
                              </div>
                           </div>
                        </div>
                    <!-- Shopping list row  end -->
                     <!-- Shopping list row -->
                  
                        <div class="border  shop-wrap clearfix" id="otheritems">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 shop-list">
                              <div class="prod-info">
                                 <h4>John Frieda</h4>
                                 <span>Full Repair Protecting Root Lift Foam 200ml</span>
                                 <div class="price blue">
                                    R21<sup>00</sup>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 shop-list text-center no_items">
                              <button class="minus btn-default">-</button>
                              <input type="text" class="form-control quantity" value="1">
                              <button class="plus btn-default">+</button>
                              <a class="qtyRemove" href="javascript:void(0)">Remove</a>
                           </div>
                           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 shop-list">
                              <div class="price blue">
                                 R21<sup>00</sup>
                              </div>
                           </div>
                        </div>
                 
                     <!-- Shopping list row  end -->
                     <!-- Shopping list row -->
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-4">
                        <div class="shop-wrap clearfix subTotal">
                           <dl>
                              <dt>
                                 <h4>Sub Total </h4>
                              </dt>
                              <dd>
                                 <div class="price blue">
                                    R21<sup>00</sup>
                                 </div>
                              </dd>
                           </dl>
                           <dl class="totalsaving">
                              <dt>(Total savings</dt>
                              <dd><strong>R89</strong><sup>00</sup>)</dd>
                           </dl>
                        </div>
                     </div>
                     </div>
                     <!-- Shopping list row  end -->
                     <!-- Shopping Points -->
						<div class="shopPoints clearfix">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<h4>
											You could <mark> earn 329</mark> ClubCard points.
										</h4>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<!-- <div class="input-append">
											<h4>Gift code or discount voucher?</h4>
											<input class="span2" type="text">
											<button type="submit" class="btn btn-primary">Apply
											</button>
										</div> -->
										<span> <a href="">Sign in</a> or <a href="">register</a> to collect points on this order. </span>
									</div>
						</div>
					<!-- Shopping Points -->
					<div class="deliverPoints clearfix">	
					 	<div class="border clearfix">
					 	<div class="col-lg-6 col-md-5 col-sm-5 col-xs-12">
                           <div class="alert positive">
                              You've qualified for Free delivery within 5
                                 working days (purchase over R200)
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-1 col-sm-offset-1">
                           <div class="grant-total">
                                 <dl>
                                 <dt>
                                    <h4>Sub Total</h4>
                                 </dt>
                                 <dd>
                                   <div class="price blue"> R180<sup>00</sup></div>
                                 </dd>
                              </dl>
                              
                              <dl>
                                 <dt>
                                    <h4>Savings</h4>
                                 </dt>
                                 <dd>
                                   <div class="price">R18<sup>00</sup></div>
                                 </dd>
                              </dl>
                              <dl>
                                 <dt>
                                    <h4>Delivery fee</h4>
                                 </dt>
                                 <dd>
                                   <div class="price blue"> FREE</div>
                                 </dd>
                              </dl>
                              <dl class="totalsaving">
                                 <dt>
	                                 <h4>Total</h4>
	                                 <span>(Excl. delivery)</span>
                                 </dt>
                                 <dd><div class="price blue">
                                    R359<sup>80</sup>
                                 </div></dd>
                              </dl>
                           </div>
                        </div>
                        </div>
                        
                        <!-- Continue shopping button -->
                        <div id="shoppingButons" class="clearfix">
                        	<div class="col-lg-10 col-lg-offset-2 text-right">
                        		<button class="btn primary_btn contShop"> Continue shopping  </button><cite> or </cite>
                        		<button class="btn primary_btn"> Proceed to purchase </button>
                        		
                        		<div class="guarantee">
                        			<img src="../image/shopping/lock.png"><span>Guaranteed secure payment</span>
                        		</div>
                        		<div class="master_logo">
	                        		<img src="../image/shopping/master.png">
	                        		<img src="../image/shopping/visa.png">
	                        		<img src="../image/shopping/count.png">
	                        		<img src="../image/shopping/pci.png">
                        		</div>
                        	</div>
                        </div>
                        <!-- Continue shopping button -->
                    
                    
                  </div>
               </div>
               <!-- Left side -->
               <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <!-- <div class="basketDelivery">
                     <img src="../image/shopping/deliver1.png">
                     <h5>Free delivery to stores</h5>
                     <span>Non-medicine orders over R200</span>
                  </div> -->
                  <div class="basketDelivery">
                     <img src="../image/shopping/deliver2.png">
                     <h5>Free standard delivery</h5>
                     <span>Non-medicine orders over R500</span>
                  </div>
                  <div class="basketDelivery">
                     <img src="../image/shopping/deliver3.png">
                     <h5>Free in-store returns</h5>
                     <span>or find out about more options</span>
                  </div>
                  <div class="basketDelivery">
                     <img src="../image/shopping/deliver4.png">
                     <h5>Any questions?</h5>
                     <span>Contact Customer Support</span>
                  </div>
               </div>
               <!-- End Right side -->
            </div>
            <!-- Product slider  -->
            
               <div class="container">
                  <div class="productRange sliderFinal pagenfound">
                     <div class="pagedata_wrapper clearfix">
                        <div class=" bg-light-blue clearfix">
                           <div
                              class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
                              <h2>
                                 People who bought these items <span> also bought</span>
                              </h2>
                           </div>
                        </div>
                        <div class="bg-white">
                           <ul class="sliderOuter1 clearfix bg-white">
                              <li>
                                 <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="productBlock">
                                       <div class="thumb">
                                          <img src="../image/pdp/avene.jpg" alt="product">
                                       </div>
                                       <div class="detailContent clearfix">
                                          <h5>
                                             <a href="javascript:void(0)">Avene</a>
                                          </h5>
                                          <div class="content-height">
                                             <p>Thermal Water Face Nourishing Spray, 300ml</p>
                                          </div>
                                          <div class="price-wrap">
                                             <div class="price">
                                                28<sup>60</sup>
                                             </div>
                                          </div>
                                          <div class="starWrapper">
                                             <img src="../image/star.jpg" alt="ratings">
                                             <div class="buy-btn-wrap">
                                                <a href="#" class="btn">Buy</a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="productBlock">
                                       <div class="thumb">
                                          <img src="../image/pdp/olsson.jpg" alt="product">
                                       </div>
                                       <div class="detailContent clearfix">
                                          <h5>
                                             <a href="javascript:void(0)">Olsson</a>
                                          </h5>
                                          <div class="content-height">
                                             <p>Scandinavia Sensitive conditioner normal/dry hair
                                                325ml
                                             </p>
                                          </div>
                                          <div class="price-wrap">
                                             <div class="price">
                                                28<sup>60</sup>
                                             </div>
                                          </div>
                                          <div class="starWrapper">
                                             <img src="../image/star.jpg" alt="ratings">
                                             <div class="buy-btn-wrap">
                                                <a href="#" class="btn">Buy</a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="productBlock">
                                       <div class="thumb">
                                          <img src="../image/pdp/clarins.jpg" alt="product">
                                       </div>
                                       <div class="detailContent clearfix">
                                          <h5>
                                             <a href="javascript:void(0)">Clarins</a>
                                          </h5>
                                          <div class="content-height">
                                             <p>Sun Care Oil Spray UVA/UVB 30</p>
                                          </div>
                                          <div class="price-wrap">
                                             <div class="price">
                                                28<sup>60</sup>
                                             </div>
                                             <div class="offer-blk">
                                                Was <span class="">R44<sup>60</sup></span> <span
                                                   class="red"> Save </span> <span class="price red">R44<sup>60</sup></span>
                                             </div>
                                          </div>
                                          <div class="starWrapper">
                                             <img src="../image/star.jpg" alt="ratings">
                                             <div class="buy-btn-wrap">
                                                <a href="#" class="btn">Buy</a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="productBlock">
                                       <p class="badges red">
                                          <span>Save 20%</span>
                                       </p>
                                       <div class="thumb">
                                          <img src="../image/pdp/origins.jpg" alt="product">
                                       </div>
                                       <div class="detailContent clearfix">
                                          <h5>
                                             <a href="javascript:void(0)">Origins</a>
                                          </h5>
                                          <div class="content-height">
                                             <p>Knot Free Shampoo If Your Hair Acts Hard to
                                                Combination 250ml
                                             </p>
                                          </div>
                                          <div class="price-wrap">
                                             <div class="price">
                                                28<sup>60</sup>
                                             </div>
                                          </div>
                                          <div class="starWrapper">
                                             <img src="../image/star.jpg" alt="ratings">
                                             <div class="buy-btn-wrap">
                                                <a href="#" class="btn">Buy</a>
                                             </div>
                                          </div>
                                          <div class="offerDesc red">
                                             Save 20% on <span>selected John Frieda</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="productBlock">
                                       <p class="badges red">
                                          <span>Save 20%</span>
                                       </p>
                                       <div class="thumb">
                                          <img src="../image/pdp/origins.jpg" alt="product">
                                       </div>
                                       <div class="detailContent clearfix">
                                          <h5>
                                             <a href="javascript:void(0)">Origins</a>
                                          </h5>
                                          <div class="content-height">
                                             <p>Knot Free Shampoo If Your Hair Acts Hard to
                                                Combination 250ml
                                             </p>
                                          </div>
                                          <div class="price-wrap">
                                             <div class="price">
                                                28<sup>60</sup>
                                             </div>
                                          </div>
                                          <div class="starWrapper">
                                             <img src="../image/star.jpg" alt="ratings">
                                             <div class="buy-btn-wrap">
                                                <a href="#" class="btn">Buy</a>
                                             </div>
                                          </div>
                                          <div class="offerDesc red">
                                             Save 20% on <span>selected John Frieda</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            
            <!-- Product slider end -->
         </div>
      </div>
   </div>
</section>
<div id="div-overlay"></div>
