<section class="main-container">
<div class="store-locator">
	<div class="container">
		<div class="row title-bar">
			<h2 class="main-title col-md-6 col-xs-12">Find your <span>nearest Clicks</span></h2>
			<form class="store-search col-md-4 pull-right col-xs-12">
				<input type="search" placeholder="Cape Town" name="search" class="text"/>
				<input type="submit" class="btnSearch" value="Search">
			</form>
		</div>
	</div>
	<div class="store-finder">
		<div class="container">
			<div class="row">
				<div class="col-md-6 store-map col-xs-12">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#allStores" data-toggle="tab">All</a></li>
						<li><a href="#pharmacy" data-toggle="tab">With pharmacy</a></li>
						<li><a href="#clinic" data-toggle="tab">With clinic</a></li>
					</ul>
					<div class="map-container">
						<div class="map active" id="allStores">
							<div id="googleMap" style="width:454px;height:454px;"></div>
							<a class="link" href="#">Update results based on map view</a>
						</div>
						<div class="map" id="pharmacy">
							<div id="googleMap1" style="width:454px;height:454px;"></div>
							<a class="link" href="#">Update results based on map view</a>
						</div>
						<div class="map" id="clinic">
							<div id="googleMap2" style="width:454px;height:454px;"></div>
							<a class="link" href="#">Update results based on map view</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<ul class="store-info">
						<li>
							<section class="pull-left">
								<h3><a href="#">1 Central Square Pinelands <span>0.3 miles away</span></a></h3>
								<p>Central Square, Pinelands, Cape Town, Western Cape.</p>
							</section>
							<div class="pull-right">
								<p class="green">Clinic</p>
								<p class="blue">Pharmacy</p>
							</div>
						</li>
						<li>
							<section class="pull-left">
								<h3><a href="#">2 Pinelands  <span>0.7 miles away</span></a></h3>
								<p>Address, Street, Town, Region.</p>
							</section>
							<div class="pull-right">
								<p class="green">Clinic</p>
								<p class="blue">Pharmacy</p>
							</div>
						</li>
						<li>
							<section class="pull-left">
								<h3><a href="#">3 Rondebosch <span>1.5 miles away</span></a></h3>
								<p>Address, Street, Town, Region.</p>
							</section>
							<div class="pull-right">
							</div>
						</li>
						<li>
							<section class="pull-left">
								<h3><a href="#">4 Vangate Mall <span>2.1 miles away</span></a></h3>
								<p>Address, Street, Town, Region.</p>
							</section>
							<div class="pull-right">
								<p class="green">Clinic</p>
							</div>
						</li>
						<li>
							<section class="pull-left">
								<h3><a href="#">5 Kenilworth Centre <span>3.3 miles away</span></a></h3>
								<p>Address, Street, Town, Region.</p>
							</section>
							<div class="pull-right">
							</div>
						</li>
						<li>
							<section class="pull-left">
								<h3><a href="#">6 Cavendish Connect <span>3.5 miles away</span></a></h3>
								<p>Address, Street, Town, Region.</p>
							</section>
							<div class="pull-right">
								<p class="blue">Pharmacy</p>
							</div>
						</li>
						<li>
							<section class="pull-left">
								<h3><a href="#">7 Gugulethu Square <span>4.1 miles away</span></a></h3>
								<p>Address, Street, Town, Region.</p>
							</section>
							<div class="pull-right">
								<p class="blue">Pharmacy</p>
							</div>
						</li>
						<li>
							<section class="pull-left">
								<h3><a href="#">8 Elsies River <span>4.3 miles away</span></a></h3>
								<p>Address, Street, Town, Region.</p>
							</section>
							<div class="pull-right">
							</div>
						</li>
						<li>
							<section class="pull-left">
								<h3><a href="#">9 Edgemead <span>5.1 miles away</span></a></h3>
								<p>Address, Street, Town, Region.</p>
							</section>
							<div class="pull-right">
								<p class="green">Clinic</p>
							</div>
						</li>
						<li>
							<section class="pull-left">
								<h3><a href="#">10 Canal Walk <span>5.3 miles away</span></a></h3>
								<p>Address, Street, Town, Region.</p>
							</section>
							<div class="pull-right">
							</div>
						</li>
					</ul>
					<a class="btn btn-load-more" href="#">Load more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="http://maps.googleapis.com/maps/api/js"></script>
</section>
<div id="div-overlay"></div>