<section class="main-container">
	<div class="store-locator store-results">
		<div class="container">
			<div class="title-bar">
				<h2 class="main-title">Central Square Pinelands</h2>
				<p>
					<strong>Facilities</strong>
					<span class="green">Clinic</span>
					<span class="blue">Pharmacy</span>
				</p>
				<p>
					<strong>Address</strong>
					<span>Central Square, Pinelands, Cape Town, Western Cape.</span>
				</p>
			</div>
		</div>
		<div class="store-finder">
			<div class="container">
				<div class="row">
					<div class="col-md-6 store-map">
						<div class="map-container">
							<div class="map active" >
								<div id="googleMap" style="width:454px;height:454px;"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="blue-bar">Store opens on Monday 1st June, 2015</div>
						<div class="store-hours">
							<h2 class="blue">Store & Pharmacy</h2>						
							<ul class="store-info">
								<li>
									<h3>Opening hours</h3>
									<ul>
										<li>
											<p><small>Monday</small><span>08.00 AM - 18.00 PM</span></p>
											<p><small>Tuesday</small><span>08.00 - 18.00</span></p>
											<p><small>Wednesday</small><span>08.00 - 18.00</span></p>
											<p><small>Thursday</small><span>08.00 - 18.00</span></p>
										</li>
										<li>
											<p><small>Friday</small><span>08.00 - 18.00</span></p>
											<p><small>Saturday</small><span>09.00 - 20.00</span></p>
											<p><small>Sunday</small><span>10.00 - 18.00</span></p>
										</li>
									</ul>
									<p><small>Bank Holiday</small><span>09.00 - 17.00</span></p>
									<em>Call to confirm. Closed Christmas Day</em>
								</li>		
								<li>
									<h3>Contact details</h3>
									<ul>
										<li>
											<p><small>Shop telephone 1</small><span>021 460 1234</span></p>
											<p><small>Shop telephone 1</small><span>021 460 1235</span></p>
											<p><small>Shop telephone 1</small><span>021 460 1236</span></p>
											<p><small>Pharmacy tel</small><span>021 460 1237</span></p>
										</li>
										<li>
											<p><small>Shop fax</small><span>021 460 1234</span></p>
											<p><small>Pharmacy fax</small><span>021 460 1235</span></p>
										</li>
									</ul>
									<span>Responsible Pharmacist: Dr Graham</span>
									<span>Pharmacy registration number: 123456</span>
								</li>							
							</ul>
						</div>
						<div class="store-hours clinic-info">
							<h2 class="green">Clinic</h2>
							<ul class="store-info">					
								<li>
									<h3>Opening hours</h3>
									<ul>
										<li>
											<p><small>Monday</small><span>08.00 - 18.00</span></p>
											<p><small>Tuesday</small><span>08.00 - 18.00</span></p>
											<p><small>Wednesday</small><span>08.00 - 18.00</span></p>
											<p><small>Thursday</small><span>08.00 - 18.00</span></p>
										</li>
										<li>
											<p><small>Friday</small><span>08.00 - 18.00</span></p>
											<p><small>Saturday</small><span>09.00 - 20.00</span></p>
											<p><small>Sunday</small><span>10.00 - 18.00</span></p>
										</li>
									</ul>
									<p><small>Bank Holiday</small><span class="closed">Closed</span></p>
								</li>	
								<li>
									<h3>Contact details</h3>
									<p><small>Telephone</small><span>021 460 1234</span></p>
								</li>									
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
</section>
<div id="div-overlay"></div>