<div class="clearfix bg-white specialBlockTop">
	<div class="container">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="product-left">
				<h2>Haircare</h2>
				<p>Cras mattis consectetur purus sit amet fermentum, etiam porta sem malesuada (intro text useful for SEO)</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div class="image-center">
				<img src="../image/thumb-1.jpg" alt="product1" />
			</div>
			<div class="sp-content">
				<h4 class="blue">Featured product</h4>
				<h4>Hand Chemistry</h4>
				<p>Extreme Hydration Concentrate</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div class="image-center">
				<img src="../image/thumb-2.jpg" alt="product1" />
			</div>
			<div class="sp-content">
				<h4 class="blue">Featured product</h4>
				<h4>Dr Miracle’s</h4>
				<p>Damaged Hair Treatment - 340g</p>
			</div>
		</div> 
	</div>
</div>