<section class="main-container bg-gray clearfix hLandingPage">
	<div class="container">
		<div class="row">
			<div class="bg-white clearfix travels-heading-outer">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="travels-heading">Don't forget you can also earn points on <a href="#">Hotel accommodation</a> and <a href="#">Car rental</a> with ClubCard.</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="commonTab healthTab">
				<div class="tabContentWrapper healthTabWrapper tb-res">
					<div class="travelContent">
						<div class="row healthTabOuter">						
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="travelOuterWrapper">
									<div class="tabThumbImage">
										<img src="../image/travel-thumb/thumb-1.jpg" alt="" />
									</div>
									<div class="travelRateTitle clearfix"> <h4><a href="#">Mauritius</a></h4>
										<div class="travelRateOuter clearfix"><span>From</span><div class="travelRate">R14,386</div></div>
									</div>
										<h5>7 nights at Azanzi Beach</h5>
										<div class="greyBox">Travel between <strong>13 Jan 2015 and 24 Mar 2015</strong></div>
									<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away.</p>
									<div class="referenceTravel">Reference No: 40880</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="travelOuterWrapper">
									<div class="tabThumbImage">
										<img src="../image/travel-thumb/thumb-2.jpg" alt="" />
									</div>
									<div class="travelRateTitle clearfix"> <h4><a href="#">Tanzania</a></h4>
										<div class="travelRateOuter clearfix"><span>From</span><div class="travelRate">R14,386</div></div>
									</div>
										<h5>7 nights at Azanzi Beach</h5>		
										<div class="greyBox">Travel between <strong>13 Jan 2015 and 24 Mar 2015</strong></div>												
									<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away</p>
									<div class="referenceTravel">Reference No: 40880</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="travelOuterWrapper">
									<div class="tabThumbImage">
										<img src="../image/travel-thumb/thumb-3.jpg" alt="" />
									</div>
									<div class="travelRateTitle clearfix"> <h4><a href="#">Tanzania</a></h4>
										<div class="travelRateOuter clearfix"><span>From</span><div class="travelRate">R14,386</div></div>
									</div>
										<h5>7 nights at Azanzi Beach</h5>		
										<div class="greyBox">Travel between <strong>13 Jan 2015 and 24 Mar 2015</strong></div>												
									<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away.</p>
									<div class="referenceTravel">Reference No: 40880</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="travelOuterWrapper">
									<div class="tabThumbImage">
										<img src="../image/travel-thumb/thumb-4.jpg" alt="" />
									</div>
									<div class="travelRateTitle clearfix"> <h4><a href="#">Mauritius</a></h4>
										<div class="travelRateOuter clearfix"><span>From</span><div class="travelRate">R14,386</div></div>
									</div>
										<h5>7 nights at Azanzi Beach</h5>	
										<div class="greyBox">Travel between <strong>13 Jan 2015 and 24 Mar 2015</strong></div>												
									<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away.</p>
									<div class="referenceTravel">Reference No: 40880</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="travelOuterWrapper">
									<div class="tabThumbImage">
										<img src="../image/travel-thumb/thumb-5.jpg" alt="" />
									</div>
									<div class="travelRateTitle clearfix"> <h4><a href="#">Tanzania</a></h4>
										<div class="travelRateOuter clearfix"><span>From</span><div class="travelRate">R14,386</div></div>
									</div>
										<h5>7 nights at Azanzi Beach</h5>		
										<div class="greyBox">Travel between <strong>13 Jan 2015 and 24 Mar 2015</strong></div>												
									<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away.</p>
									<div class="referenceTravel">Reference No: 40880</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="travelOuterWrapper">
									<div class="tabThumbImage">
										<img src="../image/travel-thumb/thumb-6.jpg" alt="" />
									</div>
									<div class="travelRateTitle clearfix"> <h4><a href="#">Tanzania</a></h4>
										<div class="travelRateOuter clearfix"><span>From</span><div class="travelRate">R14,386</div></div>
									</div>
										<h5>7 nights at Azanzi Beach</h5>	
										<div class="greyBox">Travel between <strong>13 Jan 2015 and 24 Mar 2015</strong></div>												
									<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away.</p>
									<div class="referenceTravel">Reference No: 40880</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="travelOuterWrapper">
									<div class="tabThumbImage">
										<img src="../image/travel-thumb/thumb-7.jpg" alt="" />
									</div>
									<div class="travelRateTitle clearfix"> <h4><a href="#">Mauritius</a></h4>
										<div class="travelRateOuter clearfix"><span>From</span><div class="travelRate">R14,386</div></div>
									</div>
										<h5>7 nights at Azanzi Beach</h5>	
										<div class="greyBox">Travel between <strong>13 Jan 2015 and 24 Mar 2015</strong></div>												
									<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away.</p>
									<div class="referenceTravel">Reference No: 40880</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="travelOuterWrapper">
									<div class="tabThumbImage">
										<img src="../image/travel-thumb/thumb-8.jpg" alt="" />
									</div>
									<div class="travelRateTitle clearfix"> <h4><a href="#">Tanzania</a></h4>
										<div class="travelRateOuter clearfix"><span>From</span><div class="travelRate">R14,386</div></div>
									</div>
										<h5>7 nights at Azanzi Beach</h5>	
										<div class="greyBox">Travel between <strong>13 Jan 2015 and 24 Mar 2015</strong></div>												
									<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away.</p>
									<div class="referenceTravel">Reference No: 40880</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="travelOuterWrapper">
									<div class="tabThumbImage">
										<img src="../image/travel-thumb/thumb-9.jpg" alt="" />
									</div>
									<div class="travelRateTitle clearfix"> <h4><a href="#">Tanzania</a></h4>
										<div class="travelRateOuter clearfix"><span>From</span><div class="travelRate">R14,386</div></div>
									</div>
										<h5>7 nights at Azanzi Beach</h5>	
										<div class="greyBox">Travel between <strong>13 Jan 2015 and 24 Mar 2015</strong></div>												
									<p>This beautiful hotel is situated in the North West Coast of Mauritius, around 5 kilometers away.</p>
									<div class="referenceTravel">Reference No: 40880</div>
								</div>
							</div>
						</div>
						<div class="text-center travel-btn">
							<button class="btn btnBig">Load more deals</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>