<div class="healthTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 paddingLeftNone">
				<h2>Earn points when you travel with ClubCard</h2>
				<p>Clicks ClubCard Travel and Thompsons Holidays bring you exclusive holiday deals where you earn double points on your bookings. Call ClubCard Travel on <strong>(011)-770-7995</strong> or contact us about specific deals.</p>
 			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="fb-like-page text-center">
					<img src="../image/travels-top-thumb.jpg"/>
				</div>
			</div>
		</div>
	</div>
</div>