<!-- <div class="healthTop">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h2>Vitamins &amp; supplements</h2>
 			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			</div>
		</div>
	</div>
</div>  -->

<section class="rewards account">
	<div class="container">
			<div class="acc-heading">
				<h1>Vitamins &amp; supplements</h1>
			</div>
	</div>
</section>	