<section class="main-container bg-gray clearfix v-n-s-Page">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="promo-wrap clearfix health-slider-outer">
					<ul class="health-promo-slider product-slider clearfix" data-classname="home-promo-slider" data-pager="false">
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-1.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Healthy for life Healthy</h4>
									<div class="prod-description">Take these important steps throughout your life</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Why core strength is so important</h4>
									<div class="prod-description">What is it, why is it so important, and how do you do it?</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>How aromatherapy oils boost your health</h4>
									<div class="prod-description">A remedy for a host of physical and psychological ills</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/health-slider-2.jpg" alt="only at clicks" />
								<div class="health-promo-text">
									<h4>Restful sleep remedies</h4>
									<div class="prod-description">Lorem ipsum dolor sit amet, consectetur</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
				<div class="symptomsChecker">
					<a class="book" href="#">Browse medicines by A - Z</a>
				</div>
			<div class="vitSupBlockWrapper clearfix">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paddingRight">
					<div class="vitSupBlock bg-white clearfix">
					<h3>Supplements for health</h3>
						<ul>
						<li><a href ="#">Dietary / nutritional</a></li>
						<li><a href ="#">Energy</a></li>
						<li><a href ="#">Fitness / sports</a></li>
						<li><a href ="#">Immune resistance</a></li>
						<li><a href ="#">Sed posuere</a></li>
						<li><a href ="#">Consectetur est</a></li>
						<li><a href ="#">At lobortis</a></li>
						<li><a href ="#">Blandit tempus</a></li>
						<li><a href ="#">Sed posuere</a></li>
						<li><a href ="#">Consectetur est</a></li>
						<li><a href ="#">At lobortis</a></li>
						<li><a href ="#">Blandit tempus</a></li>
						<li><a href ="#">View all</a></li>
						</ul>
					</div>
				</div>	
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paddingNone">
					<div class="vitSupBlock bg-white clearfix">
						<h3>Supplements to treat conditions</h3>
						<ul>
							<li><a href ="#">Allergies</a></li>
							<li><a href ="#">Colds and flu</a></li>
							<li><a href ="#">Indigestion</a></li>
							<li><a href ="#">Tiredness</a></li>
							<li><a href ="#">At lobortis</a></li>
							<li><a href ="#">Blandit tempus</a></li>
							<li><a href ="#">Sed posuere</a></li>
							<li><a href ="#">Consectetur est</a></li>
							<li><a href ="#">At lobortis</a></li>
							<li><a href ="#">Blandit tempus</a></li>
							<li><a href ="#">Sed posuere</a></li>
							<li><a href ="#">Consectetur est</a></li>
							<li><a href ="#">View all</a></li>
						</ul>
					</div>
				</div>
				</div>
				<!--  article Block start-->
				<div class="articleBlock bg-white clearfix tb-res">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-2.jpg" alt=""></a>
						</div>
							<h4><a href ="#">Is a high-protein diet bad for your kidneys?</a></h4>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="image-center">					
							<a href ="#"><img src="../image/thumb/thumb-1.jpg" alt=""></a>
						</div>
							<h4><a href ="#">Top tips for a balanced diet while getting fit</a></h4>
					</div>
				</div>
				<!--  article Block end-->
				<!-- Promotions Block start-->
			<div class="home-promotions clearfix">
				<div class="clearfix bgred">
					<div
						class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-heading-bar">
						<div class="pull-left">
							<h2>Latest promotions</h2>
						</div>
						<div class="pull-right text-right hidden-xs">
							<a class="arrow-right" href="javascript:void(0)">See all
								promotions</a>
						</div>
					</div>
				</div>
				<div class="promo-wrap clearfix">
					<ul class="home-promo-slider product-slider clearfix" data-classname="home-promo-slider" data-minslide="2">
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/promo-vitamins.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										 <div class="caption-wrap">
									<h4>Health basics Multi-vitamins</h4>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<button class="btn">Shop now</button>
								</div>
								</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-zero">
								<img src="../image/promo-rest.jpg" alt="only at clicks" />
								<div class="banner_caption">
									<div class="caption-inner">
										 <div class="caption-wrap">
									<h4>Restful sleep remedies</h4>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<button class="btn">Shop now</button>
								</div>
								</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
			<!-- Promotions Block end-->
			</div>	
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="symptomsChecker">
					 <a class="stethoscope arrow-right" href="#"> Health concern troubling you?</a>
				</div>
				<div class="symptomsChecker">
					 <a class="book arrow-right" href="#">Research common conditions</a>
				</div>
				<div class="vns-ad-block">
					<div class="image-center">
						<img src="../image/article/article-mpu.jpg" alt="">
					</div>
					<div class="image-center">
						<img src="../image/o2-adv.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="div-overlay"></div>

