.pharHead {
    .blue-heading-bar {
        background-color: #005baa;
    }
}
.pharmacyclini_wrap {
    margin: 10px 0 30px 0;
}
/* pharmacy clinic service */

.pharmacy_clinic_outer {
    a {
        text-decoration: none;
        display: inline-block;
        margin: 2px 0 20px 0 !important;
    }
    ul li {
        line-height: 1.85em
    }
}
/*clinic booking page */

.clinic_top {
    p {
        padding-right: 20%;
    }
}
.articleTop {
    img {
        max-width: 100%
    }
    .primary_btn {
        margin-bottom: 20px;
    }
    &.clinic_top .content{
    	overflow:hidden; 
	    .primary_btn{
	    	padding:1.2em;
	    }
	}
}
.clinic-wrap {
    ul li {
        color: #848484;
    }
    img {
        max-width: 100%
    }
    .vitality_block {
        background-color: @white;
        margin-bottom: 20px;
        padding: 20px;
        img {
            float: left;
            margin-right: 15px
        }
        .unite_vital {
            display: table-cell;
            a {
                color: #003268;
            }
        }
        h3 {
            display: inline-block;
            margin-left: 1px;
            margin-top: 0;
            margin-bottom: 5px;
            color: @darkBlue;
            font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
        p {
            margin: 0;
            font: 1.4em arial;
            color: @default-text-color;
        }
        div[class^="col-lg"] {
            /*background-color: #f2f5f7;*/
            margin-right: 20px;
            width: 48%;
            /*padding: 10px 10px 15px 10px;*/
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .container {
        margin-top: 30px;
    }
    a.btn {
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin: 0 0 20px 0;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    .contentContainer {
        padding: 15px 20px 15px 20px;
        margin-bottom: 20px;
        ul {
            margin-bottom: 25px;
            li a {
                font-size: 100%;
                display: inline;
            }
        }
    }
    .promo-links {
        font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        h4, a {
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
    }
    h4 {
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 10px 0;
    }
    .greenbgOuter .green-bg {
        padding: 10px 20px;
        margin: 0;
        font-size: 1.8em;
    }
    .book_app_section {
        margin-bottom: 10px;
        .btn {
            margin-bottom: 5px;
        }
    }
    .letclicks_help {
        img {
            margin-right: 15px;
        }
        ul {
            li {
                padding: 15px 20px;
                border-bottom: 1px solid #e6ecef;
                width: 100% !important;
            }
        }
        a {
            font: 1.5em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin-bottom: 10px;
            &:after {
                border-width: 5px 0px 5px 7px;
                border-color: transparent transparent transparent #005baa;
                width: 0;
                display: inline-block;
                height: 0;
                margin: 0 0 0 10px;
                border-style: solid;
                content: "";
            }
            img {
                margin-right: 25px;
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .clinic_top p {
        padding-right: 0;
    }
    .clinic-wrap .book_app_section {
        margin-bottom: 20px;
    }
    .clinic-wrap .vitality_block div[class^="col-lg"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
/*clinic page css ends */

.dark-blue {
    color: #003268;
}
.light-blue {
    color: #005baa;
}
.bg-light-blue {
    background-color: #005baa;
}
.bg-light-white {
    background-color: #f2f5f7;
}
.grey-font {
    color: #838383;
}
.accLandOuter {
    .filter {
        .panel {
            padding: 10px 20px 10px 20px;
        }
        .shop-ul {
            padding-left: 15px;
        }
		.panel-group ul li a {
			padding: 5px 0;
		}
        .panel-group ul li a.active {
            color: #005baa;
        }
        .panel-group ul li.active > a {
            color: #005baa;
        }
        margin-top: 0;
        h2,
        h2.closed {
            background-position: 100% center;
        }
    }
}
.blue-heading-bar {
    h2 {
        font: 1.8em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        padding-left: 7px;
    }
    a,
    span {
        font: 1.6em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        display: block;
        padding-right: 7px;
    }
    h2,
    a,
    span {
        margin: 0.362em 0;
        color: #fff;
    }
}
.blue-heading-custom {
    h2 {
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        padding-left: 7px;
        margin: 8px 0;
		p {
			font: inherit;
			padding: 0px;
			margin: 0px;
		}
    }
    a {
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        display: block;
        line-height: 2.6em;
    }
    h2,
    a {
        color: #fff;
    }
}
.accounttop {
    border-top: 1px solid #e5e5e5;
    padding: 38px 0 35px;
    h2 {
        font: 4.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        font-weight: normal;
        margin: 5px 0 5px;
    }
    h4 {
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        line-height: 1.3em;
        margin-top: 0;
        margin-bottom: 0;
    }
    img {
        margin-top: 6px;
    }
    .image-center {
        float: left;
    }
    .cashback-block {
        background-color: #f2f5f7;
        padding: 10px 13px;
        margin-top: 8px;
        img {
            margin-top: -4px;
            max-width: 100%
        }
        h4 {
            color: #003268;
            display: inline-block;
        }
        .price {
            font-size: 2em;
            line-height: 1.6em;
        }
        span,
        a {
            font: 1.3em arial;
            line-height: 1.3em;
            color: #838383;
        }
        a {
            text-decoration: underline;
            margin-top: 6px;
            display: block;
        }
    }
}
.panel-default {
	ul {
	    padding: 4px 0 7px;
	}
	/*> a.tittle {
		padding-left : 0.8em;
	}*/
}
.account-notify {
    border: 3px solid #d8a84d;
    margin-bottom: 15px;
    padding-left: 5px;
    a {
        color: #373737;
		display: inline-block;
		&:after {
            content: "";
            width: 7px;
            height: 10px;
            display: inline-block;
            background: url("../image/blue-arrow.png") no-repeat;
			margin-left: 5px;
        }
    }
    h2 {
        display: inline-block;
        font: 1.4em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        span {
            font: 1em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @red;
        }
    }
}
/*.account-promo {
    min-height: 152px;
    padding-bottom: 22px;
    padding-top: 22px;
    .doubleBlock {
        width: 100%;
        p {
            font-size: 1.3em;
            margin: 0px;
        }
        h3 {
            margin: 9px 0;
            padding-right: 43px;
        }
    }
    strong {
        display: inline;
    }
}*/
.account-body {
    .no-border {
        border: 0 !important;
    }
    .acc-body {
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
    .acc-table-wrap {
        margin-bottom: 20px;
		.clearfix.bg-white {
			.acc-row-3:last-child {
				margin-bottom: 10px;
			}
		}
    }
    .repeat-table-wrap {
        padding: 15px 0px;
		overflow: hidden;
		@media only screen and (max-width: 768px) {
			padding: 0px;
		}
			.btn {
				font-size: 0.9em;
				margin: 15px auto;
			}
    }
    .recent-head {
        padding: 10px 10px;
        display: block;
        border-bottom: 1px solid #eee;
		border-top: 1px solid #eee;
        overflow: hidden;
		margin: 0px;
        a {
            color: #838383;
            text-decoration: underline;
        }
    }
    .repeat-table-head {
        position: relative;
        background: #f2f5f7;
        margin: 5px 10px;
        font-family: arial;
        color: #373737;
        padding: 10px 0px;
    }
    .recent-custom {
        color: #838383;
        font-family: arial;
        border: none;
        padding: 8px 0px;
    }
    .padding-cutom {
        padding: 15px 0;
        overflow: hidden;
        width: 100%;
    }
    .repeat-table-data {
        padding: 2px 6px;
        overflow: hidden;
        width: 100%
    }
    .club-card-block {
        background-color: #f2f5f7;
        padding: 10px 15px;
        margin-top: 6px;
        a {
            font: 1.3em arial;
            font-weight: normal;
            display: inline-block;
            margin-top: 10px;
            color: #838383;
            text-decoration: underline;
        }
        h5 {
            font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin: 0 0 10px;
            color: #003268;
        }
        .club-img {
            width: 30%;
            float: left;
            margin-right: 10px;
        }
        .club-text {
            width: 65%;
            float: left;
            ul {
                margin-left: 20px;
                li {
                    list-style-type: disc;
                    padding-bottom: 5px;
                    line-height: 1.38em;
                }
            }
            li,
            span {
                color: #838383;
                font: 1.4em arial;
                line-height: 1.475em;
            }
        }
    }
}
.border-block {
    border-right: 1px solid #e7edef;
    border-bottom: 1px solid #e7edef;
}
.category-top {
    .sp-content {
        width: auto;
        float: none;
    }
}
.bgred {
    background-color: @red;
    .arrow-white {
        border-width: 5px 0 5px 7px;
    }
}
.bg-green {
    background-color: #8dc63f;
}
.price-promo {
    color: #838383;
    font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
.arrow-right:after {
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #fff;
    width: 0;
    display: inline-block;
    height: 0;
    margin: 0 0 0 5px;
    border-style: solid;
    content: "";
}
.text-right {
    text-align: right;
}
.clock-image {
    padding-left: 23px;
    &:before {
        content: "";
        position: absolute;
        margin-right: 5px;
        top: 50%;
        margin-top: -8px;
        left: 0;
    }
}
.accLandOuter {
    margin: 20px auto 30px;
    .partner-wrap {
        .bx-controls-direction a.bx-next {
            /*top: 10px;*/
        }
        .bx-controls-direction a.bx-prev {
            /*top: 10px;*/
        }
    }
    .panel-group {
        margin-bottom: 0
    }
    .my-account-block {
        padding: 10px 20px 10px 10px;
        margin-bottom: 3px;
        margin-top: 0 !important;
        border-radius: 0;
        border: none;
        h2 {
            font-size: 1.4em;
            padding: 0
        }
        a {
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            display: block;
            padding: 7px 0 2px 10px;
            background: none;
            &.active {
                color: @btn-default-bg;
            }
        }
        ul {
            li {
                a {
                    font-family: "arial";
                    font-size: 1.3em;
                    color: #838383;
                    display: block;
                    background-image: none;
                    padding: 7px 12px 2px 10px;
                }
            }
        }
    }
}
.partner-wrap {
    .bx-controls-direction a.bx-next {
        right: -20px;
    }
    .bx-controls-direction a.bx-prev {
        left: -35px;
    }
    .partner-spacing {
        padding: 20px 40px 20px 55px;
    }
}
.changePassword-wrap {
    .btn-save-change {
        margin: 15px 0
    }
}
/* Media Queries */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .account-notify {
        h2 {
            font-size: 1.3em;
        }
    }
    .accounttop {
        h2 {
            font-size: 3em;
        }
        .cashback-block {
            h4 {
                :after {
                    float: right;
                }
            }
        }
    }
    .account-body {
        .recent-head, .recent-custom {
            padding: 15px 0px;
        }
        .blue-heading-bar {
            padding: 0 5px;
        }
        .repeat-table-head {
            width: auto;
        }
    }
}
/*Promotion Offers page css */

.promotion-body {
    .selected-offer {
        .border-block {
            height: 330px;
            overflow: hidden;
            >img {
                margin-top: 25px;
            }
            img {
                float: right;
                max-width: 100%;
            }
            .caption-inner {
                width: 46%;
            }
        }
    }
    strong {
        display: block;
        font: 1.4em arial;
        color: #838383;
        font-weight: bold;
        margin: 5px 0 0 0
    }
    .content-height {
        p {
            margin-top: 0
        }
        strong {
            display: block;
            font: 1.4em arial;
            color: #838383;
            font-weight: bold;
            margin: 5px 0 0 0
        }
    }
    .selected-offer .odd {
        .doubleBlock {
            .content-height {
                height: 100px;
            }
        }
    }
}
/*.border-block {
    &.even {
        .account-promo {
            .doubleBlock h3 {
                color: @red;
            }
        }
    }
}*/
.promo-links {
    background: @white;
    padding: 0 5px;
    margin-bottom: 20px;
    font-size: 1.6em;
    font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: @blue;
    h2, h4, a {
        font: 100% "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        display: block;
        color: @blue;
        margin: 15px 0;
    }
    a {
        display: inline-block;
        text-decoration: underline;
    }
}
/*My account No club card  */

.myyacc-noclub {
    .promolink-wrap {
        font-size: 0.9em;
    }
    .promo-links {
        display: table;
        margin-bottom: 10px;
        width: 100%;
        .promo-options {
            float: none;
            display: table-cell;
            &:last-child {
                vertical-align: middle;
            }
        }
        h2 {
            margin: 10px 0 12px;
            padding-right: 20%;
        }
        h2,
        a {
            line-height: 1.5em;
        }
        a {
            font-size: 100%;
            margin: 0;
        }
    }
}
.promolink-wrap {
    font-size: 1.4em;
    font-family: arial;
    color: #848484;
    line-height: 1.7em;
    a {
        color: #848484;
        font-family: arial;
    }
}
/* ----------- Non-Retina Screens ----------- */
.no-toggle a:after {
	background: none !important;
}
.no-toggle .collapse.in {
	display: block !important;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .no-toggle a {
        background: none;
    }
}
/* -----------Desktop - Retina Screens ----------- */

@media screen and (min-width: 980px) and (max-width: 1199px) {
    .filter {
        .no-toggle {
            a {
                background: none;
            }
            &.closed {
                a {
                    background: none;
                }
            }
        }
    }
}
@media only screen and (min-width: 1224px) {
    .filter {
        .no-toggle {
            a:after {
                background: none;
            }
            &.closed {
                a {
                    background: none;
                }
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .accounttop .cashback-block h4:after {
        float: right;
    }
}
/*@media only screen and (min-device-width: 768px) and (max-device-width: 769px) {
    .promotion-body .vitality-badge {
        top: 46%;
        right: 2%;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 568px) and (min-device-width: 320px) {
    .account-promo {
        min-height: inherit;
        padding: 15px 0;
    }
    .account-promo .doubleBlock h3 {
        padding-right: 0;
    }
}
@media only screen and (min-width: 667px) and (max-width: 736px) and (orientation: landscape) {
    .promotion-body .vitality-badge {
        top: 136px;
        right: 5px;
    }
}*/
@media only screen and (min-width: 960px) and (max-width: 961px) {
    /*.promotion-body .vitality-badge {
        top: 150px;
        right: 15px;
    }*/
    .myyacc-noclub {
        .promo-links {
            display: block;
            h2 {
                padding-right: 0
            }
            .promo-options {
                float: left;
                display: block;
                width: 100%;
            }
        }
        .promolink-wrap {
            margin: 0px 0 15px 0;
        }
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) {
    .promotion-body .selected-offer .odd .doubleBlock .content-height,
    .account-promo {
        height: auto;
    }
    .account-promo {
        min-height: inherit;
    }
    .promotion-body .content-height {
        height: auto;
        margin-bottom: 20px;
        overflow: visible;
        text-overflow: initial;
        display: -webkit-inline-box;
        -webkit-line-clamp: initial;
        -webkit-box-orient: inherit;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) {
    .promo-links {
        .text-right {
            text-align: left;
        }
    }
}
@media only screen and (max-width: 667px) and (min-width: 320px) {
    .myyacc-noclub {
        .promo-links {
            display: block;
            h2 {
                padding-right: 0
            }
            .promo-options {
                float: left;
                display: block;
            }
        }
        .promolink-wrap {
            margin: 0px 0 15px 0;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .myyacc-noclub .promo-links h2,
    .myyacc-noclub .promo-links a {
        line-height: 1.5em;
    }
}
@media screen and (min-width: 730px) and (max-width: 736px) {
    .myyacc-noclub {
        .promo-links {
            h2 {
                padding-right: 0
            }
            .col-xs-12 {
                width: 50%
            }
        }
    }
}
.accountAside .filter .panel-group ul li a.activeLink:after {
    background-image: none;
}
@media only screen and (max-width: 768px) {
	.cashbackcontainer {
		float: none !important;
		margin-top: 15px;
	}
}