/*For medical scheme members page */

.medicalMem-top {
    margin: 35px 0 !important;
}
.vital-logo img {
    max-width: 100%
}
.articlePage {
    .contentContainer {
        margin-bottom: 20px;
    }
    .vital-logo-wrap {
        padding: 0;
        margin-top: 30px;
        .vital-logo {
            padding: 0 0px 0 16px
        }
    }
}
.articleTop {
    .medical-image {
        .text-right();
    }
}
.discover_vital {
    .accLandOuter();
    .activate-vitality-cash {
        h3 {
            padding: 0
        }
        .cash-back-outer {
            float: right;
            margin: 0
        }
        img {max-width : 100%}
    }
    .vital-img-text {
        .cmsimage {
            float: right
        }
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    .articleTop .medical-image {
        text-align: center;
        margin-top: 15px;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .vital-logo {
        width: 33%;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .discover_vital {
        .activate-vitality-cash {
            .primary_btn {
                padding: 1.2em 2.5em 1.2em;
            }
            .cash-back-outer {
                float: none;
                margin: 15px 0 0 0
            }
        }
        .vital-img-text .cmsimage {
            float: none
        }
    }
}
/*end css*/
/*Helping hnad css */

.helpinghand_wrap {
    .link-download {
        font: 1.4em arial;
        color: #838383;
        a {
            font-size: 100%
        }
    }
    .bg-white();
    a.btn {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        margin: 15px 15px 25px 0;
    }
    a.btn:hover {
        color: #fff !important;
        text-decoration: none !important
    }
    a {
        display: inline-block
    }
    p {
        a {
            font-size: 100%;
            display: inline
        }
    }
}
.hand_right {
    img {
        max-width: 100%
    }
    aside .articleSidebar p {
        margin-top: 10px !important
    }
    .helping_cont {
        width: auto
    }
    .bg-white {
        margin-bottom: 20px;
    }
}
.helping-links {
    a {
        font: 1.4em/1.475em 'arial';
        color: #848484;
        text-decoration: underline;
        display: block;
        margin: 10px 0
    }
}
.trustees_info {
    margin-bottom: 12px;
    dl {
        margin: 0;
        line-height: 2.5em;
    }
    dd,
    dt {
        font: 1.4em/1.475em 'arial';
        color: #848484;
        display: inline;
    }
    dt {
        width: 50%;
        display: inline;
    }
    dd {
        width: 65%;
        float: right;
        display: inline;
    }
}
.helping-hand {
    .cmsimage {
        margin-bottom: 10px;
        padding: 5px 20px 20px 20px;
        text-align: center;
    }
    .helphandtext {
        padding: 20px 20px 10px 20px;
        p {
            font: 1.4em/1.475em 'arial';
            color: #848484;
            margin: 0
        }
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .trustees_info dd {
        width: 53%;
    }
    .helpinghand_wrap a.btn {
        margin: 0px 15px 15px 0;
    }
}
/*end css*/

.activate-vitality-cash {
    padding: 15px 5px 20px;
    margin-bottom: 15px;
    h3 {
        font-size: 2.2em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        .light-blue();
        margin: 0;
        padding-right: 30%;
    }
    p {
        font-size: 1.4em;
        font-family: arial;
        line-height: 1.475em;
        .grey-font();
    }
    .cash-back-img {
        .cmsimage {
            .text-center();
        }
    }
    button {
        padding: 1.2em 2.5em 1.2em 2.5em;
    }
    .cash-back-outer {
        margin-top: 30px;
        vertical-align: middle;
    }
}
.discover-vitality-wrap {
    .bg-white();
    padding: 20px 0;
    margin-bottom: 20px;
    ul {
        margin-top: 13px;
        float: left;
        margin-left: 25px;
        width: 85%;
        li {
            font: 1.4em arial;
            line-height: 1.6em;
            list-style-type: disc;
            color: #848484;
        }
    }
    span {
        font: 1.2em arial;
        .grey-font();
        margin: 5px 0;
        display: block;
    }
    p {
        font-size: 1.4em;
        font-family: arial;
        line-height: 1.475em;
        .grey-font();
        margin: 25px 2px;
        
        a {
        	font-size : 100%;
        	margin: 3px 0 0 0;
        }
    }
    button {
        padding: 1.2em 3.5em 1.2em 3.5em;
    }
    .vitality_txt_wrap {
        padding-bottom: 40px;
        border-bottom: 1px solid #ebf0f2;
        clear: both;
        p {
            a {
                color: #838383;
                text-decoration: underline;
                display: inline-block;
                font-size : 100%;
				margin: 3px 0 0 0;
            }
        }
    }
    .vital-img-text {
        width: 100%;
        img {
            float: left;
        }
    }
    .vitality-terms {
        text-align: left;
        h6 {
            .grey-font();
            font: 1.2em arial;
            padding-left: 10px;
            margin: 20px 0 0px 0;
        }
        ul {
            margin-left: 0px;
            li {
                list-style-type: none;
                font: 1.2em arial;
                line-height: 1.6em;
                padding-left: 10px;
                text-indent: -4px;
                &:before {
                    content: "-";
                    position: relative;
                    left: -5px;
                }
                &:last-child {
                    padding-left: 5px;
                    padding-top: 5px;
                    &:before {
                        content: "*";
                    }
                }
            }
        }
    }
}
.discover_border {
    float: left;
    border-bottom: 1px solid #ebf0f2;
    padding: 20px 0;
    text-align: left;
}
.vital-logo-wrap {
    padding: 20px;
    h4 {
        color: #333333;
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 0 0 20px 0;
        padding: 0;
    }
    .terms_bottom {
        border-top: 1px solid #eee;
        margin: 10px 0 0 0;
        p {
            padding: 15px 0 0 0;
            font: 1.2em arial;
            color: #848484;
            line-height: 1.475em;
            margin: 0;
            width: 90%;
        }
    }
    .vital-logo {
        float: left;
        margin-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        .border-full {
            border: 1px solid #d1d1d1;
        }
    }
}
/* Styles for my vitality health page */

.my-vitality-health {
    .vital-img-text {
        img {
            float: right;
        }
    }
    .vitality_txt_wrap {
        p {
            margin: 25px 2px 0 2px;
        }
    }
    a {
        font: 1.3em/1.4em "arial";
        display: inline-block;
        margin: 3px 0 0 20px;
    }
    .fsWrapper {
        margin-bottom: 15px;
        text-align: left;
    }
    .fsOuter {
        margin: 0;
        padding: 0;
    }
}
/*Media query starts */

@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
    .activate-vitality-cash {
        h3 {
            padding-right: 0;
        }
        .cash-back-outer {
            text-align: center;
            img {
                display: inline;
            }
        }
    }
    .vital-img-text ul {
        width: 75%;
    }
    .my-vitality-health .fsWrapper {
        float: left;
        width: 75%;
    }
    .vital-img-text > img {
        margin-bottom: 10px;
    }
    .vital-logo-wrap {
        .border-full {
            text-align: center;
        }
        img {
            text-align: center;
            display: inline;
        }
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .vital-img-text img {
        float: none !important;
        display: inline;
    }
    .vital-img-text {
        text-align: center;
    }
    .discover-vitality-wrap ul {
        text-align: left;
        width: 94%;
    }
    .my-vitality-health .fsWrapper {
        text-align: left;
        width: 94%;
        float: none;
    }
    .link-download {
        margin-bottom: 10px;
    }
    .helpinghand_wrap a {
        display: inline;
    }
    /* Helping hand clinics */
    
    .trustees_info {
        dl {
            width: 100%;
            float: left;
            margin-bottom: 10px;
        }
        dt {
            width: 48%;
            float: left
        }
        dd {
            width: 44%;
            margin: 0;
        }
    }
}
@media only screen and (min-device-width: 370px) and (max-device-width: 415px) {
    .trustees_info dd {
        width: 52%;
    }
}
@media only screen and (min-device-width: 667px) and (max-device-width: 768px) {
    .fsOuter .fsWrapper h3.tick:before {
        top: 6px;
    }
}
.notes {
	font-size : 1.1em;
}