.heart-green:before {
    left: 0;
}
.articleSideWrapper .modal-body {
	text-align: center;
}
.modal-header .close {
	display: none;
}
.articleTop {
    margin-top: 30px;
    margin-bottom: 20px;
    h2 {
        font: 3.8em/1.2em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 0;
    }
    p {
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @default-text-color;
    }
    .moreLinks {
        float: right;
        margin-top: 16px;
        a {
            width: auto;
            margin-right: 10px;
            margin-bottom: 0;
            margin-top: 5px;
            &:before {
                top: 50%;
                margin-top: -6px;
            }
            &.share:before {
                margin-top: -8px;
            }
        }
    }
    .authorWrapper {
        float: left;
    }
    .image-center {
        margin: 10px 0 0 0;
        img {
            max-width: 100%;
        }
    }
}
.authorWrapper {
    font: 1.2em/1.475em 'arial';
    color: @default-text-color;
    a {
        color: @default-text-color;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
    .authorPic {
        float: left;
        margin-right: 10px;
    }
    .authorInfoWrapper {
        float: left;
        margin-top: 7px;
    }
}
.articlePage {
    .container {
        margin-top: 30px;
    }
    .contentContainer {
        padding: 25px 30px;
    }
    .arrow-right:after {
        border-width: 6px 0 5px 6px;
    }
    .stethoscope.arrow-right:after {
        margin: 0 0 0 17px;
    }
    a.heart {
        background-color: #8dc63f;
        color: #fff;
        padding: 20px 0px 20px 75px;
        position: relative;
        vertical-align: middle;
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        display: block;
        margin: 10px 0 30px;
    }
}
.contentContainer {
    p {
        font-family: arial;
        color: @default-text-color;
        margin-top: 0;
        line-height: 1.475em;
        a {
            font-size: 100%;
        }
    }
	h2 {
        font: 1.8em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin-top: 0;
    }
    h3 {
        font: 1.6em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin-top: 0;
		strong {
			font-weight: normal;
		}
    }
	h4 {
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin-top: 0;
    }    
    ul,
    ol {
        margin: 0 0 15px 15px;
		padding-left: 20px;
    }
	ol {
		list-style-type: decimal;
		li{
			list-style-type: decimal;
		}
	}
    li {
        font: 1.4em/1.475em 'arial';
        color: @default-text-color;
        line-height: 1.7em;
        list-style-type: disc;
        a {
            font-size: 100%;
        }
    }
    a {
        font: 14px/1.475em 'arial';
        color: @default-text-color;
        text-decoration: underline;
        /*display: block;*/
        
        margin: 0 0 10px 0;
        &:hover {
            text-decoration: none;
            color: @black;
        }
    }
}
.articlePage {
    aside {
        h2 {
            font: 1.8em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @white;
            background-color: @green;
            margin: 10px 0 0 0;
            padding: 10px 0 10px 20px;
            &.bg-blue {
                background-color: @blue;
            }
        }
        .articleSidebar {
            padding: 20px 20px 10px 20px;
            margin-bottom: 10px;
            h3 {
                font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                color: @Grey;
                margin: 0px 0px 5px 0px;
                a {
                    color: @Grey;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            p {
                font: 1.4em/1.475em 'arial';
                color: #848484;
                margin-top: 0;
            }
            .separator {
                margin-bottom: 20px;
            }
        }
        .image-center {
            img {
                max-width: 100%;
            }
        }
    }
}
.articleBreadcrumb {
    .breadcrumb {
        width: 60%;
        float: left;
    }
    .articleBcRight {
        width: 40%;
        float: right;
        .heart:before {
            left: 0px;
            top: 50%;
            content: "";
            position: absolute;
            margin-top: -12px;
        }
        a.heart-green {
            position: relative;
            background-color: @white;
            color: @blue;
            vertical-align: middle;
            font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            display: block;
            margin: 10px 0 30px;
            padding: 0 0 0 30px;
            text-align: right;
            float: right;
            margin-bottom: 0;
            margin-top: 12px;
            &.arrow-right:after {
                border-color: transparent transparent transparent @blue;
            }
        }
    }
}
.articleMagaz {
    .contentContainer {
        margin-bottom: 20px;
    }
}
.articleTop .moreLinks {
	margin-top: 5px;
}
.article-view-top {
	position: relative;
	background-color: #8dc63f;
    color: #fff;
    padding: 20px 0 20px 75px;
    position: relative;
    vertical-align: middle;
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    display: block;
}
.article-view-top:hover {
	color: #fff;
}
.article-view-top.heart:before {
    display: block;
	content: "";
    background-image: url(../image/articlesstop/heart-white-nav.png);
	background-position: inherit;
    position: absolute;
    width: 37px;
    height: 37px;
	left: 25px;
    top: 50%;
    margin-top: -17px;
}
.article-view-top.cancer:before {
    display: block;
	content: "";
    background-image: url(../image/articlesstop/cancer-white-nav.png);
    position: absolute;
    width: 37px;
    height: 37px;
	left: 25px;
    top: 50%;
    margin-top: -17px;
}
.article-view-top.diabetes:before {
    display: block;
	content: "";
    background-image: url(../image/articlesstop/diabetes-white-nav.png);
    position: absolute;
    width: 37px;
    height: 37px;
	left: 25px;
    top: 50%;
    margin-top: -17px;
}
.article-view-top.flu:before {
    display: block;
	content: "";
    background-image: url(../image/articlesstop/flu-white-nav.png);
    position: absolute;
    width: 37px;
    height: 37px;
	left: 25px;
    top: 50%;
    margin-top: -17px;
}
.article-view-top.hiv:before {
    display: block;
	content: "";
    background-image: url(../image/articlesstop/hiv-white-nav.png);
    position: absolute;
    width: 37px;
    height: 37px;
	left: 25px;
    top: 50%;
    margin-top: -17px;
}
.main-container > .container {
	margin-bottom: 30px;
}

/*media queries*/

@media only screen and (max-width: 767px) {
    .articlePage .contentContainer {
        padding: 20px;
    }
    aside .articleSidebar {
        margin-bottom: 20px;
    }
    .articlePage .heart:before {
        left: 15px;
    }
    .articlePage a.heart {
        padding-left: 55px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .articlePage a.stethoscope {
        padding-left: 55px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .articlePage .stethoscope:before {
        left: 15px;
    }
    .articleTop {
        margin-top: 10px;
    }
	.leaderboardWrapper .container {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 1023px) {
    .articleSideWrapper .image-center {
        float: left;
        margin: 0 15px 15px 0;
    }
    .articlePage aside .articleSidebar h3 {
        margin-top: 0;
    }
    aside .articleSidebar {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .articleBreadcrumb .articleBcRight {
        width: auto;
        float: none;
    }
    .articleBreadcrumb .articleBcRight a.heart {
        margin-bottom: 10px;
        float: none;
        text-align: left;
    }
    .authorWrapper .authorInfoWrapper {
        margin-top: 0;
    }
    .articleTop p,
    .articleTop h2 {
        height: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .articleTop p,
    .articleTop h2 {
        height: auto;
    }
    .breadcrumb {
        display: none;
    }
    .articleBreadcrumb .articleBcRight {
        width: auto;
        float: none;
    }
    .articleBreadcrumb .articleBcRight a.heart {
        margin-bottom: 10px;
        float: none;
        text-align: left;
    }
}
@media only screen and (max-width: 480px) {
    .articlePage .container {
        margin-top: 15px;
    }
    .articlePage a.heart {
        margin-bottom: 15px;
    }
    .articleTop .moreLinks {
        margin-top: 0px;
    }
}
/*integration fix*/

.magzineTop {
    .col-md-4 {
        width: 100%;
        padding-left: 0;
    }
    .magazineImg {
        float: left;
        margin-right: 10px;
    }
    .magazineContent {
        float: left;
        margin-top: 0;
        width: auto;
        h3 {
            color: #333;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin: 0;
        }
        .authorInfo {
            font: 1.2em/1.475em 'arial';
            color: #838383;
        }
        a {
            font: 1.2em/1.475em 'arial';
            color: #838383;
            text-decoration: underline;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.authorWrapper {
    font: 1.2em/1.475em 'arial';
    color: @default-text-color;
    a {
        color: @default-text-color;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
    .authorPic {
        float: left;
        margin-right: 10px;
    }
    .authorInfoWrapper {}
}