.babyContentOuter {
    padding: 15px 5px 20px 5px;
}
.babyClubSection {
    margin: 0 0 20px 0;
}
.babyContent {
    h2 {
        font: 2.2em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 0 0 5px 0;
        padding: 0;
    }
    p {
        font: 1.4em/1.475em "arial";
        color: @default-text-color;
        margin: 0 0 15px 0;
        padding: 0;
    }
    ul {
        margin: 0 0 20px 20px;
        padding: 0;
        li {
            font: 1.4em/1.475em "arial";
            color: @default-text-color;
            margin: 0;
            list-style-type: disc;
            list-style-position: outside;
        }
    }
    .btn {
        padding: 16px 30px;
    }
}
.allCatsContainer {
	.form-group {
		label {
			display: block;
		}
		input[type="text"] {
			font-family: Arial, sans-serif;
			height: 20px;
			padding: 4px 6px;
			font-size: 14px;
			line-height: 20px;
			color: #555555;
			vertical-align: middle;
			display: block;
			width: 100%;
			min-height: 30px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			background-color: #ffffff;
			border: 1px solid #cccccc;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		}
		.selectric-wrapper{
			width: 100%;
		}
	}
}
.babyMiddleOuter {
    margin: 0 0 20px 0;
    .aboutFamily {
        .babyArticleTitle {
            h2 {
                background-color: @skyblue;
				margin: 0px -15px;
            }
        }
        .babyOffers {
            h2 {
                background-color: @red;
				margin: 0px -15px;
            }
            .blue-heading-bar {
                .pull-left {
                    float: none !important;
                }
            }
        }
        h2 {
            margin: 0px;
            font-size: 1.8em;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @white;
            padding: 6px 15px 6px 15px;
        }
        .form-group {
            position: relative;
            margin-bottom: 10px;
            label {
                color: #373737;
                font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                &.error {
                    color: #d71414;
                }
            }
        }
        .radio-box {
            span {
                margin-left: 18px;
                cursor: pointer;
            }
        }
        .article-slider .detailContent {
            padding-left: 10px;
        }
        .bx-viewport {
            /*heigth: 480px !important;*/
            
            padding-bottom: 20px;
            position: static !important;
        }
    }
    .col-lg-5,
    .col-md-5 {
        border-left: 1px solid #eee;
    }
}
.gender {
    p {
        &.label {
            color: @default-text-color;
            font-size: 1.4em !important;
            text-align: left;
            margin-left: 20px;
        }
    }
    .selectric-wrapper {
        width: 100%;
    }
}
.dob {
    p {
        &.label {
            color: @default-text-color;
            font-size: 1.4em !important;
            text-align: left;
            margin-left: 20px;
        }
    }
    .date {
        .selectric-wrapper {
            width: 100px;
        }
    }
    .dobWrapper {
        .selectric-wrapper {
            width: 100%;
            margin-right: 10px;
        }
    }
    .monthWrapper {
        .selectric-wrapper {
            width: 100%;
            margin-right: 10px;
        }
    }
    .yearWrapper {
        .selectric-wrapper {
            width: 100%;
        }
    }
    .date,
    .month,
    .year {
        padding: 0 10px 0 0;
    }
    .year {
        padding-right: 0px;
    }
}
#aboutFamily {
    width: auto;
    position: relative;
	margin-top: 25px;
    input.text {
        padding: 10px 15px;
    }
    .btn {
        padding: 15px 60px;
        margin-bottom: 20px;
    }
}
.radio-hide {
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input[type="checkbox"].check-hide {
	@media only screen and (min-width: 1025px) {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		opacity: 0;
	}
	position: absolute;
	margin: 0px !important;
}
#datePickerContainer .childrenDob {
	position: relative;
}
#datePickerContainer .btnDate {
	position: absolute;
	top: 28px;
}
/*radio box*/

input.radio-hide[type="radio"] + label.radio-box::before {
    background: url("../image/form-sprite.jpg") no-repeat 0 -37px;
    content: " ";
    cursor: pointer;
    float: left;
    height: 13px;
    left: 0;
    top: 50%;
    position: absolute;
    width: 13px;
    /*margin-top: -9px;*/
    
    margin-top: -6px;
}
label.radio-box {
	margin: 5px 0px !important;
}
#aboutFamily label.radio-box.current::before,
input.radio-hide[type="radio"] + label.radio-box.current::before,
input.radio-hide[type="radio"]:checked + label.radio-box::before {
    background-position: 0 -24px;
}
/*check box common*/

input[type="checkbox"].check-hide+label.check-box::before {
    content: " ";
    width: 12px;
    height: 12px;
    background: url("../image/form-sprite.jpg") no-repeat 0 top;
    float: left;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -7px;
}
input[type="checkbox"].check-hide:checked + label.check-box::before {
    background-position: 0 -12px;
}
.btnDate {
    background: url("../image/baby-club/date-icon.png") no-repeat left 0;
    border: none;
    cursor: pointer;
    height: 18px;
    padding: 0;
    position: absolute;
    right: 15px;
	margin-top: 2px;
    text-indent: -9999px;
    /*bottom: 11px; */
    top : 50%;
    width: 18px;
    margin-bottom: 0;
}
.babyContentImg {
    margin: 55px 0 0 0;
}
.babyArticle {
    h2 {
        margin: 0;
        font-size: 1.8em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 7px 0;
        padding-left: 5px;
        span {
            font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        }
    }
    .babyArticleTitle {
        background-color: #b2318a;
        a {
            color: @white;
        }
    }
    .moreCategory h4 {
        margin: 15px 0;
    }
}
.babyMiddleOuter .bx-wrapper .bx-controls-direction a.bx-prev {
    left: 0;
}
.babyMiddleOuter .bx-wrapper .bx-controls-direction a.bx-next {
    right: 0;
}
.babyClubWrapper .moreCategory h4 a {
    color: #222;
}
.babyClubWrapper .moreCategory h4 a:hover {
    color: @blue;
}
/*Adding baby  */

#addChild {
    font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: #333;
    display: block;
    margin: 10px 0;
    text-decoration: underline;
}
/*media queries*/

@media only screen and (max-width: 1024px) {
    #basic3,
    #basic4 {
        width: 94%;
        padding: 0 10px;
    }
    .dob {
        #date {
            width: 100%;
            float: left;
            margin-right: 10px;
            padding: 10px;
        }
        #month {
            width: 100%;
            float: left;
            margin-right: 10px;
            padding: 10px;
        }
        #year {
            width: 100%;
            float: left;
            padding: 10px;
        }
    }
}
@media only screen and (max-width: 1023px) {
    .babyContentImg {
        text-align: center;
        margin: 25px 0 0 0;
    }
    .babyMiddleOuter .aboutFamily .form-group label {
        display: block;
    }
    .aboutFamily select#basic3,
    .aboutFamily select#basic4,
    .aboutFamily input {
        width: 100%;
    }
    .dob .year {
        margin-left: 0px;
        padding-right: 0;
    }
}
@media only screen and (max-width: 768px) {
    .babyMiddleOuter .aboutFamily .form-group label {
        display: block;
    }
    .aboutFamily select#basic3,
    .aboutFamily select#basic4,
    .aboutFamily input {
        width: 100%;
    }
    .dob .year {
        margin-left: 0px;
        padding-right: 0;
    }
    .aboutFamily .babyArticleTitle {
        border-bottom: 20px solid @lightGrey;
    }
}
@media only screen and (max-width: 480px) {
    .btnDate {
        right: 15px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
    .babyMiddleOuter .aboutFamily .bx-viewport {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .acc-col-4 {
        height: auto !important;
    }
}
@media only screen and (max-width: 480px) {
    input[type="checkbox"].check-hide+label.check-box::before {
        top: 0;
        margin-top: 2px;
    }
}