.bc-landingTop {
    margin-top: 30px;
    margin-bottom: 40px;
    h2 {
        font: 2.2em/1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 15px 0 15px;
    }
    p {
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @default-text-color;
    }
    .authorWrapper {
        float: left;
    }
    .image-center {
        img {
            max-width: 100%;
        }
    }
}
.babyLandOffer {
    &.specialBlock {
        padding-bottom: 20px;
    }
}
h2.arrow-right a {
    display: inline-block;
    margin: 0px;
    font: inherit;
}
.babyArticleLand {
    padding-bottom: 20px;
    h4 {
        a {
            color: @Grey;
        }
    }
    .babyArticlesOuter {
        padding: 20px 10px;
        clear: both;
        .col-lg-4.col-md-4.col-sm-6.col-xs-12{
        	overflow:hidden;
        }
    }
    .pull-right a {
        font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        font-size: 1.6em;
        display: block;
        line-height: 2.2em;
    }
}
.sliderFinal .col-md-3 {
    width: 100%;
}
.babyClubWrapper {
    .bcBox {
    	display : table;
    	width : 100%;
    	margin-top: 15px;
        div {
        	display : table-cell;
        	padding: 0;
        }
        .content {
        	vertical-align : middle;
        }
    }
    .cmsimage {
        padding: 10px 15px;
    }
    .borderBlock {
        border: 1px solid #e6ecef;
        border-top: none;
        border-left: none;
        min-height: 200px;
        a {
            display: block;
            font: 1.6em/1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @blue;
            margin-top: 15px;
            &.borderBlockTitle {
                height: 49px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        p {
            font: 1.4em/1.475em 'arial';
            color: @default-text-color;
            padding-bottom: 10px;
            height: 44px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            a {
                font: 1em 'arial';
                display: inline-block;
                color: @default-text-color;
                margin: 0;
                text-decoration: underline;
                &:hover, &:focus {
                    text-decoration: none;
                }
            }
        }
        &.o2Block {
            .image-center {
                margin: 10px 0;
            }
        }
        &:nth-child(5) {
            border-bottom: none;
            padding-bottom: 17px;
        }
        &:nth-child(6) {
            border-bottom: none;
        }
        img {
            max-width: 100%;
        }
    }
    .borderBlockLast {
        border: 1px solid #e6ecef;
        border-top: none;
        border-left: none;
        border-bottom: none;
        padding-bottom: 30px;
        img {
            max-width: 100%;
        }
        p {
            font: 1.4em/1.475em 'arial';
            color: @default-text-color;
            padding-bottom: 10px;
            a {
                font: 1em 'arial';
                color: @default-text-color;
                margin: 0;
                text-decoration: underline;
                &:hover, &:focus {
                    text-decoration: none;
                }
            }
        }
    }
    .boxOuter {
        padding: 0;
    }
}
.fb-feed {
    img {
        max-width: 100%;
    }
}
/* baby club login*/

.createAccountOuter .createWrapper .createBoxWrapper .bc-login .btn {
    width: 100%;
}
/* Baby club wellness */

.click_wellness_wrap {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 20px;
    h4 {
        font: 1.8em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin-bottom: 10px;
        margin-top: 0;
    }
    em {
        font: 1.4em 'arial';
        font-style: italic;
        color: #838383;
        display: block;
        margin-bottom: 10px;
    }
    ul {
        margin-top: 10px;
        li {
            font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: #333333;
            list-style-type: none;
            line-height: 2.0em;
            margin-bottom: 5px;
            &:before {
                content: '\2022 ';
                color: #005baa;
                padding-right: 0.8em;
            }
        }
    }
}
.find_nearest {
    .btn {
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    span {
        font: 1.4em 'arial';
        color: #838383;
        display: inline-block;
    }
    .store:before {
    	left : 15%;
    }
}
/*media queries*/

@media only screen and (max-width: 768px) {
    .bc-landingTop button {
        width: 100%;
    }
    .sliderFinal {
        .bg-white {
            padding-bottom: 20px;
        }
    }
    .bc-landingTop .image-center {
        margin: 15px 0;
    }
    .bc-landingTop {
        margin: 10px 0 0 0;
    }
    .btnBig {
    	margin : 0px 10px 20px 0;
    }
    .find_nearest .store:before {
 	   left: 8%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
    .babyClubWrapper .borderBlock.heightBlock {
        min-height: 260px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .babyClubWrapper .borderBlock a.borderBlockTitle {
        height: 52px;
    }
    .babyClubWrapper .borderBlock p {
        height: 50px;
    }
}
@media only screen and (max-width: 767px) {
    .babyClubWrapper .borderBlock a.borderBlockTitle {
        height: auto;
        -webkit-line-clamp: initial;
    }
    .babyClubWrapper .borderBlock p {
        height: auto;
        -webkit-line-clamp: initial;
    }
    .babyClubWrapper .borderBlock {
        min-height: 206px;
    }
}
@media only screen and (min-width: 414px) and (max-width: 736px) {
.babyClubWrapper .borderBlock {
    min-height: 286px;
}
} 
