.brand {
    .brand-landing {
        background-color: #e6ecef;
        padding: 0px 0 0px;
    }
    .banner-brand {
        position: relative;
        margin-bottom: 20px;
        .content {
            color: #fff;
            
            width: 500px;
            position: absolute;
            top: 50%;            
            transform: translateY(-50%);
            resize: vertical;
            h2 {
                font: 5.5em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                margin: 0;
            }
            p {
                line-height: 1.6em;
                margin: 0px 0 10px 0;
            }
        }
        img {
            max-width: 100%;
        }
        .brand-img {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .content-outer {
        width: 1000px;
    }
}
sup {
    font-size: 0.6em;
}
.brandSidebar {
    padding: 16px 20px;
    h2 {
        margin: 0;
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
    ul {
        li {
            a {
                font-family: "arial";
                font-size: 1.3em;
                color: @default-text-color;
                display: block;
                padding: 8px 0 0 0;
                &:hover {
                    color: @blue;
                }
            }
        }
    }
}
.bannerOuter {
    max-width: 2000px;
    margin: 0px auto;
}
.brand-landing {
    background-color: #e6ecef;
    padding: 0px 0 0px;
    .brand-products {
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 20px;
        background-color: @white;
        a {
            font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            font-size: 1.4em;
            color: #373737;
            margin: 0;
            display: block;
            &:hover {
                color: @blue;
            }
        }
        .productOuter {
            img {
                max-width: 100%;
                margin: 0 0 10px;
            }
			.title {
				height: 40px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				span {
					display: block;
				}
			}
        }
        .col-md-6 {
            padding: 0 10px;
        }
    }
    .brand-videos {
        margin-bottom: 20px;
        text-align: center;
        padding: 10px;
        .videoOuter {
            position: relative;
            margin-top: 20px;
            a {
                cursor: pointer;
                &.popup {
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    margin: -32px 0 0 -32px;
                    background: url("../image/custom-sprite.png") no-repeat left -84px;
                    width: 64px;
                    height: 64px;
                }
            }
            img {
                max-width: 100%;
            }
        }
        .videoOuterWrapper {
            a {
                font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                font-size: 1.4em;
                color: #373737;
                margin: 10px 0;
                display: block;
                &:hover {
                    color: @blue;
                }
            }
        }
        .col-md-6 {
            padding: 0 10px;
        }
    }
    .brand-content {
        margin-bottom: 20px;
        .brand-content-inner {
            margin-left: 10px;
        }
        h2 {
            font: 2.2em/1.475em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            color: @blue;
            margin: 15px 0 5px 0;
        }
        h3 {
            font: 1.8em/2.95em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @blue;
            margin: 0;
        }
        p,
        li {
            font: 1.3em/1.6em "arial";
            color: #848484;
            margin-top: 0;
        }
        p {
            margin-left: 0;
        }
        ul {
            margin: 0 0 0 25px;
            li {
                line-height: 1.7em;
                list-style-type: disc;
            }
        }
        img {
            max-width: 100%;
        }
        .col-md-5 {
            padding-right: 0;
            text-align: right;
            width: auto;
        }
        .col-md-7 {
            padding-right: 0;
            width: 323px;
            margin-bottom: -10px;
        }
    }
}
.offer-blk {
    font-size: 1.4em;
    color: @default-text-color;
    /*margin: 10px 0;*/
    font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    .price {
        font-size: 1em;
        color: @default-text-color;
    }
}
.productRange {
    .productBlock {
        img {
            margin: 0px auto 0px auto;
            display: inline;
        }
        .detailContent {
            img {
                margin: 0;
            }
            p {
                font: 1.4em/1.475em "arial";
                &.priceTag {
                    font-size: 1.6em;
                    font-family: "Conv_ITCAvantGardeStd-Bold", Arial, Helvetica, sans-serif;
                }
            }
            .offerDesc {
                margin-bottom: 0px;
                font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                color: @red;
                span {
                    display: block;
                }
            }
            h5 {
                font-size: 1.4em;
            }
            .btn {
                color: #ffffff;
                float: right;
                padding: 5px 16px 6px 15px;
            }
        }
    }
}
.content-height {
    p {
        margin-bottom: 0;
    }
}
.poductQuote {
    .productBlock {
        border: none;
    }
    .bg-white {
        padding: 0;
        padding-bottom: 20px;
    }
}
.quoteBlock {
    position: relative;
    margin-top: 30px;
}
.quoteBlockInner {
    width: auto;
    background-color: #66cef5;
    margin-top: 20px;
    margin-right: 15px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    padding: 20px 19px;
    &:after {
        border-color: rgba(102, 206, 245, 0);
        top: -30px;
        left: 14%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #66cef5;
        border-width: 18px;
        margin-left: -18px;
    }
    p {
        font: 1.4em/1.475em "arial";
        color: @white;
        margin: 0;
        overflow: hidden;
    }
}
.modal {
    .close {
        color: #000000;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        opacity: 0.2;
        text-shadow: 0 1px 0 #ffffff;
    }
}
.brand-landing {
    .productRange {
        li {
            .col-md-4 {
                width: 100%;
            }
        }
    }
}
.brand-landing .specialBlock {
    background-color: @white;
    margin-bottom: 20px;
    padding-bottom: 0;
}
.productRange .contentWrapper {
    background-color: @blue;
}
.productRange .contentWrapper .pull-right a {
    font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    display: block;
    color: @white;
    margin: 0.5em 0;
}
.productRange .contentWrapper .pull-left h2 {
    padding: 0;
    margin: 0.1em 0;
}
.productRange .contentWrapper h2 span {
    padding: 0;
}
.productRange .bx-viewport {
    position: static !important;
    height: auto !important;
}
.productOuter {
    margin-bottom: 20px;
}
/* arrow fix to come center with words */

.arrow-right:after {
    margin-top: -3px !important;
    vertical-align: middle;
}
/**/

.poductQuote .bg-white {
    padding-bottom: 0px;
}
/*hybris integration fix*/

.brand-content-inner {
	@media only screen and (max-width: 480px){
		margin-left: 0px !important;
	}
    .content {
        width: 45%;
        float: left;
		@media only screen and (max-width: 480px){
			width: 100%;
			float: none;
		}
    }
    .cmsimage {
        width: 50%;
        float: right;
		@media only screen and (max-width: 480px){
			width: 100%;
			float: none;
		}
    }
}
.productRange .productBlock .detailContent .offerDesc {
	font-size: .875em;
}
/*media queries*/

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .brand .banner .content {
        top: 45px;
    }
    .detailContent {
        height: 240px;
    }
}
@media only screen and (max-width: 1024px) {
    .productRange .productBlock .detailContent .btn {
        padding: 0.6em 1.2em;
    }
}
@media only screen and (max-width: 1000px) {
    .brand .banner .content {
        position: static;
        width: auto;
        margin: 20px 0;
    }
}
@media only screen and (max-width: 768px) {
    .brand-landing .brand-content img {
        margin-top: 20px;
    }
    .brand-landing .brand-content .col-md-5 {
        text-align: center;
        width: 100%;
    }
    .productRange .bx-wrapper .bx-pager {
        bottom: -30px;
    }
    .brand .banner-brand .content {
        bottom: 25px;
        width: 95%;
    }
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
    .quoteBlockInner {
        width: 301px;
    }
    .brand-landing .productRange {
        background-color: @white;
    }
    .brand-landing .productRange.poductQuote {
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .quoteBlockInner {
        width: auto;
        height: auto !important;
        min-height: 0 !important;
    }
    .content-height,
    .productRange .productBlock .detailContent,
    .productRange .productBlock,
    .quoteBlock {
        min-height: auto;
    }
    .productRange .productBlock .detailContent {
        height: auto;
    }
    .poductQuote {
        .productBlock {
            margin-bottom: 0;
        }
    }
    .poductQuote .bg-white {
        padding-bottom: 0;
    }
    .productRange .productBlock {
        padding-bottom: 10px;
    }
    .brand-landing .brandSidebar {
        margin-bottom: 20px;
    }
    .brand-landing .brand-content .col-md-7 {
        width: auto;
        padding-right: 15px;
    }
    .brand-landing .brand-content .col-md-5 {
        padding: 0;
    }
    .poductQuote .detailContent {
        border-bottom: none;
    }
    .productRange .bx-viewport {
        position: static !important;
    }
    .poductQuote {
        margin-bottom: 20px;
        padding-bottom: 0;
    }
    .brand-landing .specialBlock {
        background-color: @white;
        margin-bottom: 20px;
        padding-bottom: 0;
    }
}
@media only screen and (min-width: 600px) and (max-width: 640px) {
    .brand .banner .content {
        left: 20px;
        top: 10px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .brand .banner-brand .content h2 {
        font-size: 3.5em;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .quoteBlockInner {
        margin-right: 0;
    }
    .brand-landing .brand-content .col-md-5 {
        text-align: center;
        float: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .specialBlock h2 {
        height: auto;
    }
    .productRange .productBlock .detailContent {
        height: auto;
    }
    .brand-landing .col-sm-12 {
        margin-bottom: 20px;
    }
    .brand-landing .productRange .col-sm-12 {
        margin-bottom: 0;
        margin-top: 0;
    }
    .brand-landing .brand-content .col-md-7 {
        width: 95%;
    }
    .brand-landing .brand-content .col-md-5 {
        width: 100%;
        text-align: center;
    }
}
@media only screen and (min-width: 320px) and (max-width: 599px) {
    .brand-landing .brand-products .col-xs-12,
    .brand-landing .brand-products .col-md-6 {
        padding: 0;
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .brand-landing .brand-content .col-md-5 {
        text-align: center;
        float: none;
    }
}
@media only screen and (min-width: 736px) and (max-width: 736px) {
    .productRange .bx-wrapper .bx-pager {
        bottom: -10px;
    }
}
@media only screen and (min-width: 667px) and (max-width: 667px) {
    .productRange .bx-wrapper .bx-pager {
        bottom: -10px;
    }
    .poductQuote .bx-wrapper .bx-pager {
        bottom: -10px;
    }
}
@media only screen and (min-width: 568px) and (max-width: 568px) {
    .productRange .bx-wrapper .bx-pager {
        bottom: -10px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 600px) {
    .productRange .bx-wrapper .bx-pager {
        bottom: -10px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 599px) {
    .brand-landing .brand-products .col-xs-12,
    .brand-landing .brand-products .col-md-6 {
        padding: 0 10px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 700px) {
    .productRange .productBlock .detailContent .offerDesc {
        height: 40px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .productRange .productBlock .detailContent .offerDesc {
        height: 30px;
    }
    .quoteBlock {
        margin-top: 0;
    }
    .productRange .bx-wrapper .bx-pager {
        bottom: -10px;
    }
}
/*integration fixes start*/

/*.pageType-BrandLandinPage,
.page-clubCardPage {
    #colorbox {
        display: none !important;
    }
    #cboxOverlay {
        opacity: 0 !important;
    }
}
.template-pages-layout-contentLayout1Page {
    #colorbox {
        display: none !important;
    }
    #cboxOverlay {
        opacity: 0 !important;
    }
}
*/
.footer-links li:last-child {
    padding-right: 0;
}
.brand-landing .brand-videos .videoOuterWrapper a:hover {
    opacity: 1;
}
/*integration fixes Ends */

@media only screen and (max-width: 768px) {
    .brand .banner-brand .thumb img {
        width: 100%;
    }
    .brand .banner-brand .content {
        top: inherit;
        bottom: 0;
        transform: translateY(0%);
    }
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
    .banner-logo {
        max-height: 65px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1700px) {
    .banner-logo {
        max-height: 150px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 1701px) {
    .banner-logo {
        max-height: 200px;
        margin-bottom: 10px;
    }
}
/* fixing for video and image component */

.template-pages-layout-contentLayout1Page {
    .mediaLinkWrapper {
        margin-top: 20px;
        a {
            h4 {
                font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                color: #373737;
                margin: 10px 0;
                display: block;
                font-size: 1.4em;
            }
            :hover {
                color: @blue;
            }
        }
    }
}