.border-block {
    border-right: 1px solid #e7edef;
    border-bottom: 1px solid #e7edef;
    &.even {
        border-right: 0;
    }
}
.category-top .productBlock:hover {
	border-color: #fff;
}
.readMoreChild.closed .facetValues .allFacetValues.in {
	overflow: hidden !important;
    display: block !important;
}
.categoryLanding {
    padding: 25px 15px;
    .pad-zero {
        padding: 20px;
        border-bottom: 1px solid #edf3f9;
        border-right: 1px solid #edf3f9;        
        .home-promo-img {
            width: 50%;
            float: right;
            text-align: right;
            img {
                max-width: 100%;
                margin: 0px;
            }
        }
        .home-promo-text {
            width: 50%;
            float: left;
            .banner_caption {
                position: static;
                .caption-inner {
                    display: block;
                    width: 100%;
                    .caption-wrap {
                        display: block;
                        .offer_sticker {
                            max-width: 60px;
                            max-height: 60px;
                            position: absolute;
                            right: 15px;
                            top: 30px;
                            img {
                                max-width: 100%;
                            }
                        }
						h4 {							
							span {
								display: block;
							}
						}
						@media only screen and (min-width: 769px) {
							h4 {
								margin: 0px 0px 10px 0px;
								height: 66px;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								word-break: break-word;
								span {
									display: block;
								}
							}
							p {
								padding: 0px;
								height: 95px;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 5;
								-webkit-box-orient: vertical;
							}
						}
                        a {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
	.col-lg-6.pad-zero {
		&:nth-child(2n-2) {
            border-right: 0px;
        }
		@media only screen and (min-width: 769px) {
            &:first-child, &:nth-child(2) {
                padding-top: 10px;
                height:315px;
            }
        }
	}
    @media only screen and (max-width: 768px) {
        .pad-zero {
            border-right: 0px;
            padding: 20px 0px;
        }
    }
    @media only screen and (min-width: 998px) {
        .pad-zero {
            height: 290px;
        }
    }
    .categoryType {
        font-size: 1.3em;
        font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: @Grey;
        height: 32px;
		padding-right: 50px;
        span {
            color: #838383;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
        &.red {
            color: @red;
        }
        a {
            color: @default-text-color;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            text-decoration: underline;
        }
    }
}
.home-promotions.categoryLanding .caption-wrap h4 {
	font: 1.7em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
.latestpromo{
	li{		
		.banner_caption {
			bottom: 0;
			top: 50px;
				h4 {
					min-height: 25px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
		}
	}
}
@media only screen and (min-width: 769px) {
	.home-promotions.categoryLanding .caption-wrap h4 {
		-webkit-line-clamp: 3 !important;
	}
}
.border-right {
    border-right: 1px solid #fff;
}
/* Top Green Buttons  */

/*.pharmacy_block a {
    background-color: #8dc63f;
    color: #fff;
    padding: 19px 1px 24px 45px;
    position: relative;
    vertical-align: middle;
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    margin: 0;
}
.pharmacy_block a.stethoscope:before {
    background: url("../image/sprite/icon4.png") no-repeat 0 0;
    left: 5%;
    top: 25%;
}
.pharmacy_block a.book:before {
    left: 16%;
}
.pharmacy_block a:before {
    left: 23px;
    top: 50%;
    margin-top: -13px;
}*/
/* Top Green Buttons */

/*.bgred {
    background-color: @red;
    .arrow-white {
        border-width: 5px 0 5px 7px;
    }
}*/
.bg-green {
    background-color: #8dc63f;
}
.arrow-right:after {
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #fff;
    width: 0;
    display: inline-block;
    height: 0;
    margin: 0 0 0 10px;
    border-style: solid;
    content: "";
    vertical-align: middle;
}
/*.text-right {
    text-align: right;
}*/
.categoryOuter {
    margin: 30px auto 30px;
    .mainCatSidebar {
        margin-bottom: 20px;
    }
    img {
        max-width: 100%;
    }
}
.categorySidebar {
    padding: 20px 20px 10px 20px;
    margin-bottom: 3px;
    h2 {
        margin: 0;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        font-size: 1.4em;
        margin-bottom: 15px;
    }
    ul {
        li {
            a {
                font-family: "arial";
                font-size: 1.3em;
                color: @default-text-color;
                margin: 10px 0 10px 0;
                display: block;
            }
        }
    }
    .specialBrand {
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        padding: 6px 0 15px;
        margin-bottom: 12px;
        li {
            a {
                margin-bottom: 18px;
                &.last {
                    margin-bottom: 0;
                }
            }
        }
    }
}
/*.content-height {
    p {
        font-family: arial;
    }
}*/
.red {
    color: @red !important;
}
.bgblue {
    background-color: #003268;
    /*.arrow-white {
        border-width: 5px 0 5px 7px;
    }*/
}
.titleRight {
    display: inline-block;
}
.doubleBlockWrapper {
    padding-top: 18px;
    padding-left: 5px;
    overflow: hidden;
    position: relative;
    min-height: 310px;
    &.even {
        border-right: none;
    }
    &.fullBlock {
        padding: 6px 5px;
        height: auto;
    }
    /*.badges {
        right: 12px;
        position: absolute;
        top: 54px;
    }*/
    .btn {
        position: absolute;
        bottom: 28px;
        line-height: 1.3em;
        padding: .6em 1.4em;
    }
}
/*.fullBlock {
    img {
        max-width: 100%;
    }
}*/
/*.badges {
    &.second {
        top: 115px;
    }
}*/
.doubleBlock {
    float: left;
    width: 50%;
    h3 {
        color: @blue;
        font-size: 2.2em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
    p {
        font-size: 1.4em;
        line-height: 1.475em;
        color: @default-text-color;
        font-family: arial;
    }
    .categoryType {
        font-size: 1.3em;
        font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: @Grey;
        span {
            color: #838383;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
        &.red {
            color: @red;
        }
        a {
            color: @default-text-color;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            text-decoration: underline;
        }
    }
}
.categoryPage {
    /*.avacado-blk {
        padding-right: 0;
    }*/
    .filterContent {
        margin-bottom: 7px;
    }
    /*.vitality-badge {
        top: 118px;
        position: absolute;
        right: -2px;
    }*/
    .titleWrapper {
        margin-top: 0;
        h2, a {
            margin: 7px 0;
            padding-left: 5px;
            color: @white;
        }
        h2 {
            font-size: 1.8em;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            span {
                font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
                font-size: inherit;
            }
        }
        a {
            font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
            font-size: 1.6em;
            display: block;
        }
    }
    .productBlock {
        /*&:hover {
            border-color: @white;
        }*/
        .offer-blk {
            font-size: 1.3em;
            color: @default-text-color;
            margin: 5px 0;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            .price {
                font-size: 1em;
                color: @default-text-color;
            }
        }
        /*&.healthpharm {
            .mix-match-badge, .badges {
                right: 15px;
                top: 20px;
            }
            .thumb {
                padding-bottom: 15px;
            }
            .vitality-badge {
                top: 85px;
                position: absolute;
                right: 0px;
            }
        }
        .mix-match-badge {
            right: 15px;
            top: 15px;
        }
        .badges {
            right: 28px;
        }*/
    }
}
.titleWrapper {
	.title-text	{
		font-size: 1.4em;
		font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
		margin: 10px 0px;
	}
	.selectric-wrapper {
		margin: 0px;
	}
}
.bottom-marg {
    margin-bottom: 20px;
}
.clubCardBot {
    div:nth-child(1) {
        padding-left: 20px;
        padding-right: 0;
    }
    div:nth-child(2) {
        padding-left: 8px;
    }
    img {
        margin-top: 20px;
    }
}
.moreCategory {
    h4 {
        color: @darkGrey;
        /*font-size: 1.4em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif; */
    }
    /*img {
        max-width: 100%;
    }*/
    .titleWrapper {
        p {
            padding-left: 5px;
        }
        h2 {
            a {
                font-size: 1em;
            }
        }
    }
    /*&.healthlinks-block {
        &.top-links {
            .our-clinic {
                span {
                    background: url("../image/sprite/icon4.png") no-repeat;
                    width: 18px;
                    height: 26px;
                    margin-right: 5px;
                    position: relative;
                    top: -5px;
                    float: left;
                }
            }
            .our-pharm {
                a {
                    text-align: left;
                }
                span {
                    background: url("../image/sprite/16_book.png") no-repeat;
                    width: 31px;
                    height: 21px;
                    margin-right: 25px;
                    float: left;
                }
            }
            a {
                text-align: center;
                vertical-align: middle;
                img {
                    padding-right: 11px;
                }
                &.arrow-right:after {
                    right: auto;
                    top: 24px;
                }
            }
        }
        div {
            a {
                padding: 16px 15px 16px 45px;
                margin: 0;
                position: relative;
                font-size: 1.6em;
                &.arrow-right:after {
                    position: absolute;
                    right: 5px;
                    top: 31px;
                }
                &:before {
                    left: 0px;
                    top: 25px;
                    margin-top: 0;
                }
            }
            &:last-child {
                border: none !important;
            }
        }
    }*/
}
.promoImg {
    width: 50%;
    float: left;
    text-align: center;
    img {
        text-align: center;
        max-width: 100%
    }
}
/*media queries starts*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /*.moreCategory.healthlinks-block div a:before {
        top: 20px;
    }
    .badges.second {
        top: 150px;
    }*/
    .healthlinks-block {
        .border-right {
            border-right: 0px solid #fff;
        }
    }
}
/*@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .badges.second {
        top: 115px;
    }
    .moreCategory.healthlinks-block.top-links a.arrow-right:after {
        right: auto;
    }
}*/
@media only screen and (min-device-width: 600px) and (max-device-width: 960px) {
    /*.badges.second {
        top: 150px;
    }*/
    .doubleBlockWrapper {
        min-height: inherit;
        padding-top: 15px;
        padding-bottom: 15px;
        .btn {
            position: static;
        }
        &.fullBlock {
            min-height: inherit;
            text-align: center;
        }
    }
    .clubCardBot {
        div:nth-child(1), div:nth-child(2) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    /*.categoryPage {
        .avacado-blk {
            .doubleBlock {
                width: 50%
            }
        }
    }*/
    .border-block {
        padding-bottom: 8px;
        border-right: none
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .productBlock {
        border-bottom: 1px solid #e7edef;
        padding-bottom: 20px;
    }
    .categoryPage .detailContent {
        height: auto;
    }
    .moreCategory {
        .col-md-6 {
            text-align: center;
        }
        /*&.healthlinks-block {
            .border-right {
                border-right: 0px solid #fff;
            }
            div {
                a {
                    &:after {
                        right: 50px;
                        top: 24px;
                    }
                }
            }
        }*/
    }
    /*.vitality-badge.second {
        top: 111px;
    }*/
    .categoryPage {
        .titleWrapper {
            &.text-right {
                text-align: left;
            }
            a {
                margin: 9px 0;
            }
        }
    }
}
/*@media only screen and (min-width: 768px) and (max-width: 768px) {
    .vitality-badge.second {
        top: 43%;
        right: 15px;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .badges.second {
        top: 110px;
    }
}*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .productRow {
        .col-xs-12 {
            width: 50%;
        }
    }
    /*.badges.second {
        top: 135px;
    }
    .moreCategory.healthlinks-block div a:before {
        top: 15px;
    }*/
    .healthlinks-block {
        .col-xs-6 {
            width: 100%;
        }
        .border-right {
            border-right: 0px solid #fff;
        }
    }
    /*.categoryPage .productBlock.healthpharm .vitality-badge.second {
        top: 115px;
        right: 16px;
    }*/
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    /*.badges.second {
        top: 135px;
    }*/
    .productRow {
        .col-xs-12 {
            width: 50%;
        }
    }
    /*.categoryPage .productBlock.healthpharm .vitality-badge.second {
        top: 120px;
        right: 18px;
    }*/
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .doubleBlockWrapper {
        min-height: inherit;
        padding: 15px 0;
        .btn {
            position: static;
        }
        &.fullBlock {
            min-height: inherit;
            text-align: center;
        }
    }
    .btn {
        width: 100%
    }
    .clubCardBot {
        div:nth-child(1), div:nth-child(2) {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
    }
    /*.moreCategory.healthlinks-block div a.arrow-right:after {
        top: 21px;
    }
    .moreCategory.healthlinks-block div a:before {
        top: 13px;
    }
    .badges.second {
        top: 110px;
    }*/
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .productRow {
        .col-xs-12 {
            width: 50%;
        }
    }
    /*.categoryPage {
        .avacado-blk {
            .doubleBlock {
                width: 50%
            }
        }
    }*/
    .clubCardBot {
        div:nth-child(1), div:nth-child(2) {
            width: 50%;
        }
    }
    /*.categoryPage .productBlock.healthpharm .vitality-badge.second {
        top: 100px;
        right: 8px;
    }
    .badges.second {
        top: 110px;
    }
    .vitality-badge.second {
        top: 111px;
    }*/
}
/*@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    .vitality-badge.second {
        top: 134px;
        right: 5px;
    }
}
@media only screen and (min-device-width: 568px) and (max-device-width: 568px) and (orientation: landscape) {
    .vitality-badge.second {
        top: 111px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .categoryPage .productBlock.healthpharm .vitality-badge.second {
        top: 95px;
        right: 8px;
    }
    .vitality-badge.second {
        right: -2px;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 480px) {
    .vitality-badge.second {
        top: 111px;
    }
}
@media only screen (min-device-width: 600px) and (max-device-width: 960px) {
    &.healthlinks-block {
        div {
            a {
                &:before {
                    top: auto;
                }
            }
        }
    }
}*/
@media only screen and (max-width: 960px) and (min-width: 320px) {
    .categoryPage .content-height,
    .productRange .productBlock .detailContent,
    .productRange .productBlock,
    .quoteBlock {
        height: auto;
    }
}
/* Media for green buttons */

/*@media only screen and (min-width: 320px) and (max-width: 736px) {
    .pharmacy_block .col-xs-6 {
        width: 100%;
    }
    .pharmacy_block a {
        text-align: left;
        padding: 17px 18px 15px 12px;
        padding-left: 15%;
    }
    .pharmacy_block a.stethoscope:before,
    .pharmacy_block a.book:before {
        left: 0;
    }
    .border-right {
        border: 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {
    .pharmacy_block .col-xs-6 {
        width: 50%
    }
    .border-right {
        border-right: 1px solid #fff;
    }
    .pharmacy_block a {
        padding: 17px 18px 10px 21%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 601px) {
    .pharmacy_block .col-xs-6 {
        width: 50%;
    }
    .border-right {
        border-right: 1px solid #fff;
    }
    .pharmacy_block a {
        text-align: left;
        padding: 16px 18px 9px 0px;
        padding-left: 17%;
    }
}
@media only screen and (min-width: 960px) and (max-width: 961px) {
    .pharmacy_block .col-xs-6 {
        width: 50%;
    }
    .border-right {
        border-right: 1px solid #fff;
    }
    .pharmacy_block a {
        text-align: left;
        padding: 16px 18px 9px 0px;
        padding-left: 15%;
    }
    .pharmacy_block a.stethoscope:before,
    .pharmacy_block a.book:before {
        left: 0;
    }
}
@media only screen and (min-width: 667px) and (max-width: 736px) {
    .pharmacy_block a {
        padding: 17px 18px 10px 18%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 769px) {
    .pharmacy_block a {
        text-align: left;
        padding: 14px 18px 9px 0px;
        padding-left: 15%;
    }
    .pharmacy_block a.stethoscope:before,
    .pharmacy_block a.book:before {
        left: 0;
    }
}
*/

/*@media only screen and (min-width: 480px) and (max-width: 960px) {
    .pharmacy_block {
        display: table;
    }
    .pharmacy_block .col-xs-6 {
        float: none;
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
}*/
/* Media for green buttons */

/*@media only screen and (min-width: 320px) and (max-width: 736px) {
    .pharmacy_block a:before {
        left: 0
    }
}*/
@media only screen and (min-width: 360px) and (max-width: 361px) {
    /*.pharmacy_block a {
        padding: 17px 8px 15px 15%;
    }*/
    /*.moreCategory.healthlinks-block div a:before {
        left: 0;
        top: 50%;
        margin-top: -13px;
    }*/
}
