.logo-checkout img, .ord-summary-img img { max-width: 100%; }
.topColor {
background-color: #003268;
height: 10px;
}
.logo-checkout { 
border-bottom: 1px solid #d1d1d1;
}
.checkoutSteps {
	padding: 20px 0px 0px 0px;
	overflow: hidden;
	clear: both;
	li{
		width: 23%;
		display: inline-block;
		float: left;
		margin-left: 5px;
		position: relative;
		@media only screen and (max-width: 479px) {
			margin-left: 3px;
		}
		a {
			font: 1.4em "Conv_ITCAvantGardeStd-Demi";
			color: #ffffff;
			display: block;
			background-color: #005baa;
			padding: 5px 0px;
			text-align: center;
			opacity: 0.5;
			line-height: 18px;
			padding-left: 15px;
			@media only screen and (max-width: 767px){
				font: 1.1em "Conv_ITCAvantGardeStd-Demi";
				line-height: 18px;
			}
			&:hover {
				text-decoration: none;
			}
			&.active {
				opacity: 1;
			}
		}
		&:after {
			position: absolute;
			content: "";
			top: 0px;
			right: -13px;
			width: 0; 
			height: 0; 
			border-top: 14px solid transparent;
			border-bottom: 14px solid transparent;	
			border-left: 14px solid #80add5;
			z-index: 10;
		}
		&:before {
			position: absolute;
			content: "";
			top: 0px;
			left: -1px;
			width: 0; 
			height: 0; 
			border-top: 14px solid transparent;
			border-bottom: 14px solid transparent;	
			border-left: 14px solid #fff;
			z-index: 9;
		}
		&.active{
			&:after {
				border-left: 14px solid #005baa;
			}
			&:before {
				border-left: 14px solid #fff;
			}
		}
		&:first-child {
		margin-left: 0px;
		}
	}
}
.checkoutTop {
	.backToLink{
		margin:0px 15px;
		@media only screen and (max-width: 480px){
			margin: 15px;
		}
	}
}
.backToLink {
	font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
	margin: 0;
	text-align: right;
	a {
		text-decoration: underline;
		&:hover, &:focus { 
			text-decoration: none;
		}
	}
}
.del-method.checkout-slider form#command {
	margin-top: 15px;
	@media only screen and (min-width: 768px) {
		float: right;
		margin-top: -30px;
	}	
}
#paymentDetailsBillingForm, #deliver_areaForm, #addressForm {	
	.control-group{
		margin: 0px;
	}
}
a.addNew {
    margin-bottom: 25px;
}
.storeSearchPostCode {
	height: 38px !important;
	background: url(../image/storesearchicon.png) no-repeat 10px center;
	padding-left: 40px !important;
	@media only screen and (max-width: 479px){
		padding-left: 34px !important;
	}
}
.deliver_areaSearch .btn-save-change {
	margin: 0px;
    padding: 12px 0px !important;
	line-height: 14px;
    width: 100%;
}
#isDeliverableDiv {
	clear: both;
	padding-top: 15px;
}
.checkout-left {
	margin-bottom : 5px;
	p { 
		padding: 0 0 0 20px;
		margin: -15px 0 0 0;
	}
	h2 {
		font: 1.4em "Conv_ITCAvantGardeStd-Demi";
    	border-bottom: 1px solid #d0d0d0;
    	padding-bottom: 10px;
	}
	.billinAvailable {display : none} 
	.del-method {border : 0}
	.form-wrap .check-hide+label span {
		font-family: "Conv_ITCAvantGardeStd-Md";
		color : #373737;
	}
}
.checkout-stage {
	margin-top: 20px;
	margin-bottom: 20px;
}
.orderSummOuter { 
	padding: 15px; 
		h2 {
			font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
		}
}
.ord-summary-total {
	border-top: 1px solid #d0d0d0;
	padding: 12px 0 0; 
	p { 
		margin: 8px 0;
		span {
			color: @default-text-color; 
		}
	}
	.summary-content {
		font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
		margin: 11px 0;
		text-align: right;
		span {
			color: @default-text-color; 
		}
	}
	.totalvat{
	margin-top: 16px;
	@media only screen and (max-width: 768px) {
		margin-top: 15px;
	}
		.price { font-family: "arial";  }
	}
	.price { margin: 11px 0; }
	.col-xs-3, .col-xs-4, .col-xs-8 {
		@media only screen and (max-width: 768px) {
			padding: 0px !important;
		}
	}
	.col-xs-9 {
		@media only screen and (max-width: 768px) {
			padding: 0px 5px 0px 0px !important;
		}
	}
}
.delivery_text .price.red {
    font: 12px "arial" !important;
    margin-top: 10px;
    display: block;
}
.specialCheckout {
	font: 12px "arial";
	color: @default-text-color;
	margin-top: 10px;
    display: block;
}
.grandTotal {
	.price { font-size: 2em;  }
}
.accountBodyContentSlot{
	.deliverPoints{
		padding: 15px;
	}
}
.order-summary-list { 
    ul {
        li  {
            border-top: 1px solid #d0d0d0;
            overflow: hidden;
            padding: 12px 0; 
			h4 {
				margin: 5px 0;
				font-size: 1.4em;
				color: @Grey;
			}
			p {
				margin: 0 0 5px 0;
				font-family: arial;
				color: @default-text-color;
				line-height: 1.475em;
			}
        }
    }
	.col-xs-3 {
		@media only screen and (max-width: 768px) {
			padding: 0px !important;
		}
	}
}
.ord-summary-img {
	float: left;
	width: 30%;
	text-align: center;
}
.ord-summary-content {
	float: left;
	width: 70%;
	padding-left: 15px;
	padding-right: 15px;
	h4 {
		margin: 0px;
	}
	small {
		/*display: block;*/
		font-size: 1.375em;
		font-family: "Conv_ITCAvantGardeStd-Bold";
		color: #005baa;
		.price-wrap {
			display: inline-block;
			.price.blue {
			    font-size: initial !important;
				display: inline-block;
			}
		}
	}
	.price-offer{
		display: inline-block;
		.price {
			    font: 1.3em arial !important;
			}
	}
}
.cart-page-deliver{
	padding-left: 25px !important;
	padding-right: 25px !important;
	@media only screen and (max-width: 480px) {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
.product-qty {
	float: left;
	width: 35%;
	text-align: center;
		.no_items span {
			color: #838383;
			font: 1.3em/1.475em arial;
		}
}
.savingsValue { 
	/*margin-left: -5px;*/
}
.checkoutTop { margin: 30px 0; }
.checkoutTop .acc-heading1 h1 {
    font: 4.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: #005baa;
    margin: 0;
}
.checkoutTop .acc-heading1 h1 span {
	font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
}
.secureCheck {
	font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: #005baa;
	padding-left: 20px;
    position: relative;
	&:before {
	display: block;
    background-image: url(../image/lock.png);
    background-position: 0 0;
    width: 12px;
    height: 13px;
    position: absolute;
    content: "";
	left: 0;
	top: 50%;
    margin-top: -8px;
	}
	
}
.order-summary-list { }
.checkoutFooter { padding: 0; }
.checkout-stage{
	.order-summary-list{
		.ord-summary-content{
			margin: 5px 0px;
			text-align: left;

			h4{
				margin: 0px 0px;
			}		
			.price-wrap{
				margin: 0px 0px;
			}
		}
	}
	.ord-summary-total{
		.ord-summary-content{
		margin: 5px 0px;
		text-align: left;				
			.price-wrap{
			margin: 0px 0px;
			}
		}
		.summary-content{
			margin: 3px 0px;
		}
		.totalvat{
			margin: 6px 0px 20px 0px;
			font-size: 1.8em;			
		}
		.grandTotal.main-total{
			font-size: 1.6em;
		}
		.delivery_text{			
			.red{
				padding-left: 15px;
				text-align: left;
				margin-top: 7px;
			}
		}
	}	
}
.offer-code-1{		
		text-align: right;
		display: block;
		color: #838383;
		font: 1.2em/1.475em arial;
}
.cart-page-deliver{
	.savings-tit{
		h4{
		  margin-top: 10px;
		 color: #cc0000;
		}
	}
	.savings-tit-1{
		margin-top: 0px!important;
	}
	.dis-text{
		.price{
		font-size: 20px;
		}
	}
}

/*Payment Page */
.payMethod{
	h2 {
	    margin-top: 0;
	    font-weight: normal;
	    color: #373737;
	    border-bottom: 1px solid #d0d0d0;
	    padding-bottom: 10px;
    }
	h3, h4 {
		font : 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
		color : #373737;
		margin : 0 0 5px 0;
	}
	h4 {
		font-family : "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
		margin: 15px 0;
	}
	span {
		font : 1.3em arial;
		color : #838383
	}
	.border-full {
		display : inline-block;
		border : 1px solid #eee;
		margin-right: 12px;
	}
	.paymentBtns {
	    margin: 10px 0;
	}    
}
#chSearchForm { 
	position: relative; 
	margin-bottom: 20px;
	.storesearchicon { left: 10px; }
	input.text { padding: 10px 25px 10px 40px; width: 362px; background-color: #fff; }
	.btn {
	padding: 12px;
    margin-top: -5px;
    margin-left: -5px; 
    margin-bottom: 0; 
	
	}
}
/*responsive*/ 
@media only screen and (max-width: 768px) {
	.orderSummOuter { margin-top: 20px; margin-bottom: 5px;}
	#chSearchForm { overflow: hidden; }
	#chSearchForm input.text { width: 75%; float: left; }
	#chSearchForm .btn { padding: 13px; width: 25%;  float: right; margin-top: 0; margin-left: 0;  }
	.confirmation-subscribe .btnSubscribe { padding: 8px 5px;  }
}
@media only screen and (max-width: 767px) {
	.backToLink { text-align: left; margin-top: 10px; }
	.checkoutTop .pull-right { float: none !important; } 
	footer.checkoutFooter  .copyright p.foot-otherlinks a, footer.checkoutFooter  .copyright p.foot-otherlinks span { width: 32.3%; }
	.checkout-left .btn-save-change { padding: 1.1em 3.5em; }
	.checkout-confirm-left .btn-save-change { padding: 1.1em 3.5em; } 
}
@media only screen and (max-width: 600px) {
	#chSearchForm .btn { padding: 12px 0; }
}
@media only screen and (max-width: 480px) {	
	/*#chSearchForm .btn { width: auto; }*/
	.payMethod .border-full {
		margin-right: 10px;
    	margin-bottom: 10px;
    }
}
@media only screen and (max-width: 320px) { 
	.checkoutTop .acc-heading1 h1 { font-size: 3.8em; }
	.savingsValue { /*margin-left: -6px;*/ }
}

/*checkout-confirm*/
.useAddressOuter { 
	span {
		 display: block;
	}
	input[type="checkbox"].check-hide+label.check-box::before { 
	top: 0;
    margin-top: 3px;
	}
}

.checkout-confirm-left, .ch-del-outer {
	p {  
		color: #838383;
		font: 1.3em/1.475em arial;
	}
	h2 { 
		font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
		margin-top: 0;
	}
	a {
		font: 1.4em "Conv_ITCAvantGardeStd-Demi";
		text-decoration: underline;
		&:hover {
		    text-decoration: none;
		 }
	}
	.pad-spacing{
		padding: 15px 20px;
	}
}
.checkout-confirm-left{
	.terms{
		
		 font-size: 11px;
		font-style: italic;
		a{
			font-size: 12px;
			color:#838383;
		}
	}
	.deliversearch{
		height: 38px;
		padding-left: 45px;
	}
	.pickup-store{
		.store_areaSearch{
			.icon_target{
				position: absolute;
				width: 38px;
				height: 38px;
				&:before{
					margin-top: -10px;
					margin-left: -7px;
				}
			}
			
			.btn-save-change{
				margin: 0;
				padding: 12px 0 !important;
				line-height: 14px;
				width: 100%;
			}
		}
	}
	.store_areaSearch.delivery{
		.icon_target{
			position: absolute;
			width: 38px;
			height: 38px;
			&:before{
				margin-top: -10px;
				margin-left: -7px;
			}
		}

		.btn-save-change{
		margin: 0;
		padding: 12px 0 !important;
		line-height: 14px;
		width: 100%;
		}
	}	
	.del-method{
		.resultName{
			    margin-top: 10px;
		}
	}
	.pick-store-box{
		margin-bottom: 0px;
		margin-top: 10px;
	}	
	.standard-courier-box{
		//margin-bottom: 10px;
	}
	.store_areaSearch{
		margin: 20px;
	}
	.deliver_areaSearch{
		margin: 20px;
		.deliver_areaSearch{
			margin: 0px;
		}
	}
	#isStoreDiv{
		clear: both;
	}
	#storeListDiv{
		.storeInfo{
			display: inline-block;
			font-size: 9px;
			float: right;
		}
		.storeLinks{
			display: inline-block;
			font-size: 9px;
			font-weight: normal;
			
			.selectStore{
				display: inline-block;
			}
			.showAllStores{
				display: inline-block;
				margin-left: 2px;
				display: none;
				float: right;
				cursor: pointer;
			}
			.storeCheckBox{
				float: left;
				
				input[type="checkbox"]{
					margin-right: 5px;
					margin-top: 5px;
				}
			}
		}
		.fetch_stores_item{
			font-family: arial;
			font-size: 14px;
			line-height: 1.3em;
			color: #838383;
			
			.fetch_stores_head{
				color: #373737;
				font: 1.1em/1.475em "Conv_ITCAvantGardeStd-Md",Arial,Helvetica,sans-serif;
			}
		}
		.store-search-content{
			display: block;			
			margin-bottom: 10px;
			
			.store-search-innercontent1{
				display: block;
				width: 100%;
				
				.fetch_stores{
					width: 80%;
					display: inline-block;
				}
				.price{
					width: 19%;
					display: inline-block;
					vertical-align: top;
					text-align: right;
				}
				.showStore{
					float: right;
					cursor: pointer;
				}
			}
		}
	}
	input[type="radio"]{
		margin-right: 10px;
	}
	.storeDeliveryAddress{
		.del-option-content1{
			    width: 100%;
			.del-option-content1-left{
				display: inline-block;
				width: 60%;
				.storeCheckBox{
					 display: inline-block;
				}
				#changeStoreButton{
					 display: inline-block;
				}
			}
		}
		.del-option-content1-right{
				display: inline-block;
				width: 40%;
				float: right;
				text-align: right;
		}
	}
	.delivery-info{
		font-style:normal;
		margin-left: 25px;
		margin-bottom: 10px;
		font: 12px "arial";
		color: #838383;
		line-height: 16px;
		
		.more-info{
			font: 12px "arial";
			color: #cc0000;
			display: block;
			a{
			  color: #cc0000;
			  font: 12px "arial";
			  display: inline-block;
			}
		}
		
		
	}
	.delivery-info-link{
		font-size: 12px;
		color: #cc0000;
		a{
			
			font-size: 12px;
			color: #cc0000;
		}
		.more-link{
			span, a{
				display: inline-block;
			}
		}
		span{
			display: block;
			a{
			display: inline-block;
			}
		}
	}
}
#storeInfo{
	.modal-header{
		p{
			margin: 0px;
			padding: 0px;
		}
		h4{
			margin: 0px;
			padding: 0px;
		}
		.close-btn{
			position: absolute;
			right: 0px;
			top: 0px;
			width: 35px;
			height: 30px;
		}
		.header3{
			font-size: 14px;
		}				
	}
	.store-hours{
		padding:0px;
		margin-top: 0px;
		text-align: left;
		
		.header4{
			border-top: 1px solid #e5e5e5;
			padding-top: 10px;
		}
		
		h2 {
			font: 1.6em "Conv_ITCAvantGardeStd-Md",Arial,Helvetica,sans-serif;
			margin: 5px 0px;
		}
		h3 {
			font: 1.375em/1.3em "Conv_ITCAvantGardeStd-Md",Arial,Helvetica,sans-serif;
			margin: 5px 0px;
		}
		
		.store-info{
			dl{
				dt, dd{
					color: #838383;
					font: 1.3em arial;	
					padding: 0 0 3px 0;
					vertical-align: top;
				}
				dt{
					display: inline-block;					
					width: 50%;
					float: left;					
				}
				dd{
					display: inline-block;
				}				
			}
			em{
				color: #838383;
			}
		}
		.contactStore{
			color: #838383;
			font: 1.3em arial;	
			padding: 5px 0 3px 0;
			vertical-align: top;
			text-align: left;
		}
	}
}
.shopPoints{	
	
	.red{		
		margin-bottom: 10px;	
		text-align: right;
		margin-right: 15px;
		font-size: 12px;
	}
	
	.voucher-code{
		text-align: right;		
		margin-right: 15px;
		font-size: 12px;
		padding-top: 10px;
		clear: both;
		
		h5{
			display: inline-block;
			font-size: 12px;
		}
		a{
			display: inline-block;
			margin-left: 10px;
			font-size: 12px;
		}
	}
	.vouchercode-title{
		h4{
			display: inline-block;
			float: left;
		}
		abbr{
			display: inline-block;
			border: 0;
			float: left;
			margin-top: 3px;
			margin-left: 10px;
		}
		span{
			display: block;
			background-image: url(../image/info-icon.png);				
			width: 16px;
			height: 16px;
		}
		.voucher-msg{
			width: 30px;
			height: 30px;
			display: inline-block;
			position: relative;
			margin-top: 3px;
			margin-left: 5px;
			
			.voucher-info{
				
			}
			.voucher-info-box{
				width: 250px;
				height: auto;
				border: 1px solid #838383;
				padding: 10px;
				display: none;
				position: absolute;
				background: #838383;
				z-index: 1000;
				color: #fff;
				margin-left: -229px;
				font-size: 12px;
				margin-top: 2px;
				border-radius: 5px;
				
				&:after{
					top: -16%;
					right: 6px;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(131,131,131,0);					
					border-bottom-color: #838383;
					border-width: 6px;
					margin-left: -10px;
				}
			}
		}
	}
	.vouchercode-box{		
		input[type="text"] {
			border: 2px solid #d2d2d2;
			border-right: none;
			float: left;
			font-size: 1.4em;
			line-height: 1em;
			margin: 0;
			padding: 9px 14px 8px 12px;
			width: 70%;
		}
		.btn-primary{
			float: left;
			line-height: 1.95em;
			padding: 5px 5px;
			width: 30%;
		}
	}
	.totaldiscount{
		text-align: right;
		padding: 11px 17px 0 0;
	}	
}
.col-lg-3.col-md-3.col-sm-12.col-xs-12 {
	.checkout-confirm-left{
		.pad-spacing{
			padding: 15px 10px;
		}
	}
}
.del-method {
	position: relative;
	border-bottom: 1px solid #d0d0d0;
    overflow: hidden;
    padding: 0 0 12px 0;
    margin: 0 0 12px 0;
	clear: both;
	word-wrap: break-word;
		a {
		font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
		text-decoration: underline;
		
		&:hover {
		    text-decoration: none;
		 }
		 &.edit {
			position: absolute;
			right: 0;
			bottom: 10px; 
			}
			&.edit.btn { 
			text-decoration: none;
			bottom: 12px; 
			}	
		}
	
	.confirm-content {
		color: #838383;
		font: 1.3em/1.475em arial;
		.price {
			font-size : 1.2em;
			display : inline;
		}
	}
}
.checkout-content{
	button {
		margin-top: 15px;
	}
}
.order-content {
		color: #838383;
		font: 1.3em/1.475em arial;
	}

.ch-del-outer { 
	.form-group { clear: both; }
}
.articleTop { 
	.subscribe-block {
		fieldset label { 
			margin: 0; 
			float: none;
		}
		input[type="text"] {
			float: none;
		}
	}
}
.confirmation-subscribe {
	input[type="text"] {
			    border: 2px solid #d2d2d2;
    border-right: none;
    float: left;
    font-size: 1.4em;
    line-height: 1em;
    margin: 0;
    padding: 13px 15px 12px;
    width: 285px;
	    height: 47px;
		}
}
.orderConfirm-top {
	margin-bottom: 20px; 
	.pull-left { font: 1.4em "Conv_ITCAvantGardeStd-Demi"; margin: 10px 0 10px 20px; }
	.pull-right { font: 1.2em "arial";   margin: 12px 20px  0  10px;}
	
 }
.order-outerWrapper { 
	.container { margin: 30px auto 20px; }
	.orderSummOuter { 
	ul li {
	&:first-child { border-top: none; }  
	}
	
	}
}
.order_con-content { border-bottom: none; margin-bottom: 0; }
.deliver_areaForm, .deliver_areaSearch {display : none}
.deliver_areaForm{
	.contact_method {
		.control-label{
			display: block;
		}
		.radioOuter {
			display: inline-block;
			margin-right: 15px;
		}
	}
	h3 {
		color: #373737;
		padding: 10px;
		border: 1px solid #d0d0d0;
	}
}
.choose_delivery_method {
	display: block;
    clear: both;
    overflow: hidden; 
	.price {
		margin: 7px 0px;
	}	
}
.moreaboutdelivery {
	clear: both;
	text-align: right;
	a{
		font: 1.4em/1.475em "arial";
	}
}
#moreAboutDelivery{
	.modal-dialog {
		text-align: left;
		h4 {
			margin: 0px;
		}
		a{
			font-size: inherit;
			font-weight: normal;
			font-family: arial;
			color: #005baa;
		}
	}
}

@media only screen and (max-width: 767px) {
	.confirmation-subscribe .btnSubscribe { width: auto; padding: 6px 5px; }
}
@media only screen and (max-width: 600px) {
	.del-method a.edit.btn { position: static; margin: 10px 0; }
	.confirmation-subscribe .btnSubscribe { padding: 11px 5px; } 
}
@media only screen and (max-width: 479px) {
	.confirmation-subscribe input[type="text"] { width: 200px; }
	.order-outerWrapper .container {
    margin-top: 20px;
}
}
#checkoutLogin {
	.col-lg-6, .col-md-6,.col-sm-12, .col-xs-12 {
		margin: 0 auto;
		float: none;
	}
	.btn-save-change { margin: 0px 0 15px; } 
}
/*@media only screen and (max-width: 320px) { 
	.cl-quick-links { 
		.pull-right, .pull-left { float: none !important; }
	}
}*/

.delMethodRate { 
	.price { 
	    margin-top: 5px;
	}
}
@media only screen and (max-width: 360px) { 
label[for=delMethodstand] { width: 90%; }


}