.main-container {
    a:hover {
        text-decoration: underline
    }
}
cite {
    font: 0.8em arial;
    color: #fff;
}
.CC_rewards_wrap .videoOuterWrapper {
    a {
        padding: 0;
    }
}
.bgdarkblue {
    background: #123e7e;
}
.darknavy {
    background: #003268;
}
.social-share {
	margin: 0px !important;
}
.financial_data {
    .bg-white();
    .clearfix();
    .bottom-marg();
    .border-block {
        &:nth-child(3n) {
            border-right: 0
        }
    }
    a {
        display: block;
        font: 1.4em arial;
        color: #838383;
        margin: 5px 0 0 0;
        text-decoration: underline;
    }
	.google-ads {
		margin-bottom: 15px;
		margin-top: 15px;
	}
}
.cmsimage img {
	max-width: 100%;
}
.videoOuter {
	position: relative;
	margin-top: 20px;
	a {
		cursor: pointer;
		display: block !important;
		&.popup {
			left: 50%;
			position: absolute;
			top: 50%;
			margin: -32px 0 0 -32px;
			background: url("../image/custom-sprite.png") no-repeat left -84px;
			width: 64px;
			height: 64px;
			opacity: 1;			
		}
	}
	img {
		max-width: 100%;
	}
	&:hover a {
		opacity: .8 !important;
	}
}
.clubMagindex .videoOuter { 
    margin-top: 0px !important;
}
.club_partner {
    margin: 20px auto 20px;
}
.healthTop.magzineTop .social-wrap ul li a {
	margin: 0px 20px 0 0;
	padding: 0px;
}
.healthTop.magzineTop .social-wrap ul li a img {
	margin-right: 5px;
}
.healthTop.magzineTop {
	.magazineContent {
		h3 {font-size : 1.2em; font-weight : normal;}
	}
}
.CC_rewards_wrap {
    .bg-white();
    margin-bottom: 20px;
    padding-bottom: 2em;
    padding-top: 2em;
    h4 {
   	    margin: 15px 0px 15px 0px;
    }
    a {
        background: #005baa;
        border: none;
        border-radius: 0;
        color: #fff;
        font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        line-height: 1em;
        padding: 1.2em 3.8em 1.2em;
        display: inline-block;
        &:hover {
            text-decoration: none
        }
    }
    ol {
        padding-left: 3em;
        padding-bottom: 1em;
        li {
            font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @blue;
            list-style-type: decimal;
            padding-bottom: 15px;
        }
    }
    /*.popup {
        left: 50%;
        position: absolute;
        top: 50%;
        margin: -32px 0 0 -32px;
        background: url("../image/clubcard_index/play-btn.png") no-repeat;
        width: 64px;
        height: 64px;
        cursor: pointer;
    }*/
    a:hover {
        opacity: 1
    }
}
.clubcard_icons_wrap {
    .bg-white();
    margin-bottom: 20px;
}
/*.club_points {
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: #005baa;
    padding: 2em 0;
    text-align: center;
    span {
        color: @default-text-color;
        display: block;
        margin: 5px 0 0 0;
    }
}*/
.clubcard_icons {
    font: 1.4em/1.475em arial;
    color: #838383;
    margin: 10px 0 0px 0;
    border-bottom: 1px solid #e6ecef;
    h3 {
        font: 1.15em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 15px 0 10px 0;
        a {
            font-size: 100%;
            font-family: inherit;
            text-decoration: none;
            color: inherit
        }
    }
    div[class^="col-"] {
        border-right: 1px solid #e6ecef;
        min-height: 275px;
        padding: 1.6em 2.5em;
        text-align: center;
        &:nth-child(3n) {
            border-right: 0;
        }
    }
    span {
        font: 0.85em arial;
        color: @default-text-color;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    a {
        font: 1em arial;
        display: block;
        color: @default-text-color;
        text-decoration: underline;
        margin: 5px 0 0 0;
    }
}
#createAccountJoinCC .saResident {
	margin-top: 15px;
}
.panel-group .panel-default.closed > a {
    background: #fff url("../image/arrow-up.png") no-repeat right center;
}
.panel-group .panel-default.closed > a:after {
	display: none;
}
/*.icon_wrapper {
    text-align: center;
    padding: 2em 2em;
    position: relative;
}*/
.cashback_dates {
    .content:first-child {
        div[class^="col-"] {
            border-right: 1px solid #e6ecef;
        }
    }
    div[class^="col-"] {
        padding-bottom: 2em;
        padding-left: 3em;
    }
}
.cashback-days {
    li {
        width: 44%;
        display: inline-block;
        font: 1.4em arial;
        color: #838383;
        line-height: 1.475em;
    }
}
.dates_display {
    width: 13%;
    display: inline;
    float: left;
    margin-right: 12px;
    &:last-child {
        margin: 0
    }
}
.date_val {
    color: #005baa;
    font: 3em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    background-color: #f2f5f7;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}
.month_val {
    color: #fff;
    font: 1.3em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    background-color: #005baa;
    display: inline-block;
    width: 100%;
    padding: 3px 0;
    text-align: center;
}
.promo_blocks {
    height: 275px;
    min-height: 275px;
    padding: 15px 7px;
    overflow: hidden;
    h3 {
    	margin: 0px 0 10px 0;
    }
    h4 {
        margin: 10px 0 5px;
    }
    .doubleBlock {
        width: 100%;
        .magazineImg {
            text-align: center;
            margin-bottom: 15px;
            img {
            	margin: 0 auto;
    			max-width: 100%;
            }
        }
    }
    p {
        margin: 0;
        line-height: 1.475em;
    }
}
.clubpromo {
    .banner_caption {
       /* h4 {
            margin: 5px 0;
        }
        p {
            height: 42px;
            margin-bottom: 10px;
            -webkit-line-clamp: 2;
        }*/
        .btn {
            margin: 0;
        }
    }
   /* .caption-inner {
        width: 55%
    }
    .bx-wrapper {
        margin: 0;
        .bx-viewport {
            left: 0
        }
    }
    .promo-wrap {
        background: transparent
    }*/
}

.moreclubindex {
    .clubMagindex {
        /*.magazineImg {
            float: left;
            width: auto;
        }
        .magazineContent {
            margin: 0;
            width: auto;
            a {
                font-size: 100%;
                font-family: inherit;
                color: inherit;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }*/
        &:last-child {
            padding-right: 0;
            .magazineImg {
                float: left;
                width: 47%;
            }
            .magazineContent {
                width: 49%;
                margin: 8px 0 0 10px;
                a {
                    font: 1.3em/1.475em "arial";
                    color: #838383;
                    text-decoration: underline;
                }
            }
        }
    }
    .home-clubcard();
    .blue-heading-bar span {
        font-size: inherit;
        display: inline
    }
    .magazineContent {
        float: left;
        h3 {
            font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin: 10px 0;
        }
        p {
            font: 1.4em/1.475em "arial";
            color: #838383;
            margin: 5px 0;
            word-wrap: break-word;
        }
        a {
            font: 1.3em/1.475em "arial";
            color: #838383;
            text-decoration: underline;
        }
    }
}
.modal-body iframe {
		width: 100%;
		height: 200px;
	}
@media only screen and (min-width: 768px) {
	.modal-body iframe {
		width: 560px;
		height: 315px;
	}
}
@media only screen and (max-width: 1023px) and (min-width: 320px) {
    .videoOuterWrapper {
        margin-top: 20px;
        text-align: center;
        img {
            max-width: 100%
        }
    }
    .promo_blocks,
    .clubcard_icons div[class^="col-"] {
        height: auto;
        min-height: inherit;
    }
    .caption-wrap img {
        display: inline-block
    }
    /*.club_points {
        padding: 2em 1em
    }*/
    .bx-wrapper .bx-pager {
        bottom: 10px;
    }
    .clubpromo .banner_caption .btn {
        width: auto;
        margin: 10px 0
    }
    .moreclubindex .magazineImg {
        margin-bottom: 10px
    }
    .clubcard_icons span {
        position: static;
        display: block;
        padding-bottom: 5px;
    }
    .clubpromo .banner_caption p {
        margin-bottom: 5px
    }
}
@media only screen and (max-width: 479px) and (min-width: 320px) {
    .dates_display {
        width: 26%;
        margin-bottom: 10px;
        margin-right: 15px;
    }
    .clubpromo .banner_caption p {
        height: 38px;
    }
    .cashback-days li {
        width: 100%
    }
    .moreclubindex {
        .clubMagindex {
            &:last-child {
                margin: 10px 0 20px 0;
                .magazineContent {
                    width: 48%;
                    margin: 0px 0 0 10px;
                    h3 {
                        margin: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .clubpromo {
        .btn {
            margin: 0 !important
        }
    }
    .caption-inner {
        width: 80%;
    }
    .moreclubindex .clubMagindex {
        &:last-child {
            margin-bottom: 20px;
            .magazineImg {
                width: auto;
            }
        }
        .magazineImg {
            margin-bottom: 0
        }
        .magazineContent {
            width: 100%;
        }
    }
    .banner_caption {
        top: 10px;
    }
}
@media only screen and (max-width: 570px) and (min-width: 480px) {
    .banner_caption {
        top: 10px;
    }
    .banner_caption h4 {
        max-height: 51px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }
}
/*for health lading page and cc index page fix*/
.articlePage .banner_caption, .v-n-s-Page .banner_caption {
    top: 20px;
    bottom: inherit;
		h4{
			height: 60px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
}