/* Variables */

@blue: #005baa; // Blue
@green: #8dc63f; // Green
@yellow: #ffd503; // yellow
@pink: #ed174b; // pink
@skyblue: #00aeef; // skyblue
@red: #cc0000; // Red
@darkBlue: #003268; // dark Blue ( header and footer color)
@lightGrey: #e6ecef; // lightGrey ( background-color )
@darkGrey: #222222; // lightGrey ( text heading color)
@Grey: #373737; // Grey( used in text color)
@black: #000000; // black
@lightGreen: #669900; // lightGreen( used in text color )
@white: #ffffff; // white
@default-text-color: #838383; // grey
@font-size-h1: 3.5em; // H1 (56px/16px = 3.5em)
@font-size-h2: 3.4375em; // H2 (55px/16px = 3.4375em)
@font-size-h3: 1.375em; // H3 (22px/16px = 1.375em)
@font-size-h4: 1em; // H4 (16px/16px = 1em)
@font-size-h5: 0.875em; // H5 (14px/16px = 0.875em) 
@font-size-h6: 0.75em; // H6 (12px/16px = 0.75em)
@para-text: 1.4em/2em arial;
/* Mixins */

.rounded(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
.transition-link {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.default-text {
    color: @default-text-color;
    font: 1.3em arial;
}
p {
    font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
/* Mixins ends */

.div-rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.stars {
    background-color: #ffcc00;
    margin-top: 10px;
}
span.stars.large {
    background: url("../image/pdp/star-empty.png") no-repeat scroll 0 0 transparent;
    width: 75px;
}
span.stars.large span {
    background: url("../image/pdp/star-fill.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
}
.rewardPoint {
    font-size: @font-size-h3;
    font-family: "Conv_ITCAvantGardeStd-Bold", Arial, Helvetica, sans-serif;
    span {
        font-size: 0.6em;
        vertical-align: super;
    }
    &.blue {
        color: @blue !important;
    }
}
body {
    /*font-family: arial;*/
    
    font-size: 100%;
    color: @darkGrey;
    position: relative;
}
a:hover,
a:focus,
.btn:hover,
.btn:focus,
.btn:active {
    text-decoration: none;
    outline: 0;
}
ul,
ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
h3 {
    font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
}
/** common styles **/

.darkBlue {
    color: @darkBlue;
}
.lightGreen {
    color: #6d9d16;
}
.darkPink {
    color: #a71454;
}
.magenta {
    color: #a81455;
}
.lavander {
    color: #a167af;
}
.orange {
    color: #f15a06;
}
.green {
    color: @green !important;
}
.blue {
    color: @blue !important;
}
.bg-white {
    background-color: @white;
}
.copyright p a:before {
    content: "";
    position: absolute;
}
.quick-links li a,
.top-nav .nav-tabs .active a,
.footer-links ul li a,
.btn {
    .transition-link;
}
.global-search input.text:focus,
.subscribe-block input[type="text"]:focus {
    border-color: @blue;
    transition: border-color 0.3s ease 0s;
}
.btn {
    background: @blue;
    border: none;
    border-radius: 0;
    color: @white;
    font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    line-height: 1em;
    &.btn-bg {
        font-size: 18px;
        min-width: 190px;
        padding: 20px;
    }
    &:hover {
        background-color: @black;
        color: @white;
    }
    &:active,
    &:focus,
    &:active:focus,
    &.focus,
    &.focus.active {
        color: @white;
        outline: none;
        background-color: @black;
    }
}
.btn-small {
    display: inline-block;
    background-color: #003268;
    color: #fff;
    font: 1.2em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    padding: 5px 8px;
    border: 0;
}
.competitionSocial {
    .btn-small {
        margin-right: 5px;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    .moreLinks {
        margin-top: 0;
    }
}
.competionClose {
    font-family: arial;
    font-weight: bold;
    color: #fff;
    background-color: #cc0000;
}
.competionOpen {
    font-family: arial;
    font-weight: bold;
    color: #838383;
    background-color: #e6ecef;
}
.primary_btn {
    padding: 1.2em 3.8em 1.2em;
    text-align:center;
}
.dropdown.open {
    position: relative;
    z-index: 9999;
}
#div-overlay,
#menu-overlay,
#menu-overlay-footer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	z-index: 999;
}
#div-overlay {
    z-index: 999;
}
.nav-tabs {
    overflow: hidden;
    li {
        float: left;
        margin: 0 2px 0 0;
        a {
            display: block;
            text-align: center;
            text-transform: capitalize;
        }
        &.active {
            margin-top: 2px;
        }
    }
}
.bx-wrapper {
    margin: 0 auto 20px;
}
.bx-wrapper .bx-controls-direction a {
    background: url("../image/custom-sprite.png") no-repeat left -42px;
    height: 42px;
    margin: 0;
    top: 35%;
    width: 25px;
    &.bx-prev {
        left: -60px;
        &:hover {
            background-position: left -42px;
        }
    }
    &.bx-next {
        background-position: left 0px;
        right: -50px;
        &:hover {
            background-position: left 0px;
        }
    }
}
.main-banner .bx-wrapper .bx-pager,
.main-banner .bx-wrapper .bx-controls-auto {
    bottom: 27px;
    left: -24.6%;
}
.main-banner .bx-wrapper .bx-pager.bx-default-pager a {
    background-color: @white;
    opacity: 0.6;
}
.main-banner .bx-wrapper .bx-pager.bx-default-pager a:hover,
.main-banner .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: none repeat scroll 0 0 @white;
    opacity: 1;
}
hr {
    border-color: #d1d1d1;
}
.arrow-white,
.arrow-blue,
.arrow-blue-sm {
    width: 0;
    display: inline-block;
    height: 0;
    margin: 0 0 0 10px;
    border-style: solid;
}
.arrow-blue {
    border-width: 5.5px 0 5.5px 8px;
    border-color: transparent transparent transparent @blue;
}
.arrow-blue-sm {
    border-width: 4.5px 0 4.5px 7px;
    border-color: transparent transparent transparent @blue;
}
.arrow-white {
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent @white;
}
.price {
    color: @red !important;
    font-size: @font-size-h3;
    font-family: "Conv_ITCAvantGardeStd-Bold", Arial, Helvetica, sans-serif;
    span {
        font-size: 0.6em;
        vertical-align: super;
    }
    &.blue {
        color: @blue !important;
    }
}
.price-wrap {
    line-height: normal;
    margin: 10px 0;
}
/*Share for social networking site */

.pdp .shareProduct {
    position: absolute;
    display: none;
    top: 90%;
    ul {
        margin: 0;
        list-style: none;
        width: 180px;
        position: absolute;
        left: 0;
        background-color: #f5f5f5;
        top: 0;
        border: 1px solid #7d9eba;
        padding: 0;
        overflow: hidden;
        li {
            float: left;
            padding: 16px 0 0px 10px;
            line-height: 0;
            a {
                width: 32px !important;
                height: 32px !important;
                display: block;
                &:before {
                    background: none;
                }
            }
        }
    }
    span.popup-left-arrow {
        background: url("../image/pdp/popup-left-arrow.png") no-repeat 0 0 !important;
        height: 8px;
        position: absolute;
        top: -7px;
        width: 16px;
        z-index: 99;
    }
    .popup-left-arrow:before {
        display: none;
    }
    .facebook_icon {
        background: url("../image/pdp/share-sprite.png") no-repeat 0 0 transparent;
    }
    .twitter_icon {
        background: url("../image/pdp/share-sprite.png") no-repeat 0 -32px;
    }
    .google_icon {
        background: url("../image/pdp/share-sprite.png") no-repeat 0 -64px;
    }
    .email_icon {
        background: url("../image/pdp/share-sprite.png") no-repeat 0 -96px !important;
    }
}
.promotions_home {
    background: #cc0000;
    padding: 12px 0;
    text-align: center;
    a {
        font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        display: inline-block;
        color: #fff;
        &:after {
            border-width: 4.5px 0 4.5px 6px;
            border-color: transparent transparent transparent #fff;
            width: 0;
            display: inline-block;
            height: 0;
            margin: 0 0 0 10px;
            border-style: solid;
            content: "";
        }
    }
}
/*  PLP Promo*/

.plp_promo {
    a {
        display: block;
        font: 1.6em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: #005baa;
        margin: 14px 0;
        &:after {
            border-width: 4.5px 0 4.5px 6px;
            border-color: transparent transparent transparent #005baa;
            width: 0;
            display: inline-block;
            height: 0;
            margin: 0 0 0 10px;
            border-style: solid;
            content: "";
        }
		div, p {
			display: inline;
			font-family: inherit;
			font-size: inherit;
			color: inherit;
		}
    }
}
@media only screen and (max-width: 767px) {
    .main-banner .bx-wrapper .bx-pager.bx-default-pager a {
        background-color: @white;
        border: 1px solid #4e8dc4;
        opacity: 0.6;
    }
    .main-banner .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .main-banner .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: none repeat scroll 0 0 #4ac5f3;
        border: 1px solid #4ac5f3;
        opacity: 1;
    }
    .main-banner .bx-wrapper .bx-pager,
    .main-banner .bx-wrapper .bx-controls-auto {
        bottom: 80px;
    }
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    display: block;
}
/*.header .userLogin {
    display: none;
}*/
#user-login-page {
	padding: 25px;
    background: #fff;
    margin: 30px 0px;
	@media only screen and (max-width: 768px) {
		padding: 20px 15px;
		padding-top: 5px;
	}
}
#user-login-page .userLogin {
	display: block !important;
}
#dialog {
    p {
        font-size: 100%;
        margin: 10px 0 0 0
    }
}
/* Media Queries */

@media only screen and (min-width: 240px) {
    html {
        font-size: 30px;
    }
    body {
        font-size: 31.25%;
    }
}
@media only screen and (min-width: 360px) {
    html {
        font-size: 26px;
    }
    body {
        font-size: 35.15%;
    }
}
@media only screen and (min-width: 480px) {
    html {
        font-size: 20px;
    }
    body {
        font-size: 46.8%;
    }
}
@media only screen and (min-width: 640px) {
    html {
        font-size: 16px;
    }
    body {
        font-size: 62.5%;
    }
}
@media only screen and (min-width: 600px) {
    html {
        font-size: 21px;
    }
    body {
        font-size: 62.5%;
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 15px;
    }
    body {
        font-size: 75%;
    }
}
@media only screen and (min-width: 1024px) {
    html {
        font-size: 10px;
    }
    body {
        font-size: 100%;
    }
}
#contact_email.error {
    border: 1px solid #cc0000;
}
.newError {
    margin: 0 auto;
    color: #c00;
    display: none;
    text-align: center;
    margin-top: 15px;
    font: 1.2em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
.reset_form {
    .bg-white();
    .pstrength-minchar {
        font: 1.3em/1.475em arial;
        color: #838383;
    }
    .form-wrap p {
        margin-bottom: 5px;
    }
}
.form-group select {
	 width: 100%;
}
select {
	padding: 11px;
    font: 1.4em arial;
    color: #838383;
    border : 1px solid #d6d6d6;
}
/*styles added for fixing default CSS*/
/*Rating Stars*/

.stars {
    background: url("../images/stars.png") repeat-x left center #cccccc;
    display: block;
    height: 14px;
    float: left;
    color: transparent;
}
/*required*/

.required.right {} table.store-openings {
    padding: 0;
    margin: 20px 0;
}
table.store-openings td {
    padding: 1px 8px !important;
    border-bottom: 1px solid #EEEEEE !important;
}
table.store-openings td.weekday_openings_day {
    padding: 1px 8px 1px 8px !important;
    font-weight: bold;
}
table.store-openings td.specialday_openings_date {
    padding: 1px 8px 1px 0 !important;
    font-weight: bold;
}
/*Cart and Pickup button*/

button.pickupInStoreButton{
    height: 40px;
    background: #000;
    color: #fff;
    border: 2px solid #000;
    padding: 0;
    width: 100%;
    font-size: 1em;
}
button.pickupInStoreButton {
    background: #fff;
    color: #000;
	margin-bottom:10px
}

.out-of-stock{
	background:#dedede;
	color:#747474;
	opacity:0.8 !important;
	box-shadow:0 1px 1px 0 #444 !important;
	-moz-box-shadow:0 1px 1px 0 #444 !important;
	-webkit-box-shadow:0 1px 1px 0 #444 !important;
}
/*alerts*/

.alert {
    padding: 12px;
    border: 1px dotted;
    margin: 0 0 20px 0;
}
.alert.positive {
    border-color: #339b01;
    color: #339b01;
}
.alert.negative {
    border-color: #c90400;
    color: #c90400;
}
.alert.neutral {
    border-color: #000;
    color: #000;
}
/*Scroller */

.span-24 > .scroller {
    padding: 40px 0;
}
.span-24 > .scroller .title {
    font-size: 1.167em;
    font-weight: bold;
    color: #666666;
    border-bottom: 1px solid #979797;
    padding: 0 0 5px 0;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}
.span-24 > .scroller ul li {
    width: 220px;
    margin: 0 20px 0 0;
}
.span-24 > .scroller ul li {
    width: 230px;
    margin: 0 10px 0 0;
}
.scrollerProduct {
    margin: 0 5px;
    display: block;
}
.scrollerProduct .thumb {
    padding: 0 0 20px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px dotted #c1c1c1;
}
.scrollerProduct .thumb img {
    width: 100%;
}
.scrollerProduct .details {
    color: #8f8f8f;
    padding: 0 40px 0 0;
}
.scrollerProduct .priceContainer {
    float: right;
    margin: 0 0 0 5px;
}
/*Scroller*/

.jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin .jcarousel-prev,
.jcarousel-skin .jcarousel-next {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 0;
    padding: 0;
    background: url("../image/scroller-sprite.png") no-repeat;
    margin: 0;
}
.jcarousel-skin .jcarousel-prev[disabled],
.jcarousel-skin .jcarousel-next[disabled] {
    opacity: 0.1;
    cursor: default;
}
.jcarousel-skin .jcarousel-prev-horizontal,
.jcarousel-skin .jcarousel-next-horizontal {
    top: 40%;
}
.jcarousel-skin .jcarousel-prev-horizontal {
    left: -30px;
    background-position: 0 0;
}
.jcarousel-skin .jcarousel-next-horizontal {
    right: -30px;
    background-position: right 0;
}
.jcarousel-skin .jcarousel-prev-vertical,
.jcarousel-skin .jcarousel-next-vertical {
    left: 50%;
    margin-left: -12.5px;
}
.jcarousel-skin .jcarousel-prev-vertical {
    top: -30px;
    background-position: 0 bottom;
}
.jcarousel-skin .jcarousel-next-vertical {
    bottom: -30px;
    background-position: right bottom;
}
.jcarousel-container-vertical {
    margin: 30px 0;
}
.jcarousel-container {
    background: #fff;
}
ul.jcarousel-skin {
    background: url("../images/spinner.gif") no-repeat center center;
    display: block;
    height: 100%;
    width: 100%;
    min-width: 50px;
    min-height: 50px;
}
/* hide loading */

ul.jcarousel-skin li {
    display: none;
}
.clonedInput {
    position: relative;
}
.btnDel {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 20px;
    height: 20px;
    text-indent: -999em;
}
.btnDel:before,
.btnDel:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #fff;
}
.btnDel:before {
    transform: rotate(45deg);
}
.btnDel:after {
    transform: rotate(-45deg);
}

.skip {
	display : none;
}
.modal-dialog {
	text-align : center;
}
/*Default table design  */
.table {
 font : 1.3em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
}
.searchPOS{
	padding:0 0 40px;
	.head{
		border-bottom:1px solid #d3d3d3;
		background: #efefef;
		padding: 1em 0;
	}
	.back a{
		float:right;
		width:65%;
		margin-top:1.1em;
	}
	.headline h4{
		text-align:center;
	}
	input#locationForSearch{
	    border:1px solid #d3d3d3;
		float: left;
		font-size: 1.4em;
		margin: 0;
		color: #555;
		min-height:47px;
		&:focus{
			outline:none;
		}
	}
	button#pickupstore_search_button{
	-webkit-appearance: button;
    cursor: pointer
	float: left;
    min-height: 47px;
	}
	ul {
		width:60%;
		margin:0 auto;
		li{
			float:left;
			&.loc-sym{
				width:10%;
				button{
					width:100%;
					min-height: 47px;
					margin-bottom:20px;
					position:relative;
				}
				.icon_target:before{
					top:0;
					bottom:0;
					left:0;
					right:0;
					margin:auto;
				}
			}
			&.loc-txt{
				width:70%;
				input{
					width:100%;
				}
			}
			&.loc-search{
				width:20%;
				button{
					width:100%;
				}
			}
		}
	}
}

.searchPOSPaging.clearfix{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #d3d3d3;
    padding: 3em;
    width: 100%;
	.foot{
		text-align:center;
		font:1em/1em "arial";
		.col-xs-3{
			padding-bottom:1em;
		}
		a{
			text-decoration:underline;
		}
	}
}
.moreLinks{
	padding-top:20px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
	.searchPOS {
		padding:0px 0 40px;
		ul{
			width:100%;
			li.loc-search button{
				padding:0.1em;
			}
		}
		.column.last.searchPOSContent{
			padding:0 10px;
		}
	}
	.searchPOSPaging.clearfix{
		.col-xs-3{
			padding:0 0 1em 0;
		}
	}
}
