.articleTop {
    &.conditionTop {
        h2 {
            height: auto;
        }
    }
}
.disclaimerWrapper {
    padding: 25px;
    p {
        font-family: arial;
        color: @default-text-color;
        margin: 0;
        line-height: 1.475em;
        font-size: 1.2em;
    }
}
.individualCondition {
    &.articlePage a.heart {
        margin-bottom: 10px;
    }
}
.vitSupBlock {
    margin: 0 0 10px 0;
    &.glossaryWrapper {
        li {
            font: 1.4em arial;
            color: #838383;
            display: block;
            line-height: 1.475em;
        }
    }
}
aside {
    .vitSupBlock {
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        h3 {
            font-size: 1.4em;
        }
    }
}
.individualCondition {
    .container {
        margin-bottom: 30px;
    }
}
.conditionTop {
    h2 {
        width: 70%;
        float: left;
    }
}
.leaderboardWrapper {
    margin: 15px 0px 0px 0px;
    padding: 0;    
    img {
        max-width: 100%;
    }
	a {
		margin: 0 !important;
	}
}
.individualCondition {
    .authorWrapper a {
        display: inline-block;
        font-size: 100%;
        margin: 0;
        font-weight: bold;
    }
}
/* conditional index page*/

.vitSupBlockWrapper .vitSupBlock.vitSupBlockTop {
    margin-bottom: 12px;
}
.bg-light-green {
    background-color: #8dc63f;
}
.v-n-s-Page .partner-wrap {
    margin-bottom: 20px;
}
/*condition List page*/

.conditionList {
    .tabOuterWrapper {
        padding-top: 25px;
        padding-right: 10px;
        margin-top: 0;
        margin-bottom: 30px;
        padding-bottom: 10px;
        .tabContentWrapper a {
            font: 1.3em arial;
            color: #838383;
            text-decoration: none;
            margin-bottom: 5px;
            display: inline-block;
            &:hover {
                text-decoration: underline;
                color: @black;
            }
        }
        .tabContentWrapper {
            width: 100%;
            margin-bottom: 5px;
        }
    }
    aside {
        /*margin-bottom: 30px;*/
    }
    .tabOuterWrapper #use.active a {
        color: #838383;
    }
    .contact-comm {
        margin-bottom: 20px;
    }
    .container {
        margin-top: 30px;
    }
    .image-center {
        margin-bottom: 20px;
    }
    .glossaryWrapper {
        margin-bottom: 20px;
    }
}
.health-center-slider,
.health-top-slider {
    a {
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        padding: 0px;
        position: relative;
        margin-bottom: 10px;
        &:before {
            top: 50%;
            margin-top: -15px;
        }
        &.heart-green-big:before {
            margin-top: -16px;
        }
        &.diabetes-green-big:before {
            margin-top: -17px;
        }
        &.cancer-green-big:before {
            margin-top: -17px;
        }
        &.weight-green:before {
            margin-top: -16px;
        }
        &.hiv-green:before {
            margin-top: -18px;
        }
        &.hiv-green {
            padding-left: 40px;
        }
    }
    li {
        position: static !important;
        height: auto !important;
        padding: 10px 0 10px 10px;
        img {
            display: inline;
            margin-right: 10px;
        }
    }
}
.hCWrapper {
    .bx-controls-direction a.bx-prev, .bx-controls-direction a.bx-next {
        /*top: 5px;*/
    }
    .bx-controls-direction a.bx-prev {
        left: -20px;
    }
    .bx-controls-direction a.bx-next {
        right: -20px;
    }
}
.hCWrapper .partner-spacing {
    padding-right: 30px;
    padding-left: 30px;
}
.cI .image-center {
    margin-bottom: 20px;
}
/*media*/

@media only screen and (max-width: 1024px) {
    .conditionList .tabOuterWrapper .tabs li.active a,
    .conditionList .tabOuterWrapper .tabs li.active {
        background-color: #e6ecef;
    }
    .conditionList .tabOuterWrapper .tabs li a,
    .conditionList .tabOuterWrapper .tabs li {
        background-color: #fff;
    }
}
@media only screen and (max-width: 768px) {
    .breadcrumb-block.articleBreadcrumb .articleBcRight a {
        margin-bottom: 10px;
    }
    .disclaimerWrapper {
        padding: 15px;
        margin-bottom: 10px;
    }
    .conditionList .tabOuterWrapper {
        padding-left: 10px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    .conditionList .image-center img {
        max-width: 100%;
    }
    .cI .symptomsChecker .medicine-list,
    .cI .symptomsChecker .manage-script {
        font-size: 1.4em;
    }
    .conditionList .symptomsChecker {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .individualCondition .authorWrapper .authorInfoWrapper {
        margin-top: 10px;
        width: 80%;
    }
    .conditionTop .moreLinks {
        clear: both;
        float: none;
    }
    .conditionTop h2 {
        width: auto;
    }
}
@media only screen and (max-width: 400px) {
    .individualCondition .authorWrapper .authorInfoWrapper {
        width: 70%;
        margin-top: 0;
    }
}
@media only screen and (max-width: 479px) {
    .health-center-slider a,
    .health-top-slider a {
        padding-bottom: 0;
        padding-top: 0;
    }
}
@media only screen and (max-width: 320px) {
    .hCWrapper .partner-spacing {
        padding-bottom: 0;
    }
    .health-center-slider li,
    .health-top-slider li {
        padding-bottom: 20px;
    }
}
.conditionList .tabOuterWrapper .tabContentWrapper {
    border-top: 3px solid #e6ecef;
}
/* health Landing page */

.healthSyptoms {
    position: relative;
    .magazineContent {
        position: absolute;
        bottom: 25px;
        left: 20px;
        margin-right: 20px;
        .btnBig {
            width: 100%;
        }
        h4 {
            font: 3.2em/1.475em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            color: @white;
            margin: 20px 0;
        }
        a {
            background: @blue;
            border: none;
            border-radius: 0;
            color: #fff;
            font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            line-height: 1em;
            padding: 1.1em 2.5em;
            width: 100%;
            display: block;
            text-align: center;
            &:hover {
                background-color: #000;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.health-slider-wrapper {
    padding: 10px 40px 10px 55px;
    .bx-controls-direction a.bx-prev {
        left: -30px;
        /*top: 10px;*/
    }
    .bx-controls-direction a.bx-next {
        right: -20px;
        /*top: 10px;*/
    }
}
.conditionsSliderOuter .bx-viewport {
    position: static !important;
}
.conditionsSlider {
    padding: 10px 0 0;
}
.conditionsSliderOuter .bx-wrapper {
    margin: 0;
}
.conditionsSliderOuter .bx-wrapper .bx-pager {
    margin-bottom: 10px;
}
.prod_table {
    border: 1px solid #ddd;
    font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
    color: #838383;
    thead {
        background: #005baa;
        color: #fff
    }
}
table caption {
    padding: .5em 0;
}
@media screen and (max-width: 767px) {
    table caption {
        border-bottom: 1px solid #ddd;
    }
}