.page_notfound {
    .createAccountOuter();
    .contact-wrap-top {
        h1 {
            margin: 40px 0 25px;
        }
        span,
        p {
            padding: 0;
            margin-bottom: 45px;
        }
    }
    div[class^="col-"] {
        float: none;
        margin: 0 auto
    }
    .redCommon {
        font-size: inherit;
        color: inherit;
    }
}
.contactUsForm button.primary_btn {
	margin-top: 10px;
}
.pagenfound {
    .blue-heading-bar {
        h2 {
            font-size: 2.2em
        }
        span {
            font-size: 1em;
            display: inline-block
        }
    }
}
#contactUsForm textarea {
	height: 164px;
}
.pagedata_wrapper {
    margin: 30px 0;
}
.contact-wrap-top {
    h1 {
        .bottom-space(5px);
    }
    span,
    p {
        font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @default-text-color;
        .bottom-space(35px);
        display: block;
        line-height: 1.475em;
        padding-right: 31%;
    }
}
.bottom-space(@space: 10px) {
    margin-bottom: @space;
}
.contact_data {
    font: 1.3em arial;
    color: #838383;
    line-height: 1.7em;
}
.contact-comm {
    .bottom-space(10px);
    .contact-info {
        margin: 0;
    }
}
.contactOuter {
    margin: 20px auto 30px;
    dd, dt, span, a, p {
        .contact_data();
    }
    .positive span {
        color: #339b01;
        font-family: inherit;
    }
    dl {
        margin: 0;
    }
    p {
        line-height: 1.475em;
        margin: 5px 0 10px;
        font-size: 1.4em;
    }
    address {
        .contact_data();
    }
    h3 {
        font: 1.8em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 0px 0 10px 0;
    }
    .btn-save-change {
        padding: 1.2em 3.8em 1.2em;
        width: 100%;
        margin-top: 6px;
        font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: #fff;
    }
}
.contact-info {
    font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 8px;
    span {
        color: #848484;
        font: 100% "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
}
.off-hours {
    .off-days {
        width: 100%;
        dt {
            width: 50%;
            display: inline;
            float: left;
        }
        dd {
            width: 49%;
            float: left;
            display: inline;
            margin-left: 0;
        }
    }
    a {
        display: block;
    }
}
.help-info {
    a {
        line-height: 1.5;
        font-size: 1.4em;
        display: block
    }
}
.contact-det {
    .bottom-space(10px);
    padding: 13px 19px 15px 19px;
}
.contact-det .cmsimage img {
	float: left;
	margin-right: 15px;
}
.contact-det.first-block {
    min-height: 173px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .contact-wrap-top span,
    .contact-wrap-top p {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .contact-det {
        padding: 13px 15px 15px 15px;
    }
    .contact-det {
        height: auto !important;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    .contact-info {
        span {
            display: inline;
            margin-top: 0px;
        }
    }
    .off-hours .off-days {
        width: 62%;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 414px) {
    .contact-info span {
        display: block;
        margin-top: 5px;
    }
}
.twitter_white {
    position: relative;
    &:before {
        top: 30%;
        left: -25px;
    }
}
/*For search results empty page  */

.searchErr {
    .bg-white();
    margin: 20px 0;
    padding: 0 0 20px 0;
    h2 {
        font: 2em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #005baa;
    }
    p,
    ul > li {
        font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #838383;
        display: block;
        line-height: 1.475em;
    }
    ul > li {
        list-style-type: circle;
        line-height: 1.7em;
    }
    p {
        color: @blue;
    }
}
#globalMessages {
	max-width: 978px;
    margin: 0px auto;
    .positive {
        span {
            color: #339b01;
        }
    }
    .redCommon {
        padding: 15px;        
        border: 1px solid #cc0000;
        color: #cc0000;
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        border-radius: .4em;
    }
	.alert {
		margin: 0px;
	}
}