.paddingNone {
    padding: 0;
}
.pad-spacing {
    padding: 15px 20px;
}
.successTick {
	display: none;
}
#secondBlock, #cR-3, #cR-4 {
	display: none;
}
.dontShow {
	display: none !important;
}
.Show {
	display: block !important;
}
@media only screen and (min-width:1024px){
#cR-1 .bg-white, #secondBlock .bg-white {
	min-height: 710px;
}
#cR-1 .bg-white.wo-h, #secondBlock .bg-white.wo-h{
	min-height: 480px;
}	
#cR-3 .bg-white, #cR-4 .bg-white {
	min-height: 550px;
}
}
#retrieveBtn, .btn-save-change {
	margin: 15px 0;
}
.form-disabled .checkFix label.control-label, .form-disabled .checkFix label.control-label::before,  .form-disabled .radioOuter label,  .form-disabled .radioOuter input.radio-hide[type="radio"]+label::before, .form-disabled input, .form-disabled select, .form-disabled button {
	cursor: not-allowed;
}
label.error {
	margin: 0px !important;
	font-size: 12px !important;
    font-weight: normal !important;
}
.form-inline .gender {
    margin: 12px 0 2px 0;
}
.form-wrap {
    .message {
        background-color: #fff0b2;
        padding: 10px;
        font: 1.4em/1.475em "arial";
        color: #333333;
        display: inline-block;
        margin: 10px 0;
    }
    label {
        position: relative;
    }
    input.error {
        color: #d71414;
        border-color: #d71414;
    }
    label.radio-box {
        margin-bottom: 7px;
        margin-top: 5px;
        display: inline-block;
        width: auto;
        float: left;
        font-family: arial;
    }
    a.btn {
        font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: #fff;
        text-decoration: none;
        display: inline-block;
    }
}
.createAccountOuter {
    h1 {
        font: 4.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        padding: 0;
    }
    .createWrapper {
        margin: 20px 0 10px 0;
        .createBoxWrapper {
            margin: 0 0 30px 0;
            .btn {
                display: block;
                margin-bottom: 10px;
                padding: 15px 50px;
            }
            .yesWrapper {
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
    }
}
.createTerms {
    margin-bottom: 0;
}
.createAccountOuter .createWrapper .createTerms .check-box span {
    margin: 0 0 0 20px;
    font: 1em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: #373737;
    display: inline-block;
}
.createAccountOuter .createWrapper .createTerms .check-box span span {
    font: 1em/1.475em "arial";
    color: @default-text-color;
    margin: 0;
}

.dobSa {
    .dob .year {
        margin-left: 0;
        padding-right: 0px;
    }
}
/*.form-control.error::-webkit-input-placeholder {
    color: #d71414;
}
.form-control.error:-moz-placeholder {
    color: #d71414;
}
.form-control.error::-moz-placeholder {
    color: #d71414;
}
.form-control.error:-ms-input-placeholder {
    color: #d71414;
}*/