@media only screen and (min-width: 500px) and (max-width: 767px) {
    .tb-res {
        .col-xs-12 {
            width: 50%;
            &.widthFull {
                width: 100%;
            }
        }
    }
}