.form-wrap {
    p {
        font: 1.3em/1.475em arial;
        color: #838383;
        margin-top: 0;
    }
    h3 {
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 0 0 10px 0;
        color: #333;
        span {
            font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        }
    }
    a {
        font: 1.4em/1.475em "arial";
        color: @default-text-color;
        text-decoration: underline;
        display: block;
        margin : 5px 0;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    h4 {
        font: 1.6em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 0 0 10px 0;
        color: @blue;
    }
}
.separator {
    border-bottom: 2px solid #f3f6f7;
    margin-bottom: 15px;
}
.alpha6 {
    margin-bottom: 30px;
    overflow: hidden;
}
.alpha7 .btn-save-change {
    position: absolute;
    bottom: 20px;
}
/*media queries*/

@media only screen and (max-width: 1023px) {
    .acc-col-6,
    .acc-col-7 {
        height: auto !important;
    }
    .alpha7 {
        margin-bottom: 30px;
    }
    .alpha7 .btn-save-change {
        position: static;
    }
}