.show-read-more .more-text, .editPwdInput, .edit-email-checkbox-validation {
    display: none;
}
.alpha5,
.alpha55 {
    margin-bottom: 30px;
}
.marg-none {
    margin-bottom: 0;
}
.row-full-height {
    height: 100%;
}
.pad-spacing {
    padding: 15px 20px;
}
.margin-spacing {
    margin-right: 20px;
}
input.radio-hide[type="radio"]:checked + label.radio-box::before {
    background-position: 0 -24px;
}
.load-order {
    padding: 30px 20px;
    .btn-load-articles {
        padding: 1em 4.4em;
        font-weight: normal;
        font: 1.11em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    }
}
.btn-save-change {
    padding: 1.1em 3.5em;
    ;
}
.forgotPassword {
    .control-group {
    	margin-bottom : 10px;
    }
}
.form-wrap {
    .form-group {
        position: relative;
    }
    h5 {
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 0 0 10px 0;
        color: #005baa;
    }
    .gender label {
        margin-bottom: 0
    }
    .check-hide+label span {
        padding-left: 20px;
        font-size: 1em;
    }
    .selectric-wrapper {
        margin-bottom: 0;
        width: 100%;
    }
    textarea {
        width: 100%;
        min-height: 178px;
        border: 1px solid #d6d6d6;
        resize: none;
    }
    label {
        span {
            font-family: arial;
            font-size: 0.9em;
            line-height: 1.3em;
            color: #838383;
        }
    }
    .radio-box span {
        margin-left: 21px;
    }
    .selectric .button {
        width: 24px;
    }
    .age-wrapper {
        float: left;
        width: 100%;
    }
    .dob {
        p.label {
            margin-left: 11px;
            margin-right: 0px;
        }
        .year {
            margin-left: 0px;
            padding-right: 0;
        }
        .dobWrapper .selectric-wrapper {
            margin-right: 0px;
        }
    }
    label {
        color: #373737;
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
}
.editprofiletop {
    border-top: 1px solid #e5e5e5;
    padding: 25px 0 25px;
    h1 {
        font-size: 4.4em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        font-weight: normal;
        margin: 5px 0 5px;
        span {
            font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        }
    }
    h4 {
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @default-text-color;
        margin: 0;
    }
    a {
        display: block;
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #373737;
        text-decoration: underline;
        line-height: 1.8em;
    }
    img {
        margin-top: 6px;
        border-radius: 50%;
        max-width: 100%;
    }
}
.edit-form-wrap {
    p {
        font: 1.3em arial;
        color: #838383;
        margin-top: 0;
        pading-right: 25px;
    }
    margin-bottom: 20px;
    .blue-heading-bar {
        h2 {
            display: block
        }
        span {
            display: inline-block;
            font: 0.7em arial;
            clear: both;
            margin: 0;
            padding: 0;
        }
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .editprofiletop h1 {
        font-size: 3em;
    }
}
@media only screen and (max-width: 1024px) {
    #province {
        width: 100%;
        float: left;
        margin-right: 10px;
        padding: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .acc-col-5,
    .acc-col-55 {
        height: auto !important;
    }
    .margin-spacing {
        margin-bottom: 0;
    }
    .btn-save-change {
        margin-bottom: 15px;
    }
    .form-wrap .form-inline .form-group {
        display: block;
    }
}
@media only screen and (min-width: 769px) {
    .filter .panel-group .no-toggle > a {
        cursor: default !important;
    }
    .filter .panel-group .no-toggle > a:hover {
        text-decoration: none !important;
        opacity: 1 !important;
    }
}