mark {
    color: @red;
    background: transparent;
}
.financial_top {
    .articleTop();
    margin-bottom: 40px;
    margin-top: 23px;
    h2 {
        height: auto;
        display: block;
        span {
            font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        }
    }
    p {
        height: 60px;
        margin: 15px 0 25px;
        -webkit-line-clamp: 3;
    }
}
.offer_details {
    mark {
        font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    }
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    span {
        font: 0.88em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        display: block;
    }
    margin-bottom: 30px;
}
.partner_offer {
    font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: @blue;
    text-align: center;
    span {
        font: 0.88em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        display: block;
    }
    a {
        font-size: 100%;
        display: block;
        margin-top: 5px;
        color: @blue
    }
    margin-bottom: 30px;
}
.policy_container {
    ul {
        padding-left: 1.5em;
        li {
            font: 1.4em arial;
            color: #848484;
            list-style-type: disc;
            line-height: 1.475em;
            padding-bottom: 5px;
        }
    }
}
.policy_outer {
    border-bottom: 1px solid #eee;
    background: @white;
}
.partners_wrap {
    .policy_container();
    ul {
    	padding : 15px 0 5px 1.5em;
    }
    margin-bottom: 20px;
    .partner_logo {
        .text-center();
        margin-bottom: 15px
    }
    .services_wrap {
        padding: 30px 0 28px;
        .cmsimage {
            .partner_logo();
            float: left;
            margin-right: 25px;
        }
        .partner_offer a.primary_btn {
            color: #fff;
            text-decoration: none;
            margin: 15px 0 0 0;
            width: 300px;
            padding: 1.2em 1em 1.2em;
            text-align: center;
        }
        ul li {
            a {
                font-size: 100%
            }
        }
        p {
            clear: left
        }
    }
    div[class^='col-lg-'] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
    p {
        a {
            font-size: 100%
        }
    }
}
.services_wrap {
    padding: 25px 10px 28px;
    h4 {
        font: 1.6em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: @Grey;
        margin: 0 0 10px 0;
        > span {
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
    }
    p {
        font: 1.4em/1.475em arial;
        color: #848484;
        margin: 0 0 10px 0;
    }
    .btn-small {
        margin-bottom: 12px;
        color: #fff;
        text-decoration: none;
        font: 1.2em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    }
    a {
        font: 1.4em arial;
        color: #848484;
        text-decoration: underline;
    }
    h5 {
        font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 0 0px 7px 0;
    }
    .policy_offer {
        color: @blue;
        text-align: center;
        a {
            color: @blue;
            font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            text-decoration: underline;
        }
    }
    .partner_offer {
        a {
            font: 1em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            color: @blue
        }
    }
}
.policy_enquiry {
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    margin: 30px 0;
    color: #333;
    span {
        color: @blue;
    }
}
.funeral_wrap {
    margin-bottom: 25px;
    span {
        font: 1.4em/2em arial;
        color: #838383;
    }
}
.funeral-table {
    text-align: center;
    border-top: 1px solid #e6ecef;
    margin-bottom: 5px;
    font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    .funeral-head {
        padding: 8px 7px;
        display: block;
        overflow: hidden;
        width: 100%;
    }
    .funeral_point {
        font: 1.1em/2em "Conv_ITCAvantGardeStd-Bold", Arial, Helvetica, sans-serif;
        color: @blue;
    }
    .funeral-data {
        font: 1em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        padding: 2px;
        line-height: 2em;
        &:nth-child(odd) {
            background: #f2f5f7;
        }
    }
}
.downloads {
    padding-bottom: 15px;
    .pdf-ico {
        position: relative;
        padding-left: 20px;
        top: 3px;
        padding-right: 20px;
        &:before {
            left: 0;
            top: 0;
        }
    }
}
.cover_details {
    margin-bottom: 25px;
    &.rules {
        ul, ol {
            padding-left: 2em;
            li {
                font: 1.4em arial;
                color: #848484;
                list-style-type: decimal;
                line-height: 1.7em;
                a {
                    font: 100% arial;
                }
            }
        }
    }
}
.regent_block {
    margin: 10px 0 30px;
    img {
        vertical-align: bottom;
        max-width: 100%
    }
    .services_wrap {
        display: table;
        padding: 20px 10px 7px;
    }
    .tab-content {
        display: table-cell;
        vertical-align: middle;
        float: none;
        text-align: center
    }
    .bg-white();
    p {
        font: 1.2em arial;
        color: #848484;
        line-height: 1.8em;
        margin: 4px 0 18px 0;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 320px) {
    .regent_block {
        .services_wrap {
            display: block
        }
        .tab-content {
            display: block;
            float: none;
            margin-bottom: 10px;
        }
    }
    .partners_wrap .services_wrap,
    .services_wrap {
        padding: 20px 0px;
        .policy_offer {
            text-align: left
        }
    }
    .funeral-table {
        text-align: left;
    }
    .downloads .pdf-ico {
        display: block;
        margin: 9px 0 0 0;
    }
    .offer_details {
        margin-bottom: 10px;
    }
    .policy_offer {
        margin-bottom: 20px;
    }
    .financial_top {
        p {
            display: block;
            height: auto
        }
        .image-center {
            margin: 25px 0 0 0
        }
    }
    .policy_enquiry span {
        display: block
    }
}