/** Footer **/

footer {
    font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    border-top: 1px solid #dadada;
    padding: 30px 0 0 0;
    position: relative;
    .footer-links {
        background-color: @blue;
        color: @white;
        padding: 24px 0 30px;
        span {
            display: block;
            font-size: 1.3em;
        }
        img {
            margin: 19px 0 0 0;
        }
        h5 {
            font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            margin: 0 0 .5em;
        }
    }
	.secure_payment_by {
		text-align: center;
		padding: 10px 0px;
		div {
			display: inline-block;
			margin: 0 10px;
		}
	}
}
.footer-links li a {
    color: @white;
    display: block;
    font-size: 1.2em;
    margin: 0 0 10px;
    line-height: 1.2em;
    &:hover {
        text-decoration: underline;
    }
}
.subscribe-block {
    overflow: hidden;
    padding: 0 10px 30px;
    form {
        float: left;
        margin: 0 25px 0 0;
    }
    fieldset label {
        color: @Grey;
        float: left;
        font-size: 1.6em;
        margin: 12px 20px 0;
    }
}
.subscribe-block input[type="text"] {
    border: 2px solid #d2d2d2;
    border-right: none;
    float: left;
    font-size: 1.4em;
    line-height: 1em;
    margin: 0;
    padding: 13px 15px 12px;
    width: 285px;
}
.btnSubscribe {
    float: left;
    line-height: 1.95em;
    padding: 10px 5px;
    width: 115px;
}
.shareBlock {
    float: left;
    overflow: hidden;
}
.shareBlock a {
    background: url("../image/sprite_share.png") no-repeat left top;
    display: inline-block;
    height: 44px;
    margin: 0 8px 0 0;
    text-indent: -9999px;
    width: 44px;
}
.shareBlock a.icon-fb {
    background-position: 0 -54px;
}
.shareBlock a.icon-gplus {
    background-position: 0 -162px;
}
.shareBlock a.icon-pinterest {
    background-position: 0 -162px;
}
.copyright {
    background-color: @darkBlue;
    color: @white;
    overflow: hidden;
}
.copyright {    
    font-size: 1.3em;
    margin: 0;
    padding: 15px 0;
}
.copyright p {
	margin: 0px;
	font-size: inherit;
}
.copyright .foot-otherlinks a {
    color: @white;
    padding: 0;
    margin: 0 0 0 25px;
    position: relative;
    white-space: nowrap;
	display: inline-block;
}
.copyright .foot-otherlinks a:before {
    content: "";
	position: absolute;
    background: url("../image/sprite.png") no-repeat left -483px;
    height: 14px;
    left: -12px;
    top: 1px;
    width: 2px;
}
.copyright .foot-otherlinks a:first-child:before {
    display: none;
}
.copyright .foot-otherlinks a:first-child {
    padding: 0;
}
/** Footer Ends **/
/** sticky Footer **/

#page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
html,
body {
    height: 100%;
}
/** sticky Footer Ends **/
/** media queries **/

@media only screen and (max-width: 991px) {
    footer {
        .subscribe-block {
            padding: 0 0px 30px;
            form {
                float: none;
                margin: 0;
                fieldset label {
                    display: block;
                    float: none;
                    margin-bottom: 30px;
                    text-align: center;
                }
                input[type="text"] {
                    border-width: 1px;
                    float: left;
                    line-height: 1.4em;
                    width: 75%;
                }
                .btnSubscribe {
                    width: 25%;
                }
            }
            .shareBlock {
                float: none;
                margin: 20px auto 0;
                width: 40%;
            }
        }
        .footer-links {
            padding-top: 0;
            text-align: center;
            h5 {
                margin-top: 2em;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    footer .footer-links {
        font-size: 12px;
        text-align: left;
    }
}
@media only screen and (max-width: 450px) {
    footer .subscribe-block .shareBlock {
        width: 65%;
    }
}
@media only screen and (max-width: 370px) {
    footer .subscribe-block .shareBlock {
        width: 80%;
    }
}
.footer-links .collapse {
    display: block;
}
/** media queries **/

@media only screen and (max-width: 767px) {
    footer .copyright .pull-left, footer .copyright .pull-right {
        float: none !important;
    }
    footer .copyright .foot-otherlinks a,
    footer .copyright .foot-otherlinks span {
        display: inline-block !important;
        width: 33.3%;
        margin: 5px 0;
        position: relative;
    }
    footer .copyright .foot-otherlinks a:first-child,
    footer .copyright .foot-otherlinks a:nth-child(4) {
        text-align: left;
    }
    footer .copyright .foot-otherlinks a:nth-child(2),
    footer .copyright .foot-otherlinks a:nth-child(5) {
        text-align: center;
    }
    footer .copyright .foot-otherlinks a:nth-child(3),
    footer .copyright .foot-otherlinks span {
        text-align: right;
    }
    footer .copyright .foot-otherlinks a:before {
        background: none;
    }
    footer .copyright .foot-otherlinks a:after {
        content: "";
        position: absolute;
        background: url("../image/sprite.png") no-repeat left -483px;
        height: 14px;
        top: 1px;
        width: 2px;
        right: 0px;
    }
    footer .copyright .foot-otherlinks a:nth-child(3):after {
        background: none;
    }
}
@media only screen and (max-width: 768px) {
    footer .subscribe-block {
        padding: 0 0 25px;
        .shareBlock {
            width: 55%;
            a {
                margin-right: 2px;
                margin-top: 25px;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .footerWrapper {
        padding: 0;
        margin-top: 20px;
    }
    footer .footer-links {
        text-align: center;
        padding-bottom: 0;
    }
    footer .footer-links .footerWrapper {
        h5 {
            font-size: 1.8em;
            margin: 0;
            position: relative;
            padding: 1.1em 0;
            &:after {
                content: "";
                position: absolute;
                right: 10px;
                top: 50%;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-top: 10px solid #ffffff;
                border-right: 8px solid transparent;
                margin-top: -4px;
            }
        }
        li {
            border-top: 1px solid #1f6fb4;
            padding-right: 15px;
            .collapse {
                margin: 10px 0 0;
                a {
                    padding: 5px 0 0;
                }
            }
        }
    }
    .footer-links .collapse {
        display: none;
    }
    footer .footer-links span {
        margin: 0 0 .5em;
    }
    footer .subscribe-block .shareBlock {
        text-align: center;
    }
}
@media only screen and (max-width: 479px) {
    footer .subscribe-block .shareBlock {
        width: 100%;
    }
}
@media only screen and (max-width: 991px) {
    footer .subscribe-block .shareBlock {
        width: 100%;
    }
    footer .subscribe-block form fieldset label {
        float: left;
    }
}