.forgotten-top {
    padding: 23px 0 23px;
}
.forgotten-wrap {
    .alpha4 {
        margin-bottom: 30px;
    }
}
.alternate-info {
    color: #373737;
    margin-top : 13px;
    font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    span {
        color: #005baa;
    }
    h6 {
        color: @default-text-color;
        margin: 0;
        font-size: 1em;
    }
}
/* forgotten details page min height setting */

.forgotten-wrap {
    .acc-col-4 {
        min-height: 380px;
    }
    .pad-spacing {
        padding: 15px 20px 30px;
    }
    p {
    	a {
    		display: inline;
    		font-size: 100%;
    	}
    }
    .btn {
    	padding: 1.1em 1em;
    }
    
}
/*integration fixes forgot popup */

.userLogin .error_msg {
    display: none;
}
.userLogin,
.fpassword-block {
    div.error_msg {
        font: 1.2em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #c00;
        border: 1px solid #c00;
        padding: 5px 12px;
        border-radius: 0.4em;
    }
}
@media only screen and (max-width: 321px) and (min-width: 320px) {
    .alternate-info {
        span {
            display: block;
        }
    }
}