input.ClubcardValue1[type=text]:disabled,
input[type=text].error:disabled::-webkit-input-placeholder {
    border-color: #d6d6d6;
    color: #838383;
}
select.error + .selectric {
    color: #d71414;
    border-color: #d71414;
}
.displayNone {
    display: none !important;
}
textarea {
font-family:Arial,sans-serif;
font-size:14px;
color:#555;
padding: 4px 6px;
}
input[type="text"], input.text {
padding:4px 6px;
font-size:14px;
line-height:20px;
color:#555;
vertical-align:middle;
display:block;
width:100%;
min-height:30px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
background-color:#fff;
border:1px solid #ccc;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}
.control-group {
    margin-bottom: 10px;
}
select {
font-size:14px;
font-weight:400;
line-height:20px;
font-family:Arial,sans-serif;
padding:4px 6px;
color:#555;
vertical-align:middle;
display:block;
width:100%;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
height:30px;
*margin-top:4px;
line-height:30px;
border:1px solid #ccc;background-color:#fff;
}
select:focus{
outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;
}
/*radio btn new design*/

.radioOuter input.radio-hide[type="radio"] + label::before {
    background: url("../image/form-sprite.jpg") no-repeat 0 -37px;
    content: " ";
    cursor: pointer;
    float: left;
    height: 13px;
    left: 0;
    top: 50%;
    position: absolute;
    width: 13px;
    margin-top: -6px;
}
.radioOuter label {
    padding-left: 20px;
}
.radioOuter input.radio-hide[type="radio"]:checked + label::before {
    background-position: 0 -24px;
}
#dobSaOuter {
    display: none;
}
.acc-col-5 {
    margin-bottom: 5px;
}
.radioOuter label {
    margin-bottom: 7px;
    margin-top: 5px;
    display: inline-block;
    width: auto;
    float: left;
    font-family: arial;
}
.checkFix label.control-label {
    padding-left: 20px;
}
.checkFix label.control-label::before {
    content: " ";
    width: 12px;
    height: 12px;
    background: url("../image/form-sprite.jpg") no-repeat 0 top;
    float: left;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 10px;
    margin-top: -7px;
	@media only screen and (max-width: 1024px) {
		display: none;
	}
}
.checkFix .check-hide:checked + input[type="hidden"] + label.control-label::before {
    background-position: 0 -12px;
}
.control-group.error label {
    color: #373737;
}
.errorMandatory .control-group .help-inline {
    display: block;
    color: #c90400;
    font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
.alert.negative,
.alert.neutral,
.alert.positive,
.alert.negative span,
.alert.neutral span,
.alert.positive span {
    font: 12px "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif !important;
}
.errorForScript {
    display: none;
}
.control-group.error input {
    color: #c90400;
}
/*Home page form error*/

#form_error {
    color: #d71414;
    font: 12px "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
    #form_error {
        margin-left: 250px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1700px) {
    #form_error {
        margin-left: 250px;
    }
}
@media only screen and (min-width: 1701px) {
    #form_error {
        margin-left: 250px;
    }
}
#forgottenPwdForm .control-group .help-inline {
    display: block;
    color: #d71414;
    font: 12px "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
#updatePasswordForm .control-group .help-inline {
    display: block;
    color: #d71414;
    font: 12px "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
#updatePasswordForm span.mandatory, #editNonClubCardForm span.mandatory, #editClubCardForm span.mandatory, #contactUsForm span.mandatory, #checkoutLogin span.mandatory {
    display: none;
}
label.error {
    color: #d71414;
}
.error input::-webkit-input-placeholder {
    border-color: #d6d6d6;
    color: #d71414;
}
.redCommon {
    font: 12px "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: #d71414
}
#createAccount .dobWrapper .help-inline {
    display: block;
    color: #c90400;
    font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
#clubCardRegister .control-group .help-inline {
    display: block;
    color: #d71414;
    font: 12px "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.heightFormFix {
    min-height: 285px;
}
#contactUsForm .control-group .help-inline,
.control-group.error .help-inline span {
    display: block;
    color: #d71414;
    font: 1.2em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
#updatePwdForm .control-group .help-inline,
.control-group.error .help-inline span {
    display: block;
    color: #d71414;
    font: 1.2em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
/*control-group is used everywhere please update for the particular page*/
.mandatory img {
    vertical-align: top;
    margin-top: 4px;
}
.successTick {
    float: right;
}
.createBtn {
    margin: 30px 0 20px;
}
.markettingMessage {
    color: #c90400;
    font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md";
    margin: 10px 15px 0;
}
@media only screen and (max-width: 1018px) {
	.createWrapper{
		#cR-4{
			.checkFix label.control-label{
				line-height: 29px;
			}
		}
	}
}