/*.blockWhite .acc-col-5 { min-height: 600px; }*/
.blockWhite .disclaimerWrapper { padding: 10px 0 0 0; }

#cR-1 #termsOuter #guru1 .check-hide:checked { background-color: red; }

.createWrapper{	
	#termsOuter,
	.join-club-card-inactive{
		display:none;
	}
	
	.form-disabled{
		cursor:not-allowed;
		opacity:0.7;
	}
}
