/* Header */

header,
footer {
    width: 100%;
}
.header {
    font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
}
.top-nav {
    background-color: @darkBlue;
}
.userLogin {
    .form-wrap h5 {
        margin-top: 10px;
    }
}
.loader {
    width: 18px;
    height: 18px;
    background: url(../image/loading.gif);
    display: inline-block;
    vertical-align: middle;
    margin: 0px 3px 0px 8px;
}
.quick-links {
    li.dropdown {
        float: left;
        margin: 0 0 0 15px;
        padding: 8px 0 8px 20px;		
		@media only screen and (max-width: 1024px) {
			padding-top: 10px;
			padding-bottom: 6px;
		}
    }
    .dropdown-toggle {
        color: @white;
        font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
		display: block;
		line-height: 30px;
        &:hover {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }
    }
}
.bigImg {
    display: block;
}
.quick-links li a.dropdown-toggle:before {
    left: 0px;
    top: 15px;	
}
/*
.quick-links li > a.order-presc::before {
    left: 3px;
    margin-top: -8px;
}
*/
.quick-links li > a.store:before {
    left: 5px;
}
.quick-links li > a.sign-in::before {
    left: -2px;
    top: 17px;
}
.sign-in.signedInUser:before {
    background: url("../image/logged-in.png") no-repeat left top !important;
}
.signedInUsericon {
	display: inline-block;
    width: 18px;
    left: -2px;
    position: absolute;
    height: 15px;
    top: 16px;
	z-index: 999;
	cursor: pointer;
	@media only screen and (max-width: 1024px){
		display: none;
	}
}
.mini-basket-icon {
	display: inline-block;
    width: 18px;
    left: -2px;
    position: absolute;
    height: 15px;
    top: 14px;
	z-index: 999;
	cursor: pointer;
	@media only screen and (max-width: 1024px){
		display: none;
	}
}
/*.quick-links li > a.basket::before {
    left: 0;
    margin-top: -10px;
}*/
.quick-links.dropdown {
    position: relative;
}
.dropdown-list {
    background-color: @white;
    display: none;
    left: -182%;
    padding: 20px 30px;
    position: absolute;
    top: 46px;
    z-index: 999;
    h3 {
        color: @blue;
        font-size: @font-size-h3;
        font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        margin: 0 0 19px;
    }
    .btn {
        font-size: 1.4em;
        line-height: 1.2em;
        margin: 0 0 10px;
        padding: 1em 0;
        width: 100%;
    }
    &.login {
        left: initial;
        right: -50%;
    }
}
.uppermenubox {
    padding: 17px 30px 20px;
	margin: 0px auto;
	@media only screen and (min-width: 375px) {
		width: 372px;		
	}
    h3 {
        color: @blue;
        font-size: @font-size-h3;
        font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        margin: 0 0 19px;
    }
    .btn {
        font-size: 1.4em;
        line-height: 1.2em;
        margin: 0 0 10px;
        padding: 1em 0;
        width: 100%;
    }
}
.find-store {
	@media only screen and (max-width: 1023px){
		padding:0px;
	}
    .btn {
        position: relative;
        text-indent: 22px;
        &:before {
            left: 58px;
            top: 11px;
        }
    }
    form {
        position: relative;
        .btnSearch {
            right: 20px;
            top: 14px;
        }
    }
}
.login {
    width: 372px;
    .remember {
        padding-left: 20px;
        span {
            padding: 0 !important;
        }
    }
}
.separator.dark-sep {
    border-bottom: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 0;
}
.acc-links-block {
    width: 252px;
    left: -30%;
}
.acc-drop-down {
    li {
        a {
            color: #373737;
            font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            padding: 5px 0px;
            display: block;
        }
        &:last-child {
            margin-top: 15px;
        }
    }
}
.link_line_break {
    margin-bottom: 30px !important;
}
.link_color_change {
    color: #cc0000 !important;
}
#storelocator-query {
	height: 45px;
} 
/*.basket-list {
    left: auto;
    right: -70%;
    width: 315px;
    .mini_basket_head {
        overflow: hidden;		
        h3 {
            display: inline-block;
        }
    }
    ul {
        overflow: hidden;
        li {            
            overflow: hidden;
            padding: 12px 0;
            &> a, article {
                float: left;
            }
        }
    }
    a {
        color: @darkGrey;
        font-size: 1.3em;
        text-decoration: underline;
    }
	.col-lg-3.col-md-3.col-sm-3.col-xs-3.paddingNone {
		width: 20%;
	}
	.col-lg-9.col-md-9.col-sm-9.col-xs-9.paddingNone {
		width: 80%;
	}
	.ord-summary-content {
		width: 75%;
	}
	.ord-summary-content {
		.delete_prod {
			float: right;
		}
		.offer {
			font-size: 1.3em;
		}
	}
	.ord-summary-total {
		.summary-content{
			color: #005baa !important;
			span.price{
			    font-size: 1.2em;
			}
		}
	}
	.offer_sticker {
	    margin: 10px 0;
	}
	.ord-summary-img {
		margin: 10px 0;
	}
}
.mobile-mini-basket {
	left: 0;
    width: 100%;
}
.mini-basket{
	right: -50%;
    left: auto;
}*/
.uppermenubox .badges,
.uppermenubox .badges span {
    height: 4.1em;
    line-height: 1em;
    width: 4.1em;
}

/*.badges {
    .rounded(50%);
    color: @white;
    font: 1.3em/1em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    float: left;
    height: 4em;
    width: 4em;
    &.pink {
        background-color: #ed174b;
    }
    &.blue {
        background-color: @skyblue;
    }
    &.red {
        background-color: @red;
    }
    span {
        color: @white;
        display: table-cell;
        height: 4.7em;
        text-align: center;
        vertical-align: middle;
        width: 4.7em;
    }
    &.no-badge {
        background: none;
    }
    img {
        display: block;
    }
}*/

/*.basket-list li article {
    width: 18em;
}
.basket-list li h4 {
    color: @Grey;
    font-size: 1.4em;
    margin: 0 0 7px;
    text-transform: capitalize;
}
.basket-list li p {
    color: @default-text-color;
    font-size: 1.4em;
    line-height: 1.6em;
}
.basket-checkout p,
.price {
    font-size: 1.4em;
}*/
.price sup {
    font-size: 0.6em;
}
/*.basket-checkout {
    padding: 20px 0 0 0;
}
.basket-checkout p {
    float: left;
}
.basket-checkout .btn {
    float: right;
    margin: 0;
    width: 9.8em;
}*/
.logo-block {
    padding: 23px 0 35px;
}
.site-logo > a {
    display: inline-block;
}
.site-logo > a img {
    margin: 0 2em 0 0;
}
.global-search input.text {
    border: 1px solid #ccc;
    font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    padding: 15px 25px;
    position: relative;
    width: 310px;
    color: #afafaf;
    background-color: #f5f5f5;
}
.auto-suggest {
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    li {
        position: relative;
        margin: 0;
        font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #838383 !important;
        padding: 0.5em 2.95em 1.2em 1.8em !important;
        cursor: pointer;
    }
    &.ui-autocomplete {
        width: 310px !important;
        padding: 10px 0;
        .ui-menu-item .desc .title {
            width: 100%;
        }
    }
    &.ui-corner-all {
        border-radius: 0;
    }
    &.ui-widget {
        font-size: 100%;
		z-index: 10 !important;
    }
    .ui-menu-item {
        border-top: 0;
        .ui-state-hover {
            background: none !important;
            color: #838383 !important;
            border: none !important;
            font: 100% "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif !important;
            zoom: 0 !important;
        }
        a:hover {
            display: block;
            padding: 0;
            font-weight: normal !important;
            color: #838383 !important;
            margin: 0;
            opacity: 0.8;
        }
    }
    .ui-menu-item .desc {
        margin: 0
    }
}
.btnSearch {
    background: url("../image/sprite.png") no-repeat left -96px;
    border: none;
    cursor: pointer;
    height: 17px;
    padding: 0;
    position: absolute;
    right: 15px;
    text-indent: -9999px;
    top: 17px;
    width: 17px;
}
.main-nav {
    background-color: @blue;
    position: relative;
    .nav-list {
        float: left;
        overflow: hidden;
        width: 70%;
        &.offers {
            float: right;
            width: 25%;
        }
    }
}
@media only screen and (min-width: 769px) {
	.main-nav .nav-list:first-child > li:first-child {
		padding-right: 10px;
	}
}
.main-nav .nav-list:first-child > li:first-child > a {
	background-color: #8dc63f;
	padding-left: 10px;
    padding-right: 10px;
	padding-bottom: 16px;
}
.main-nav .nav-list > li {
    float: left;
}
.main-nav .nav-list.offers > li {
    min-width: 55px;
    padding: 0 10px;
    &.col-md-3 {
        width: 50%;
    }
    &.nav-promo {
        background-color: @red;
        padding-bottom: 1px;
    }
    &.nav-news {
        background-color: @skyblue;
        padding-bottom: 1px;
    }
    &.nav-clubcard {
        background-color: @white;
        border-top: 1px solid #d1d1d1;
        & > a {
            color: #003268;
        }
        .link.read-online {
            text-align: center;
        }
    }
}
.main-nav .nav-list > li {
    padding-right: 20px;
}
.main-nav .nav-list > li > a {
    color: @white;
    line-height: 1em;
    padding: 15px 0;
    position: relative;
    text-align: center;
}
.main-nav .nav-list > li:hover > a:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent @white transparent;
    bottom: 0px;
    content: "";
    position: absolute;
    left: 50%;
}
.main-nav ul li a {
    color: #353535;
    display: block;
    font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    z-index: 2;
}
.main-nav .nav-list > li a:hover,
.main-nav .nav-list > li:hover a,
.main-nav li ul li a:hover {
    text-decoration: none;
}
.main-nav .nav-list .menu-list-links a {
    color: #353535;
    font: 1.4em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    padding: 3px 0;
    text-align: left;
    &.link {
        text-decoration: underline !important;
    }
    &:hover {
        color: @blue;
    }
}
.inner-menu {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    padding: 24px 0 0;
    position: relative;
    width: 978px;
    li {
        border: 0px !important;
        padding: 0px;
    }
    h3 {
        color: @blue;
        font-size: @font-size-h3;
        font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        margin: 0px 0px 5px 0px;
    }
    strong {
        display: block;
    }
    strong,
    span {
        text-align: center;
    }
    span {
        font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
    }
    p strong,
    p span {
        text-align: left;
    }
    .block.red {
        bottom: 5px;
        height: 70px;
        left: 0;
        position: absolute;
        top: auto;
        width: 470px;
    }
}
.inner-menu li a:hover {
    opacity: 0.6 !important;
}
.menu-list-links div {
    margin: 25px 0 0;
    a {
        color: #7a6fac;
    }
}
.menu-list-links {
    h4 {
        color: @green;
        font-size: 1.4em;
    }
    p {
        margin: 0 0 30px;
        strong {
            display: inline-block;
            margin: 5px 0 0 0;
        }
    }
}
.menu-list-links li > strong,
.menu-list-links li > span,
.nav-clubcard .inner-menu strong,
.nav-clubcard .inner-menu span {
    display: block;
    margin: 0;
}
.nav-clubcard .inner-menu strong,
.nav-clubcard .inner-menu span {
    text-align: center;
}
.nav-clubcard .inner-menu .menu-list-links .menu-block-images span  {
	text-align: left;
}
.nav-clubcard .inner-menu br {
    display: none;
}
.block {
    color: #fff;
    font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    clear: both;
    margin: 30px 0;
    padding: 15px 20px;
    text-align: center;
    position: relative;
    top: 25px;
    &.red {
        background-color: @red;
        color: @white !important;
        a {
            color: #fff;
            font-size: inherit;
            display: inline;
            text-decoration: underline;
        }
    }
}
.main-nav .nav-list section {
    background-color: #f8f8f8;
    left: 0;
    min-height: 350px;
    position: absolute;
    top: 44px;
    transition: all 0.2s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 99999;
    display: none;
}
.main-nav .nav-list.offers section {
    padding-bottom: 30px;
}
.top-nav .nav-tabs {
    li {
        a {
            background-color: @green;
            color: @white;
            display: block;
            font: 1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            ;
            line-height: 1em;
            min-width: 160px;
            padding: 15px 30px;
        }
        &.active {
            margin-top: 2px;
        }
    }
}
.top-nav .nav-tabs .active a {
    background-color: @white;
    color: #2170b5;
}
.top-nav .nav-tabs .clShop a {
    background-color: @blue;
    color: @white;
}
.top-nav .nav-tabs .active.clShop a {
    background-color: @white;
    color: #2170b5;
}
.top-nav .nav-tabs .active.clHealth a {
    background-color: @white;
    color: @green;
}
.main-nav#healthhub {
    background-color: @green;
}
.tab-pane.fade.in {
    display: block;
}
.tab-pane.fade {
    display: none;
}
.promo-link {
    font-size: 1.6em;
    margin: 25px 0 15px;
    position: relative;
}
#div-overlay,
#menu-overlay,
#menu-overlay-footer {
    background: url("../image/img_overlay.png") repeat 50% 50%;
    display: none;
}
.main-title {
    font: 4.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: left;
    span {
        font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
    }
}
/* Mobile Header */

.mb-logo {
    padding: 40px 0;
    text-align: center;
    a {
        display: inline-block;
        width: 80%;
        img {
            max-width: 100%;
        }
    }
}
.main-nav {
    display: block;
}
.mobile-header .nav-collapse {
    position: absolute;
    width: 100%;
    top: 158px;
    z-index: 9999;
}
@media only screen and (min-width: 769px) {
    /*healthhub*/
    
    .inner-menu {
        li {
            padding: 3px 0px !important;
        }
    }
    #healthhub {
        .nav-list {
            width: 100%;
            li.La {
                width: auto;
                padding: 0 25px;
                border-right: 1px solid #aad46f;
                &:first-child {
                    padding-left: 0;
                }
                a {
                    opacity: 0.9;
                }
                .menu-list-links {
                    li {
                        color: @blue;
                        border-right: 0px !important;
                        a {
                            color: #353535;
                            &:hover {
                                color: #8dc63f;
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-list-links .menu-block-images img {
        margin: 0px 10px 10px 0px;
    }
    #healthhub .nav-list > li.active > a,
    #healthhub .nav-list > li.active > a:hover,
    #healthhub .nav-list > li > a:hover,
    #healthhub .nav-list > li:hover > a {
        color: #fff !important;
        opacity: 1;
    }
}
@media only screen and (max-width: 768px) {
    .main-nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 223px;
        z-index: 9999;
    }
    .mobile-tabs {
        display: none;
    }
    .global-search input.text,
    input.text {
        width: 100%;
    }
    .auto-suggest {
        top: 47px;
    }
	.basket:before {
		display: none !important;
	}
	.basket-list{
		width: 100% !important;
	}
}
.opac-show {
    opacity: 0.8;
}
.mobile-nav-bar {
    background-color: @blue;
    nav {
        ul {
            font-size: 0;
            li {
                display: inline-block;
                vertical-align: top;
                width: 20%;
                font-size: 10px;
                a {
                    padding: 1em 0;
                    display: block;
                    text-indent: -9999px;
                    span {
                        background: url("../image/mb-out/mb-sprite.png") no-repeat 0 0;
                        display: block;
                        margin: 2px auto;
                        height: 19px;
                    }
                }
                a.signedInUser {
                    span {
                        background: url("../image/signedInUser.png") no-repeat 0 0;
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}
.mobile-nav-bar nav ul li a {
    span {
        background-size: 25px 159px;
    }
}
.mobile-nav-bar .icon-menu {
    span {
        background-position: 0 0;
        width: 20px;
        height: 16px;
        margin: 3px auto 4px;
    }
}
.mobile-nav-bar .icon-search {
    span {
        background-position: 0 -54px;
        width: 18px;
    }
}
.mobile-nav-bar .icon-sign-in {
    span {
        background-position: 0 -83px;
        width: 25px;
    }
}
.mobile-nav-bar .icon-locator {
    span {
        background-position: 0 -26px;
        width: 12px;
    }
}
.mobile-nav-bar .icon-desc {
    span {
        background-position: 0px -140px;
        width: 16px;
    }
}
.mobile-nav-bar .icon-cart {
	position: relative;
    span {
        background-position: 0 -111px;
        width: 20px;
		@media only screen and (min-width: 375px) and (max-width: 479px) {
			margin: 2px 0px 2px 20px !important;
		}
		@media only screen and (max-width: 374px) {
			margin: 2px 0px 2px 10px !important;
		}
    }
}
.mobile-header {
    .nav-tabs {
        & > li {
            margin: 0;
            width: 50%;
            /*border-left: 2px solid #005baa;
            border-bottom: 2px solid #005baa;*/
            &.active {
                margin: 0;
                /*border-bottom: 1px solid #d1d1d1;*/
                border-left: 0;
                & > a {
                    background-color: @green;
                    color: @white;
                }
            }
            & > a {
                background-color: @white;
                color: @blue;
                font: 2.4em/1.8em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
                padding: 0.5em 0.8em;
                position: relative;
            }
        }
    }
    li {
        .clicks-tab {
            display: none;
            .dropdown {
                float: none;
            }
        }
        a {
            text-align: left;
        }
        &.active .clicks-tab {
            display: block;
        }
    }
    /*.basket-list {
        width: 100%;
    }*/
}
.mobile-header .nav-tabs > li > a:after,
.mobile-header .nav-list .list-toggle:after,
.clicks-tab .nav-collapse .dropdown-menu li a:after {
    content: "";
    position: absolute;
    height: 14px;
    width: 23px;
}
.mobile-header .nav-tabs > li > a:after {
    right: 10%;
    top: 43%;
    width: 0;
    height: 0;
}
.mobile-header .nav-tabs > li.active > a:after {} .mobile-header .nav-list .list-toggle:after {
    background: url("../image/mb-arrow.png") no-repeat left -113px;
    right: 4.6%;
    top: 40%;
}
.mobile-header .nav-list .open .list-toggle:after {
    background-position: left -83px;
}
.clicks-tab {
    .nav-list {
        width: 200%;
        .dropdown {
            .list-toggle {
                background-color: @blue;
                border-top: 1px solid #337cbb;
                color: @white;
                display: block;
                font: 2.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
                padding: .9em .8em 1.05em .6em;
                position: relative;
                text-align: left;
            }
            &.nav-news a {
                background-color: @skyblue;
            }
            &.nav-promo a {
                background-color: @red;
            }
            &.nav-clubcard a {
                background-color: @white;
                color: @blue;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .clicks-tab .dropdown-menu li {
        float: none;
        margin: 0;
    }
    .clicks-tab .nav-collapse .dropdown-menu {
        border: none;
        box-shadow: none;
        position: static;
        top: auto;
        left: auto;
        display: none;
        float: none;
        max-width: none;
        padding: 0;
        margin: 0;
        li a, li h5 {
            background-color: @white;
            border-bottom: 1px solid #dadada;
            font: 1.83em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 29px 32px;
            text-align: left;
        }
        li h5 {
            color: @blue;
            font: 1.83em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        }
    }
    .clicks-tab .nav-collapse .open .dropdown-menu {
        display: block !important;
    }
    .clicks-tab .nav-collapse .dropdown-menu li a:after {
        background: url("../image/mb-arrow.png") no-repeat left -49px;
        height: 22px;
        right: 3.5%;
    }
}
@media only screen and (min-width: 641px) and(max-width: 767px) {
    .top-nav .nav-tabs li a {
        font-size: 1.2em;
        min-width: 125px;
        padding: 15px;
    }
    .quick-links .dropdown-toggle {
        font-size: 1em;
    }
    .inner-menu h3,
    .main-nav .nav-list .menu-list-links a {
        font-size: 1.2em;
    }
    .main-nav .nav-list {
        width: 75%;
        & > li {
            min-width: 65px;
        }
        &.offers {
            width: 24%;
            & > li {
                min-width: 45px;
                padding: 0 5px;
            }
        }
    }
    .main-nav ul li a {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 768px) and(max-width: 978px) {
    .main-nav ul li a,
    .main-nav .nav-list .menu-list-links a,
    .quick-links .dropdown-toggle,
    .top-nav .nav-tabs li a {
        font-size: 1.1em;
    }
    .quick-links li.dropdown {
        margin: 0 0 0 10px;
    }
    .main-nav .nav-list>li {
        min-width: 55px;
    }
    .main-nav .nav-list.offers>li>a {
        font-size: .7em;
    }
    .inner-menu h3,
    .menu-list-links p,
    .find-store .btn,
    .uppermenu h3 {
        font-size: 1em;
    }
    .main-nav .nav-list.offers>li {
        min-width: 45px;
        padding: 0 5px;
    }
    .main-nav .nav-list.offers {
        width: 25.5%;
    }
    .main-nav .nav-list {
        width: 74%;
    }
    .inner-menu {
        overflow: visible;
    }
    .inner-menu .block.red {
        bottom: -75px;
        font-size: 1em;
    }
    .find-store .btn:before {
        background-position: 0 -215px;
        left: 38px;
        top: 14px;
    }
    .top-nav .nav-tabs li a {
        padding: 15px;
        min-width: 139px;
    }
    #healthhub .nav-list li {
        padding: 5px;
    }
}
@media only screen and (min-width: 768px) and(max-width: 960px) {
    .login {
        width: 500px;
        left: -300%;
    }
}
@media only screen and (max-width: 768px) {
    #healthhub .nav-list li {
        padding: 5px;
    }
}
/*Styles by vandana */

@media only screen and (max-width: 768px) {
    .dropdown-list {
        left: -142%;
    }
    .quick-links li.dropdown {
        margin: 0;
        padding: 0;
    }
    .clicks-tab .nav-list {
        width: 100%
    }
    .main-nav .nav-list>li,
    .main-nav .nav-list.offers {
        width: 100%;
        padding-right: 0;
    }
    .main-nav .nav-list>li {
        &.active a:after {
            left: auto
        }
        a {
            text-align: left;
        }
    }
    .main-nav {
        background: #fff
    }
    .inner-menu {
        padding-top: 0
    }
    .main-nav .nav-list .menu-list-links a,
    .main-nav .nav-list .menu-list-links h3 {
        background-color: #fff;
        border-bottom: 1px solid #dadada;
        font: 1.83em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 20px;
        text-align: left;
    }
    .main-nav .nav-list section {
        display: none;
        visibility: visible;
        position: static;
        transition: inherit;
        min-height: inherit;
    }
    .mob-container {
        padding: 0;
        .nav-list {
            width: 100%;
            > li {
                > a {
                    border-bottom: 1px solid #dadada;
                    color: @blue;
                    font: 2.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
                    padding: .9em .8em 1.05em .75em;
                    &:after {
                        content: "";
                        position: absolute;
                        right: 5%;
                        top: 43%;
                        width: 0;
                        height: 0;
                        border-top: 6px solid transparent;
                        border-bottom: 6px solid transparent;
                        border-left: 8px solid @blue;
                    }
                }
            }
            &.offers {
                > li {
                    padding: 0;
                    a {
                        color: #fff;
                        &:after {
                            border-left: 8px solid #fff;
                        }
                    }
                    &.nav-clubcard {
                        a:after {
                            border-left: 8px solid @blue;
                        }
                    }
                }
            }
        }
    }
    /*Health hub design for mobile view */
    
    #healthhub .nav-list li {
        padding: inherit;
        border-right: 0;
    }
    .main-nav#healthhub {
        background: #fff;
    }
    .menu-list-links {
        display: none
    }
    .inner-menu h3 {
        padding: .9em .8em 1.05em 3em;
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 0;
        border-bottom: 1px solid #d1d1d1;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            right: 8%;
            top: 43%;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 8px solid @blue;
        }
    }
    .mobile-nav-bar nav ul {
        .clearfix();
    }
}
@media only screen and (min-width: 320px) and(max-width: 450px) {
    .mobile-header .nav-tabs > li > a,
    .mob-container .nav-list li a {
        font-size: 1.8em;
    }
}
.global-search {
    position: relative;
}
.search-blk {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    left: 0;
    width: 100%;
    .global-search {
        width: 100%;
        input.text, input.text {
            width: 100%
        }
    }
    .find-store {
        padding: 15px 20px;
        h3 {
            color: #005baa;
            font-size: 1.375em;
            font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            margin: 0 0 19px;
        }
        .btn {
            font-size: 1.4em;
            line-height: 1.2em;
            margin: 0 0 10px;
            padding: 1em 0;
            width: 100%;
        }
    }
}
.login-blk,
.store-blk,
.basket-blk {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    left: 0;
    width: 100%;
	padding: 15px;
    .login {
        width: 100%;
    }
}
.login-blk{
	padding: 20px 15px;
}
/*added by paramaguru*/

@media only screen and (max-width: 768px) {
    .mb-logo.visible-xs,
    .mobile-nav-bar.container.visible-xs {
        display: block !important;
    }
    .mobile-nav-bar.container.visible-xs {
        width: 100%;
    }
    .header.hidden-xs {
        display: none !important;
    }
    .main-nav .nav-list.offers>li>a {
        font-size: 2.4em;
    }
    .menu-list-links.col-sm-3 {
        width: 100%;
        clear: both;
        float: none;
    }
    .inner-menu h3 {
        padding: .9em .8em 1.05em 1.8em;
        font-size: 1.83em;
    }
    .main-nav .nav-list .menu-list-links a {
        padding-left: 1.2em;
    }
    .mob-container .nav-list>li>a {
        padding-left: 0.8em;
    }
    .main-nav .nav-list>li:hover>a:after {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 8px solid #005baa;
        left: inherit;
        right: 4%;
    }
    .main-nav .nav-list>li:hover>a.active:after {
        width: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #005baa;
        left: inherit;
        right: 4%;
    }
    .inner-menu h3:after {
        right: 8%;
    }
    .mob-container .nav-list>li>a:hover {
        opacity: 1;
    }
    .find-store .btn:before {
        background-position: 0px -1003px;
        left: 38px;
        top: 50%;
        margin-top: -10px;
    }
    .main-nav .nav-list.offers ul.menu-list-links li a {
        color: #353535;
    }
    .inner-menu h3.active:after {
        width: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #005baa;
        left: inherit;
    }
}
@media only screen and (max-width: 479px) {
    left: 30px;
}
@media only screen and (min-width: 1024px) {
    .dropdown-list.find-store {
        left: -262%
    }
}
.auto-suggest.ui-autocomplete .ui-menu-item {
    border-top: 0 !important
}
.auto-suggest.ui-autocomplete .seeAll {
    border-top: 1px solid #ccc !important;
    padding: 1em 2.95em 0.5em 1.8em !important;
}
.auto-suggest.ui-autocomplete .ui-menu-item a {
    margin: 0;
    border-top: 0 !important;
    border-bottom: 0 !important;
    line-height: normal;
}
.auto-suggest .ui-menu-item a:hover {
    margin: 0;
    border-top: 0 !important;
    border-bottom: 0 !important;
    line-height: normal;
}
.ui-autocomplete .ui-menu-item .desc {
    margin: 0 !important;
}
.ui-autocomplete .ui-menu-item .desc .title {
    width: 100%;
}
@media only screen and (max-width: 320px) {
    .inner-menu h3 {
        padding-right: 1.8em;
    }
}
.auto-suggest .ui-menu-item a:hover,
.auto-suggest .ui-menu-item a.ui-state-hover {
    color: #b6b6b6 !important;
}
.seeAll a {
    text-align: center;
}