.healthTop {
    margin-top: 20px;
    margin-bottom: 20px;
    h2 {
        font: 3.8em/1.2em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 0;
    }
    p {
        font: 1.3em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @default-text-color;
    }
    a {
        color: @default-text-color;
        text-decoration: underline;
    }
    h3 {
        font: 1.8em/1.2em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        color: @blue;
        font-weight: bold;
    }
}
.hLandingPage .container {
    margin-top: 30px;
}
.articleTop h3 {
    font: 1.8em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
.commonTab .tabs li.firstLi {
    font: 1.4em/1.475em "arial";
    text-align: center;
    border-right: 2px solid #e6ecef;
    padding: 20px 40px 23px;
}
.articleTagWrapper {
	display: block;
    clear: both;
}
.articleTag {
    display: inline-block;
    color: #999999;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin-right: 15px;
}
.commonTab {
    &.healthTab {
        li {
            a {
                color: @blue;
            }
            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
    }
    .healthTabWrapper {
        padding: 0 0 20px 0;
        margin: 0 0 20px 0;
        .tabThumbWrapper {
			margin-bottom: 25px;
            img {
                max-width: 100%;
            }
            h4 {
                margin: 15px 0 10px;
                font-size: 1.5em;
				line-height: 21px;
				@media only screen and (min-width: 500px) {
					height: 40px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}
                a {
                    color: @Grey;
                }
            }
            p {
                margin: 0;
                font: 1.4em/1.475em "arial";
                color: #848484;
				margin-bottom: 10px;
				line-height: 21px;
				@media only screen and (min-width: 500px) {
					height: 65px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
            }
            .tabThumbImage {
                position: relative;
				@media only screen and (min-width: 500px) {
					min-height: 196px;
				}
                .TagWrapper {
                    position: absolute;
                    bottom: 0;
                }
                .TagOuter {
                    display: inline-block;
                    background-color: #003268;
                    color: @white;
                    font-size: 12px;
                    font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
                    padding: 5px 8px;
                    margin-right: 5px;
                }
            }
        }
        .active-tab-outer {
            padding: 15px;
            overflow: hidden;
        }
        .container {
            margin-top: 10px;
        }
        .text-center {
            text-align: center;
            margin-top: -25px;
            margin-bottom: 20px;
        }
    }
}
.promo-wrap.health-slider-outer {
	margin-bottom: 20px !important;		
	.bx-wrapper {
		margin: 0 auto !important;
	}
}
.col-lg-4.col-md-4.col-sm-6.col-xs-12.appendLoadArticles {
	@media only screen and (min-width: 480px) {
		height: 350px;
	}
}
.home-promo-slider.product-slider {
	.categoryType {
        font-size: 1.3em;
        font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: @Grey;
        position: absolute;
	    top: 10px;
	    left: 20px;
        span {
            color: #838383;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
        &.red {
            color: @red;
        }
        a {
            color: @default-text-color;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            text-decoration: underline;
        }
    }
}
.health-slider {
	width: 100%;
	.bx-wrapper {
		width: 50%;
		float: left;
		@media only screen and (max-width: 768px) {
			width: 100%;
			float: none;
		}
	}
	#pagerSS-superSection {
		width: 50%;
		float: left;
		border-bottom: 1px solid #d1d1d1;
		@media only screen and (max-width: 768px) {
			width: 100%;
			float: none;
		}
		.details-block {
			background-color: #fff;
			border-top: 1px solid #d1d1d1;
			border-right: 1px solid #d1d1d1;
			@media only screen and (max-width: 768px) {
				border-left: 1px solid #d1d1d1;
			}			
			a {
				display: block;
				padding: 8px 15px;
				&.active {
					background-color: #8dc63f;
					position: relative;
					@media only screen and (min-width: 769px) {
						&:before {
							content: "";
							position: absolute;
							height: 60px;
							width: 20px;
							background: url("../image/green-active.png") no-repeat center center;
							left: -18px;
							top: 50%;
							margin-top: -30px;
						}
					}
					h4 {
						color: #ffffff;
					}
					p {
						color: #ffffff;
					}
				}
				&:hover{
					text-decoration: none;
					opacity: 1;
				}
				h4 {
					margin: 0px 0px 5px 0px;
					padding: 0;
					font-size: 14px;
					color: #373737;
					@media only screen and (min-width: 769px) {
						height: 35px; 
						overflow: hidden; 
						text-overflow: ellipsis; 
						display: -webkit-box; 
						-webkit-line-clamp: 2; 
						-webkit-box-orient: vertical;
					}
				}
				p {
					font-size: 12px;
					color: #838383;
					padding: 0;
					margin: 0;
					@media only screen and (min-width: 769px) {
						height: 30px; 
						overflow: hidden; 
						text-overflow: ellipsis; 
						display: -webkit-box; 
						-webkit-line-clamp: 2; 
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
}
/*.health-slider.special-center {
	#pagerSS-superSection{
		#bx-pager-superSection{
			.details-block{
				h4{
					display: table-cell; 
					height: 70px; 
					vertical-align: middle;
				}
				p{
					display: none;
				}
			}
		}
	}
}*/
@media only screen and (min-width: 1024px) {
	.product-slider.health-promo-slider {
		height: 406px;
		overflow: hidden;
	}
	.healthSyptoms {
		min-height: 406px;
	}
}
.partner-wrap .health-slider-wrapper .health-top-slider li {
    width: auto !important;
    padding: 10px 0.52%;
    float: left;
}
ul.health-promo-slider.product-slider li {
	float: left;
	@media only screen and (min-width: 1024px) {
		height: 406px;
		width: 642px;
	}
	img {
		@media only screen and (min-width: 1024px) {
			height: 406px;
			width: 642px;
		}
	}
}
.hLandingPage {
    .magazineWrapper .magazineContent {
        width: 48%;
        margin-top: 10px;
    }
    .magazineWrapper {
        margin-bottom: 30px;
    }
}
/* magazine Landing page */

.magzineTop {
    .authorWrapper .authorInfoWrapper {
        width: 90%;
        margin-top: 2px;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .authorWrapper .authorInfoWrapper .authorTitle {
        color: #333;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
    .authorInfo {
        margin: 2px 0;
    }
    .social-wrap {
        margin: 0 0 20px 0;
        h3 {
            font: 1.3em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: #333333;
            margin-top: 0;
            margin-bottom: 5px;
        }
        li {
            float: left;
        }
        a {
            position: relative;
            padding: 0 0 0 20px;
            margin: 0 20px 0 0;
            font: 1.3em/1.475em "arial";
            color: #909090;
            &:before {
                left: 0;
                top: 50%;
            }
            &.twitter-grey:before {
                margin-top: -6px;
            }
            &.fb-grey:before {
                margin-top: -8px;
            }
            &.youtube-grey:before {
                margin-top: -6px;
            }
        }
    }
    .fb-like-page img {
        max-width: 100%;
    }
}
/*media queries*/

/*@media only screen and (min-width: 768px) and (max-width: 768px) {
    .commonTab .healthTabWrapper .tabThumbWrapper {
        margin-bottom: 20px;
    }
    .commonTab .healthTabWrapper .tabThumbWrapper h4 {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .commonTab .healthTabWrapper .tabThumbWrapper p {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .hLandingPage .magazineWrapper .magazineContent {
        margin-top: 0;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .commonTab .healthTabWrapper .tabThumbWrapper h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .commonTab .healthTabWrapper .tabThumbWrapper p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}*/
@media only screen and (max-width: 767px) {
    .commonTab .healthTabWrapper .active-tab-outer {
        padding: 0;
    }
    .healthTabOuter {
        margin: 0;
    }
    .commonTab .healthTabWrapper .tabThumbWrapper {
        margin-bottom: 20px;
    }
    .commonTab .healthTabWrapper .tabThumbWrapper .tabThumbImage {
        margin: 0 auto;
    }
    .commonTab .healthTabWrapper .text-center {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0;
    }
}
@media only screen and (max-width: 320px) {
    .commonTab .healthTabWrapper .tabThumbWrapper .tabThumbImage {
        width: auto;
    }
}
@media only screen and (max-width: 480px) {
    .commonTab .healthTabWrapper .tabThumbWrapper p {
        height: auto;
    }
    .active-tab-outer .col-xs-12 {
        padding: 0;
    }
}
@media only screen and (min-width: 481px) and (max-width: 568px) {
    .commonTab .healthTabWrapper .tabThumbWrapper .tabThumbImage {
        width: auto;
    }
    .active-tab-outer .col-xs-12 {
        padding: 0 15px;
    }
}
@media only screen and (max-width: 768px) {
    .commonTab.healthTab li {
        float: none;
        text-align: left;
        padding-bottom: 0;
    }
    .commonTab.healthTab li.active {
        padding-bottom: 0;
    }
    .commonTab.healthTab li.active a {
        color: #222;
    }
    .commonTab.healthTab li a {
        padding: 12px 0 12px 15px;
        width: 47%;
        float: left;
        border: 1px solid #e6ecef;
        margin: 0px 10px 10px 0;
    }
    .commonTab.healthTab li:nth-child(odd) a {
        margin-right: 3px;
        width: 46%;
    }
    .commonTab .tabs li.firstLi {
        padding: 10px;
        text-align: left;
    }
    .commonTab.healthTab .border-line {
        display: none;
    }
    .healthTab .tabs {
        margin-bottom: 20px;
        margin-left: 15px;
    }
    .commonTab .healthTabWrapper .tabThumbWrapper img {
        width: 100%;
	    min-height: 171px;
    }
    .fb-like-page {
        margin-top: 20px;
    }
    .magzineTop .social-wrap li {
        float: none;
        margin-bottom: 5px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .healthTab .tabs {
        margin-left: 30px;
    }
    .commonTab.healthTab li a {
        margin-right: 25px;
    }
}
@media only screen and (max-width: 480px) {
    .magzineTop .authorWrapper .authorInfoWrapper {
        width: 80%;
    }
    .magzineTop .social-wrap {
        margin-bottom: 10px;
    }
}
.guruTesting {
    .symptomsChecker {
        width: 33.33333333%;
        float: left;
        padding: 0 15px;
        &:last-child {}
    }
}
/* fix for button changed to a tag - paramaguru*/

.promo-wrap a.btn:hover {
    text-decoration: none;
}
.healthTwitter {
    .timeline {
        max-width: 800px !important;
    }
}
/* fix for super section right side block */

.customBlock .home-promo-img {
    float: right;
}
.v-n-s-Page .customBlock .banner_caption {
    top: inherit;
    bottom: inherit;
    position: static;
}
.v-n-s-Page .customBlock .home-promo-text {
    width: 50%;
    margin-left: 10px;
}
.v-n-s-Page .customBlock .banner_caption p {
    height: auto;
    display: block;
}
.v-n-s-Page .customBlock .caption-inner {
    display: block;
    width: 100%;
}
.customBlock .banner_caption .caption-wrap {
    display: block;
}

/* for  Rich media module */
.slider-ss-content {/* width: 50%; float: right;*/
float : left; width : 68% }
.bxslider-ss-outer h4 { margin-top: 0; margin-bottom: 5px;     }
.bxslider-ss-outer .slider-ss-image { width : 30%; float: left; margin-right : 15px; }
.bxslider-ss-outer { margin: 10px 0 20px; padding: 20px; }
.bxslider-ss-outer .bx-wrapper { margin-bottom: 20px; }
.bxslider-ss-outer .bx-wrapper img { width: 285px; height: 250px; }
.bxslider-ss-outer .bx-wrapper .bx-controls-direction a { display: block; text-indent: 0; background-image: none; height: auto; width: auto; background-color: #8dc63f; color: @white; font: 1.2em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif; padding: 2px 8px; letter-spacing: 1px; }
.bxslider-ss-outer .bx-wrapper .bx-controls-direction a:hover { text-decoration: none; }
.bxslider-ss-outer .bx-wrapper .bx-has-controls-direction {  }
.bxslider-ss-outer .bx-controls-direction { width: 68.5%; float: right; margin-bottom: 10px; }
.bxslider-ss-outer #bx-pager { height: 70px; overflow: hidden;  transition: margin-left 0.5s;  }
.bxslider-ss-outer .bx-wrapper .bx-controls-direction a.bx-prev { float: left; left: inherit; bottom: 0; top: inherit; }
.bxslider-ss-outer .bx-wrapper .bx-controls-direction a.bx-next { float: right; top: inherit; right: 0; bottom: 0; }
.bxslider-ss-outer #pagerSS { overflow: hidden; margin: 0 auto; }
.bxslider-ss-outer #pagerSS {  /*width: 600px;*/ }
.bxslider-ss-outer #bx-pager img { opacity: 0.6; width: 65px; }
.bxslider-ss-outer #bx-pager a { float: left; }
.bxslider-ss-outer #bx-pager a.active img { opacity: 1; }
.bxslider-ss-outer #bx-pager a img { margin-right: 10px; margin-bottom: 10px; float: none; }
.bxslider-ss li {
	margin-right: 2px;
}
/*.slider-ss-content p { height: 107px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical; margin-top: 0; }*/
 .slider-ss-content p { 
    max-height: 207px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    margin-top: 0;
    color: #838383;
    font-size: 1.4em;
    line-height: 1.3em;
    font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
}
.slider-ss-content ul {
	padding-left: 15px;
}
.slider-ss-content ul li { 
    color: #838383;
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
	list-style: initial;
}
.health-depth-Outer .vitSupBlock ul { height: 222px; overflow-y: auto; }


@media only screen and (max-width: 767px) {
	.bxslider-ss-outer #bx-pager { display: none; } 
	.slider-ss-content { width: 100%; }
	.bxslider-ss-outer .bx-wrapper img { float: none; margin: 0 auto; }
	.slider-ss-content p { height: auto; }
	.bxslider-ss-outer .bx-controls-direction { width: 100%; float: none; }
	.bxslider-ss-outer .bx-wrapper .bx-controls-direction a.bx-next, .bxslider-ss-outer .bx-wrapper .bx-controls-direction a.bx-prev {
		    bottom: -20px;
	}
	
}
@media only screen and (max-width: 768px){
	.bxslider-ss-outer .slider-ss-image {
		width : 100%; float: none; margin-right : 0px; margin-bottom : 15px;
	}
	.slider-ss-content { width: 100%; }
	.bxslider-ss-outer .bx-controls-direction { width: 100%;float: none;}	
	.bxslider-ss-outer .bx-wrapper img{ margin: 0px auto;}
}
label.date {
	display : none; 
	font : 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
	margin-bottom : 10px !important;
}
.flu_video {
	>h4 {
		font-size : 1.8em;
	}
	.videoOuter {
	    float: left;
    	margin : 0;
    	+a {
		    font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
		    float: left;
    		display: block;
		    color : #373737;
		    margin-left: 15px;
		    width: 50%;
		}
		img {
			float : none;
			margin : 0;
		}
	}
	div[class^="col-md-"] {
		width : 100%;	
	    padding: 0;	
	}
}