.health-depth-Outer {
    .vitSupBlock {
        margin: 0;
    }
}
.symptomsChecker {
    a.bookAppointment {
        background-color: #8dc63f;
        color: #fff;
        padding: 20px 0px 20px 70px;
        position: relative;
        vertical-align: middle;
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        display: block;
        margin: 0 0 10px;
    }
    .bookAppointment:before {
        background: url("../image/appoint-icon.png") no-repeat 0 0;
        height: 26px;
        left: 30px;
        top: 50%;
        width: 26px;
        content: "";
        position: absolute;
        margin-top: -13px;
    }
}
.promotion-slider {
    overflow: hidden;
    .productBlock:hover {
        border-color: #fff;
    }
    h3 a {
        font-size: 1.2em;
        color: @blue;
    }
}
.promotion-slider .bx-wrapper .bx-controls-direction a.bx-prev {
    left: 5px;
}
.promotion-slider .bx-wrapper .bx-controls-direction a.bx-next {
    right: 5px;
}
/* media queries*/

@media only screen and (max-width: 768px) {
    .health-depth-Outer .vitSupBlock {
        height: auto;
        margin-bottom: 20px;
    }
    .promotion-slider {
        margin-bottom: 20px;
    }
    .promotion-slider .detailContent {
        padding: 0 15px;
    }
}
@media only screen and (min-width: 667px) and (max-width: 667px) {
    .vns-ad-block .image-center {
        text-align: left;
        margin-right: 10px;
    }
}
.healthGoogleADs {
	height: 300px;
}