.helpTop {
    border-top: 1px solid #e5e5e5;
    padding: 25px 0 25px;
    h1 {
        font-size: 4.4em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        font-weight: normal;
        margin: 5px 0 5px;
        span {
            font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        }
    }
    h2 {
       font: 1.8em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
	    color: #353535;
	    font-weight: bold;
	    margin: 8px 0 10px 0;
    }
    p {
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @default-text-color;
        margin: 0;
        a {
        	text-decoration: underline;
        }
    }
}
.helpOuterWrapper {
    .helpInnerWrapper {
        margin: 20px 0;
    }
    .helpSection {
        padding: 15px 20px;
        border-bottom: 1px solid @lightGrey;
        .arrow-right {
            font: 1.6em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @blue;
            &:after {
                border-width: 6px 0 6px 9px;
                border-color: transparent transparent transparent @blue;
            }
        }
        p {
            font: 1.4em/1.475em "arial";
            color: @default-text-color;
            margin: 10px 0 0 0;
        }
    }
    .contactCommonSection {
        margin-bottom: 30px;
    }
}
.contactCommonSection {
    padding: 15px 5px;
    h4 {
        margin: 0 0 10px 0;
    }
    .contactCommonDesc {
        font: 1.4em/1.475em "arial";
        color: @default-text-color;
    }
    .contactCommonNo {
        font: 1.4em/1.475em "arial";
        color: @default-text-color;
        font-weight: bold;
    }
    .btn {
        float: right;
        margin-top: 12px;
    }
}
/*help Topic Section*/

.helpTopicWrapper {
    .helpInnerWrapper {
        margin: 20px 0;
    }
    .contactCommonSection {
        padding: 20px;
        .btn {
            float: none;
            width: 100%;
        }
        h4 {
            color: @Grey;
        }
    }
    .helpQuicklinks {
        margin: 0 0 10px 0;
        padding: 20px 20px 10px 20px;
        h4 {
            margin: 0 0 10px 0;
            color: #373737;
        }
        li {
            margin: 0 0 15px 0;
            a {
                text-decoration: underline;
                color: @default-text-color;
                font: 1.4em/1.475em "arial";
                &:hover {
                    text-decoration: none;
                    color: #000;
                }
            }
            &.currentLink {
                a {
                    text-decoration: none;
                    color: @blue;
                    cursor: default;
                }
            }
        }
    }
}
.helpAccordion {
    .accordion-section {
        border-bottom: 1px solid @lightGrey;
        padding: 17px 0;
    }
}
/* accordion part starts*/
/* Accordion used in help section */

.accordion-section-title {
    font: 1.6em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: @blue;
    position: relative;
    padding: 0 0 0 50px;
    display: block;
}
.accordion-section-title.active {} .accordion-section-content {
    display: none;
    padding: 0 20px;
    font-size: 1.4em;
    color: @default-text-color;
}
.accordion-section-content {
    p, a, ul li {
        font-family: "arial";
        line-height: 1.475em;
        font-size: 100%
    }
    a {
        color: @default-text-color;
        text-decoration: underline;
    }
}
.accordion-section-title:before {
    /*background: url("../image/accordion-icon.png") no-repeat 0 -12px;*/
    
    background: url(../image/custom-sprite.png) no-repeat left -176px;
    height: 12px;
    left: 20px;
    top: 50%;
    width: 12px;
    content: "";
    position: absolute;
    margin-top: -6px;
}
.accordion-section-title.active:before {
    background-position: left -190px;
}
/* accordion part ends*/
/* media queries*/

@media only screen and (max-width: 768px) {
    .contactCommonSection .btn {
        float: none;
    }
    .helpTopicWrapper .helpQuicklinks {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .accordion-section-title {
        padding-right: 15px;
    }
    .contactCommonSection .contactCommonDesc strong {
        display: inline-block;
    }
}
.panel-group .closed a.tittle {
    background-image: none;
}