.partner-spacing {
    visibility: hidden;
    height: 0;
}
.home-slider-wrap {
    height: 469px;
	visibility: hidden;
}
a.btn:hover {
    text-decoration: none !important
}
@media only screen and (min-width: 770px) {
    a:hover {
        opacity: .8;
        filter: alpha(opacity=80);
    }
}
.blue-heading-bar {
    .pull-right a {
        font: 1.6em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        display: block;
        line-height: 2.3em;
        margin: 0;
    }
}
.new-arrivals {
    .banner_caption {
        h4 {
            color: @skyblue
        }
        p {
            height: 36px;
            -webkit-line-clamp: 2;
        }
    }
}
.banner_caption {
    position: absolute;
    bottom: 80px;
    left: 20px;
    .caption-wrap {
        display: table-cell;
        vertical-align: top;
    }
    h4 {
        font: 2.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @red;
        margin: 10px 0;
    }
    p {
        font: 1.4em/1.4em arial;
        color: @default-text-color;
        margin: 0;
        padding-right: 20px;
        height: 55px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .btn {
        line-height: 1.3em;
        padding: .6em 1.4em;
        margin: 15px 0;
    }
}
.caption-inner {
    display: table;
    width: 50%;
}
.bgskyblue {
    background-color: @skyblue;
}
.partner-wrap {
    .bx-wrapper .bx-controls-direction a {
        background: transparent;
    }
    .bx-wrapper .bx-controls-direction a.bx-prev {
        background: url("../image/clicks-home/arrow-left.png") no-repeat 0 0;
        height: 29px;
        width: 15px;
    }
    .bx-controls-direction a.bx-prev,
    .bx-controls-direction a.bx-next {
        margin-top: -15px;
        z-index: 0;
    }
    .bx-wrapper .bx-controls-direction a.bx-next {
        background: url("../image/clicks-home/arrow-right.png") no-repeat 0 0;
        height: 29px;
        width: 15px;
    }
}
.home-page-wrapper {
    .partner-spacing {
        padding: 32px 40px 32px 55px;
    }
    .bx-wrapper {
        margin: 0 auto 0;
        .bx-viewport {
            left: 0
        }
        .bx-pager {
            bottom: 10%;
            &.bx-default-pager {
                a {
                    background: #fff;
                    opacity: 0.5
                }
                a.active {
                    opacity: 1;
                }
            }
        }
    }
    .arrow-right:after {
        border-width: 5px 0 5px 6px;
        position: relative;
        top: 1px;
    }
    img {
        max-width: 100%;
    }
    .promo-links {
        font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
    }
    .blue-heading-bar {
        span {
            font-size: inherit;
            display: inline;
            padding: 0;
        }
        h2 {
            div.content {
                display: inline;
            }
        }
    }
}
.home-slider-wrap {
    .bg-gray();
    h1, h2 {
        font: 5.7em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: #ffffff;
        margin: 0;
		p{
			font: inherit;
			color: #ffffff;
			margin: 0;
		
		}
    }
    .btn {
        margin: 30px 0;
    }
    .bx-controls {
        .container();
        padding-left: 25px;
        padding-right: 20px;
        .bx-pager {
            width: auto !important;
            bottom: 6%;
            &.bx-default-pager {
                a {
                    background: #fff;
                    opacity: 0.5
                }
                a.active {
                    opacity: 1;
                }
            }
        }
    }
    .bx-wrapper {
        margin: 0 auto 0;
        img {
            width: 100%;
            max-width: 100%;
        }
        .bx-viewport {
            left: 0
        }
    }
    .banner-text {
        position: absolute;
        bottom: 10%;
        img {
            width: auto;
            position: relative;
            margin: 20px 0;
            left: -10px;
        }
    }
}
.home-notification {
    .bg-white();
    text-align: center;
    padding: 1.9em 2em;
    margin: 20px 0 20px;
    a {
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 0;
        position: relative;
        display: inline-block;
        padding-left: 5%;
        &.plus-logo:before {
            left: 0;
            top: 50%;
            margin-top: -15px;
            content: "";
            position: absolute;
        }
        &:after {
            border-width: 4.5px 0 4.5px 6px;
            border-color: transparent transparent transparent @blue;
            width: 0;
            display: inline-block;
            height: 0;
            margin: 0 0 0 3px;
            border-style: solid;
            content: "";
        }
    }
}
.clinic-links {
    margin: 0 0 20px 0;
    div[class^="col-"] {
        background-color: @green;
        border-right: 1px solid #fff;
        &:last-child {
            border-right: 0;
        }
    }
    a {
        color: @white;
        position: relative;
        margin: 0;
        display: inline-block;
    }
    .greenbgOuter .green-bg {
        line-height: 1.8em;
        margin: 0 auto;
        display: table;
        padding: 16px 20px;
    }
    .medicine-list {
        &:before {
            left: 0;
            top: -3px;
        }
    }
    .manage-script {
        &:before {
            left: 0;
            top: -3px;
        }
    }
    .stethoscope {
        &:before {
            left: 0;
        }
    }
    .check-symp {
        &:before {
            background: url("../image/out/sprite.png") no-repeat 0 -393px;
            height: 26px;
            left: 0;
            top: 0px;
            width: 26px;
            content: "";
            position: absolute;
        }
    }
}
.home-club-wrap {
    padding: 20PX 15PX 0PX 15PX;
}
.pad-zero {
    padding: 0;
}
.home-promotions {
    position: relative;
    margin-bottom: 20px;
    clear: both;
    float: none;
    overflow: hidden;
    img {
        max-width: 100%;
        margin-right: 5px;
    }
    .promo-wrap {
        .bg-white();
        ul {
            li {
                > div[class^="col-lg-"] {
                    border-right: 1px solid #e6ecef;
                }
                &:last-child > div {
                    border: none;
                }
            }
        }
    }
}
.promo-home-text {
    .text-right();
    color: @blue;
    a {
        font-size: 1em;
    }
}
/*.external-ads {
    .bg-white();
    padding: 5px;
}*/
.only-at-clicks {
    margin: 20px 0;
}
.home-clubcard {
    .bg-white();
    margin-bottom: 20px;
    h4, h3 {
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 10px 0;
        a {
            color: #222
        }
    }
}
.body-shop:first-child {
    padding-right: 0;
}
.body-shop:last-child {
    padding-left: 5px;
}
.body-shop-wrap {
    .body-content {
        .pad-zero();
        position: relative;
        .banner_caption {
			top: 10px;
            bottom: 0px;
            width: 55%;
            .caption-inner {
            	width: 100%;
				.btn{
					margin-top: 10px;
					margin-bottom: 0px;
					@media only screen and (max-width: 767px) {
						margin-top: 5px;
					}
				}
            }
        }
    }
    ul {
        li:first-child {
            >div {
                border-right: 1px solid #e6ecef;
            }
        }
		li:nth-child(2) {
            >div {
                border-left: 1px solid #e6ecef;
            }
        }
    }
}
.google-ads {
	margin-bottom: 15px;
}
@media only screen and (min-width: 769px) {
	.col-lg-4.col-md-4.col-sm-12.col-xs-12.body-shop > div {
		    float: right;
			margin: 0px;
	}
}
@media only screen and (max-width: 340px) {
	.google-ads {
		margin: 0px -5px 15px -5px;
	}
}
/*Slider Picture fill */

@media only screen and (max-width: 479px) and (min-width: 320px) {
    .clinic-links .greenbgOuter .green-bg {
        margin: 0
    }
    .home-slider-wrap {
        .banner-text {
            bottom: 10px;
            left: 0;
            padding: 0 15px;
            width: 100%;
            h1, h2 {
                font-size: 3em
            }
            .btn {
                margin: 15px 0;
                text-align: center;
            }
            img {
                display: none;
            }
        }
        .bx-controls .bx-pager {
            bottom: 2%;
        }
        .badges_logo {
            width: 25%;
            left: 10px;
            top: 10px;
        }
    }
    .clinic-links .greenbgOuter .green-bg {
        padding: 16px 10px
    }
    .home-clubcard h4,
    .home-clubcard h3 {
        margin: 10px 0 20px;
        border-bottom: 1px solid #e6ecef;
        padding-bottom: 11px;
    }
    .banner_caption {
        top: 20px;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) {
    .clinic-links .greenbgOuter .green-bg {
        margin: 0
    }
    .banner_caption {
        p {
            height: auto !important;
            -webkit-line-clamp: 2;
        }
        h4 {
            margin: 10px 0 0 0
        }
    }
    .new-arrivals .banner_caption p {
        height: auto
    }
    .home-promo-slider {
        .pad-zero {
            > img {
                width: 100%;
                height: auto;
            }
        }
    }
    .home-page-wrapper {
        .promo-links a {
            display: inline;
        }
        .bx-wrapper .bx-pager {
            bottom: 5%;
        }
        .btn {
            width: auto;
        }
        .blue-heading-bar {
            h2:after {
                border-width: 4.5px 0 4.5px 6px;
                border-color: transparent transparent transparent #fff;
                width: 0;
                display: inline-block;
                height: 0;
                margin: 0 0 0 10px;
                border-style: solid;
                content: "";
            }
        }
    }
    .home-notification a {
        text-align: left;
        padding-left: 15%
    }
    .home-clubcard {
        h4 {
            margin: 10px 0 20px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
        }
        &:last-child {
            border: none
        }
    }
    .clinic-links div[class^="col-"] {
        text-align: left;
        border-bottom: 1px solid #fff;
        border-right: 0;
        &:last-child {
            border-bottom: 0
        }
    }
    .home-promotions .promo-text {
        bottom: 20%;
        .btn {
            width: auto;
            padding: .6em 1.0em;
        }
    }
    .body-shop-wrap {
        .body-content {
            width: 100%;
            height: auto;
            > img {
                width: 100%;
                height: auto;
            }
        }
    }
    .body-shop:first-child {
        padding-right: 15px;
        margin-bottom: 20px;
    }
    .body-shop:last-child {
        padding-left: 15px;
    }
    .promo-home-text {
        text-align: left;
        margin-bottom: 15px;
        a {}
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .home-slider-wrap {
        .banner-text {
            bottom: 40px;
            left: 0;
            padding: 0 15px;
            width: 100%;
            h1, h2 {
                font-size: 4.6em
            }
            .btn {
                margin: 15px 0;
                width: 100%
            }
            img {
                display: none;
            }
        }
        .bx-controls .bx-pager {
            bottom: 3%;
        }
        .badges_logo {
            width: 25%;
            left: 10px;
            top: 10px;
        }
    }
    .home-notification a {
        padding-left: 8%;
    }
    .clinic-links .green-bg img {
        margin-top: 5px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .home-slider-wrap {
        .banner-text {
            bottom: 8%;
            h2, h1 {
                font-size: 3em;
            }
            .btn {
                margin: 10px 0
            }
            img {
                margin: 10px 0;
            }
        }
        .bx-controls .bx-pager {
            bottom: 3%
        }
    }
    /*.external-ads {
        .text-center();
    }*/
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
    .home-notification a {
        padding-left: 5.5%;
    }
    .clinic-links {
        div[class^="col-"] {
            padding: 0.5em 1em;
            border-right: 1px solid #fff;
            border-bottom: 0;
            &:last-child {
                border: 0;
            }
        }
        .greenbgOuter .green-bg {
            line-height: normal;
        }
    }
    .home-club-wrap {
        .clubMagindex {
            width: 50%;
            &:last-child {
                margin: 20px 0;
                .magazineContent h3 {
                    margin: 4px 0;
                }
            }
        }
    }
    .home-slider-wrap {
        h2, h1 {
            font-size: 5.5em;
        }
        .banner-text {
            bottom: 9%;
            img {
                display: none;
            }
        }
    }
    .banner_caption {
        bottom: 110px;
    }
}
@media only screen and (max-width: 321px) and (min-width: 320px) {
    .home-notification a {
        padding-left: 17%
    }
    .partner-wrap .bx-controls-direction a.bx-prev,
    .partner-wrap .bx-controls-direction a.bx-next {
        top: 10px;
    }
}
/*@media only screen and (max-width: 736px) and (min-width: 375px) {
    .external-ads {
        .text-center();
    }
}*/
@media only screen and (max-width: 736px) and (min-width: 568px) {
    .home-notification {
        padding: 1.9em 2em 1.9em 2.6em;
    }
    /*.home-page-wrapper .babyArticlesOuter div[class*="col-"] {
        padding: 0
    }*/
}
@media only screen and (max-width: 414px) and (min-width: 375px) {
    .home-slider-wrap .banner-text {
        bottom: 8%;
        h1, h2 {
            font-size: 3.2em;
        }
    }
    .home-notification a {
        padding-left: 12%;
    }
}
@media only screen and (max-width: 700px) and (min-width: 480px) {
    .new_promos {
        &.banner_caption {
            top: 1px
        }
        .btn,
        h4 {
            margin: 6px 0 0 0
        }
        .caption-inner {
            width: 55%
        }
    }
}
.home-promo-slider .pad-zero {
    position: relative;
}
@media only screen and (min-width: 1024px) {
	.home-promo-slider .pad-zero {
	    position: relative;
		min-height: 320px;
	}
	.body-shop-wrap .body-content {
		position: relative;
    	/*min-height: 260px;*/
	}
}