/*.plus-logo-small {
    position: relative;
    span:first-child {
        padding: 0 0 0 30px;
    }
}
.plus-logo-small:before {
    left: 0;
}*/
.inidiviual-order-wrap {
    padding-bottom: 20px;
	overflow: hidden;
    .price {
        font: 1.5em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        font-weight: bold;
        span {
            font-size: 1.32em;
            vertical-align: baseline;
        }
        
      
    }
    .medicine-coll-head {
        margin-bottom: 1px;
        padding-left: 2px;
        background-color: #f5f5f5;
        h4 {
            margin: 15px 0;
			overflow: hidden;
            span {
                display: inline-block;
				width: 50%;                
				font: 1em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                color: @Grey;
            }
			.consignment_status {
				float: left;
				text-align: left;
			}
			.consignment_trackingID {
				float: right;
				text-align: right;
			}
        }
       /* .med-logo {
            h4 {
                position: relative;
                padding-left: 30px;
                line-height: 1.475em;
                &:before {
                    left: 0;
                    top: 0;
                }
                span {
                    &:first-child {
                        width: 66.66666667%;
                    }
                    &:last-child {
                        width: 31%;
                    }
                }
            }
        }*/
    }
    h4 {
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @Grey;
        margin: 0 0 3px 0;
    }
    a {
        color: @default-text-color;
        text-decoration: underline;
        font: 1.3em arial;
    }
}
.orderdetails-process {
	li{
		padding: 10px 0px;
		clear: both;
		overflow: hidden;
		.col-xs-3{
			padding-left: 0px;
		}
	}
	@media only screen and (max-width: 767px) {
	padding-left: 10px;
	}
}
/*.order-outer-wrap {
    background-color: white;
    padding: 5px;
    span, address {
        font: 1.3em arial;
        color: @default-text-color;
        display: block;
        line-height: 1.8em;
    }
}
.order-block-space {
    padding-top: 15px;
    padding-bottom: 15px;
}*/
.deliver-details {
    padding-bottom: 20px;
    padding-top: 15px;
}
/*.order-block-space,
.vat-detail {
    span, address {
        font: 1.3em arial;
        color: @default-text-color;
        display: block;
        line-height: 1.8em;
    }
}*/
.order-product-head {
    border-bottom: 1px solid #e6ecef;
    h4 {
        margin: 10px 0 15px;
    }
}
.order-product-body {
    padding: 20px 5px;
    border-bottom: 1px solid #e6ecef;
    /*display: table; */
    .brand-details {
        /*display: table-cell;
        float: none;
        &:last-child {
            vertical-align: middle;
        }*/
    }
    h4 {
        font: 1.4em arial;
    }
    h5 {
        font: 1.4em arial;
        color: @default-text-color;
        margin: 5px 0;
    }
    h6 {
        font: 1.5em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 0;
        font-weight: bold;
    }
}
/*.price-total {
    border: none;
    h4 {
        margin: 13px 0;
        span {
            display: inline;
            color: #838383;
            font: 1em arial;
        }
    }
    .price {
        margin: 10px 0;
    }
}*/
.re-order-wrap {
    padding: 20px 20px;
    margin-top: 3px;
    /*.return-btn {
        padding: 1.2em 1.7em;
    }*/
    img {
    	max-width : 100%;
    	margin-right : 5px;
    }
	a{
		color: #222;
		font: 1.3em "Conv_ITCAvantGardeStd-Md";
		text-decoration: underline;
	}
}
/*.price-vat {
    display: table;
    padding: 13px 5px;
    width : 100%;
    h4 {
        margin-bottom: 0;
    }
    .price {
        margin-bottom: 0;
    }
    .total-price {
        display: table-cell;
        float: none;
        &:last-child {
            vertical-align: bottom;
        }
    }
}
.vat-detail {
    padding: 0px 15px 15px 20px;
}
.tot-price {
    display: block;
    padding: 6px 5px;
    a {
        margin: 10px 0 0 0;
        display: block;
    }
    h6 {
        font: 1.5em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #005baa;
    }
}*/
#addTobasket { 
	a.btn {
		font: 1.4em 'Conv_ITCAvantGardeStd-Demi';
		color : #fff;
		margin-bottom : 10px;
		text-decoration : none;
	}
}
.addTobasketpopup {
	.itemThumb{
		margin-top: 15px;
	}
	.primary_btn{
		padding: 1em 0px;
		width: 100% !important;
		@media only screen and (min-width: 768px){
			width: 50% !important;
		}
	}
}
.popup-btn {
	width: 90%;
	margin: 0px auto;
	clear: both;
	overflow: hidden;
	a {
		display: block;
		clear: both;
		margin: 0px auto;
	}
}
.form-additionals{
clear: both;
}
.backtoaddress {
	font: 1.4em/1.475em "arial" !important;
	margin-bottom: 15px !important;
	display: inline-block !important;
}
/*Add to basket modal */
@media (min-width: 768px) {
	#addTobasket {
		.modal-dialog {
			width : 400px;
		}
		.primary_btn {
		    width: 80%; 
		}    
		.indiviSubTotal dl {
			dd { width: 24%;}
			dt { width: 73%;}
		}
	}
}
/* Non-Retina Screens */

@media screen and (min-width: 320px) and (max-width: 767px) {
    .btn-save-change {
        padding: .6em 1.2em;
    }
    /*.price-total {
        &.price-vat {
            display: block
        }
        .total-price {
            float: left;
            display: block;
        }
    }
    .order-product-body {
        display: block;
        .brand-details {
            float: left;
            display: block;
        }
    }*/
}
@media screen and (min-width: 320px) and (max-width: 736px) {
    .marg-bottom {
        margin-bottom: 14px;
        span {
            line-height: 1.5em
        }
    }
    .btn-save-change,
    .total-price {
        margin-top: 10px;
    }
    .re-order-wrap {
        padding: 20px 15px;
    }
    /*.price-total {
        .text-left {
            text-align: right;
        }
    }
    .tot-price a {
        margin-top: 0
    }
    .price-vat .total-price:last-child {
        margin-bottom: 0
    }*/
}
@media only screen and (max-width: 768px) {
    .inidiviual-order-wrap .btn-save-change {
        margin-bottom: 0px;
    }
    /*.price-total {
        .text-center {
            text-align: left;
            margin-bottom: 10px;
        }
    }*/
}
@media only screen and (min-width: 769px) {
 .shopBasket {
		.borRight { 
        	border-right: 1px solid #e6ecef;
			margin-right: -1px;
     	}
      	.borLeft { 
        	border-left: 1px solid #e6ecef;
     	}   
     }
}     
/*@media screen and (min-width: 320px) and (max-width: 667px) {
    .inidiviual-order-wrap .medicine-coll-head h4 span:first-child,
    .inidiviual-order-wrap .medicine-coll-head h4 span:last-child {
        width: auto;
        display: inline;
    }
    .inidiviual-order-wrap .medicine-coll-head h4 span:last-child {
        float: right;
    }
   

}*/
@media screen and (min-width: 320px) and (max-width: 736px) {
    .deliver-address {
        padding-top: 0
    }
    /*.order-block-space {
        &.mob-padding {
            padding-bottom: 0;
            padding-top: 15px;
        }
        .mob-address,
        address {
            margin-bottom: 10px;
        }
    }*/
   
}
@media screen and (min-width: 568px) and (max-width: 736px) {
    .mob-address,
    .deliver-address .col-xs-12 {
        width: 50%
    }
    .deliver-address {
        padding-top: 15px;
    }
}