h4 {
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: @blue;
}
.prescLeft {
    h4 {
        margin: 15px 0;
    }
    .presDetailWrap {
        .presDetail {
            margin-bottom: 10px;
            width: 40%;
            float: left;
            color: @Grey;
            font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            strong {
                font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
                font-weight: normal;
            }
        }
    }
    a {
        color: @default-text-color;
        font: 1.4em "arial";
        text-decoration: underline;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    .prescHeading {
        margin-bottom: 20px;
    }
    .prescHeader {
        border-bottom: 1px solid @lightGrey;
        margin-bottom: 10px;
        padding-left: 5px;
        h5 {
            font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @Grey;
            margin: 10px 0;
        }
    }
    .prescTableRow {
        margin-bottom: 10px;
    }
    .prescTableContent {
        font: 1.4em "arial";
        color: @default-text-color;
        border-bottom: 1px solid @lightGrey;
        margin-bottom: 30px;
        input[type="checkbox"].check-hide+label.check-box::before {
            left: 45%;
        }
        label {
            font-weight: normal;
        }
        strong {
            color: #333;
        }
        .form-group {
            margin-bottom: 0;
        }
    }
    .prescContWrap {
        padding-bottom: 30px;
    }
}
.btnBig {
    padding: 1.1em 2.5em;
    margin: 0 10px 0 0;
}
.btnRequest {
    margin-right: 15px;
    margin-left: 5px;
}
.cancelPresc {
    margin: 0 0 0 15px;
}
/*media queries*/

@media only screen and (min-width: 1024px) and (max-width: 1024px) {} @media only screen and (max-width: 768px) {
    .prescContWrap button {
        margin-bottom: 15px;
        width: 100%;
    }
    .prescContWrap a {
        display: block;
    }
    .prescLeft .presDetailWrap .presDetail {
        width: auto;
        margin-right: 15px;
        margin-bottom: 5px;
    }
    .tableMiddle {
        padding: 0 5px;
    }
    .tableContent {
        padding: 0 5px;
    }
    .prescLeft .prescHeader h5 {
        display: table-cell;
        height: 80px;
        vertical-align: middle;
    }
    .presDetailWrap {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 767px) {
    .prescContWrap button {
        margin: 0 0 15px 0;
    }
    .prescLeft a.cancelPresc {
        text-align: center;
    }
}
@media only screen and (max-width: 480px) {
    .prescLeft .prescHeading {
        padding-bottom: 10px;
    }
    .prescLeft a {
        display: block;
        clear: both;
    }
    .prescTableRow {} .prescLeft .prescTableContent input[type="checkbox"].check-hide+label.check-box::before {
        top: 50%;
    }
    .prescLeft .prescTableContent strong {
        word-break: break-word;
    }
}
@media only screen and (max-width: 320px) {
    .tableContent,
    .tableMiddle {
        padding: 0;
    }
}