.commonTab {
    background-color: @white;
    .tabs {
        overflow: hidden;
        li {
            display: block;
            float: left;
            text-align: center;
            border-right: 2px solid #e6ecef;
            background-color: @white;
            padding-bottom: 3px;
            a {
                color: @darkGrey;
                font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                display: block;
                padding: 20px 15px;
            }
            &.active {
                padding-bottom: 5px;
                border-bottom: none;
                margin-bottom: 0;
                position: relative;
                a {
                    color: @blue;
                }
            }
        }
    }
    #tab1,
    #tab2,
    #tab3,
    #tab4,
    #tab5,
    #tab6,
    #tab7 {
        display: none;
        a {} &.active {
            display: block;
        }
    }
    .tabContentWrapper {
        clear: both;
        position: relative;
    }
    .border-line {
        border-bottom: 2px solid #e6ecef;
        margin-bottom: 20px;
        margin-top: -2px;
    }
    .titleWrapper span,
    .titleWrapper label {
        font-weight: normal;
    }
    .titleWrapper {
        float: right;
        margin-right: 20px;
    }
    .medicineMessage {
        background-color: #f2f5f7;
        clear: both;
        text-align: center;
        padding: 20px 0;
        width: 98%;
        margin: 0 auto;
        h4 {
            font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin: 0 0 5px 0;
        }
        a {
            font: 1.4em "arial";
            color: @default-text-color;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .recent-custom {
        a {
            margin-right: 4px;
            color: @default-text-color;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.acc-table-wrap {
    strong {
        color: #333333;
    }
}
/*media*/

@media only screen and (max-width: 320px) {
    .commonTab .col-xs-4 {
        padding: 0;
    }
}
@media only screen and (max-width: 479px) {
    .commonTab .tabs li a {
        padding: 10px;
    }
    .commonTab .col-xs-3 {
        padding: 0;
    }
    .commonTab a {
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .commonTab .recent-custom {
        padding: 10px 6px;
    }
    .commonTab .medicineMessage h4 {
        padding: 0 10px;
    }
    .commonTab .account-body .repeat-table-head {
        margin: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
    .commonTab .col-sm-2 {
        padding: 0;
    }
}
@media only screen and (max-width: 320px) {
    .commonTab strong {
        word-wrap: break-word;
    }
}
@media only screen and (max-width: 480px) {
    .commonTab .titleWrapper {
        float: none;
        margin-left: 20px;
    }
}

/* my medicine page */

.medicinePage aside .content h2 { background-color: transparent; color: @blue; padding-left: 0; margin: 0; padding-top: 0; }
.medicinePage aside .contentContainer .content  { background-color: @white; margin-bottom: 20px; }
.medicinePage aside .contentContainer .disclaimerWrapper { padding: 0; }