/* green buttons starts*/

.symptomsChecker {
    .medicine-list {
        .green-background();
    }
    .medicine-list:before {
        left: 36px;
        top: 50%;
        margin-top: -13px;
    }
    .manage-script {
        .green-background();
    }
    .manage-script:before {
        left: 36px;
        top: 50%;
        margin-top: -13px;
    }
}
.green-background {
    background-color: #8dc63f;
    position: relative;
    vertical-align: middle;
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    display: block;
    margin: 0 0 10px;
    color: #ffffff;
}
.home-promotions {
    .pull-right a {
        font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        font-size: 1.6em;
        display: block;
        line-height: 2.3em;
        margin: 0;
    }
}
/*media queries*/

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .medicinesLanding .bx-wrapper .bx-pager .bx-pager-item {
        display: none;
    }
}