.mini-basket {
	left: auto;
    right: -25px;
}
.basket{
	display: table;
	@media only screen and (min-width: 769px){
		/*margin-top: -7px;*/
	}
	label:first-child{
		display: table-cell;
		vertical-align: middle;
		padding-right: 5px;
		cursor: pointer;
	}
}
.mini-basket-count {
    padding: 0px;
	margin: 0px;
    background: #cc0000;
    border-radius: 25px;
	width: 30px;
	height: 30px;
	display: table-cell;
	text-align: center;
    vertical-align: middle;
	cursor: pointer;
	line-height: 30px;
	@media only screen and (max-width: 1024px) {
		padding-top: 2px;
	}
}
.icon-cart .mini-basket-count {
	position: absolute;
	right: 0px;
    top: 5px;
	width: 28px;
	height: 28px;
	background: #cc0000;
	color: #fff;
	padding: 8px 0 0 0;
	text-indent: 0px;
	font: 1.4em 'Conv_ITCAvantGardeStd-Demi';
	@media only screen and (min-width: 668px) and (max-width: 768px) {
		right: 35px;
	}
	@media only screen and (min-width: 569px) and (max-width: 667px) {
		right: 25px;
	}
	@media only screen and (min-width: 480px) and (max-width: 568px) {
		right: 15px;
	}
	@media only screen and (max-width: 479px) {
		right: 12px;
	}	
}
.basket-blk {
	top: inherit;
}
.basket-list, .basket-list a{
	font-family: "Conv_ITCAvantGardeStd-Demi";
}
.basket-list-total {
			border-top: 1px solid #d0d0d0;
			padding: 15px 0;
			.basket-list-total-content {
				color: #005baa !important;
				font-size: 1.4em;
			    margin: 10px 0;
				line-height: 1.7em;
				.price {
					font-size: inherit;
				}
			}
			button {
				margin: 0px;
			}
}
.basket-list {
    width: 315px;
    .mini_basket_head {
        overflow: hidden;		
        h3 {
            display: inline-block;
        }
    }
    .basket-list-inner {	
		.bx-wrapper {
			margin: 0 0px 10px 0px;
		}
		ul.mini-basket-product-list {
			overflow: hidden;
			li.popupCartItem {
				overflow: hidden;
				padding: 12px 0;
				border-top: 1px solid #d0d0d0;
				@media only screen and (max-width: 768px) {
					min-width: 290px;
				}
				.offer_sticker {
					margin: 10px 0;
				}
				.basket-list-img {				
				    width: 21%;
				    float: left;
				    margin-right: 10px;					
					img {
						max-width: 100%;
					}
				}
				.basket-list-content{
					width:75%;
					float: left;
					h4 {
						margin: 0px;
						a {
						font-size : 100%; 
						text-decoration : none;
						&:hover {
								color: #005baa;
							}
						}
					}
					p{
						margin: 5px 0px;
						font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
					    line-height: 1.4em;
						a {
							font-family: inherit;
							font-size: inherit;
							text-decoration: none;
							color: inherit;
							&:hover {
								color: #005baa;
							}
						}
					}
					a.delete_prod {
						float: right;
					}
					.offer {
						font-size: 1.3em;
					}
					ul {
						padding: 5px 0px 0px 0px;
					}
				}
			}
		}
		
	}
	a {
        color: @darkGrey;
        font-size: 1.3em;
        text-decoration: underline;
    }
    .price, .price-wrap {
    	display: inline;
    }
    .basket_price {
    	font: 1.375em "Conv_ITCAvantGardeStd-Bold";
    	color : @blue;
    	.price {
    		font-size : 100%;
    	}
    }
}
#mobminiCartLayer {
	.basket-list-inner{
		.bx-wrapper {
			.bx-viewport{
				height: auto !important;
				.mini-basket-product-list{
					li{
					/*min-width: 290px !important;*/
					}
				}
			}
			.bx-pager {
				padding-top: 0px;
			}
		}
	}
}