.account-body {
    .acc-body {
        &.order-history {
            font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            .recent-head {
                margin-bottom: 2px;
				@media only screen and (max-width: 768px) {
					padding: 10px;
					 div[class*="col-"] {
						padding: 0px;
					}
				}
            }
            .recent-custom {
                margin: 0;
                border-bottom: 1px solid #ebf0f2;
                padding: 10px 0px;
				@media only screen and (max-width: 768px) {
					padding: 10px;
				}
                /*display: table;
                float: none;
                min-height: 40px;*/
                /*div[class*="col-"] {
                    display: table-cell;
                    vertical-align: middle;
                    float: none;
                }*/
            }
        }
    }
}
.order-top-space {
    padding: 15px 0 15px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
    .account-body .acc-body.order-history .recent-custom div[class*="col-"] {
        padding: 0px;		
		word-wrap: break-word;
    }
}
@media only screen and (max-width: 767px) {
    .account-body .acc-body.order-history .recent-custom div[class*="col-"] {
		margin: 5px 0px;
    }
}