.floatRight {
    float: right;
}
#cR-4{
	.comuni-reg3{
		display: none;
		font: 1em "Conv_ITCAvantGardeStd-Md",Arial,Helvetica,sans-serif;   
	}
	.comuni-reg4{		
		font: 1em "Conv_ITCAvantGardeStd-Md",Arial,Helvetica,sans-serif;   
	}
	.form-content-hide{
		display: none;
	}
	.form-content-dis{
		display:inline-block;
	}
}


.pdp {
    /*.pdp-main-content {
        margin-bottom: 10px;
    }*/
    .pdp-main-content {
        padding-bottom: 20px;
    }
    .pdp-content {
        margin-top: 30px;
        .pdp-topBar {
            margin-bottom: 10px;
            .floatLeft {
                a {
                    display: inline-block;
                    margin: 10px 0 0 10px;
                }
            }
        }
        .reviews {
            font: 1.2em/1.475em "arial";
            color: @default-text-color;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        .product-code {
            font: 1.2em/1.475em "arial";
            color: #707070;
            margin-top: 10px;
        }
		.disclaimer{
			font:1em/1em "arial";
		}
		button.pickupInStoreButton{
			background: #999999;
			padding: 17px 0;
			color: #fff;
			border: 0px;
			height: auto;
			font-size: 1.4em; 
			
			&:hover{
				background: #000;
			}
		}
    }
    .product-category {
        font: 2.2em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #333;
        margin: 10px 0px 10px 0px;
    }
    .product-name {
        font: 1.6em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #333;
        margin: 0px 0px 10px 0px;
        
    }
    .product-desc {
        p {
            font: 1.4em/1.475em "arial";
            color: @default-text-color;
            margin-top: 0;
        }
    }
    .price-details-wrapper {
        border: 1px solid #d1d1d1;
        border-left: none;
        border-right: none;
        padding: 12px 0;
        margin: 15px 0;
        .price {
            font-size: 3.2em;
            font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            color: @red;
        }
        .floatLeft {
            width: 50%;
            &.price-content {
                font: 1.3em/1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            }
        }
        .price-offer {
            font: 1.4em/1.4em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
            color: @default-text-color;
        }
    }
    .club-offer {
        font: 1.2em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 10px 0 30px;
        position: relative;
        padding-left: 30px;
        color: @default-text-color;
    }
    .club-offer:before {
        left: 0px;
        top: 2px;
    }
    /*.selectric-wrapper p {
        color: @default-text-color;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
    .quantity {
        .selectric-wrapper {
            width: 80px;
            margin-right: 48px;
        }
    }*/
    .SizeWrapper,
    .quantityWrapper {
        span {
            float: left;
            color: @darkGrey;
            font: 1.4em/2.8em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin-right: 10px;
        }
        .qty {
        	width: 12%;
    		text-align: center;
        }
    }
    .size-pdp {
        .selectric-wrapper {
            width: 124px;
        }
    }
    .colorWrapper {
        margin-bottom: 10px;
        .color {
            margin: 10px 0 0px 0;
            overflow: hidden;
            li {
                width: 42px;
                height: 42px;
                overflow: hidden;
                float: left;
                margin: 0px 3px 3px 0px;
                cursor: pointer;
                border: 1px solid #ccc;
                text-align : center;
                a {
                    display: block;
                    margin-top : 6px;
                    span {
                        display: block;
                        width: 40px;
                        height: 40px;
                        margin: 1px;
                    }
                }
                &.selected {
                    border: 1px solid #41313e;
                }
            }
        }
        .seeMore,
        .seeLess {
            display: none;
            font: 1.2em/1.475em "arial";
            color: #000;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        .color.moreVariants {
            display: none;
            margin: 0px;
        }
        /*.bx-wrapper {
            max-width: 96% !important;
            margin-bottom: 0;
        }*/
        .colorCount {
            color: @black;
            font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
        .colorControls {
            color: @default-text-color;
            font: 1.2em/1.475em "arial";
            margin-right: 20px;
        }
        img {
            max-width: 100%;
        }
        /*.bx-viewport {
            height: auto !important;
        }
        .bx-default-pager {
            top: -20px;
            right: 24px;
            text-align: right;
            color: #838383;
            font: 1.4em/1.475em "arial";
            padding-top: 0;
            width: auto;
            bottom: inherit;
        }*/
    }
    .pdp-btn {
        margin-bottom: 18px;
        .btn {
            display: block;
            margin-bottom: 10px;
            padding: 17px 0;
            width: 95%;
            &.grey {
                background-color: @darkGrey + #777
            }
        }
    }
}
.searchPOS{
	.head{
		padding: 5px 20px;
		.store-head-left{
			float: left;
			width: 50%;
		}
		.store-head-right{
			width: 50%;
			float: right;
			
			a{
				width: 50%;
				span{
					background: url("../image/arrow-left.png") no-repeat;
					width: 10px;
					height: 10px;
					display: inline-table;
				}
			}
		}
	}
	.headline{
		margin: 20px 20px 0px 20px;
		h4{
			line-height: 20px;
			margin: 10px 0px;
		}	
	}
	.searchPOSPaging{
		background: #fff;
		padding: 20px 30px;
		
		.serach-footer-left{
			float: left;
			width: 25%;
			text-align: left;
		}
		.serach-footer-right{
			float: right;
			width: 75%;
			text-align: right;
			
			a{
				margin: 0px 5px 5px 5px;
				
			}
		}
	}
	.searchPOSContent{		
			ul{
				width: 95%;
				padding: 10px 0px;
				margin-left: 20px;
				margin-right: 20px;
			}
	}
	.searchPOSResultsList {
		height: 220px;
		overflow-y: scroll;
		margin-bottom: 5px;
		border-top: 1px solid #ccc;
		
		li{
			float: none;
		}
		.searchPOSResult{			
			h3{
				margin:10px 0;
				.resultStock, .result-content, .resultName, .resultDistance{
					display: inline-block;
				}
				.searchresult-content{
					width: 90%;
					float: left;
				}
				.out-stock{
					color: #cc0000;
				}
			}			
			#emailleft{
				padding: 0px;
				.emailNotifyLink{					
					display: block;
				}
				#subscribe-pop{
					margin-top: 5px;
					display: none;
				}
				.customerSubscribeBtn{
					margin-top: 5px;
					width: 100%;
				}
				.emailNotifyLink{
					display: inline-block;
					cursor: pointer;
					text-decoration: underline;
				}
				.close-link{
					float: right;
					cursor: pointer;
					text-decoration: underline;
					display: none;
				}
			}
			#emailleft.emailbox-color{
				background: #e7e7e7;
				padding: 10px;
				
				.emailNotifyLink{
					text-decoration: none;
				}
			}
		}

	}	
	.more-btn{
		padding: 10px 20px;
		text-align: center;
		.btn-load-more{
			width: 100%;
		}
	}
}
.pdp-content{
		#outstock-emailleft{
			padding: 0px;
			text-align: center;
			.outstock-elink{					
				display: block;
				font: 1.4em "Conv_ITCAvantGardeStd-Demi",Arial,Helvetica,sans-serif;
				line-height: 1em;
			}
			.paddingNone{
				text-align: left;
				
				.stockSubscribeBtn{
					font: 1.2em "Conv_ITCAvantGardeStd-Demi",Arial,Helvetica,sans-serif;
				}
			}
			#subscribe-pop{
				margin-top: 5px;
				display: none;
			}
			.customerSubscribeBtn{
				margin-top: 5px;
				width: 100%;
			}
			.emailNotifyLink{
				display: inline-block;
				cursor: pointer;
				text-decoration: underline;
			}
			.close-link{
				float: right;
				cursor: pointer;
				text-decoration: underline;
				display: none;
			}
		}
		#outstock-emailleft.emailbox-color{
			background: #e7e7e7;
			padding: 10px;

			.emailNotifyLink{
				text-decoration: none;
			}
			.btn{
				margin-top: 5px;
			}
		}
		
}
.localstorage{
	#cboxWrapper{
		#cboxContent{
			#cboxClose{
				display: none!important;
			}
		}		
	}
}
.pdp-mainImage-mobile {
	display: none !important;
	padding: 25px 0px 25px 0px;
	@media only screen and (max-width: 768px) {
		display: block !important;
	}
	.bx-wrapper {
		margin: 0px auto;
		img {
			margin: 0px auto;
		}
		 .bx-pager {
			bottom: -20px;
		 }
	}
}
.pdp-mainImage-desktop {
	display: block !important;
	@media only screen and (max-width: 768px) {
		display: none !important;
	}
}
.pdp-fb {
	 max-width: 380px;
	 overflow: hidden;
}
@media only screen and (max-width: 767px){
	#colorbox {
		.shopping-list{
			.shop-wrap {
				.text-left {
					width: 45%;
					padding-right: 0px;
				}
				.no_items{
					width: 36%;
				}
				.col-xs-1{
					width: 19%;
				}
			}
		}
	}
}
#colorTitlePDP {
	font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #222222;
}
.moreLinks {
    position: relative;
    a {
        width: 50%;
        float: left;
        color: #909090;
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        padding-left: 30px;
        position: relative;
        margin-bottom: 14px;
        &:before {
            left: 0px;
            top: 50%;
        }
    }
}
.imageOuterWrapper {
    display: table;
    margin: 30px auto 16px;
    position: relative;
}
.imageZoom {
    position: absolute;
    bottom: 0;
    left: -30px;
}
.imageOuter {
    display: table-cell;
    height: 420px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    width: 420px;
    img {
        max-width: 100%;
    }
}
.imageOuterThumb {
    margin: 0 0 0 15px;
    li {
        float: left;
        border: 1px solid #d0d0d0;
        margin-right: 14px;
    }
}
.slider-pdp {
    margin: 0 auto;
    width: 100%;
}
.pdp-second-content {
    margin-bottom: 66px;
    padding-bottom: 25px;
    aside {
        margin-top: 35px;
    }
    .bx-wrapper .bx-controls-direction a.bx-prev {
        left: 0;
    }
    .bx-wrapper .bx-controls-direction a.bx-next {
        right: 0;
    }
    aside {
        h3 {
            a {
                font-size: 1.2em;
                color: @blue;
            }
        }
        h3:after {
            background: url("../image/blue-arrow.png") no-repeat right center;
            width: 7px;
            height: 10px;
            content: "";
            display: inline-block;
            padding-left: 15px;
        }
    }
    .content-height p {
        font-family: arial;
        font-size: 1.4em;
    }
    .col-md-8 {
        border-right: 1px solid #d1d1d1;
        margin: 10px 0 0 0;
        min-height: 300px;
    }
    .detailContent {
        width: 200px;
        margin: 15px auto 0;
        padding-left: 0;
    }
    .productBlock {
        padding-bottom: 0;
    }
}
.reviewsOuter {
    margin-left: 10px;
    margin-right: 18px;
    h3 {
        font: 2.2em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin-bottom: 10px;
    }
    .reviewCountWrapper {
        overflow: hidden;
        padding-bottom: 15px;
        .reviewCount {
            font: 1.4em/1.475em arial;
            color: #909090;
            display: block;
            margin-top: 10px;
        }
        .reviewWrite {
            font: 1.4em/1.475em arial;
            color: @default-text-color;
            display: block;
            margin-top: 25px;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    /*.reviewTitle {
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @darkGrey;
        display: block;
        margin-bottom: 10px;
    }
    .reviewerOuter {
        font: 1.3em arial;
        color: @default-text-color;
        margin-top: 14px;
        margin-bottom: 4px;
    }
    .reviewspecial {
        font: 1.3em arial;
        color: @blue;
    }
    .reviewContentOuter {
        border-top: 1px solid #e3e3e3;
        padding-top: 17px;
        .col-lg-10 {
            margin-bottom: 18px;
        }
        p {
            font: 1.4em/1.475em "Arial";
            color: #848484;
            margin-top: 0;
        }
        .col-lg-2 {
            img {
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
        }
    }*/
    .btn-load-more {
        display: block;
        margin: 30px auto 0;
        padding: 1em;
        width: 220px;
    }
}
/*.reviewContentOuter img {
    max-width: 100%;
}*/
.tabOuterWrapper {
    padding-left: 10px;
    margin-top: 25px;
    .tabs {
        li {
            display: block;
            float: left;
            width: 197px;
            text-align: center;
            margin-right: 3px;
            border: 3px solid #e6ecef;
            a {
                color: @darkGrey;
                font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                display: block;
                padding: 6px 0 3px 0;
                background-color: #e6ecef;
            }
            &.active {
                background-color: @white;
                padding-bottom: 7px;
                border-bottom: none;
                margin-bottom: 0;
                position: relative;
                a {
                    color: @blue;
                    margin-bottom: -3px;
                    background-color: @white;
                }
            }
        }
    }
    #use {
        display: none;
        a {} &.active {
            display: block;
            a {
                color: @blue;
            }
        }
    }
    #information {
        display: none;
        &.active {
            display: block;
        }
    }
    #ingredients {
        display: none;
        &.active {
            display: block;
        }
    }
    .tabContentWrapper {
        clear: both;
        border: 3px solid #e6ecef;
        border-top: none;
        width: 597px;
        padding: 25px 25px 30px 25px;
        position: relative;
        top: -3px;
        position: relative;
        p {
            font: 1.4em/1.475em "Arial";
            color: #848484;
            margin-top: 0;
        }
        a {
            color: #373737;
            font: 1.3em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.tabContent {
    line-height: 20px;
    overflow: hidden;
    p {
        line-height: 20px !important;
        margin-bottom: 20px;
    }
}
.tabSeeMore,
.tabSeeLess {
    display: none;
    position: absolute;
    bottom: 15px;
}
.sliderOuter {
    background-color: @white;
	.detailContent a h5{
		color: #222222;
	}
}
.headLogo {
    border-bottom: 1px solid @lightGrey;
    margin-top: 10px;
    img {
        margin-left: 26px;
    }
}
/*.colorWrapper .bx-controls-direction {
    display: none;
}*/
@media only screen and (min-width: 1024px) {
    .rel-product .productBlock {
        /*width: 240px !important; */ 
        padding: 20px;
    }
    .rel-product .bx-wrapper .bx-viewport {
        left: 0;
        height: auto !important;
    }
}
/*responsive*/
/*media queries*/

/*@media only screen and (max-width: 1024px) {
    .quantityWrapper select,
    .SizeWrapper select {
        margin: 10px 10px 15px 0px;
    }
    .colorWrapper .bx-controls-direction {
        display: block;
    }
}*/
@media only screen and (max-width: 768px) {
    /*.pdp .colorWrapper .bx-wrapper .bx-controls-direction a.bx-next {
        background-position: right 0;
        right: 13px;
    }*/
    .tabOuterWrapper .tabContentWrapper {
        width: auto;
        border: none;
        padding: 20px 10px 30px 10px;
    }
    .tabOuterWrapper .tabs li {
        width: auto;
        width: 80px;
    }
    .tabOuterWrapper .tabs li.active {
        padding-bottom: 0;
    }
    .imageOuter {
        width: auto;
        display: block;
        height: auto;
    }
    .imageOuterWrapper {
        display: block;
    }
    .pdp .price-details-wrapper .floatLeft {
        width: 100%;
    }
    .pdp .price-details-wrapper .price {
        width: 50%;
        float: left;
    }
    .pdp .price-details-wrapper .price-offer {
        width: 50%;
        float: left;
        margin-top: 10px;
        text-align: right;
    }
    /*.pdp .quantity .selectric-wrapper {
        margin-right: 10px;
    }
    .size .selectric {
        width: 80px;
    }
    .pdp .size .selectric-wrapper {
        width: auto;
    }*/
    .pdp .pdp-btn .btn {
        width: 100%;
    }
    .pdp .colorWrapper img {
        margin-bottom: 10px;
    }
    .tabOuterWrapper .tabs li {
        border: none;
    }
    .tabOuterWrapper {
        margin-top: 0px;
        border-bottom: 2px solid #d1d1d1;
    }
    .reviewsOuter h3 {
        margin-top: 3px;
    }
    .reviewsOuter .reviewCountWrapper {
        padding-bottom: 20px;
    }
    .reviewsOuter .btn-load-more {
        width: 100%;
        margin-top: 10px;
    }
    /*.reviewContentOuter .col-xs-4 {
        text-align: right;
    }*/
    .pdp-second-content {
        margin-bottom: 20px;
        padding-bottom: 0;
    }
    .pdp-second-content aside .productBlock {
        border: none;
        margin-right: 3px;
    }
    .pdp .club-offer {
        margin-bottom: 10px;
    }
    .quantityWrapper select,
    .SizeWrapper select {
        margin: 20px 10px 15px 0px;
    }
    .tabOuterWrapper {
        padding-left: 0;
    }
    .tabOuterWrapper .tabs li {
        width: 32%;
        height: 75px;
        background-color: #e6ecef;
        display: table;
        margin-right: 6px;
    }
    .tabOuterWrapper .tabs li a {
        display: table-cell;
        vertical-align: middle;
    }
    .pdp .price-details-wrapper {
        margin: 0;
        padding: 10px 0;
    }
    .reviewsOuter .btn-load-more {
        width: 60%;
    }
    .pdp-second-content .detailContent {
        padding-right: 0;
        width: auto;
    }
    .pdp-second-content .detailContent img {
        display: block;
    }
    .pdp-second-content .detailContent .btn {
        float: none;
        margin-top: 10px;
    }
    .rel-product .bx-wrapper .bx-pager {
        bottom: 10px;
    }
    .rel-product .bx-wrapper {
        background-color: @white;
        padding-bottom: 20px;
    }
	
	/*localstorage*/
	
	.localstorage{
		.searchPOS{
			.column.last.searchPOSContent{
				padding: 0px;
			}
			.searchPOSContent ul{
				width: 90%;
			}
			.searchPOSResultsList{
				.searchPOSResult h3{
					.searchresult-content{
						width: 80%;
					}
				} 
			}
		} 
		
	}
	
	
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    /*.quantityWrapper select,
    .SizeWrapper select {
        margin: 20px 10px 15px 0px;
    }*/
    .reviewsOuter {
        margin: 0;
    }
    .pdp-second-content .col-md-8 {
        border-right: none;
        border-bottom: 1px solid #d1d1d1;
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 480px) {
    .rel-product .productBlock {
        padding: 0;
    }
    .headLogo {
        background-color: @lightGrey;
        border-bottom: none;
    }
    .headLogo img {
        margin-left: 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
    /*.pdp .colorWrapper .bx-wrapper .bx-controls-direction a.bx-prev {
        left: -10px;
        background-position: 2px center;
        background-size: 180% auto;
        left: -10px;
        width: 13px;
    }
    .pdp .colorWrapper .bx-wrapper .bx-controls-direction a.bx-prev:hover {
        background-position: 2px center;
    }
    .pdp .colorWrapper .bx-wrapper .bx-controls-direction a.bx-next {
        right: 0;
        background-position: -12px center;
        background-size: 180% auto;
        width: 13px;
    }
    .pdp .colorWrapper .bx-wrapper .bx-controls-direction a.bx-next:hover {
        background-position: -12px center;
    }*/
    .pdp .colorWrapper .colorControls {
        margin-right: 0;
    }
    .tabOuterWrapper .tabs li {
        width: 31%;
        height: 50px;
        a {
            font-size: 1em;
        }
    }
    .pdp .moreLinks a {
        padding-left: 25px;
    }
    /*.reviewsOuter .reviewTitle {
        margin-bottom: 5px;
    }
    .reviewsOuter .reviewerOuter {
        margin-top: 5px;
    }
    .reviewsOuter .reviewContentOuter .col-lg-10 {
        margin-bottom: 5px;
    }
    .quantityWrapper select,
    .SizeWrapper select {
        border: 1px solid #c0c5c7;
        margin-top: 3px;
        padding: 10px;
        font-size: 1.1em;
    }
    .pdp .colorWrapper .bx-wrapper .bx-controls-direction a {
        background: url("../image/pdp/arrow-sprite.png") no-repeat left top;
        top: 19px;
        width: 14px;
        height: 23px;
    }*/
    .rel-product.productRange .productBlock .detailContent {
        padding-right: 0px;
    }
    .rel-product.productRange .productBlock {
        border-bottom: none;
    }
    .rel-product.productRange .productBlock .detailContent .btn {
        float: none;
        margin-bottom: 10px;
    }
    .rel-product.productRange .productBlock .detailContent img {
        margin-bottom: 15px;
        display: block;
    }
    .rel-product.productRange .productBlock img {
        display: inline;
    }
    .rel-product .bx-wrapper {
        background-color: @white;
        padding-bottom: 20px;
    }
    .rel-product .bx-wrapper .bx-pager {
        bottom: 10px;
    }
    /*.pdp .colorWrapper .bx-wrapper {
        margin-left: 8px !important;
    }*/
    .pdp-second-content .bx-wrapper .bx-pager {
        bottom: -20px;
    }
    /*.pdp .colorWrapper .bx-viewport {
        width: 85% !important;
        margin: 0 auto;
    }*/
    .pdp-second-content .detailContent .btn {
        margin-right: 10px;
    }
    .pdp-second-content {
        padding-bottom: 15px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 480px) {
   /* .pdp .colorWrapper .bx-viewport {
        width: 72% !important;
    }*/
    .pdp .moreLinks a {
        line-height: 1em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {} @media only screen and (min-width: 500px) and (max-width: 767px) {
    .rel-product .productBlock {
        width: 290px !important;
        padding: 0 15px;
    }
}
@media only screen and (min-width: 641px) and (max-width: 767px) {
    .content-height {
        height: 90px;
    }
    .rel-product .bx-wrapper {
        padding-bottom: 40px;
    }
}
.email:before {
    margin-top: -6px;
}
.fav:before {
    margin-top: -9px;
}
.wish-list:before {
    margin-top: -10px;
}
.share:before {
    margin-top: -9px;
}
/*css change for integration*/

.pdp {
    .SizeWrapper, .quantityWrapper {
        label {
            float: left;
            color: @darkGrey;
            font: 1.4em/2.8em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin-right: 10px;
        }
    }
    .moreLinks {
        float: none;
        clear: both;
    }
}
/*css change for integration*/
/*css change for integration for manish*/

.reviewsOuter .stars {
    float: none;
}
/*fix for zoom image*/

.productImage .productImagePrimary a.productImageZoomLink {
    display: block;
    width: 36px;
    height: 36px;
    background: url("../image/zoom-btn.png") no-repeat center center;
    position: absolute;
    bottom: 0;
    left: -50px;
}
.productImage .productImagePrimary a.productImagePrimaryLink {
    display: block;
    width: 420px;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .productImage .productImagePrimary a.productImagePrimaryLink {
        width: auto;
    }
    .productImage .productImagePrimary a.productImageZoomLink {
        left: 0;
    }
}
@media only screen and (max-width: 768px) {
    .productImage .productImagePrimary a.productImagePrimaryLink {
        width: auto;
    }
    .productImage .productImagePrimary a.productImageZoomLink {
        left: 0;
    }
}
/*css added from productDetails.css*/
/*Product Images scroller*/

.productImage .productImageGallery {
    float: left;
    width: 100px;
    position: relative;
    height: 420px;
    overflow: hidden;
}
.productImage .productImageGallery .jcarousel-clip {
    height: 360px;
}
.productImage .productImageGallery li {
    height: auto;
    margin: 0 0 30px 0;
}
.productImage .productImageGallery li .thumb {
    border: 1px solid #d9d9d9;
    display: block;
    overflow: hidden;
    width: 96px;
    margin: 1px;
	text-align: center;
}
.productImage .productImageGallery li .thumb.active {
    border: 2px solid #000000;
    margin: 0;
}
/*Product Images*/

.productImage {
    position: relative;
}
/*prodReview*/

.prodReview {
    margin: 0 0 20px 0;
}
.prodReview .count {
    color: #808080;
    padding: 0 10px;
}
.prodReview .write {
    color: #808080;
    font-weight: bold;
    padding: 0 0 0 10px;
    background: url("../images/facetMoreLessIcon.png") no-repeat left center;
}
.reviews .actionBar {
    height: 30px;
    line-height: 30px;
    color: #808080;
    font-size: 1em;
    white-space: nowrap;
    display: block;
    margin: 20px 0;
}
.reviews .actionBar.top {
    border-bottom: 1px solid #a5a5a5;
}
.reviews .actionBar.bottom {
    border-top: 1px solid #a5a5a5;
}
.reviews .actionBar a,
.reviews .actionBar .write {
    color: #808080;
    font-weight: bold;
    padding: 0 0 0 10px;
    background: url("../images/facetMoreLessIcon.png") no-repeat left center;
}
.reviews .reviewDetail {
    border-top: 1px dotted #a5a5a5;
    padding: 20px 0;
}
.reviews .reviewDetail:first-child {
    border-top: 0;
}
.reviews .reviewDetail .headline {
    font-weight: bold;
}
.reviews .reviewDetail .body {} .reviews .reviewDetail .autor {
    font-style: italic;
    color: #808080;
}
#write_reviews {
    color: #373737;
    font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
#write_reviews.reviews .headline {
    border-bottom: 1px solid #A5A5A5;
    font-size: 1.2em;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.required.right,
.reviews .description {
    font: 1.3em/1.475em arial;
    color: #838383;
}
.reviews .description {
    margin: 0 0 20px 0;
}
#reviewForm .control-group input[type="text"],
#reviewForm .control-group textarea {
    margin-bottom: 0px;
}
#reviewForm .control-group label.error {
    margin-top: 0px;
}
/*Product Images Colorbox*/

#colorbox .productImage {
    padding: 20px;
}
#colorbox .productImage .productImageGallery {
    height: 515px;
}
#colorbox .productImage .productImageGallery .jcarousel-clip {
    height: 455px;
}
#colorbox .productImage .productImageGallery li {
    margin: 0 0 18px;
}
#colorbox .productImage .productImagePrimary {
    margin: 0 0 0 150px;
}
.page-competitionsDetailPage{
	.articleTop{
		.moreLinks{
			.shareProduct{
				top: 98%;
				left: 10%;
				display: none;
			}
		}
		.shareProduct{
			position: absolute;	
			ul {
				z-index: 1;
				width: 140px;
				margin: 0;
				list-style: none;			
				position: absolute;
				left: 0;
				background-color: #f5f5f5;
				top: 0;
				border: 1px solid #7d9eba;
				padding: 0;
				overflow: hidden;

				li{
					float: left;
					padding: 10px 0 0 10px;
					line-height: 0;

					a {
						text-indent: -999em;
						display: block;
						margin-right: 0;
						margin-bottom: 10px;
						width: 32px !important;
						height: 32px !important;
					}
					.facebook_icon {
						background: url("../image/pdp/share-sprite.png") no-repeat 0 0 transparent;
					}
					.twitter_icon {
						background: url("../image/pdp/share-sprite.png") no-repeat 0 -32px;
					}
					.google_icon {
						background: url("../image/pdp/share-sprite.png") no-repeat 0 -64px;
					}
				}		
			}
		}

	}
}

.pdp .shareProduct ul {
    z-index: 1;
    width: 140px;
}
.pdp-content .moreLinks .shareProduct {
    left: 40%;
}
.articleTop .moreLinks .shareProduct {
    top: 35px;
    left: -15%;
}
.pdp .shareProduct span.popup-left-arrow {
    left: 62px;
}
.pdp .shareProduct ul li a {
    text-indent: -999em;
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
}
.pdp .price-details-wrapper .floatLeft.price-content p {
    font-size: 100%;
    line-height: 1.4em;
}
.pdp .price-details-wrapper .price-offer .price {
    font-size: 100%;
}
.pdp .price-details-wrapper .price-wrap {
    line-height: normal;
    margin: 0;
}
.rel-product .bx-wrapper .bx-controls-direction a {
    height: 42px;
}
/* for PDP integration */
.pdp-artslider .article-slider .productBlock .badges {
	top : 0;
}
.pdpSlider .detailContent {
    margin: 15px 0 0 0;
}
.pdpSlider {
	padding : 15px;
	h1 {
		font-size : 1.375em;
	}
	@media only screen and (min-width: 768px) {
		.relatedPro_img {
			min-height: 210px;
			display: block;
		}
		.productBlock .detailContent {
			h5.title_name {
				height : 54px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				a {
					color : #838383;
					font-family: arial;
					font-weight: bold;
				}
			}
		}
	}
}

/*badge fix*/
.pdp-main-content {
	.badges {
		right: 40px;
		position: absolute;
		top: 30px;
		width: auto;
			img {
				max-width: 90px;
				max-height: 90px;
				display: block;
				margin-bottom: 10px;
			}
	
	}
}

.conditionList .tabOuterWrapper #use { display: block; }
.conditionList #div-gpt-ad-1444832163791-0 { margin-bottom: 20px; }