.productBlock .detailContent h5 {
	height: 20px;
	line-height:20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.productBlock .detailContent .content-height p {
	height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.productBlock .detailContent .product-name p {
	height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	font-weight: bold !important;
}
.productBlock .detailContent .price-wrap {
	height: 20px;
}
.productBlock .detailContent .offer-blk {
    height: 20px;
}
.image-center {
    vertical-align: middle;
    text-align: center;
}
.text-center {
    text-align: center;
}
.starWrapper {
    margin: 10px 0;
    overflow: hidden;
    display: table;
    width: 100%;
	.cart {
	    display: inline-block;
		float: right;
	}
}
.buy-btn-wrap {
    display: table-cell;
}
.read-more-facet, .read-less-facet, .norecords {
 	display:none;
    font: 1.2em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    border: 0px;
    background: #fff;
    padding: 0px;
}
.read-more-facet:hover, .read-less-facet:hover {
 	text-decoration: underline;
}
.norecords {
  color: #838383;
  font-family:"Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
  display:block;
}
.category-top .col-lg-12.col-md-12.col-sm-12.col-xs-12 p {
	width: 50%;
}
.filter {
    margin: 20px auto;
    a {
        color: @black;
    }
    h4 {
        font-family: "arial";
        font-size: 1.3em;
        color: @default-text-color;
        margin: 10px 0;
    }
    .panel-group {
        a {
            font-size: 1.4em;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            display: block;
            position: relative;
        }
        ul {
            li {
                overflow: hidden;
                a {
                    font-family: "arial";
                    font-size: 1.3em;
                    color: @default-text-color;
                    display: block;
                    background-image: none;
                    padding: 7px 12px 2px 10px;
                    &:hover {
                        color: @blue;
                    }
                    &.activeLink {
                        color: @blue;
                        background: url("../image/cross.png") no-repeat right center;
                        padding-right: 12px;
                    }
                }
                .activeLink {
                    color: @blue;
                    background: url("../image/cross.png") no-repeat right center;
                    padding-right: 12px;
                    display: block;
                }
                label {
                    display: block;
                    font-weight: normal;
                    margin-bottom: 0;
                    padding: 10px 0 5px 0;
                    margin-left: 0;
                }
            }
        }
    }
    .panel {
        padding: 10px 20px;
        margin-bottom: 3px;
        margin-top: 0 !important;
        border-radius: 0;
        border: none;
        input[type="checkbox"] {
            display: none;
        }
        label {
            cursor: pointer;
        }
    }
    .text-center {
        .btn {
            color: @white;
            margin-top: 30px;
            padding: 16px 35px;
        }
    }
}
.skyblue {
    color: @skyblue;
}
.bg-gray {
    background-color: @lightGrey;
}
.filter h2 {
    padding: 10px 0 10px 20px;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 1.4em;
    font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
.filterContent .productRow {
    padding: 15px !important;
	margin-bottom: 0px;
    border-bottom: 7px solid #e6ecef;
}
.filterContent.tb-res {
	background: #fff;
}
.productRow .plpsep {
    padding: 0px !important;
    .productBlock {
        padding: 10px !important;
        .detailContent {
            margin: 15px 0 0px 0;
        }
    }
}
.detailContent {
    border-top: 1px solid #edf3f9;
    text-align: left;
    margin-top: 15px;
    h5, p {
        font-size: @font-size-h3;
        margin: 0;
        padding: 0;
    }
    h5 {
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        margin: 15px 0 5px;
        font-weight: normal;
        a {
            color: #333333;
        }
    }
	p.product-category {
		height: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
    .btn {
        padding: 10px 16px;
        float: right;
        color: @white;
    }
    .cart .btn {
    	width : 100%
    }
    p {
        color: @default-text-color;
        margin-bottom: 5px;
        line-height: 1.475em;
        font-family: arial;
        &.priceTag {
            color: @red;
            font-size: @font-size-h3;
            font-family: "Conv_ITCAvantGardeStd-Bold", Arial, Helvetica, sans-serif;
            span {
                font-size: 0.6em;
                vertical-align: super;
            }
        }
        &.btn {
            padding: 5px 16px 6px 15px;
            float: right;
            a {
                color: @white;
            }
        }
        &.red {
            color: @red;
        }
        &.skyblue {
            color: @skyblue;
        }
    }
    .offerDesc {
        clear: both;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        margin-bottom: 20px;
        p {
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
    }
}
.detailContent .offerDesc {
	font-size: 13px !important;
}
.specialProduct {
    border: 3px solid @lightGrey;
}
.selectric-wrapper {
    margin-bottom: 10px;
    width: 300px;
}
.productRow {
    padding: 25px 15px;
    background-color: @white;
    margin-bottom: 7px;
}
.productBlock {
    border: 3px solid @white;
    background-color: @white;
    text-align: center;
    padding-bottom: 15px;
    .badges {
        right: 10px;
        position: absolute;
        top: 20px;
    }
    &:hover {
        border-color: @lightGrey;
        .btn {
            background-color: @skyblue;
        }
        .btn.out-of-stock {
            background-color: #dedede;
        }
    }
    img {
        max-width: 100%;
        margin: 0 auto;
    }
    .image-center {
        width: 205px;
        height: 238px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
/*For indepth landing */

.promotionOuter {
    padding: 2px;
    .price {
        font-size: 1.375em;
    }
}
.promotion-slider {
    .promoImg {
        width: 100%;
        float: none;
    }
}
.floatLeft {
    float: left;
}
.selectric-wrapper {
    float: left;
}
.loadCount .selectric-wrapper {
    width: 100%;
}
.sortList .selectric-wrapper {
    width: 100%;
}
.sortList {
	.title-text{
		text-align: right;
		@media only screen and (max-width: 767px) {
			padding: 0px;
			text-align: left;
		}
	}
}
.load-sort{
	margin-bottom: 15px;
}
.titleWrapper {
    p {
        font-size: 1.3em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
    span,
    label {
        font-size: 1.3em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        padding: 1em 0;
    }
    .selectric-wrapper {
        p {
            color: @default-text-color;
        }
    }
}
.specialBlock {
    h2 {
        background-color: @blue;
        color: @white;
        font-size: 2.2em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        font-weight: normal;
        padding: 4px 0 4px 20px;
        margin-bottom: 0px;
        margin-top: 0px;
        span {
            font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
        }
    }
	.bx-wrapper .bx-controls-direction a {
		width: 22px;
	}
	.bx-wrapper .bx-controls-direction a.bx-prev {
		left: -60px;
	}
	.bx-wrapper .bx-controls-direction a.bx-next {
		right: -60px;
	}
}
.specialBlock {
    padding-bottom: 30px;
    .productBlock {
        &:hover {
            border-color: @white;
            ;
        }
    }
}
.specialBlockTop {
    border-top: 1px solid #e5e5e5;
    padding: 30px 0 35px 0;
    .product-left {} h2 {
        font-size: 4.4em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        font-weight: normal;
        margin: 0;
    }
    .product-left {
        p {
            font-size: 1.4em;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @default-text-color;
            line-height: 1.475em;
            margin-top: 0;
        }
    }
    .image-center {
        float: left;
    }
    .sp-content {
        float: left;
        width: 125px;
        margin-top: 8px;
        h4 {
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            font-size: 1.4em;
            color: @Grey;
            margin: 5px 0;
            font-weight: normal;
        }
        .subTitle {
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            font-size: 1.4em;
            color: @Grey;
            margin: 5px 0;
            font-weight: normal;
        }
        p {
            font-family: arial;
            font-size: 1.4em;
            color: @default-text-color;
            margin-top: 0;
            line-height: 1.475em;
        }
    }
}
.product-display {
    margin-bottom: 20px;
    img {
        max-width: 100%;
    }
    .col-xs-12 {
        text-align: center;
    }
}
.product-display .product-display-inner > div {
    margin: 0 auto;
}
.product-display .product-display-inner img {
    max-width: 100%;
}
.filter .panel-group .panel-default h4 a {
    font-family: "arial";
    font-size: 13px;
    color: #838383;
    display: block;
    background-image: none;
}
.filter .panel-group .panel-default h4 a:after {
    display: none;
}
/*new design corrections*/

.filter {
    .btn-load-more {
        display: block;
        margin: 30px auto 35px;
        padding: 1em;
        width: 220px;
    }
}
.facetValues .allFacetValues .facet_block li{
    line-height: 1.8em !important;
	padding: 5px 0px;
	a.hiddenClass{
		padding: 0px !important;
	}
	.facet_block-label{
		padding: 0px !important;
	}
}
.facet_block li label {
	width: 85%;
	@media only screen and (max-width: 767px) {
		width: 90%;
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		width: 80%;
	}
}
.facet_block li.active label span {
	color: #005baa !important;
	font-weight: bold !important;
}
.filterSelectedSection {
	h2 {
		padding-right: 15px;
		span{
			display: inline-block;
			padding: 3px 0;
		}
		.clearallBtn {
			float: right;
			font-family: inherit;
			font-size: 12px;
			margin: 0px;
			padding: 5px 10px;
			background-color: #fff;
			color: #005baa;			
			&:after, &:before{
			display: none !important;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}	
}
.filterSelection li.remove_item_left {
	padding: 5px 30px 5px 20px !important;
	 span {
		color: #005baa !important;
		font-weight: bold !important;
	}
}
.facet_block.indent {
	li {
		padding: 5px 0px;
		a {
			padding: 0px !important;
		}
	}
}
#searchProducts{
	.listAddPickupContainer.clearfix{
		clear: inherit;
	}
	.detailContent{
		.btn{
			padding: 10px 8px;
		}
	} 
}
.categoryPage{
	.listAddPickupContainer.clearfix{
		clear: inherit;
	}
	.detailContent{
		.btn{
			padding: 10px 8px;
		}
	} 
}
.plpsep{
	.listAddPickupContainer.clearfix{
		clear: inherit;
	}
	.detailContent{
		.btn{
			padding: 10px 8px;
		}
	} 
}
/*media queries starts*/

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .loadCount select,
    .sortList select {
        border: 1px solid #c0c5c7;
        font-size: 1.1em;
		display: block;
    }
    .rel-product .bx-viewport {
        position: static !important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .specialBlockTop .product-left {
        width: auto;
    }
    .specialBlockTop .sp-content {
        width: 65%;
    }
    .productBlock {
        border-bottom: none !important;
    }
    .breadcrumb {
        display: none;
    }
    .specialBlockTop {
        padding-top: 10px;
    }
    .productBlock {
        &:hover {
            border-color: @white;
        }
    }
}
@media only screen and (max-width: 320px) {
    .sortList .selectric-wrapper {
        width: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
    .filter .btn-load-more {
        width: 40%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .productRange .productBlock img {
        display: inline;
    }
    .sortList select {
        margin-right: 0;
    }
}
/*@media only screen and (min-width: 320px) and (max-width: 1023px) {
    .filter h2 {
        background: #ffffff url("../image/arrow-panel.png") no-repeat scroll 95% center;
    }
    .filter h2.closed {
        background: #ffffff url("../image/arrow-up.png") no-repeat scroll 95% center;
    }
}*/
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .filter .btn-load-more {
        width: 100%;
    }
    .product-display .col-sm-3 {
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .detailContent .btn {
        float: none;
        width: 100%;
        margin: 10px 0;
    }
    .rel-product .productBlock {
        padding: 0 10px !important;
    }
    .detailContent {
        padding: 0;
        height: auto;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .product-display .col-sm-3 {
        margin-bottom: 25px;
    }
    .titleWrapper label {
        width: 17%;
    }
    .titleWrapper .floatRight {
        float: none;
    }
}
@media only screen and (max-width: 767px) {
    .page-editNonCCPersonalPage .ui-dialog {
        width: 90% !important;
        margin: 0 auto;
    }
    .page-editPersonalPage .ui-dialog {
        width: 90% !important;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1023px) {
    .filter .btn-load-more {
        width: auto;
    }
}
/*integration fixes for  ashish / praveen */

.facet_block-label {
    padding: 5px 0 0px 0 !important;
}
.filter form {
    margin: 0;
}
.filter .panel-group a:after {
    display: block;
    background-image: url(../image/custom-sprite.png);
    background-position: 0 -156px;
    width: 14px;
    height: 10px;
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    margin-top: -5px;
}
.filter .panel-group ul li a:after {
    background-image: none;
}
.panel-group .closed a.tittle {
    background-image: none;
}
.panel-group .closed a.tittle:after {
    display: block;
    background-image: url(../image/custom-sprite.png);
    background-position: 0 -146px;
    width: 14px;
    height: 10px;
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    margin-top: -5px;
}
.filter .panel-group ul li a.activeLink {
    background-image: none;
}
.filter .panel-group ul li a.activeLink:after {
    display: block;
    background-image: url(../image/custom-sprite.png);
    background-position: 0 -166px;
    width: 10px;
    height: 10px;
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    margin-top: -5px;
}
/* integration fix ends*/
/* integration fix for swapnil */

.filterResult {
    background-color: @white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.filter .panel-group .filterResult ul li {
    font-family: "arial";
    font-size: 1.3em;
    color: #838383;
    display: block;
    background-image: none;
    padding: 7px 12px 2px 10px;
    position: relative;
}
.filter .panel-group .filterResult ul li a:after {
    display: block;
    background-image: url(../image/custom-sprite.png);
    background-position: 0 -166px;
    width: 13px;
    height: 10px;
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    margin-top: -5px;
}
.filter .panel-group .filterResult ul li .remove a {
    margin-top: 0px;
}
.filterResult .headline {
    text-indent: -9999em;
    display: block;
}
.filterResult .remove {
    position: absolute;
    right: 15px;
	top: 8px;
}
/* integration fix ends*/
/* integration fix for swapnil for selecting particular link */
.filter .panel-group ul li form a {
    padding-right: 0;
}
.filter .panel-group ul li a {
    font-family: "arial";
    font-size: 13px;
    color: #838383;
    display: block;
    background-image: none;
    padding: 7px 12px 2px 10px;
}
.filter .panel-group ul li label {
    font-family: "arial";
    font-size: 13px;
    color: #838383;
    display: block;
    background-image: none;
    padding: 7px 12px 2px 10px;
    float: left;
}
.filter .panel-group ul li form a.removeAppliedFilter {
    text-indent: -9999em;
    display: block;
    float: right;
    width: 10px;
    height: 10px;
}
a.hiddenClass { 
    padding: 0;
}
.filter .panel-group ul li input[type="checkbox"]:checked + label + a.removeAppliedFilter {
    color: @blue;
    background: url("../image/cross.png") no-repeat right center;
    padding-right: 12px;
    margin-top: 4px;
}
/*.best-wrapper.productRange .productBlock .detailContent p { font-weight: bold; }*/
/* integration fix for swapnil Ends*/

