.promo_index_badges {
    position: absolute;
    right: 0;
    width: 66px;
}
.badges {
	img{
		max-width: 60px;
		max-height: 60px;
		display: block;
		margin-bottom: 10px;
	}
}
.promo_prod_image {
	position: relative;
	.badges {
		position: absolute;
		top: -10px;
		right: -10px;
		max-width: 60px;
		max-height: 60px;
	}
	@media only screen and (max-width: 768px) {
		.badges {
			max-width: 35px;
			max-height: 35px;
	}
	}
    img {
        max-width: 100%
    }
}
/*.promo-filter {
	a {padding-left : 10px} 
}*/
.integrated_promo {
	.promo-links {
		font-size : 100%;
		margin-bottom : 0;
		 div[class^='col-lg-9'] {
			width : 100%;
			padding-left: 0;
		}
	}
	
}

.pharSideCol {
    margin-bottom: 15px;
    .bg-white();
    ul {
        padding-left: 1.2em;
    }
    li {
        font: 1.4em arial;
        color: #838383;
        line-height: 1.7em;
        list-style-type: disc;
    }
}
.promotion-body {
    .caption-wrap > img {
        position: absolute;
        right: 0
    }
    .banner_caption {
        top: 20px;
    }
}
.categoryPage {
    .clinic-links .greenbgOuter .green-bg {
        padding: 16px 12px;
        display: table;
        margin: 0 auto;
    }
    .pharmacy-links .clinic-links {
        .green-bg {
            display: table;
            /*padding: 7px 3px 12px 0; */
            padding: 0px 3px 0px 0;
            line-height: 1.2em;
            font: 1.6em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
            height : 65px;
            img {
                /*position: relative;
                top: 15px;*/
                margin-right: 20px;
            }
            a {
                display: table-cell;
                vertical-align : middle;
            }
        }
    }
}
.promotions_badges {
    position: absolute;
    top: 54px;
    right: 0px;
    width: 75px;
}
/*Pharmacy clinic services  */

.space-bottom {
    margin-bottom: 20px;
    .partner-wrap .partner-spacing {
        padding: 30px 40px 30px 55px;
    }
}
.pharma_buttons {
    .greenbgOuter {
        margin-bottom: 20px;
    }
}
.clinic-wrap {
    .pharClinicWrap {
        div[class^='col-lg-'] {
            border-right: 1px solid #eee;
            padding-top: 10px;
            padding-bottom: 32px;
            text-align: center;
            &:last-child {
                border-right: 0;
            }
        }
        a {
            display: block;
            margin-top: 10px
        }
        .contentContainer {
            padding: 0px 20px 0px 10px;
            p {
                margin-bottom: 0;
            }
        }
    }
}
.pharma_letclicks {
    margin-bottom: 20px;
}
.customer_phone {
    .bg-white();
    padding: 12px;
    h3 {
        a {
            font-size: 100%;
            color: #373737;
            font-family: inherit;
            line-height: normal;
        }
    }
    .unite_vital {
        img {
            float: left;
            margin-right: 10px;
            margin-top: 10px;
        }
        p {
            font-family: arial;
            color: #838383;
        }
    }
}
/*Pharmacy clinic services  */
/* Promotion Index Page  */

.promotion_offer_top {
    padding: 25px 0 25px;
    h1 {
        font: 4.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        font-weight: normal;
        margin: 0
    }
    p {
        font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @default-text-color;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.featured-wrap {
    display: table;
}
.feature-prod,
.feature-desc {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
.feature-desc {
    h4 {
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 5px 0;
        font-weight: normal;
    }
    span {
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #373737;
        margin: 5px 0;
        font-weight: normal;
    }
    p {
        font: 1.4em/1.475em arial;
        color: #838383;
        margin-top: 0;
    }
}
.accLandOuter {
    .promo-navwrap {
        padding: 10px 9px 10px 5px;
        .bg-white();
        > a {
            font: 1.3em arial;
            color: #838383;
        }
    }
    .show_promotions {
        .promo-navwrap();
        padding: 7px 20px 10px 12px;
    }
}
.btn-load-promotion {
    padding: 1.2em 2.6em;
    display: inline-block;
    margin: 30px auto 0px;
}
.promotion_product_wrap {
    .feature-prod();
}
.promo_prod_image {
    .feature-prod();
    text-align: center;
}
.promo_prod_desc {
    margin-bottom: 10px;
    .feature-desc();
    p {
        height: 55px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.banner_caption {
    .categoryType {
        font: 1.3em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: #373737;
        span {
            color: #838383;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
        a {
            color: #838383;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            text-decoration: underline;
        }
    }
}
.pad-zero {
    > img {
        width: 100%
    }
}
.promoOffer {
    clear: left;
}
.promotion-body {
    .categoryLanding {
        padding: 0;
        .pad-zero {
            height: auto;
            padding-top: 20px;
        }
    }
}
/*Media queries for categories page */

@media only screen and (max-width: 479px) and (min-width: 320px) {
    .categoryPage {
        .home-club-wrap {
            div[class^='col-'] {
                width: 100%;
            }
        }
    }
    .cat .border-block {
        width: 100%
    }
    .pharmacyclini_wrap {
        div[class^='col-lg-'] {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .clinic-wrap .pharClinicWrap {
        div[class^='col-lg-'] {
            border-right: 0;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            &:last-child {
                border-bottom: 0;
            }
        }
        .contentContainer {
            padding: 0
        }
    }
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
    .categoryPage {
        .clinic-links .greenbgOuter {
            .green-bg {
                padding: 16px 5px;
                line-height: normal;
                display: table;
                margin: 0;
            }
            a {
                display: table-cell;
                vertical-align: middle;
            }
        }
        .pharmacy-links .clinic-links .green-bg img {
            top: 0px
        }
    }
}
/* category page ipad view*/

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .promo_prod_desc p {
        height: 50px;
        -webkit-line-clamp: 2;
    }
    .categoryPage {
        .clinic-links {
            background: #8dc63f;
            div[class^="col-"] {
                padding: 0 10px;
                border-bottom: 0;
                border-right: 1px solid #fff;
            }
            a {
                padding: 0;
            }
        }
        .pharmacy-links {
            div[class^="col-lg"] {
                border-bottom: 1px solid #fff;
            }
        }
    }
}
/* iphone 6 and 6+ landscape*/

@media only screen and (max-width: 767px) and (min-width: 600px) {
    .pharmacy-links {
        div[class^="col-lg"] {
            width: 50%;
            &:nth-child(odd) {
                border-right: 1px solid #fff;
            }
            &:nth-child(3n) {
                border-bottom: 0;
            }
        }
    }
}
/* Samsung mobiles - landscape*/

@media only screen and (max-width: 767px) and (min-width: 640px) {
    .categoryPage .clinic-links .greenbgOuter .green-bg {
        padding: 16px 0px;
    }
}
.promo_feauture_wrap {
    .featured-wrap();
}
@media only screen and (max-width: 960px) and (min-width: 320px) {
    .promotion_offer_top {
        .feature-prod, .feature-desc, .promotion_product_wrap {
            float: left;
            display: block;
        }
        .featured-wrap {
            display: block;
        }
        .product-left p {
            margin-bottom: 10px;
        }
    }
    .accLandOuter .promo-navwrap {
        padding: 10px 20px 10px 12px;
    }
    .promo-links {
        a {
            margin: 0 0 15px 0
        }
    }
    .promotion-body .categoryLanding {
        padding: 0 15px;
    }
    .promotion-body .categoryLanding .pad-zero .home-promo-text .banner_caption .caption-inner .caption-wrap h4 {
        height: auto;
        display: block;
    }
}
.promo-filter.filter .panel-group ul li.active a:after {
    background-image: url("../image/cross.png");
    background-position: right center;
    width: 10px;
}
.promotion-body .banner_caption h4 { color: #373737; }
.promotion-body strong { font-weight: normal; }