.rewards {
    .acc-heading {
        h1 {
            font: 4.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @blue;
            margin: 0.55em 0;
            span {
                font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
            }
        }
    }
}
.checkout-loginhead h1 {
	text-align: center !important;
}
.checkoutLoginWrapper {
	margin: 30px 0px;
	.cl-quick-links {
		margin-bottom: 15px;
	}
	.btn {
		width: 100%;
		padding: 1.1em 0em;
		margin: 0px 0px 25px 0px !important;
	}
}
.success-message {
    color: white;
    background-color: @skyblue;
    margin-bottom: 10px;
    margin-top: 2px;
    font: 1.8em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    padding: 6px 0 6px 30px;
    position: relative;
    &:before {
        margin: 0 0 0 -20px;
        top: 9px;
    }
}
.rewardsWrapper {
    .accHeading {
        h5 {
            color: #333333;
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            font-size: 1.4em;
            margin: 0 0 3px 0;
            padding: 0;
        }
        p {
            color: #848484;
            font-family: "arial";
            margin: 0;
        }
    }
    .account-body .recent-head {
        border-bottom: none;
    }
    .account-body .amountWrapper {
        margin-bottom: 5px;
    }
}
.gridBox {
    font: 1.4em "arial";
    &.gridGrey {
        background-color: #f2f5f7;
        border: 1px solid #e5e5e5;
        padding: 5px 8px;
        vertical-align: middle;
        display: table-cell;
        width: 110px;
    }
    &.gridWhite {
        background-color: @white;
        border: 1px solid #e5e5e5;
        padding: 5px 8px;
        vertical-align: middle;
        display: table-cell;
        width: 110px;
    }
}
.account-body {
    .rewards-custom {
        display: block;
        overflow: hidden;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        /*width: 97%;
        margin: 5px 0 10px 10px;*/
    }
}
.points {
    display: block;
    text-align: left;
    float: right;
    width: 20%;
}
.pointsConent {
    float: left;
    width: 80%;
    word-wrap: break-word;
}
.alpha {
    display: table;
    margin-top: 10px;
    padding: 0 5px;
}
.totalText {
    font: 2em "Conv_ITCAvantGardeStd-Bold", Arial, Helvetica, sans-serif;
    color: @red;
}
.totalValue {
    font: 2em "Conv_ITCAvantGardeStd-Bold", Arial, Helvetica, sans-serif;
    color: @red;
}
.rewardsWrapper {
    .account-body {
        margin-bottom: 20px;
    }
}
.tick {
    position: relative;
    &:before {
        margin: 0 0 0 -20px;
        top: 2px;
    }
}
.fsOuter {
    margin-bottom: 20px;
    padding: 20px;
    .fsWrapper {
        .tick {
            margin: 0 0 0 20px;
        }
        h2 {
            font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin: 5px 0;
            &.darkBlue {
                margin: 0 0 5px 0;
            }
        }
        p {
            font: 1.3em/1.4em "arial";
            color: @default-text-color;
            margin: 0;
        }
        h3 {
            font: 1.4em/1.475em "arial";
            color: #333333;
            margin: 0;
        }
        &.fsWrapperOne {
            p {
                margin-left: 20px;
            }
        }
        &.fsWrapperTwo {
            p {
                margin-bottom: 5px;
            }
        }
        a {
            color: @default-text-color;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .fsCover {
        margin-bottom: 15px;
        h2 {
            margin: 2px 0;
        }
    }
}
.account-body .rewards-custom.totalOuter {
    padding-bottom: 9px;
}
.rewards-custom {} .leftPadding {
    padding-left: 10px;
}
.border-bottom {
    border-bottom: 2px solid #f0f4f5;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.magazineWrapper {
    padding: 20px;
    .magazineImg {
        float: left;
        width: 45%;
        img {
            max-width: 100%;
        }
    }
    .magazineContent {
        float: left;
        width: 45%;
        margin: 25px 0 0 20px;
        h3 {
            font: 1.4em/1.475em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @Grey;
            margin: 0;
        }
        p {
            font: 1.4em/1.475em "arial";
            color: @default-text-color;
            margin: 5px 0;
            word-wrap: break-word;
        }
        a {
            font: 1.3em/1.475em "arial";
            color: @default-text-color;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.rewardsWrapper {
    .acc-row {
        margin-left: -5px;
    }
    .acc-row-2 {
        margin-left: -5px;
    }
}
.ptDetailsWrapper {
    overflow: hidden;
    .pointsDetails {
        width: 24%;
        height: 151px;
        background-color: @white;
        margin: 0 10px 10px 0;
        overflow: hidden;
        float: left;
        display: table;
    }
    .pricePtWrapper {
        display: table-row;
        height: 96px;
        .blue, .red {
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            font-size: 3em;
            font-family: "Conv_ITCAvantGardeStd-Bold", Arial, Helvetica, sans-serif;
            span {
                font-size: 0.5em;
                line-height: 0;
            }
        }
        .blue {
           /* line-height: 0.6em;*/
            color: @darkBlue !important;
        }
    }
    .pointsContentWrapper {
        display: table-row;
        background-color: @darkBlue;
        height: 55px;
        .pointsContent {
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            color: @white;
            font: 1.3em "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        }
    }
    .ptpromotion {
        margin-right: 0;
        .pointsContentWrapper {
            background-color: @red;
            a {
                color: @white;
                text-decoration: underline;
            }
        }
    }
}
.ptDetailsMessage {
    background-color: @white;
    padding: 10px 0 10px 20px;
    margin-bottom: 15px;
    font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: @default-text-color;
    span {
        color: #333;
    }
}
.rewardsSection {
    .alpha3 {
        display: table;
    }
    .price {
        font-size: 2em;
        display: table-cell;
        vertical-align: middle;
    }
}
/*media queries*/

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .ptDetailsWrapper .pointsDetails {
        width: 48%;
    }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .ptDetailsWrapper .pointsDetails {
        width: 47%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 320px) {
    .ptDetailsWrapper .pointsDetails {
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .success-message h2:before {
        top: 4px;
    }
}
@media only screen and (max-width: 1023px) {
    .ptDetailsWrapper .pointsDetails {
        margin: 0 26px 20px 0;
    }
    .ptDetailsWrapper .pointsDetails:nth-child(even) {
        margin-right: 0;
    }
    .magazineWrapper .magazineImg {
        width: 35%;
        text-align: center;
    }
    .magazineWrapper .magazineContent {
        margin-top: 0;
        width: 55%;
    }
    .magazineWrapper .col-sm-12 {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .account-body .repeat-table-head {
        width: auto;
        margin: 5px 10px 10px;
    }
    .ptDetailsWrapper .ptpromotion .pointsContentWrapper a {
        display: block;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .success-message:before {
        top: 12px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .rewardsWrapper {
        .account-body {
            .recent-head, .recent-custom {
                padding: 15px 10px;
            }
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .success-message:before {
        top: 50%;
        margin-top: -9px;
    }
}
@media only screen and (max-width: 600px) {
    .ptDetailsWrapper .pointsDetails {
        margin: 0 20px 20px 0;
    }
}
@media only screen and (min-width: 767px) and (max-width: 767px) {
    .magazineWrapper .magazineContent {
        margin-top: 0;
        margin-left: 0;
        width: 60%;
    }
    .account-body .repeat-table-head {
        width: auto;
        margin: 5px 0 10px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .magazineWrapper .magazineContent {
        margin-top: 0;
        width: 60%;
    }
    .magazineWrapper .col-xs-12 {
        margin-bottom: 15px;
    }
    .magazineWrapper .magazineImg {
        width: 35%;
        text-align: center;
    }
    .fsOuter .col-xs-12 {
        margin-bottom: 10px;
    }
    .rewardsWrapper .price,
    .rewardsWrapper .totalValue {
        padding-left: 25px;
    }
    .ptDetailsWrapper .pricePtWrapper .price {
        padding-left: 0px;
    }
}
@media only screen and (max-width: 479px) {
    .magazineWrapper .magazineContent {
        margin-top: 0;
    }
    .magazineWrapper .col-xs-12 {
        margin-bottom: 15px;
    }
    .rewardsWrapper .recent-head .col-xs-3 {
        padding-left: 10px;
    }
    .rewardsWrapper .account-body .trascTable .trascRow {
        padding: 0 5px;
    }
    .ptDetailsMessage span {
        display: block;
        margin-top: 5px;
    }
    .account-body.rewardsSection .repeat-table-head {
        padding: 5px 0;
        margin: 5px;
    }
    .rewardsWrapper .account-body.rewardsSection .recent-head {
        padding: 5px 0px;
    }
}
/* for transaction Table*/

.rewardsWrapper .account-body .trascTable .recent-head {
    border-bottom: 1px solid #eee;
    display: table;
}
.rewardsWrapper .account-body .trascTable .trascRow {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
.rewardsWrapper .account-body .trascTable .repeat-table-wrap .recent-head {
    border-bottom: none;
}
.account-body .acc-body.trascTable {
    font-size: 1.3em;
    margin-top: 15px;
}
.transcTab {
    display: inline-block;
}
@media only screen and (max-width: 768px) {
    .trascTableWrap {
        padding: 0;
    }
}