.saved-addr-wrap {
    h2 {
        font-size: 1.6em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #373737;
        padding-left: 5px;
        margin: 15px 0;
    }
    .address-wrap:last-child {
        .address-details {
            border: none;
        }
    }
    .address-details {        
        border-bottom: 1px solid #e6ecef;
		.address-details-sections{
			padding: 15px 15px 15px 0px;
			border-bottom: 1px solid #edf3f9;
			&:last-child {
				border-bottom: 0px;
			}
		}
    }
    a {
        font-size: 1.4em;
        font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        display: inline-block;
        margin: 0;
        text-decoration: underline;
    }
	.pull-right a{
		margin: 15px 0;
	}
    h4 {
        font-size: 1.4em;
        font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
        color: #373737;
        margin: 0;
    }
    span {
        font: 1.4em arial;
        color: @default-text-color;
        display: block
    }
}
.top-margin {
    margin-bottom: 3px;
}
.border {
    border-bottom: 1px solid #e6ecef;
}
.savedAddnew {
	padding: 15px 5px;
	display: none;
}
.savedAddnew .form-wrap {
	width: 100% !important;
}
#addressform_button_panel {
	.btn {
		width: 48%;
		padding: 1em 0em;
		float: left;
		margin: 0px;
		line-height: 1em;
	}
	.btn-save-change {
		margin-right: 10px; 
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .saved-addr-wrap {
        .pull-right {
            float: left !important
        }
        h2 {
            margin-bottom: 0;
            padding-left: 0
        }
        .address-details {
            padding-left: 0
        }
        span {
            margin: 10px 0px;
        }
		.address-details-sections{
			padding-rihgt: 0px;
			border-bottom: 1px solid #edf3f9;
		}
    }
}