.article-slider {
	.bx-clone {
		display: none;
	}
    /*border-left: 1px solid #eee;*/
	@media screen and (min-width: 1024px) {
		li {
			width: 230px !important;
			float: left;
		    display: inline-block;
			.thumb {
				height: 194px !important;
			}
		}
	}
    img {
        display: inline;
    }
    .productBlock {
        &:hover {
            border-color: #fff;
        }
        /*.badges {
            top: -9px;
            right: 47px;
        }*/
    }
    .detailContent {
        border: 0;
       /* h5 {
            border-top: 1px solid #edf3f9;
            padding-top: 15px;
            height: 70px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        } */
		
		p {
        	a {
        		color: #838383;
    			font-weight: bold;
        	}
        }
		
    }
}
.search-out select {
	height: 38px;
	margin: 0 0px 10px 0px;
}
@media screen and (min-width: 1024px) {
	.bg-gray.specialBlock.clearfix.productRange.tb-res.brandSlide.carouselCount {
		.article-slider {
			li {
				margin: 0px 4px !important;
			}
		}
		.bx-wrapper .bx-controls-direction a.bx-next {
			right: -70px !important;
		}
	}
	.babyOffers {
		.article-slider {
			li {
				margin: 0px 20px !important;
			}
		}
	}
	.pdp-artslider {
		.article-slider {
			li {
				margin: 0px 20px !important;
			}
		}
	}
}
/*.panel-group {
    .closed {
        a.tittle {
            background: #fff url("../image/arrow-up.png") no-repeat right center;
        }
    }
}*/
/*.mix-match-badge {
    position: absolute;
    top: 0px;
    right: 0px;
}*/
.search-results {
    .title-bar {
        padding: 33px 0;
        .main-title {
            float: left;
            font: 4.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin: 0;
            text-align: left;
            span {
                font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
            }
        }
    }
    .nav-tabs li {
        margin-right: 0;
    }
    .border-line {
        border-bottom: 3px solid #e6ecef;
        margin-bottom: 3px;
        margin-top: -3px;
    }
    .search-results-wrap {
        background-color: @lightGrey;
        .search-container {
            background-color: @white;
            padding: 10px 20px;
            margin: 20px 0;
        }
        #products {
           /* .filter h4 {
                font-family: "arial";
                font-size: 1.3em;
                color: #838383;
                margin: 10px 0 0;
            }*/
            .selectric {
                p {
                    line-height: 3em;
                }
            }
            /*.detailContent {
                p {
                    font-size: 1.4em;
                }
                .btn {
                    font-size: 1.3em;
                    float: right;
                }
            }*/
            .darkblue {
                color: @btn-default-bg;
            }
            /*.badges {
                right: 18px;
                position: absolute;
                top: 25px;
                line-height: 1em;
            }
            .vitality-badge {
                right: 13px;
                position: absolute;
                top: 90px;
            }
            .vitality-badge.vitality {
                background-image: url("../image/out/sprite.png");
                background-position: 0px -1062px;
                height: 5.1em;
                text-indent: -9999px;
                width: 5.1em;
            }
            .badges.free-purchase {
                background-image: url("../image/out/sprite.png");
                background-position: 0px -1312px;
                height: 5.1em;
                text-indent: -9999px;
                width: 5.1em;
            }
            .badges.buyone-get {
                background-image: url("../image/out/sprite.png");
                background-position: 0px -1228px;
                height: 5.1em;
                text-indent: -9999px;
                width: 5.1em;
            }
            .badges.pay-less {
                background-image: url("../image/out/sprite.png");
                background-position: 0px -1144px;
                height: 5.1em;
                text-indent: -9999px;
                width: 5.1em;
            }*/
            .panel-group {
                ul li a {
                    padding: 7px 0 2px 10px;
                }
            }
        }
        #inspiration {
            h3 {
                font-size: 1.6em;
                a {
                    color: @btn-default-bg;
                }
            }
            h3:after {
                background: url("../image/blue-arrow.png") no-repeat right center;
                width: 7px;
                height: 10px;
                content: "";
                display: inline-block;
                padding-left: 15px;
            }
            .search-container {
                padding: 0px;
                .bord-right {
                    border-right: 1px solid #ddd;
                    padding-left: 20px;
                    padding-top: 12px;
                }
            }
            .bx-wrapper .bx-controls-direction a.bx-prev {
                left: 0px;
            }
            .bx-wrapper .bx-controls-direction a.bx-next {
                right: 0px;
            }
            .bx-wrapper .bx-controls-direction a {
                top: 22%;
            }
        }
        .search-out {
            display: none;
            margin: 0 auto 0;
            &.active {
                display: block;
            }
            h4,
            h5 {
                font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                margin: 5px 0;
                font-size: 100%;
            }
            h4 {
                a {
                    font-size: 1.4em;
                    color: @btn-default-bg;
                }
            }
            h5 {
                font-size: 1.3em;
                color: @list-group-link-heading-color;
                margin: 7px 0 5px;
            }
            p {
                line-height: 1.475em;
            }
            .hub-container {
                p {
                    font-family: arial;
                    color: #838382;
                    margin-top: 0px;
                }
            }
            .hub-container {
                margin-bottom: 28px;
            }
            .btn-load-articles {
                margin: 30px auto;
                font-size: 1.4em;
                padding: 1.2em 3.8em 1.2em;
            }
            .article-container {
                p {
                    font-family: arial;
                    color: #838382;
                    margin-top: 2px;
                }
                img {
                    margin: 8px 0 30px;
                }
            }
        }
        a.link {
            .default-text;
            display: inline-block;
            margin: 15px 0 0;
            text-decoration: underline;
            &:hover {
                color: @black;
            }
        }
    }
    .search-tabs {
        ul {
            border-left: 3px solid #e6ecef;
            li {
                border-right: 3px solid #e6ecef;
                border-top: 3px solid #e6ecef;
                border-bottom: 3px solid #e6ecef;
                a {
                    background-color: @white;
                    color: #4e4e4e;
                    font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                    padding: 7px 0px;
                }
                &.active {
                    margin: 0 0px 0 0;
                    border-bottom: 3px solid #fff;
                    a {
                        color: @blue;
                        padding-top: 7px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    /*.health-btn {
        margin: 10px 0 20px;
        a {
            margin: 10px 0 10px;
        }
        a:before {
		  height: 27px;
		  top: 16px;
		  width: 28px;
		  content: "";
          left: 18px;
        }
    }*/
}
.listAddPickupContainer {
	float: right;
}
/*Added for integration */

.healthhub_buttons {
    margin-top: 20px;
    .greenbgOuter .green-bg {
        padding: 20px 13px;
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
}
/* Smartphones (portrait and landscape) */

@media only screen and (min-device-width: 375px) and (max-device-width: 600px) {
    .search-results .search-tabs ul li a {
        font-size: 0.8em;
    }
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
    .search-results .search-tabs ul li a {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .search-results .search-tabs ul li a {
        font-size: 1em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .search-results .search-tabs ul li a {
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 374px) {
    .search-results .search-tabs ul li a {
        font-size: 1.2em;
    }
}
/*integration fix by paramaguru*/

.search-results .search-results-wrap .search-out:focus {
    outline: none;
}