.no_items {
	margin-bottom: 10px;
	.btn-default {
    	    display: inline-block !important;
		    height: 33px;
		    font-size: 20px !important;
		    text-align: center;
		    border: none;
		    vertical-align: middle;
		    background: #fff;
		    color: #838383;
		    text-decoration : none;
		    margin: 0 !important;
		    text-decoration : none;
			line-height: 33px;
			@media only screen and (max-width: 480px){
				padding: 0px 4px;
			}
        }
    .quantity {
        width: 30px;
        text-align: center;
        padding: 0 5px;
        color: #222;
		display: inline-block;
    }
    .btn-default[disabled] { 
		background-color: #fff;
    	border-color: transparent;
    	color : #ccc;
	}    
	.submitRemoveProduct {
		margin-top : 10px;
	}
	span {
		color: #838383;
		font: 1.3em/1.475em arial;
	}
}
#addToCartForm{
	.pdp-btn{
		.btn {
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}
.shopping-list {
    .bg-white();
    .clearfix();
    .shop-img {
        .text-center();
        a {
			height: auto;
			img {
				max-width: 100%;
			}
		}
    }
    .order-product-head {
        padding-left: 5px;
    }
    .prod-info {
        display: table-cell;
        vertical-align: middle;
        text-align : left;
		.price-wrap {
			text-align: left !important;
		}
    }
    .shop-wrap {
        padding: 15px 0;
        h4 {
            a {
            	 font: 100% "Conv_ITCAvantGardeStd-Md";
		         color: #373737;
		         margin: 0 0 3px 0;
		         text-decoration : none;
				 &:hover {
					color: #005baa;
				}
            }
        }
		.prod-info{
			span {
				font: 1.4em arial;
				color: #838383;
				display: block;
				line-height: 1.5em;
			}
			p a {
				font-family: arial;
				font-size: inherit;
				color: #838383;
				display: block;
				line-height: 1.5em;
				text-decoration: none;
				&:hover {
					color: #005baa;
				}
			}
		}        
        .offer-data {
            .red();
            line-height: 1.2em;
            margin-top: 2px;
            font-size : 1.3em ;
        }
    }
    a {
        color: #222;
        font: 1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
    .price-space {
        padding-left: 30px;
    }
    .shop-sugg {
        .price {
            padding-left: 0
        }
    }
    .shop-list {
        display: table-cell;
        float: none;
        vertical-align: middle;
        
        a {
        	display: block;
		    /*margin-top: 10px;*/
		    font-size: 1.2em;
		    color: #838383;
        }
        
    }
    .load-order {
        clear: both;
        .btn {
            font-size: 1.4em;
            padding: 1em 3em;
        }
    }
	#header3{
		text-align: right;
	}
}
.cart_img {
	@media only screen and (max-width: 767px) {
		padding: 0 0 10px 0;
		text-align: center;
		margin: 0 0 10px 0;
		border-bottom: 1px solid #e6ecef;
	}
}
.prod-info .prd-desc {
	margin: 5px 0px !important;
	a {
		color: #337ab7;
		text-decoration: none;
	}
}
.price-right{
	text-align: right;
}
.simple_disp-img {
	margin-bottom: 15px;
	img {
		max-width: 100%;
	}
}
@media only screen and (max-width: 960px) and (min-width: 320px) {
    .suggest-wrap {
        .text-right {
            text-align: center;
        }
    }
    .shopping-list {
        .shop-wrap {
            padding-left: 0;
            padding-right: 0;
        }
        .btn {
            width: auto;
        }
        .price {            
            padding-left: 0;
            display: inline-block;
        }
        .shop-list {
            float: left;
            display: block;
        }
        .add-list {
            clear: both;
            margin-top: 10px;
        }
        .shop-img {
            /*float: left;*/
            display: block;
        }
        .offer-data {
            margin-bottom: 5px;
        }
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {    
    .shop-list {
		.price-wrap {
			text-align: right;
		}
    }
	.shopBasket .subTotal .price-wrap {text-align: right;}
	.grant-total .price-wrap {text-align: right;}
	#cboxLoadedContent .shop-wrap {
		.shop-list:last-child {
		padding: 0px;
		}
	}
	.shop-list.price-right {
		padding: 0px 0px 0px 0px;
	}
}
@media only screen and (max-width: 667px) and (min-width: 480px) {
    .shopping-list .add-list {
        padding-left: 5%
    }
    
}
@media only screen and (max-width: 736px) and (min-width: 568px) {
    /*.shopping-list .shop-img {
        width: 21%;
    }*/
}
@media only screen and (max-width: 375px) and (min-width: 320px) {
    .shopping-list {
        /*.shop-img {
            width: 18%;
            text-align: left;
        }*/
        .offer-data {
            margin-bottom: 10px;
        }
    }
}
@media only screen and (max-width: 414px) and (min-width: 375px) {
    /*.shopping-list .shop-img {
        width: 20%;
    }
     .grant-total {width : 59%}*/
}
@media only screen and (max-width: 736px) and (min-width: 730px) {
    .shopping-list .add-list {
        padding-left: 37px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 667px) {
    /*.shopping-list .shop-img {
        text-align: center;
        width: 21%;
    }*/
}
@media only screen and (max-width: 768px) and (min-width: 768px) {
    /*.shopping-list .shop-img {
        width: 17%;
    }*/
    .shopping-list .shop-list.text-center {
        text-align: left;
    }
}

/*shopping basket less */
.shopBasket {
	.form-wrap {
		width: 95%;
	    margin: 0 auto;
    }
	.pagenfound .blue-heading-bar h2 {
		margin : 1px 0;
	}
	.order-product-head {
    	padding: 2px 10px;
	}
	.inidiviual-order-wrap {margin-bottom : 10px}
	.prod_notify {
	    font: 1.3em arial;
	    padding: 0px 0 10px 15px;
   	} 
	.potentialPromotions{
		.prod_notify {
			color: #cc0000;
			a {
				font-family: inherit;
				color: inherit;
				font-size: inherit;
				text-decoration: none;
			}
		} 
		.tick:before {
			background: url(../image/sprite/red-tick.png);
			top: 0px;
		}
	}	
	.appliedPromotions{
		.prod_notify {
			color: #339b01;
		}
		.tick:before {
			background: url(../image/sprite/green-tick.png);
			top: 0px;
		}
	}
	.shopping-list {
		.shop-list {
			float : left;
		}
		.shop-wrap {
			padding: 15px 10px;
			.prod-info{
				.price-wrap{
					display: inline-block;
					vertical-align: top;
					.price{
						margin: 0px;
					}
				}
				.price-offer{
					font: 1.3em arial;
					display: inline-block;
					vertical-align: top;
					margin: 12px 5px;
					@media only screen and (max-width: 1024px) {
						margin-top: 10px !important;
					}
					span {
						font: 1em arial;
						display: block;						
					}
				}
			}
		}
		p {
			margin : 0;
		}
		div[class^="col-lg-12"]:last-child  {
			.border {
				border-bottom : 0
			}
			border-bottom: 1px solid #eee;
		}
	}	
	
	.subTotal {
		.price-right{
			@media only screen and (max-width: 480px){
				padding: 0px;
			}
		}
		.price-wrap {
			margin : 0
			}
		h4 {
			margin: 0px;
		}
		.subTotalexcluding{
			overflow: hidden;
			clear: both;
		}
		.totalsaving {
			font-family : sans-serif;
			color: #cc0000 !important;
			padding-top: 10px;
			overflow: hidden;
			clear: both;
		    .price-wrap {
		        display: inline;
				line-height: normal;
		    }
		    .price {
		    	font: 1em sans-serif;
			    display: inline;
			    color: #cc0000 !important;
			    font-weight: bold;
		    }
		}
	}
	.shopPoints {
		background: #fff;
		clear: both;
		padding : 15px 0px;
		margin-bottom : 10px;
		h4 {
			color : #838383;
			font : 1.4em "Conv_ITCAvantGardeStd-Md";
			margin: 9px 0 8px 0;
		}
		span , a {
			font : 1.4em arial;
		}
		span {
			color : #838383;
			margin: 6px 0 5px;
    		display: block;
			a {
				font-size : 100%;
				color : @blue;
				text-decoration : underline
			}
		}
		.collect-points {
			@media only screen and (min-width: 768px) {
				float: right;
				padding-right: 15px;
			}
		} 
	}	
}
.totalsaving {
	font-family : sans-serif;
	color: #cc0000 !important;
	font-size: 14px;
	padding-top: 10px;
	overflow: hidden;
	clear: both;
	.price-wrap {
		display: inline;
		line-height: normal;
	}
	.price {
		font: 1em sans-serif;
		display: inline;
		color: #cc0000 !important;
		font-weight: bold;
	}        
	.summary-content {
		font: 1em sans-serif !important;
		margin: 0px !important;
	}
	h4 {
		font: inherit !important;
	}
	.col-xs-3 {
	@media only screen and (max-width: 767px) {
			padding-right: 0px;
		}
	}
}
.deliveryfee{
	clear: both;
	overflow: hidden;
	padding-top: 10px;
	.price-wrap, .summary-content, .price {
		margin: 0px !important;
	}
}
.grant-total{
	h4 {
		margin: 0px;
	}
	.price{
		line-height: normal;
	}
}
.totalcost {
	clear: both;
	overflow: hidden;
	padding-top: 10px;
	font: 2em "Conv_ITCAvantGardeStd-Bold" !important;
	h4{
		margin: 0px;
		font: inherit;
	}
	.price-wrap{
		margin: 0px;
		.price {
			font: inherit;
			line-height: normal;
		}
	}
	.summary-content{
		font: inherit !important;
	}
}
.indiviOrder {
	h4{
		margin: 0px;
	}
	.price-wrap{
		margin: 0px;
	}
}
.indiviSubTotal {
	padding: 15px 0px;
	overflow: hidden;
}
.shop-wrap {
	padding: 15px 10px;
	overflow: hidden;
	.prod-info{
		.price-wrap{
			display: inline-block;
			vertical-align: top;
			.price{
				margin: 0px;
			}
		}
		.price-offer{
			font: 1.3em arial;
			display: inline-block;
			vertical-align: top;
			margin: 12px 5px;
			span {
				font: 1em arial;
				display: block;						
			}
			.price-wrap{
				margin: 0px;
				.price{
					font: 12px arial !important;
					color: #222222 !important;
					margin: 0px;
				}
			}
		}
	}
}
dl.totalsaving dt, dl.totalsaving dd {
    vertical-align: top;
}
.totalvat{
	.price-wrap{
		display: inline-block;
		margin: 0px;
		font-size: inherit;
		.price {
			display: inline-block;
			margin: 0px;
			color: #838383 !important;
			font-size: inherit;
		}
	}
}
.prod_notify {
	font: 13px arial;
	padding: 0px 0 0px 20px;
} 
.potentialPromotions{
	li {
		border: 0px !important;
	}
	.prod_notify {
		color: #cc0000;
		a {
			font-family: inherit;
			color: inherit;
			font-size: inherit;
			text-decoration: none;
		}
	} 
	.tick:before {
		background: url(../image/sprite/red-tick.png);
		top: 0px;
	}
}	
.appliedPromotions{
	li {
		border: 0px !important;
	}
	.prod_notify {
		color: #339b01;
	}
	.tick:before {
		background: url(../image/sprite/green-tick.png);
		top: 0px;
	}
}
@media only screen and (max-width: 767px) {
	dl.totalsaving dd {
		text-align: right;
	}
}
dl.totalsaving dt h4{
	font: 2em "Conv_ITCAvantGardeStd-Bold" !important;
}
dl.totalsaving span.specialCheckout {
    margin-top: 15px;
    display: inline-block;
}
/*.input-append {
	input {
		padding: 7px 0 9px;
    	width: 77%;
	}
	.btn {margin-left: -3px;}
}*/
.basketDelivery {
	background: #fff;
    padding: 15px 5px;
    margin-bottom: 10px;
    text-align: center;	
	&:first-child {
		@media only screen and (max-width: 768px) {
			margin-top: 10px;
		}
	}
	h5 {
		font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
	    color: #005baa;
	    margin: 10px 0 5px 0;
	}
	span {
		font : 1.3em "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
		color : @blue;
	}
}
.shopping-list {
	.prod-info {
		.price {
			padding : 0; 
			font : 1.4em "Conv_ITCAvantGardeStd-Bold", Arial, Helvetica, sans-serif;
			margin-top : 5px;
		}	
	}
} 
.sliderOuter1 {
	.productBlock {
		padding : 30px 0;
	}
}

.deliverPoints {
	background :  #fff;
	clear : both; 
	padding: 15px;
	.border {
		padding-bottom: 15px;
	}
}
.item_container_holder.promo h2{
	margin: 0px 0px 10px 0px;
}
#shoppingButons {
     margin: 25px 0 20px;
     cite {
 	    font: 1.4em arial;
	    color : #000;
	    margin: 0 10px;
     }	
    .contShop {
    	background-color : #838383;
		width: 35%;
		padding:1.2em 0em 1.2em;
		@media only screen and (max-width: 767px){
			width: 100%;
		}
    }
    .doCheckoutBut {
        width: 55%;
		padding:1.2em 0em 1.2em;
		@media only screen and (max-width: 767px){
			width: 100%;
		}
     } 
     div[class='cmsimage'] {display : inline}
}     
.guarantee {
	margin: 25px 0px 0px 0px;
    img {
		vertical-align : top; 
		margin-top: 6px;
	}
	.cmsimage img{
		vertical-align : top; 
		margin-left: 15px; 
		margin-top: 0px;
	}
    span {
        font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    	margin-left: 5px;
		margin-top: 6px;
		display: inline-block;
    }
}
.master_logo {
	margin: 25px 0px 0px 0px;
	.cmsimage img{
		vertical-align : top; 
		margin-left: 15px; 
		margin-top: 15px;
	}
}        
.shopHead {
	padding-bottom : 15px;
	&.rewards .acc-heading h1 {margin-top: 25px; margin-bottom : 10px; }
	p {
		font: 1.4em "Conv_ITCAvantGardeStd-Md";
	    color : #838383;	
	    margin : 5px 0 10px 0;
	}
	a {
		font: 1.4em "Conv_ITCAvantGardeStd-Demi";
	    color: #005baa;
	    text-decoration: underline;
    }
    .shopTab {
	    /*display: table;*/
	    width: 100%;
		.text-right{
			margin: 45px 0 0px 0px;
		}
    }
    /*div[class^="col-lg-"] {
    	display: table-cell;
	    vertical-align: middle;
	    float: none;
    }*/
}
/*media Queries*/
@media screen and (min-width: 320px) and (max-width: 767px) {
	/*.input-append {
		input, .btn {
			    width: auto;
		}
	}*/
	/*.shopBasket .shopping-list .shop-list:last-child {padding : 0}*/
	/*.grant-total {float : right}*/
	.shopBasket .shop-prod-list a {
		background-image: none;
		text-indent: 0;
    	width: 100%;
    }
	.pagedata_wrapper {margin : 0}
	#shoppingButons {
		.contShop {margin-right :0;}
		.btn {margin: 15px 0px;}
	}	
	/*.shopBasket .grant-total dl dt {margin: 7px 15px 0 0;}*/
	/*.shopBasket .grant-total dl dd {text-align: right;}*/
	.master_logo, .guarantee {
		text-align: center;
	}
	.shopBasket .shopPoints div[class^='col-lg']:first-child {border : 0}
	.shopBasket .subTotal dl dt {width: 58%;}
	.shopBasket .subTotal dl dd {width: 40%;}
	.shopBasket .shopPoints {padding: 15px 0 10px 0}
	/*.shopBasket .grant-total.indivigrandTot dl {
		dt {
	    	width: 43%;
	    	margin: 7px 30px 0 0;
	        width: 70%;
		    margin: 7px 0px 0 0;
		    padding-right: 40px;
		}
		 dd {
    		width: 25%;
		}
	}*/	
		
	.shopBasket .checkout-confirm-left {
		margin-bottom : 15px;
	} 
	/*.shopHead div[class^="col-lg-"] {
		float : none;
		display: block;
	}*/
	.shopTab {
		.text-right{
			margin: 0px !important;
			text-align: left;
		}
    }
	 .shopBasket .form-wrap {
    	width: 93%;
   }
   .basket-thumb-img{
		float: none !important;
		clear: both !important;
		overflow: hidden;
		margin-bottom: 15px;
   }
   #shoppingButons .text-right{
       text-align: center !important;
   }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.master_logo, .guarantee {width: 100%;}
}
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
	.master_logo, .guarantee {width: 50%;}
	.shopPoints .col-xs-12 {
		width : 50%;
	}
	.shopBasket .subTotal dl dt {width: 74%;}
	.shopBasket .subTotal dl dd {width: 24%;}
}
@media only screen and (min-device-width: 480px) and (max-device-width: 481px) {
	.master_logo, .guarantee {width: 100%;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.shopBasket .shopping-list .shop-list.text-center {
	    text-align: center;
	}
	/*.input-append {
		input, .btn {
			    width: auto;
		}
	}*/
	.inidiviual-order-wrap .btn-save-change {
    	padding: 1.1em 2em;
	}
	.shopBasket .indiviSubTotal dl {
		dd {width: 31%;}
		dt { width: 67%;}
	}	 
}
@media only screen and (max-width: 414px) and (min-width: 375px) {
	.shopBasket .subTotal dl {
	dt {
    	width: 75%;
	}
	dd {
    	width: 23%;
	}
	}
}