.infoBox {
    margin-top: 11px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: left;
}
.infoBox:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.infoBox:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -16px;
}
.store-search input.text {
    position: relative;
}
.storesearchicon {
    z-index: 1;
    position: absolute;
    display: inline-block;
    background: url(../image/storesearchicon.png) no-repeat;
    width: 21px;
    height: 20px;
    left: 25px;
    top: 50%;
    margin-top: -10px;
}
.store-locator {
    .title-bar {
        padding: 33px 0;
        .main-title {
            float: left;
            font: 4.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin: 0;
            text-align: left;
            span {
                font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
            }
        }
    }
    .store-finder {
        background-color: @lightGrey;
        padding: 20px 0;
    }
    .store-map {
        margin: 0 0 20px;
        padding-right: 5px;
        ul {
            li {
                margin: 0 2px 2px 0;
                width: 16.1em;
                a {
                    background-color: @white;
                    color: #4e4e4e;
                    font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                    padding: 12px 25px 10px;
                }
                &.active {
                    margin: 0 2px 0 0;
                    a {
                        color: @blue;
                        padding-top: 14px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                    width: 15.8em;
                }
            }
        }
        .map-container {
            background-color: @white;
            padding: 10px 10px 50px;
            position: relative;
            text-align: center;
            .map {
                visibility: hidden;
                text-align: center;
                height: 454px;
                margin: 0 auto 0;
                position: absolute !important;
                left: -999999px;
                top: -999999px;
                width: 454px;
                &.active {
                    left: 0;
                    overflow: hidden;
                    position: relative !important;
                    top: 0;
                    visibility: visible;
                }
            }
            a.link {
                .default-text;
                display: inline-block;
                margin: 15px 0 0;
                text-decoration: underline;
                &:hover {
                    color: @black;
                }
            }
            .gm-style-iw {
                text-align: left;
                a {
                    color: #000;
                }
            }
        }
    }
    .store-info {
        dl {
            padding: 0px 0px 7px 0px;
            margin: 0px;
        }
        dd,
        dt {
            color: #838383;
            font: 1.3em arial;
            display: inline-block;
            vertical-align: top;
            margin: 0px;
            overflow: hidden;
        }
        dt {
            /*width: 60%; */
            width: 52%;
		    float: left;
		    padding: 0 0 7px 0;
    
        }
        dd {
            /*width: 38%;*/
            width: 48%;
    		float: left;
        }
        .shop_tel {
            float: right;
        }
        .phone_num {
            display: inline-block;
            margin-bottom: 10px;
            width: 100%;
        }
        .contactStore {
            /*dt {} dd {}*/
            width: 100%;
    		float: left;
    		margin : 0;
    		div[class^="col-lg"]:first-child {
    			width: 50%;
			    float: left;
			    margin-right: 7px;
			    padding: 0;
    		}
    		div[class^="col-lg"]:nth-child(2) {
    			width: 48%;
    			float: left;
    			padding: 0;
    		}
        }
        /* for integration */
        .openingHoursWrap {
        	width : 100%;
        	margin : 0;
        	div[class^="col-lg"]:first-child {
    			width: 50%;
			    float: left;
			    margin-right: 7px;
			    padding: 0;
    		}
    		div[class^="col-lg"]:last-child {
    			width: 48%;
    			float: left;
    			padding: 0;
    		}
        }
        .storeSplDays {
            width: 50%;
            /*padding-right: 15px; */
            dt {}
        }
        /*for integration */
        
        & > li,
        & > .store-individual {
            border-top: 1px solid @lightGrey;
            overflow: hidden;
            padding: 17px 0;
            h3 {
                font: @font-size-h3/1.3em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                margin: 0px 0px 10px 0px;
                span {
                    font-family: "Conv_ITCAvantGardeStd-Bk", Arial, Helvetica, sans-serif;
                    display: inline-block;
                    margin-left: 15px;
                }
                a {
                    color: inherit;
                    font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                    &:nth-child(2) {
                        margin-left: 5px;
                    }
                    &:hover {
                        color: @darkBlue;
                    }
                }
            }
            .pharmaClinicWrap {
                display: inline-block;
                float: right;
                margin-right: 7px;
                text-align: center;
                img {
                    display: inline-block;
                }
            }
            p {
                .default-text;
                margin: 8px 0 0;
                /*small {
                    float: left;
                    font-size: 100%;
                    width: 38%;
                }*/
            }
            .pull-right {
                p {
                    font: 1.2em/1em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                    &:first-child {
                        margin: 0 0 10px;
                    }
                }
            }
            .pull-left {
                width: auto;
                max-width: 70%;
            }
            /*:last-child p {
                small {
                    width: 35%;
                }
                span {
                    width: 61%;
                    text-align: left;
                }
            }
            &:first-child {
                border: none;
                p span {
                    width: 61%;
                }
            }
            :last-child {
                span {
                    &.text-right {
                        text-align: right;
                        width: auto !important;
                    }
                }
            }*/
        }
    }
    .btn-load-more {
        display: block;
        margin: 30px auto 10px;
        padding: 1em;
        width: 180px;
    }
}
.store-results {
    .title-bar {
        .main-title {
            float: none;
            margin: 0 0 10px;
        }
        p {
            font: 1.4em/1em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            margin: 0 0 10px;
            strong {
                margin: 0 10px 0 0;
            }
            span {
                color: @default-text-color;
                font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
                margin: 0 10px 0 0;
            }
        }
    }
    .store-hours {
        h2 {
            margin: 0;
        }
        /*p {
            span {
                float: right;
                width: 53%;
                text-align: left;
            }
        }
        ul ul {
            overflow: hidden;
            padding: 0 0 5px 0;
            li {
                float: left;
                width: 50%;
                &:last-child {
                    width: 42%;
                }
            }
            &.contactStore {
                margin-bottom: 20px;
            }
        }*/
        em {
            color: @default-text-color;
            font: 1.3em arial;
            font-style: normal;
            clear: left;
    		display: block;
        }
    }
}
.store-locator .store-hours,
.store-locator .store-info {
    background-color: #fff;
    padding: 0 15px;
}
.store-locator.store-results .store-hours {
    padding: 16px 15px 10px;
    .store-info {
        padding: 0;
    }
}
.store-locator.store-results .store-info > .store-individual {
    padding: 15px 0 15px;
}
/*.store-hours .store-info > .store-individual > p {
    margin: 15px 0 5px 0;
    width: 48%;
}
.store-info > .store-individual >span {
    display: block;
    font: 1.3em arial;
    color: #838383;
    margin: 5px 0 0 0;
}
.store-hours .store-info li:first-child ul li {
    float: left;
    width: 48%;
}
.store-hours .store-info li:first-child ul li + li {
    width: 42%;
    float: right;
}*/
.store-results .store-hours {
    margin-top: 6px;
    h2 {
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    }
}
.blue-bar {
    background-color: @blue;
    color: @white;
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}
.store-locator.store-results .store-map .map-container {
    padding-bottom: 10px;
}
.store-results .title-icons-wrap {
    img {
        vertical-align: top;
    }
    p span {
        margin: 3px 10px 0 0;
        display: inline-block;
    }
}
@media only screen and (max-width: 767px) {
    .store-locator .store-info .storeSplDays {
        width: 100%;
        padding-right: 0;
    }
    .store-locator .store-info>li h3 span,
    .store-locator .store-info>.store-individual h3 span {
        display: block;
        margin: 5px 0px 0px 15px;
    }
}
@media only screen and (min-width: 240px) and (max-width: 768px) {
    .store-locator .store-search {
        margin-top: 20px;
    }
    .store-locator .store-map ul li a {
        padding: 12px 10px 10px;
    }
}
@media only screen and (min-width: 240px) and (max-width: 640px) {
    /*.store-results .store-hours ul li,
    .store-results .store-hours ul li:last-child,
    .store-info.store-hours li:first-child ul li {
        float: none;
        width: 100%;
    }*/
    .store-locator .title-bar .main-title {
        font-size: 2.5em;
    }
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
    .store-locator .store-map ul li {
        width: 35%;
        &:last-child {
            width: 25%;
        }
        a {
            font-size: 1.2em;
        }
    }
    .store-locator .store-info>li .pull-left {
        width: 60%;
    }
    .store-locator .store-info>li .pull-right {
        width: 40%;
    }
    
}
@media only screen and (min-width: 641px) and (max-width: 767px) {
    .store-locator .store-map ul li,
    .store-locator .store-map ul li:last-child {
        width: 25%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
    .store-locator .store-map ul li,
    .store-locator .store-map ul li:last-child {
        width: 30%;
    }
    .store-locator .title-bar .main-title {
        font-size: 3em;
    }
    .store-locator .store-map .map-container .map {
        width: 700px;
    }
}
/*integration fixes*/

.contactStore li:first-child,
.contactStore li:last-child {
    width: 50% !important;
}
.contactStore li:first-child p span,
.contactStore li:last-child p small {
    width: 45% !important;
}
.contactStore li:first-child p span,
.contactStore li:last-child p span {
    width: 50% !important;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .store-locator .store-info .storeSplDays dt {
        margin-right: 0;
    }
    
    /* For integration  */
    .store-locator .store-info .openingHoursWrap div[class^="col-lg"]:first-child, .store-locator .store-info .openingHoursWrap div[class^="col-lg"]:last-child {
    	width : 100%;
    }
    .store-locator .store-info .contactStore div[class^="col-lg"]:first-child, .store-locator .store-info .contactStore div[class^="col-lg"]:nth-child(2) {
    	width : 100%;
    }
    
}
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	 /* For integration  */
    .store-locator .store-info .openingHoursWrap div[class^="col-lg"]:first-child, .store-locator .store-info .contactStore div[class^="col-lg"]:first-child  {
    	width : 50%;
    }
    .store-locator .store-info .openingHoursWrap div[class^="col-lg"]:last-child, .store-locator .store-info .contactStore div[class^="col-lg"]:nth-child(2) {
    	width : 48%;
    }
    
}
#storeFinderForm .btnSearch {
    margin-right: 10px;
}
.store-locator .title-bar .store-search .text {
    padding-left: 35px;
    padding-right: 35px;
}
.store-locator .store-finder.bg-white {
    background-color: #fff;
}