/** Home page **/

.main-container {
    min-height: 200px;
    position: relative;
}
.home-find-store {
    margin: 20px auto;
    a {
        background-color: @blue;
        color: @white;
        display: block;
        font-size: 1.6em;
        line-height: 1.35em;
        margin: 10px 0;
        min-height: 79px;
        padding: 18px 50px 18px 68px;
        position: relative;
        &.nearest-store {
            padding: 30px 68px 27px;
            &:before {
                background: url("../image/sprite.png") no-repeat left -160px;
                height: 32px;
                width: 32px;
            }
        }
        &:before {
            content: "";
            left: 20px;
            position: absolute;
            top: 22px;
        }
        &.new-store:before {
            background: url("../image/sprite.png") no-repeat left -123px;
            height: 29px;
            width: 31px;
        }
    }
}
.health-push {
    margin: 20px auto 20px;
    .col-md-4 {
        div {
            background-color: @green;
            color: @white;
            font-size: 1.4em;
            p {
                display: table-cell;
                height: 71px;
                padding: 0 20px 0 65px;
                position: relative;
                vertical-align: middle;
            }
            &.order-presc p:before {
                background: url("../image/sprite.png") no-repeat left -247px;
                height: 28px;
                left: 20px;
                top: 21px;
                width: 26px;
            }
            &.manage-presc p:before {
                background: url("../image/sprite.png") no-repeat left -287px;
                height: 27px;
                left: 23px;
                top: 21px;
                width: 25px;
            }
            &.health-concern p:before {
                background: url("../image/sprite.png") no-repeat left -330px;
                height: 24px;
                left: 20px;
                top: 23px;
                width: 24px;
            }
            img {
                width: 100%;
            }
        }
    }
}
.clearBoth {
	clear: both;
}
.health-push .col-md-4 div p:before {
    content: "";
    position: absolute;
}
.latest-promo {
    margin: 20px auto;
    a {
        display: block;
    }
}
.main-title {
    color: @blue;
    font-size: @font-size-h2;
    margin: 0 0 30px;
    small {
        color: @blue;
    }
}
.promo-prod,
.new-prod {
    border: 1px solid @input-border;
    cursor: pointer;
    height: 397px;
    padding: 15px 10px;
    position: relative;
    text-align: center;
}
.promo-prod:hover,
.new-prod:hover {
    border: 1px solid @blue;
}
.promo-prod h4,
.new-prod h4 {
    color: #373737;
    font-size: 1.4em;
    line-height: 1em;
    margin: 8px 0;
}
.promo-prod p,
.new-prod p {
    color: @default-text-color;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 7px;
}
.promo-prod .product,
.new-prod .product {
    height: 200px;
}
.promo-prod .product img {
    display: inline;
}
.container .prod-price {
    color: #ed174c;
    font-size: 1.6em;
}
.btnSave {
    background-color: #ed174c;
    bottom: 0;
    color: @white;
    font-size: 1.3em;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    &:hover {
        color: @white;
    }
}
.btn.btnAdd {
    line-height: 1em;
    margin: 5px auto;
    padding: 6px 5px;
    width: 54px;
}
.star-rating {
    height: 13px;
}
.prod-desc {
    height: 28px;
}
.promo-prod .badges,
.new-prod .badges {
    right: 5px;
    position: absolute;
    top: 17px;
}
.signin-enrole {
    margin: 40px 0 20px;
    overflow: hidden;
}
.signin-enrole p {
    color: @blue;
    font-size: 1.6em;
    line-height: 2em;
    margin: 0;
}
.signin-enrole p a {
    color: @blue;
    display: inline;
    text-decoration: underline;
}
.new-at-clicks {
    margin-bottom: 30px;
}
.new-prod {
    height: 460px;
}
.clicks-health-info {
    text-align: center;
}
.clicks-health-info img {
    margin: 0 0 20px;
}
.clicks-health-info h4 {
    color: @blue;
    font-size: 1.4em;
}
.clicks-health-info p {
    color: @default-text-color;
    font-size: 1em;
    margin: 5px 0;
}
.only-at-clicks {
    margin-bottom: 40px;
}
.logo {
    background-color: #66cef5;
    a {
        display: table-cell;
        height: 155px;
        text-align: center;
        vertical-align: middle;
        width: 222px;
        img {
            display: inline;
        }
    }
}
.banner {
    margin: 0 auto;
    max-width: 1400px;
}
.banner-content {
    left: 24.4%;
    position: absolute;
    top: 47px;
    .badges {
        background: url("../image/out/sprite.png") no-repeat left top;
        display: block;
        float: none;
        height: 114px;
        width: 114px;
        &.banner-batch-only {
            background-position: 0px -796px;
            height: 114px;
            width: 114px;
        }
        &.banner-batch-mix {
            background-position: 0px -663px;
            height: 113px;
            width: 114px;
        }
    }
    .no-badge {
        background: none;
    }
}
.banner-title {
    color: @white;
    font-size: 5.7em;
    margin: 22px 0 35px;
    small {
        color: @white;
        display: block;
    }
}
.club-card p {
    font-size: 1.6em;
    line-height: 1.4em;
    padding: 15px 25px;
    text-align: center;
}
ul.servicesOffering {
	width: 100%;
	margin: 0px;
	padding: 0px;
	li{
		display: block;
		width: 50%;
		float: left;
		padding: 5px 15px;
		border-right: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		&:first-child, &:nth-child(2){
			border-top: 1px solid #e5e5e5;
		}
		&:nth-child(2n-1){
			border-left: 1px solid #e5e5e5;
		}
		a{
			font: 1.4em/1.475em "arial";
			color: #838383;
			line-height: 1.7em;
		}
	}
}
ul.store-siteMap {
	width: 100%;
	margin: 0px;
	padding: 0px;
	li{
		display: block;
		width: 33%;
		float: left;
		padding: 5px 15px;
		border-right: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		&:first-child {
			display:none;
		}
		&:nth-child(2), &:nth-child(3), &:nth-child(4){
			border-top: 1px solid #e5e5e5;
		}
		&:nth-child(3n-1){
			border-left: 1px solid #e5e5e5;
		}
		a{
			font: 1.4em/1.475em "arial";
			color: #838383;
			line-height: 1.7em;
		}
	}
}
/** Home page Ends **/

/** SiteMap page starts **/
.siteMapcontainer {
	padding:25px;
		h2 {
			font: 1.8em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
			color: @blue;
			margin: 0px 0 10px 0;
		}
}
.siteMap {    
	margin: 0 0 10px 0;
	padding:0px;
	list-style:none;
}
.siteMapSection {
}
.siteMap li {
	padding: 5px 0px;
}
.siteMap li a {
    display: inline-block;
    padding: 0px 0px 0px 10px;
    text-decoration: none;
	font: 1.4em/1.475em "arial";
    color: #838383;
	width: 94%;
}
.siteMap li a:hover, .siteMap li a.active {
	text-decoration: underline;
}
.siteMap li ul {
    display: none;
	list-style: none;
	margin-left: 25px;
}
.siteMap li ul li a {
    padding: 0px 10px;
}
.sitemap-container {
	padding: 25px;
}
ul.innerSiteMap li a {
    width: 92%;
}
.collapseMap {
	display: inline-block;
	width:12px;
	height:12px;
	position: relative;
	vertical-align: top;
    margin-top: 4px;
}
.collapseMap:before {
	background:#003268;
	content:"";
	width:2px;
	height:12px;
	position:absolute;
	top:0px;
	left:5px;
}
.collapseMap:after {
	background:#003268;
	content:"";
	width:12px;
	height:2px;
	position:absolute;
	top:5px;
	left:0px;
}
.siteMap li.active > .collapseMap:before {
	display: none !important;
}
.noCollapse.collapseMap {
	margin-top: 3px;
}
.noCollapse.collapseMap:before, .noCollapse.collapseMap:after {
	width:5px !important;
	height:5px !important;
	left: 5px !important;
    top: 5px !important;	
	/*display: none !important;*/
}
/** SiteMap page Ends **/
/* static contant page styles starts*/
#static-contentPage{
	
	h1, h2, h3, h4, h5, h6{
		font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
		margin: 0px;
		padding: 0px;
	}
	h3{
		font-size: 18px;
		color: #000;
	}
	h4{
		font-size: 16px;
		color: #000;
	}
	h5{
		font-size: 14px;
		color: #000;
	}
	h6{
		font-size: 14px;
		color: #000;
	}
	p {
		font-family: "arial";
		font-size: 14px;
		color: #838383;
		margin: 20px 0px;
		padding: 0px;
		line-height: 21px;
		strong{
			color: #000;
		}
	}
	strong{
		color: #000;
	}
	a {
		font-family: "arial";
		font-size: 14px;
		margin: 0px;
		padding: 0px;
	}
	ul { 
		font-family: "arial";
		font-size: 14px;
		color: #838383;
	   list-style-type: inherit; 
	   list-style-position: outside; 
	   margin:10px 0 10px 15px;
	   li {
		line-height: 21px;
	   }
	}
	ol {
		font-family: "arial";
		font-size: 14px;
	   list-style-type: inherit; 
	   list-style-position: outside;
		margin:10px 0 10px 15px;	   
	}
	ul ul, ol ul { 
	   list-style-type: inherit; 
	   list-style-position: outside; 
	   margin-left: 15px; 
	}
	ol ol, ul ol { 
	   list-style-type: inherit; 
	   list-style-position: outside; 
	   margin-left: 15px; 
	}

}
.maintenancePage {
	text-align: center;
	.simple_disp-img {
		margin-bottom: 30px;
	}
}
/* static contant page styles ends*/

.home_bxslider {
	li {
		display: none;
	}
	li:nth-child(2) {
		display: block !important;
	}
	.bx-clone {
	  display: none;
	}
}
/* Media Queries */

@media only screen and (min-width: 240px) {
    body {
        font-size: 31.25%;
    }
}
@media only screen and (min-width: 360px) {
    body {
        font-size: 35.15%;
    }
}
@media only screen and (min-width: 480px) {
    body {
        font-size: 46.8%;
    }
}
@media only screen and (min-width: 640px) {
    body {
        font-size: 62.5%;
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: 75%;
    }
}
@media only screen and (min-width: 1024px) {
    body {
        font-size: 100%;
    }
    .bxslider ul li a {
        width: 62.5rem !important;
    }
    .promo-slider li {
        width: 4.09% !important;
    }
}
@media only screen and (max-width: 767px) {
    .banner-content {
        bottom: 13%;
        left: 5%;
        top: auto;
        width: 91.5%;
        & .banner-title {
            color: @pink;
            font-size: 5.8em;
            line-height: 1.6em;
            margin-bottom: 20px;
            text-align: center;
            small {
                color: @pink;
            }
        }
        & .btn.btn-bg {
            width: 100%;
        }
    }
    .main-banner .bx-wrapper .bx-pager,
    .main-banner .bx-wrapper .bx-controls-auto {
        left: 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 639px) {
    .banner-title {
        padding: 395px 0 0;
    }
    .main-banner .bx-wrapper .bx-pager,
    .main-banner .bx-wrapper .bx-controls-auto {
        bottom: 30px;
    }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .banner-title {
        padding: 395px 0 0;
    }
}