.travels-heading {
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    color: @blue;
    padding: 15px 10px;
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.holiday_btn {
    margin: 15px 0;
    a {
        margin: 0 8px 5px 0px;
        &:last-child {
        	margin-right : 0;
        }
    }
}
.main-container .travels-heading a:hover {
    text-decoration: none;
}
.travels-heading-outer {
    margin-bottom: 10px;
}
.travelRateTitle {
    h4 {
        width: 50%;
        float: left;
    }
    .travelRateOuter {
        color: @blue;
        float: right;
        text-align: right;
        width: 50%;
        margin: 15px 0 10px;
        font-weight: bold;
    }
    .travelRate {
        display: inline-block;
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    span {
        font-size: 1.4em;
        margin: 0 10px 0 0;
    }
}
.greyBox {
    background-color: #f2f5f7;
    color: #848484;
    font: 1.3em "arial";
    padding: 10px 12px;
    margin-bottom: 10px;
}
.commonTab .healthTabWrapper .travelOuter p {
    height: auto;
    overflow: auto;
}
.travelOuterWrapper {
    margin: 0 0 30px 0;
    h4 {
        margin: 15px 0 10px;
        font-size: 1.5em;
        a {
            color: @Grey;
        }
    }
    p {
        margin: 0;
        font: 1.4em/1.475em "arial";
        color: #848484;
    }
    h5 {
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: #373737;
        margin: 0 0 10px 0;
    }
    .referenceTravel {
        font: 1.4em/1.475em "arial";
        color: #848484;
        text-align: center;
    }
    img {
        max-width: 100%;
        width: 100%;
    }
}
.indTravel {
    padding-bottom: 20px;
    .disclaimerWrapper {
        margin: 20px 0;
    }
    &.articlePage aside h2 {
        background-color: @blue;
        margin: 0;
    }
    .btnBig {
        width: 100%;
    }
    .account-body {
        .repeat-table-head, .repeat-table-data {
            font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            width: 100%;
        }
        .repeat-table-head {
            margin: 5px 0 10px 0;
        }
        strong {
            display: block;
            font-weight: normal;
        }
        .repeat-table-wrap {
            margin-top: 15px;
        }
    }
    .account-body .repeat-table-data {
        padding: 2px 0;
    }
    .account-body .acc-body {
        padding: 0 15px;
    }
}
.travelContent {
    padding: 30px 30px 20px;
}
.fb-like-page {
    img {
        max-width: 100%;
    }
}
@media only screen and (max-width: 479px) {
	.repeat-table-wrap .recent-head.recent-custom {
		padding: 15px 10px;
		border-bottom: 1px solid #ebf0f2;
		.col-xs-4, .col-xs-5, .col-xs-3, .col-xs-6, .col-xs-12 {
			padding: 0px;
			margin: 5px 0px;
		}
		.col-xs-5{
			word-wrap: break-word;
			padding-right: 5px;
		}
		.col-xs-12 {
			margin-top: 5px;
		}
	}
}
.commonTab .healthTabWrapper .text-center.travel-btn {
    margin: 0;
}
.commonTab .healthTabWrapper .text-center.travel-btn .btnBig {
    padding: 1.1em 5em;
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
    .travelRateTitle .travelRate {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 480px) {
    .travelContent {
        padding: 20px 0 20px;
    }
    .commonTab .healthTabWrapper .text-center.travel-btn {
        margin: 0 15px;
    }
}
@media only screen and (max-width: 767px) {
    .indTravel .disclaimerWrapper {
        margin-bottom: 10px;
    }
}
#competitions {
    padding-top: 15px;
}
#competitions_landing {
    .bg-gray();
    .clearfix();
    &.articlePage aside .articleSidebar {
        padding: 20px 20px 0px 20px;
        margin-bottom: 10px;
    }
    .separator {
        margin-bottom: 5px;
    }
}
.competition_header {
    &.articleTop h2 {
        margin-right: 10px;
    }
    h4 {
        margin: 20px 2px;
    }
    .competionClose {
        margin-left: 0
    }
}
@media only screen and (max-width: 480px) {
    .competition_header.articleTop .moreLinks {
        margin-top: 0;
        float: left;
        margin-bottom: 25px;
        width: 100%;
    }
    .competition_header h4 {
        margin: 20px 1px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .competition_header.articleTop .moreLinks {
        float: left;
        margin-top: 5px;
    }
}