/* green buttons starts*/

.symptomsChecker {
    .stethoscope.arrow-right:after {
        margin: 0 0 0 17px;
    }
    a {
        padding: 20px 0px 20px 75px;
        color: #fff;
    }
}
.green-background {
    background-color: #8dc63f;
    position: relative;
    vertical-align: middle;
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    display: block;
    margin: 0 0 10px;
    color: #ffffff;
}
.stethoscope {
    .green-background();
    &:before {
        left: 30px;
        top: 50%;
        margin-top: -13px;
    }
}
.manage-script,
.medicine-list {
    font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}
.book-appointment {
    .green-background();
    &:before {
        left: 30px;
        top: 50%;
        content: "";
        position: absolute;
        margin-top: -13px;
    }
}
.book {
    .green-background();
    &:before {
        left: 30px;
        top: 50%;
        content: "";
        position: absolute;
        margin-top: -10px;
    }
}
.heart {
    .green-background();
    &:before {
        left: 30px;
        top: 50%;
        content: "";
        position: absolute;
        margin-top: -10px;
    }
}
/* green buttons Ends*/

.health-btn a {
    background-color: #8dc63f;
    color: #fff;
    padding: 20px 0 20px 60px;
    position: relative;
    vertical-align: middle;
    font: 1.4em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
    display: block;
    margin: 10px 0 10px;
}
.vitSupBlockWrapper {
    .vitSupBlock {
        margin: 10px 0 20px;
    }
}
.vitSupBlock {
    margin: 20px auto;
    padding: 20px;
    h3 {
        font: 1.6em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        color: @blue;
        margin: 0px 0 10px;
    }
     &.right_links {
     .bg-white();
    	a {
    		font-family  : "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
        }
    }
    a {
         font: 1.4em arial; 
        color: #838383;
        line-height: 1.8em;
        &:hover {
            text-decoration: underline;
            color: #000;
        }
    }
   
    ul {
        margin: 0;
        li {
            margin: 0 0 5px 0;
        }
    }
}
.paddingRight {
    padding-left: 0px;
}
.symptomsChecker {
    .stethoscope.arrow-right:after {
        margin: 0 0 0 17px;
    }
}
.v-n-s-Page {
    .container {
        margin-top: 30px;
    }
    .health-promo-text {
        position: absolute;
        bottom: 15%;
        padding: 0 20px;
        h4 {
            font: 4.2em "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
            color: @white;
            margin: 10px 0 0 0;
        }
        .prod-description {
            font: 1.4em/1.4em arial;
            color: @white;
        }
    }
    .health-slider-outer {
        .bx-wrapper .bx-pager {
            text-align: left;
            bottom: 5%;
            left: 3%;
        }
        .bx-wrapper .bx-pager.bx-default-pager a.active {
            background: @white;
        }
        .bx-wrapper .bx-pager.bx-default-pager a {
            background: #c3bebc;
            width: 8px;
            height: 8px;
        }
    }
    .health-btn a {
        margin: 0;
    }
    .home-promo-text {
        width: 65%;
    }
    .articleBlock {
        padding: 30px 10px 0px;
        margin-bottom: 20px;
        h4 {
            margin: 10px 0px 10px 0px;
            font-size: 1.5em;
            /*height: 40px; */
            height: 60px; 
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            /*-webkit-line-clamp: 2; */
            -webkit-line-clamp: 3; 
            -webkit-box-orient: vertical;
            a {
                color: #373737;
            }
        }
    }
    img {
        max-width: 100%;
    }
}
.v-n-s-Page .health-promo-slider .pad-zero {
    width: 100%;
    border-right: 0 !important;
}
.health-slider-outer .bx-viewport {
    position: static !important;
}
.v-n-s-Page .home-promotions .bx-viewport {
    position: static !important;
}
.v-n-s-Page .promo-wrap {
    background: transparent;
    overflow: hidden;
}
.v-n-s-Page .vns-ad-block .image-center,
.vns-ad-block .cmsimage {
    margin-bottom: 20px;
}
/* media queries*/

@media only screen and (max-width: 768px) {
    .vitSupBlockWrapper .paddingRight {
        padding-right: 0;
    }
    .vns-ad-block .image-center,
    .vns-ad-block .cmsimage {
        width: 50%;
        float: left;
    }
    .v-n-s-Page .articleBlock h4 {
        height: auto;
        margin-bottom: 15px;
    }
    .vitSupBlockWrapper .vitSupBlock {
        margin-top: 0;
    }
    .v-n-s-Page .home-promotions {
        margin-bottom: 0;
    }
    .v-n-s-Page .home-promo-slider .pad-zero {
        width: 100%;
    }
    .v-n-s-Page .home-promo-text .btn {
        width: auto;
    }
    .v-n-s-Page .health-promo-text h4 {
        font-size: 2em;
    }
    .v-n-s-Page .health-promo-text .prod-description {
        font-size: 1.2em;
    }
    .v-n-s-Page .home-promotions .bx-wrapper .bx-pager {
        padding-bottom: 20px;
    }
    .symptomsChecker {
        margin-bottom: 20px;
    }
    .v-n-s-Page .articleBlock img {
        width: 100%;
    }
    .symptomsChecker a {
        font-size: 1.4em;
    }
}
@media only screen and (max-width: 640px) {
    .vns-ad-block {
        .cmsimage, .image-center {
            width: 100%;
            float: none;
        }
    }
}
@media only screen and (max-width: 767px) {
    .articleBlock .paddingNone {
        padding: 0 10px;
    }
    .v-n-s-Page .articleBlock h4 {
        text-align: center;
        margin-left: 0;
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
    .v-n-s-Page .home-promo-text h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 2em;
    }
    .v-n-s-Page .home-promo-text .prod-description {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .v-n-s-Page .home-promo-text {
        width: 55%;
    }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
    .v-n-s-Page .home-promo-text h4 {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 2em;
    }
    .v-n-s-Page .home-promo-text .prod-description {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .v-n-s-Page .home-promo-text {
        width: 55%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 568px) {
    .conditionList .home-promo-text {
        bottom: 30%;
    }
}
@media only screen and (max-width: 320px) {
    .v-n-s-Page .symptomsChecker a,
    .conditionList .symptomsChecker a {
        padding-left: 55px;
    }
    .v-n-s-Page .symptomsChecker a:before,
    .conditionList .symptomsChecker a:before {
        left: 15px;
    }
    .v-n-s-Page .symptomsChecker .stethoscope.arrow-right:after,
    .conditionList .symptomsChecker .stethoscope.arrow-right:after {
        margin-left: 10px;
    }
    .healthSyptoms .magazineImg {
        margin-bottom: 20px;
    }
}
.greenbgOuter {
    .green-bg {
        padding: 20px;
        .green-background();
        img {
            float: left;
            margin-right: 10px;
        }
    }
    a {
        color: #fff;
    }
}
@media only screen and (min-width: 350px) and (max-width: 768px) {
    .healthSyptoms .magazineImg {
        text-align: right;
        background-color: #8dc63f;
        margin-bottom: 20px;
    }
    .health-center-slider li,
    .health-top-slider li {
        text-align: center;
    }
}
.v-n-s-Page .caption-wrap img {
    margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
    .page-conditionsPage .vns-ad-block .cmsimage,
    .page-conditionsPage .vns-ad-block .cmsimage .image-center {
        width: 100%;
        float: none;
    }
}


/*fix for supersection right side product*/
.customBlock { position: relative; }
.customBlock .home-promo-img { width: 40%; text-align: center; }
.customBlock .offer_sticker {  width: 58px; height: 58px; position: absolute; right: 5px; top: 20px; }

.customBlock .categoryType { margin-left: 10px;  font-size: 1.3em;
    font-family: "Conv_ITCAvantGardeStd-Demi", Arial, Helvetica, sans-serif;
    color: #373737; }
 
.customBlock .categoryType span {
    color: #838383;
    font-family: "Conv_ITCAvantGardeStd-Md", Arial, Helvetica, sans-serif;
}