## messageSource=classpath:/clickscore/messages/email-newAccountExistingCCEmail_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>New Account Existing Club card</title>
   	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

   <style type="text/css">
		 * { 
			margin:0;
			padding:0;
		 }
		
		* { font-family: Arial, Helvetica, sans-serif; }
	       
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {margin:0; padding:0;}
        table {border-spacing:0;}
        table td {border-collapse:collapse;}
        p {margin:0; padding:0; margin-bottom:0;}
        h1, h2, h3, h4, h5, h6 {color:#333333; line-height:100%;}

        body, #body_style {width:100% !important; color:#666;  font-family:Arial,Helvetica,sans-serif; font-size:13px; line-height:1.4;}

        a		  {color:#666; text-decoration:none;}

        a:link    {color:#666; text-decoration:none;}
        a:visited {color:#444; text-decoration:none;}
        a:focus   {color:#333 !important;}
        a:hover   {color:#333 !important;}

     
        a[href^="tel"], a[href^="sms"], a[href^="mailto"] {text-decoration:none; color:#666; pointer-events:none; cursor:default;}
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration:default; color:#666666 !important; pointer-events:auto; cursor:default;}

		@-ms-viewport{width:device-width}
		
        @media only screen and (max-width: 640px) {
			@-ms-viewport{width:100%!important;}
	        body[yahoo] .table {width:98% !important;}
			body[yahoo] table td.container-wpr {padding:20px 10px!important;}  
			body[yahoo] table td.inner-table-white { padding:15px 5px!important;}
            body[yahoo] .innertable {width:90% !important;}
			body[yahoo] .tag-img img{width:100% !important;}
		}
		
        img { border:none; outline:none; text-decoration:none;}
        table {border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;}


img { 
	max-width: 100%; 
}
body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
}

a { color: #2BA6CB;}

table.social {
	background-color: #f2f5f7;
}
p, ul { 
	font-weight: normal; 
	font-size:14px; 
	line-height:1.6;
}


/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding: 0 10px;
	max-width:600px;
	margin:0 auto;
	display:block;
	background-color : #e6ecef; 
}
.content table { width: 100%; }
.column {
	width: 300px;
	float:left;
	
}
.column table { width:100%;}
.social .column {
	width: 280px;
	min-width: 279px;
	float:left;
}
.border {
	border-left: 2px solid #fff;
}
.clear { display: block; clear: both; }


/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {
	
	a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}
	.social .column {
		width: auto!important; float:none!important;
	}
	div[class="column"] { width: auto!important; float:none!important;}
	div[class="border"] {border-right: 0px solid #fff; !important; border-bottom : 2px solid #fff;}
	table.social div[class="column"] {
		width:auto!important;
	}

}
    </style>
</head>


<body style="width:100% !important; background-color :#e6ecef; color:#333333; font-family:Arial,Helvetica,sans-serif; font-size:13px; ;" alink="#114eb1" link="#666" bgcolor="#e6ecef" text="#666" yahoo="fix">

<!-- PAGE WRAPPER -->
    <div class="content" style="padding: 0 10px;max-width: 600px;margin: 0 auto;display: block; background-color: #e6ecef;width: 600px;">

        <!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
        <table cellpadding="0" cellspacing="0" border="0" align="left" bgcolor="#e6ecef" style="width:100% !important; margin:0; padding:0;">
            <tr>
                <td style="width : 600px;">
                    
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="left" class="table">
					<!-- Top Links -->						
					 
					<!-- Top Links -->
			         <!-- Logo -->
                      <tr>
                          <td>
                               <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" align="left" style="border-top: solid #3871a4 3.0pt">
                                  <tr>
                                   <a href="${ctx.secureBaseUrl}" target="_blank" style="margin:35px auto; display:block; text-align:center;"> 
                                      <td style="padding-top : 20px; padding-bottom: 10px;    padding-left: 20px;">
                                         <img src= "${ctx.secureBaseUrl}/_ui/desktop/theme-blue/images/acc-2.png"/> </td>
                                        <td style="padding-top : 20px; padding-bottom: 10px;">
                            				<img src="${ctx.secureBaseUrl}/_ui/desktop/theme-blue/images/acc1.png"/>									  
                                      </td>
                                      </a>	
                                  </tr>
                              </table>
                          </td>
                      </tr>
                      <!-- Logo -->
                      
                      <!-- Welcome Girl -->  
 					   <tr bgcolor="#ffffff">
                            <td style="padding: 0">
                             <img src= "${ctx.secureBaseUrl}/_ui/desktop/theme-blue/images/welcome-girl.jpg"/>
                            </td>
                      </tr>
                      <!-- Welcome Girl -->
                        
                        <tr bgcolor="#ffffff">
                            <td>
                                <!-- hero article -->
                                <table style="margin-bottom:1em; background-color:#ffffff;" width="660" cellpadding="0" cellspacing="0" border="0" align="left" class="innertable">
                                    <tr>
                                        <!-- hero article textarea -->
                                        <td>
                                            <table width="100%" cellpadding="10" cellspacing="0" border="0" class="container-wpr">
                                                <tr>
                                                    <td style="padding:37px 20px 20px 20px; color:#666666; font-size:15px; text-align : left;" align="left">
                                                      
                                                       <!-- hero article heading text -->
                                                        <h1 style="color: #005baa; font-size: 25px; font-weight: normal; margin-top: 0; margin-bottom: 0.6em; text-transform: capitalize; font-family: Arial, Helvetica, sans-serif"> <font face="arial"> Welcome to Clicks ClubCard </font> </h1>

														<h2 style="color: #505050; font-size: 18px; font-weight: normal; margin-top: 0;margin-bottom: 0.6em; text-transform: capitalize; font-family: Arial, Helvetica, sans-serif"><font face="arial">Hi ${ctx.name}</font></br></h2>

														<p style="color: #838383; font-size: 14px; margin-top: 0; margin-bottom: 1.8em;font-family: 'Conv_ITCAvantGardeStd-Md', Arial, Helvetica, sans-serif">
															<font face="arial">	You have successfully registered your ClubCard online at <br/><a class="link-website" href="${ctx.secureBaseUrl}" target="_blank" style="color: #848484; font-family: arial; font-size: 14px; text-decoration: underline;">www.clicks.co.za.</a></font>
														</br></p>
														
														<p style="color: #838383; font-size: 14px; margin-top: 0; margin-bottom: 1.5em; font-family: Arial, Helvetica, sans-serif">
															<font face="arial" > Staying on top of your points and Cashback Rewards due to you has never been easier. Simply sign in to our website every time you want to check your points. </font>
															
														</p>
														
														<a  href="${ctx.secureBaseUrl}/login" target="_blank" style="margin-bottom : 20px; display : block;"><img src="${ctx.secureBaseUrl}/_ui/desktop/theme-blue/images/sign-in.jpg"/></a>
														
												
														
														<!-- social & contact -->
														<table class="social" width="100%"  style="margin-top : 30px; margin-bottom: 30px; ">
															<tr>
																<td style="background: #f2f5f7;">
																	<!-- column 1 -->
																	<table align="left" class="column" bgcolor="#fff" style="width: 280px; min-width: 279px; float: left;border-right: 2px solid #fff;" cellspacing="0" cellpadding="0">
																		<tr>
																			<td valign="middle" align="left" style="background-color: #f2f5f7; vertical-align: middle; padding-top: 25px; padding-bottom: 25px; text-align: center; width: 50%;">
																			<a src="${ctx.secureBaseUrl}">	<img src="${ctx.secureBaseUrl}/_ui/desktop/theme-blue/images/blue-CC.png"/>	</a>
																			</td>
																		</tr>
																	</table>
																	<!-- /column 1 --> <!-- column 2 -->
																	<table align="left" class="column border" bgcolor="#fff" style="width: 280px; min-width: 279px; float: left;height: 140px;" cellspacing="0" cellpadding="0">
																		<tr>
																			<td align="left" valign="middle" style="vertical-align: middle; background-color: #f2f5f7; padding-top: 20px; padding-bottom: 5px; font-family: arial; text-align: center; width: 50%; ">
																				<p style="color:#003268; font-size : 15px;"> 
																					<font face="arial"> Your ClubCard number:</font> <br/>
																				</p>		
																				
																				<p style="color:#838383; font-weight:bold; font-size : 15px;"> 
																				<font face="arial">${ctx.memberId}</font> 
																				</p>
																			</td>
																		</tr>
																		
																	</table>
																	<!-- /column 2 --> <span class="clear"></span>
																</td>
															</tr>
															<tr>
																<td colspan="2" valign="middle" style="vertical-align: middle; padding-top: 25px; border-top: 1px solid #fff; font-family : arial; padding-bottom: 25px; padding-left: 30px; padding-right: 30px; text-align: center; width: 49%; background-color: #f2f5f7;">
																	<p style="color: #005baa; font-size: 14px; margin-top: 0; margin-bottom: 0.5em; font-family: Arial, Helvetica, sans-serif">
																		<font face="arial"> You can now see your cashback total, activate ClubCard services and get exclusive offers when you <a href="${ctx.secureBaseUrl}/login">sign in</a> online.</font>
																	</p> 
																</td>
															</tr>
														</table> 
														<!-- /social & contact -->
														<p style="color: #838383; font-size: 14px; margin-top: 0; margin-bottom: 3em; font-family: 'Conv_ITCAvantGardeStd-Md', Arial, Helvetica, sans-serif">
															</br> </br> <font face="arial"> Keep using your ClubCard whenever you shop at Clicks to earn your rewards. If you earn 100 points or more by the next qualification period, then those points will be turned into cashback rewards.</font>
														</p>
														
														<p style="color: #838383; font-size: 14px; margin-top: 0; margin-bottom: 3em;font-family: 'Conv_ITCAvantGardeStd-Md', Arial, Helvetica, sans-serif">
														<font face="arial" > Should you have any queries, please contact us on 0860 254 257 between 9am-5pm,Monday-Friday (or +27 21 460 1009 outside South Africa), and we'll be happy to help.</font>
														</p>
														
														<p style="color: #838383; font-size: 14px; font-weight: normal; margin-top: 0; margin-bottom: 0.5em; text-transform: capitalize; font-family: 'Conv_ITCAvantGardeStd-Bk', Arial, Helvetica, sans-serif">
																					 Best wishes, </p>

														<p style="color: #838383; font-size: 14px; font-weight: normal; margin-top: 0; margin-bottom: 0em; text-transform: capitalize; font-family: 'Conv_ITCAvantGardeStd-Bk', Arial, Helvetica, sans-serif">
																					Clicks Customer Services</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <!-- /hero article textarea -->
                                    </tr>
                                    <!-- hero article main image: must be 560px x 186px -->
                                </table>

								<!-- shop buttons -->
			                                <table style="text-align:center;" align="center">
			                                	<tr>
			                                     	<td align="center" style="text-align:center; padding-top : 0px; padding-bottom : 25px;">
			                                     		<a href="${ctx.secureBaseUrl}/health" target="_blank"><img src="${ctx.secureBaseUrl}/_ui/desktop/theme-blue/images/health.jpg" style="text-align:center;" /></a>
			                                     	</td>
			                                    </tr>
			                                </table>
                                 			<!-- shop buttons -->
                                <!-- social icons -->
                                <table style="text-align:center; margin:10px auto;" align="center">
                                	<tr>
										<td style="padding-right: 5px;" target="_blank">
											<a href="https://www.facebook.com/ClicksSouthAfrica" target="_blank"> 
												<img src="${ctx.secureBaseUrl}/_ui/desktop/theme-blue/images/fb.jpg" style="text-align:center;" /></a>
											</a>									
											<a href="https://twitter.com/Clicks_SA" target="_blank"> 
												<img src="${ctx.secureBaseUrl}/_ui/desktop/theme-blue/images/tweet.jpg" style="text-align:center;" /></a>
											</a>									
											<a href="https://www.youtube.com/user/ClicksSouthAfrica" target="_blank"> 
												<img src="${ctx.secureBaseUrl}/_ui/desktop/theme-blue/images/youtube.jpg" style="text-align:center;" />
											</a>
										</td>
									</tr>
                                </table>
                                <!-- social icons -->
                                
                                <!-- Contact links -->
                                <table style="color: #666; text-align: center;" align="center" class="tag-img">
										<tr>
											<td style="color : #838383; font-family: arial; font-size : 11px; text-align: center; padding-top: 20px; padding-bottom : 12px; " align="center">
											<a href="${ctx.secureBaseUrl}/contactus" target="_blank" style="color : #838383; font-family: arial; font-size : 11px; text-decoration: underline; margin-right: 15px;">Contact us</a>
											<a href="${ctx.secureBaseUrl}/my-account/my-rewards-activity" target="_blank" style="color : #838383; font-family: arial; font-size : 11px; text-decoration: underline; margin-right: 15px;">My Cashback</a>
											<a href="${ctx.secureBaseUrl}/specials" target="_blank" style="color : #838383; font-family: arial; font-size : 11px; text-decoration: underline;">Promotions</a>
										</td>
										</tr>
								</table>
								<!-- Contact links -->
								
							<!-- disclaimer -->
								<table style="color: #666; text-align: center;" align="center" class="tag-img">
									<tr>
										<td align="center" style="padding-left : 10px; padding-right: 10px;">
											<p style="margin: 0; padding: 0; color: #838383; font-family: arial; font-size: 11px; text-align: center;">
												<a href="/my-account/my-rewards-activity" target="_blank">MyClubCard Rewards</a> | 
												<a href="https://comms.clicks-mail.com/servlet/link/1026/11232/760238/147728" target="_blank">Register your ClubCard</a> | 
												<a href="https://comms.clicks-mail.com/servlet/link/1026/11232/760238/147729" target="_blank">Store Locator</a> | 
												<a href="/legalHelp" target="_blank">Terms & Conditions</a> | 
												<a href="https://comms.clicks-mail.com/servlet/link/1026/11232/760238/147730" target="_blank">Promotions</a> 
												<br>
												<a href="https://comms.clicks-mail.com/servlet/link/1026/11232/760238/147731" target="_blank">ClubCard Benefits</a> | 
												<a href="https://comms.clicks-mail.com/servlet/link/1026/11232/760238/147732" target="_blank">Partner Benefits</a> | 
												<a href="https://comms.clicks-mail.com/servlet/link/1026/11232/760238/147733" target="_blank">Competitions</a> | 
												<a href="https://comms.clicks-mail.com/public/contacts/unsubscribe/3vThB7SRwxxCy3ag/s4LQQsFjoK27Zigi/5d80d57862153f57" target="_blank">Unsubscribe</a>
											</p>
										</td>
									</tr>
									<tr>
										<td style="padding-top : 20px; padding-bottom : 20px;">
										<p style="margin: 0; padding: 0; color: #838383; font-family: arial; font-size: 11px;">Copyright
													&copy; 2016, Clicks. All rights reserved.</p>
										</td>
									</tr>
								</table> 
								<!-- disclaimer -->
							</td>
                        </tr>
                        <!-- /CONTENT -->
                    </table>
                </td>
            </tr>
        </table>
        <!-- End of wrapper table -->


    </div>
<!-- /PAGE WRAPPER -->

</body>
</html>