/* Clicks Fonts */
@font-face {
	font-family: 'Conv_ITCAvantGardeStd-Bk';
	src: url('../fonts/ITCAvantGardeStd-Bk.eot');
	src: url('../fonts/ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-Bk.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Bk.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-Bk.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ITCAvantGardeStd-Bold';
	src: url('../fonts/ITCAvantGardeStd-Bold.eot');
	src: url('../fonts/ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-Bold.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Bold.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ITCAvantGardeStd-Demi';
	src: url('../fonts/ITCAvantGardeStd-Demi.eot');
	src: url('../fonts/ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-Demi.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Demi.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-Demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ITCAvantGardeStd-Md';
	src: url('../fonts/ITCAvantGardeStd-Md.eot');
	src: url('../fonts/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-Md.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Md.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-Md.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ITCAvantGardeStd-MdObl';
	src: url('../fonts/ITCAvantGardeStd-MdObl.eot');
	src: url('../fonts/ITCAvantGardeStd-MdObl.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-MdObl.woff') format('woff'), url('../fonts/ITCAvantGardeStd-MdObl.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-MdObl.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ITCAvantGardeStd-XLt';
	src: url('../fonts/ITCAvantGardeStd-XLt.eot');
	src: url('../fonts/ITCAvantGardeStd-XLt.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-XLt.woff') format('woff'), url('../fonts/ITCAvantGardeStd-XLt.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-XLt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Clicks Fonts Ends */