.13_icon_target_search:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -923px;
  width: 21px;
  height: 20px;
  position : absolute;
  content : "";
}
.14_icon_marker:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1818px;
  width: 20px;
  height: 31px;
  position : absolute;
  content : "";
}
.accordion-icon:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1212px;
  width: 12px;
  height: 24px;
  position : absolute;
  content : "";
}
.arrow-left:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1720px;
  width: 15px;
  height: 29px;
  position : absolute;
  content : "";
}
.arrow-panel:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -54px;
  width: 15px;
  height: 9px;
  position : absolute;
  content : "";
}
.arrow-sprite:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1169px;
  width: 28px;
  height: 23px;
  position : absolute;
  content : "";
}
.arrow-up:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -83px;
  width: 15px;
  height: 9px;
  position : absolute;
  content : "";
}
.arrow:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 6px;
  position : absolute;
  content : "";
}
.basket:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -302px;
  width: 13px;
  height: 13px;
  position : absolute;
  content : "";
}
.book-appointment:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1438px;
  width: 26px;
  height: 26px;
  position : absolute;
  content : "";
}
.book:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1044px;
  width: 31px;
  height: 21px;
  position : absolute;
  content : "";
}
.cancer-green-big:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -2095px;
  width: 37px;
  height: 37px;
  position : absolute;
  content : "";
}
.clock-image:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -729px;
  width: 18px;
  height: 18px;
  position : absolute;
  content : "";
}
.clock:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -843px;
  width: 20px;
  height: 20px;
  position : absolute;
  content : "";
}
.close:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -805px;
  width: 17px;
  height: 18px;
  position : absolute;
  content : "";
}
.club-offer:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -269px;
  width: 22px;
  height: 13px;
  position : absolute;
  content : "";
}
.cross:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -112px;
  width: 10px;
  height: 10px;
  position : absolute;
  content : "";
}
.date-icon:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -691px;
  width: 18px;
  height: 18px;
  position : absolute;
  content : "";
}
.diabetes-green-big:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -2038px;
  width: 37px;
  height: 37px;
  position : absolute;
  content : "";
}
.diabetes-icon:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1301px;
  width: 26px;
  height: 25px;
  position : absolute;
  content : "";
}
.drop-down-arrow:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -26px;
  width: 14px;
  height: 8px;
  position : absolute;
  content : "";
}
.email:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -173px;
  width: 17px;
  height: 12px;
  position : absolute;
  content : "";
}
.fav:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -654px;
  width: 17px;
  height: 17px;
  position : absolute;
  content : "";
}
.fb-grey:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -335px;
  width: 8px;
  height: 14px;
  position : absolute;
  content : "";
}
.grey-tick:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -582px;
  width: 15px;
  height: 16px;
  position : absolute;
  content : "";
}
.heart-green-big:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1981px;
  width: 37px;
  height: 37px;
  position : absolute;
  content : "";
}
.heart-green:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1127px;
  width: 24px;
  height: 22px;
  position : absolute;
  content : "";
}
.heart:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1256px;
  width: 28px;
  height: 25px;
  position : absolute;
  content : "";
}
.hiv-green:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1869px;
  width: 25px;
  height: 35px;
  position : absolute;
  content : "";
}
.home-med-logo:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1622px;
  width: 29px;
  height: 29px;
  position : absolute;
  content : "";
}
.icon_target:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1003px;
  width: 21px;
  height: 21px;
  position : absolute;
  content : "";
}
.manage-script:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1576px;
  width: 26px;
  height: 26px;
  position : absolute;
  content : "";
}
.med-logo:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -963px;
  width: 20px;
  height: 20px;
  position : absolute;
  content : "";
}
.medicine-list:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1392px;
  width: 26px;
  height: 26px;
  position : absolute;
  content : "";
}
.mix-match-new:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -2152px;
  width: 61px;
  height: 62px;
  position : absolute;
  content : "";
}
.order-presc:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -404px;
  width: 11px;
  height: 15px;
  position : absolute;
  content : "";
}
.play-btn:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -2234px;
  width: 64px;
  height: 64px;
  position : absolute;
  content : "";
}
.plus-logo-small:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -883px;
  width: 20px;
  height: 20px;
  position : absolute;
  content : "";
}
.plus-logo:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1769px;
  width: 29px;
  height: 29px;
  position : absolute;
  content : "";
}
.popup-left-arrow:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -546px;
  width: 8px;
  height: 16px;
  position : absolute;
  content : "";
}
.share-sprite:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -2410px;
  width: 32px;
  height: 128px;
  position : absolute;
  content : "";
}
.share:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -369px;
  width: 14px;
  height: 15px;
  position : absolute;
  content : "";
}
.sign-in:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -205px;
  width: 17px;
  height: 12px;
  position : absolute;
  content : "";
}
.slider-arrow-right:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1671px;
  width: 15px;
  height: 29px;
  position : absolute;
  content : "";
}
.sprite-pdp:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -2318px;
  width: 22px;
  height: 72px;
  position : absolute;
  content : "";
}
.sprite_share:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -2558px;
  width: 44px;
  height: 206px;
  position : absolute;
  content : "";
}
.stethoscope:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1484px;
  width: 26px;
  height: 26px;
  position : absolute;
  content : "";
}
.store:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -439px;
  width: 10px;
  height: 15px;
  position : absolute;
  content : "";
}
.stress-icon:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1530px;
  width: 15px;
  height: 26px;
  position : absolute;
  content : "";
}
.success-message:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -510px;
  width: 15px;
  height: 16px;
  position : absolute;
  content : "";
}
.success-validation:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -474px;
  width: 19px;
  height: 16px;
  position : absolute;
  content : "";
}
.tick:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -618px;
  width: 15px;
  height: 16px;
  position : absolute;
  content : "";
}
.twitter-grey:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -237px;
  width: 15px;
  height: 12px;
  position : absolute;
  content : "";
}
.weight-green:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1924px;
  width: 37px;
  height: 37px;
  position : absolute;
  content : "";
}
.weight-icon:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1346px;
  width: 27px;
  height: 26px;
  position : absolute;
  content : "";
}
.wish-list:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -767px;
  width: 17px;
  height: 18px;
  position : absolute;
  content : "";
}
.youtube-grey:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -142px;
  width: 14px;
  height: 11px;
  position : absolute;
  content : "";
}
.zoom-btn:before {
  display: block;
  background-image: url(../image/build-sprite/sprite.png);
  background-position: 0px -1085px;
  width: 22px;
  height: 22px;
  position : absolute;
  content : "";
}
