/* added by Paramaguru*/
.health-slider {
		width:100%;
		float:left;
		position: relative;
}
.health-slider .thumb-img{
	width:50%;
	float:left;
	display:none;
	position: absolute;
    top: 0;
    left: 0;
}
.health-slider .details-block{
	width: 50%;
	float:right;
	clear: both;
	background-color: #fff;
	border-right: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	padding-left: 15px;
	
}
.health-slider .details-block h4 {
	margin:0;
	padding:0;
	font-size: 14px;
	color: #373737;
}
.health-slider .details-block  p {
	font-size: 12px;
	color: #838383;
	padding:0;
	margin : 10px 0;
 
}
.health-slider .details-block.active {
	background-color: #8dc63f;
	position: relative;
}
.health-slider .details-block.active:before { 
	content: "";
	position: absolute;
	height: 60px;
    width: 20px;
	background: url("../image/green-active.png") no-repeat center center;
	left: -20px;
	top: 50%;
    margin-top: -30px;
}
.health-slider .details-block.active h4, .health-slider .details-block.active p { 	color: #fff; }
.sliderNew { margin-bottom : 20px;  }

 @media only screen and (min-width: 768px) and (max-width: 768px) { 
.health-slider .thumb-img { width: 45%; }
.health-slider .details-block   { width: 55%; padding-top: 5px; }
}
/* */
@media only screen and (max-width: 767px) { 
.health-slider .thumb-img { text-align: center; }
.health-slider .thumb-img, .health-slider .details-block  { width: auto; float: none; clear: both; position: static; }
.health-slider .details-block { }
.health-slider .details-block.active:before { background-image: none; }
.health-slider .details-block h4 { padding-top: 10px; }
}
/*for fix sM T111 samsung tab landscape remove when they added more content*/
@media screen 
  and (device-width: 1024px) 
  and (device-height: 600px) 
  and (orientation: landscape) {
.health-slider .details-block h4 { padding-top: 2px; }
}